Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

format-go:
  run: gofmt -w -s {staged_files}
  stage_fixed: true

lint-go:
  run: GOEXPERIMENT=jsonv2 make lint-fix
  stage_fixed: true

ts-typecheck:
  run: bunx @typescript/native-preview --noEmit

ts-lint:
  run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
  stage_fixed: true

ts-format:
  run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
  stage_fixed: true

taplo:
  run: bunx -y -q @taplo/cli format {staged_files}
  stage_fixed: true

yamllint:
  run: uvx yamllint {staged_files}

format-yml:
  run: yamlfmt {staged_files}
  stage_fixed: true

typos:
  run: uv tool run typos==1.43.4 --force-exclude {staged_files}

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

actionlint:
  run: actionlint {staged_files}

commitlint-config:
  run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml

test: add <<- heredoc fix case with mid-body cleanup removal
  internal/integration/__snapshots__/TestFix_prefer-package-cache-mounts-dnf-heredoc-tab-strip-mid-cleanup_1.snap.Dockerfile
  internal/integration/fix_cases_test.go
Due: format-go, lint-go

fix: handle chained and no-cache-flag cleanups in heredoc edits
  internal/rules/tally/prefer_package_cache_mounts.go
Due: format-go, lint-go

fix: skip mount insertion when heredoc mount-flag edit covers all mounts
  internal/integration/__snapshots__/TestFix_prefer-package-cache-mounts-apt-heredoc-mutated-plus-new-mount_1.snap.Dockerfile
  internal/integration/fix_cases_test.go
  internal/rules/tally/prefer_package_cache_mounts.go
Due: format-go, lint-go

fix(prefer-package-cache-mounts): preserve heredoc structure in fix edits (#491)
  internal/integration/__snapshots__/TestFix_prefer-package-cache-mounts-apt-heredoc-mutated-plus-new-mount_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-package-cache-mounts-dnf-heredoc-cleanup_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-package-cache-mounts-dnf-heredoc-tab-strip-mid-cleanup_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_prefer-package-cache-mounts_1.snap.json
  internal/integration/fix_cases_test.go
  internal/rules/tally/prefer_package_cache_mounts.go
Due: format-go, lint-go, typos

zed: set extension version to 0.33.0
  _integrations/zed-tally/Cargo.toml
  _integrations/zed-tally/extension.toml
Due: taplo, typos

docs: restore rules table markers required by sync script
  README.md
Due: typos

docs: remove RULES.md and its sync infrastructure
  .agents/skills/create-tally-rule/SKILL.md
  .claude/skills/add-buildkit-fix/SKILL.md
  .claude/skills/create-tally-rule/SKILL.md
  .github/copilot-instructions.md
  .github/workflows/sync-buildkit-rules.yml
  .github/workflows/sync-hadolint-rules.yml
  CLAUDE.md
  RULES.md
  _docs/guides/auto-fix.mdx
  _integrations/vscode-tally/README.md
  _integrations/zed-tally/README.md
  scripts/generate-hadolint-table.sh
  scripts/sync-buildkit-rules/main.go
  scripts/validate-buildkit-rules.sh
Due: format-go, lint-go, yamllint, format-yml, typos, actionlint

docs: remove rules table from README and all sync infrastructure
  .github/workflows/sync-buildkit-rules.yml
  .github/workflows/sync-hadolint-rules.yml
  .lefthook.yml
  README.md
  internal/syntax/syntax.go
  scripts/sync-buildkit-rules/main.go
  scripts/validate-buildkit-rules.sh
Due: format-go, lint-go, yamllint, format-yml, typos, actionlint

docs: remove rules table and sync infrastructure (#500)
  .github/workflows/sync-buildkit-rules.yml
  .github/workflows/sync-hadolint-rules.yml
  .lefthook.yml
  README.md
  internal/syntax/syntax.go
  scripts/sync-buildkit-rules/main.go
  scripts/validate-buildkit-rules.sh
Due: format-go, lint-go, yamllint, format-yml, typos, actionlint

chore: use bunx
  .lefthook.yml
Due: yamllint, format-yml, typos

chore: retry curl
  .github/workflows/vscode-extension.yml
Due: yamllint, format-yml, typos, actionlint

chore(acp): adapt to acp-go-sdk v0.11.x API changes
  internal/ai/acp/client.go
  internal/ai/acp/client_test.go
  internal/ai/acp/runner.go
  internal/ai/acp/testdata/testagent/main.go
Due: format-go, lint-go

zed: set extension version to 0.34.0
  _integrations/zed-tally/Cargo.toml
  _integrations/zed-tally/extension.toml
Due: taplo, typos

feat(powershell): add progress-preference rule
  _docs/docs.json
  _docs/rules/tally/powershell/progress-preference.mdx
  design-docs/PROPOSED-RULES-TRACKER.md
  internal/integration/__snapshots__/TestFixRealWorldBoostMSVCWindowsContainer_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorldBoostMSVCWindowsContainer_1.snap.md
  internal/integration/__snapshots__/TestFixRealWorldMetalama_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixWindowsContainer_1.snap.md
  internal/integration/__snapshots__/TestFix_powershell-progress-preference-cross-error-action-preference_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_powershell-progress-preference-cross-prefer-shell-instruction_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_powershell-progress-preference-explicit-wrapper_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_powershell-progress-preference-missing-shell_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_powershell-progress-preference-no-iwr-no-fix_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_powershell-progress-preference-shell-has-partial_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_powershell-progress-preference-windows-backtick_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_powershell-progress-preference_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/powershell-progress-preference/Dockerfile
  internal/rules/tally/powershell/__snapshots__/TestProgressPreferenceRule_Metadata_1.snap.json
  internal/rules/tally/powershell/error_action_preference.go
  internal/rules/tally/powershell/progress_preference.go
  internal/rules/tally/powershell/progress_preference_test.go
  internal/rules/tally/powershell/wrapper_anchor.go
Due: format-go, lint-go, typos

fix: address PR review comment
  internal/rules/tally/powershell/error_action_preference.go
  internal/rules/tally/powershell/progress_preference.go
  internal/rules/tally/powershell/progress_preference_test.go
  internal/rules/tally/powershell/wrapper_anchor.go
Due: format-go, lint-go

fix: address PR review comment
  _docs/rules/tally/powershell/progress-preference.mdx
  internal/rules/tally/powershell/__snapshots__/TestProgressPreferenceRule_Metadata_1.snap.json
  internal/rules/tally/powershell/progress_preference.go
Due: format-go, lint-go, typos

fix: address PR review comment
  internal/rules/tally/powershell/progress_preference.go
Due: format-go, lint-go

fix: address PR review comment
  internal/integration/__snapshots__/TestFixPowerShellPreferShellInstruction_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorldJaracoWindows_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixTelemetryOptOutCombined_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixWindowsContainer_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_powershell-error-action-preference-cross-prefer-shell-instruction_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_powershell-progress-preference-cross-prefer-shell-instruction_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_prefer-shell-instruction-cross-rules_1.snap.json
  internal/integration/__snapshots__/TestLint_prefer-shell-instruction_1.snap.json
  internal/rules/tally/powershell/error_action_preference.go
  internal/rules/tally/powershell/prefer_shell_instruction.go
  internal/rules/tally/powershell/prefer_shell_instruction_test.go
  internal/rules/tally/powershell/progress_preference.go
  internal/rules/tally/powershell/wrapper_anchor.go
Due: format-go, lint-go, typos

fix: address PR review comment
  internal/rules/tally/powershell/wrapper_anchor.go
Due: format-go, lint-go

fix: address PR review comment
  internal/rules/tally/powershell/progress_preference.go
  internal/rules/tally/powershell/progress_preference_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/rules/tally/powershell/error_action_preference.go
  internal/rules/tally/powershell/progress_preference.go
Due: format-go, lint-go

feat(powershell): add progress-preference rule (#504)
  _docs/docs.json
  _docs/rules/tally/powershell/progress-preference.mdx
  design-docs/PROPOSED-RULES-TRACKER.md
  internal/integration/__snapshots__/TestFixPowerShellPreferShellInstruction_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorldBoostMSVCWindowsContainer_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorldBoostMSVCWindowsContainer_1.snap.md
  internal/integration/__snapshots__/TestFixRealWorldJaracoWindows_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorldMetalama_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixTelemetryOptOutCombined_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixWindowsContainer_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixWindowsContainer_1.snap.md
  internal/integration/__snapshots__/TestFix_powershell-progress-preference-cross-error-action-preference_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_powershell-progress-preference-cross-prefer-shell-instruction_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_powershell-progress-preference-explicit-wrapper_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_powershell-progress-preference-missing-shell_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_powershell-progress-preference-no-iwr-no-fix_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_powershell-progress-preference-shell-has-partial_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_powershell-progress-preference-windows-backtick_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_powershell-progress-preference_1.snap.json
  internal/integration/__snapshots__/TestLint_prefer-shell-instruction-cross-rules_1.snap.json
  internal/integration/__snapshots__/TestLint_prefer-shell-instruction_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/powershell-progress-preference/Dockerfile
  internal/rules/tally/powershell/__snapshots__/TestProgressPreferenceRule_Metadata_1.snap.json
  internal/rules/tally/powershell/error_action_preference.go
  internal/rules/tally/powershell/prefer_shell_instruction.go
  internal/rules/tally/powershell/prefer_shell_instruction_test.go
  internal/rules/tally/powershell/progress_preference.go
  internal/rules/tally/powershell/progress_preference_test.go
  internal/rules/tally/powershell/wrapper_anchor.go
Due: format-go, lint-go, typos

feat(gpu): add tally/gpu/prefer-uv-over-conda rule with AI AutoFix
  _docs/docs.json
  _docs/guides/ai-autofix.mdx
  _docs/rules/tally/gpu/prefer-uv-over-conda.mdx
  internal/ai/acp/testdata/testagent/main.go
  internal/ai/autofixdata/autofixdata.go
  internal/ai/autofixdata/prompt.go
  internal/ai/autofixdata/runtime_validation.go
  internal/integration/__snapshots__/TestFix_ai-autofix-prefer-uv-over-conda_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_gpu-prefer-uv-over-conda_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/gemini_smoke_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/ai-autofix-both-prefer-multistage-and-uv-over-conda/Dockerfile
  internal/integration/testdata/gpu-prefer-uv-over-conda/Dockerfile
  internal/rules/tally/gpu/__snapshots__/TestPreferUVOverCondaRule_Metadata_1.snap.json
  internal/rules/tally/gpu/prefer_uv_over_conda.go
  internal/rules/tally/gpu/prefer_uv_over_conda_fix.go
  internal/rules/tally/gpu/prefer_uv_over_conda_test.go
  internal/rules/tally/prefer_multi_stage_build_fix.go
Due: format-go, lint-go, typos

refactor(gpu): use shell parser primitives for conda detection
  internal/rules/tally/gpu/prefer_uv_over_conda.go
  internal/rules/tally/gpu/prefer_uv_over_conda_fix.go
  internal/rules/tally/gpu/prefer_uv_over_conda_test.go
  internal/shell/install_packages.go
Due: format-go, lint-go

test(snapshots): refresh conda-package sort snapshots
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/lsptest/__snapshots__/TestLSP_ExecuteCommandApplyAllFixesRealWorld_1.snap.Dockerfile
  internal/lsptest/__snapshots__/TestLSP_FormattingRealWorld_1.snap.Dockerfile
Due: none

fix: address PR review comment
  internal/rules/tally/gpu/prefer_uv_over_conda.go
  internal/rules/tally/gpu/prefer_uv_over_conda_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/ai/autofixdata/runtime_validation.go
  internal/ai/autofixdata/runtime_validation_test.go
  internal/rules/tally/prefer_multi_stage_build_fix.go
Due: format-go, lint-go

fix: address PR review comment
  internal/integration/gemini_smoke_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/ai/autofixdata/autofixdata.go
  internal/ai/autofixdata/runtime_validation_test.go
  internal/rules/tally/gpu/prefer_uv_over_conda_fix.go
  internal/rules/tally/gpu/prefer_uv_over_conda_test.go
Due: format-go, lint-go

chore: set claude model
  .github/workflows/claude.yml
Due: yamllint, format-yml, typos, actionlint

fix: address PR review comment
  internal/rules/tally/gpu/prefer_uv_over_conda.go
  internal/rules/tally/gpu/prefer_uv_over_conda_fix.go
  internal/rules/tally/gpu/prefer_uv_over_conda_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/ai/autofix/__snapshots__/TestBuildRound1Prompt_FileContext_Snapshot_1.snap.md
  internal/ai/autofix/__snapshots__/TestBuildRound1Prompt_PreferMultiStageBuild_RegistryContext_Snapshot_1.snap.md
  internal/ai/autofix/__snapshots__/TestBuildRound1Prompt_PreferMultiStageBuild_Snapshot_1.snap.md
  internal/ai/autofixdata/runtime_validation.go
  internal/ai/autofixdata/runtime_validation_test.go
  internal/rules/tally/prefer_multi_stage_build_fix.go
Due: format-go, lint-go, typos

fix: address batch of PR review comments
  internal/ai/autofixdata/autofixdata.go
  internal/ai/autofixdata/prompt.go
  internal/ai/autofixdata/runtime_validation.go
  internal/ai/autofixdata/runtime_validation_test.go
  internal/integration/gemini_smoke_test.go
  internal/rules/tally/gpu/prefer_uv_over_conda.go
  internal/rules/tally/gpu/prefer_uv_over_conda_fix.go
  internal/rules/tally/gpu/prefer_uv_over_conda_test.go
  internal/shell/install_packages.go
Due: format-go, lint-go

test(vscode-smoke): bump expected diagnostic count to 269
  _integrations/vscode-tally/test/e2e/smoke.test.ts
Due: typos

fix: address PR review comment
  internal/rules/tally/gpu/prefer_uv_over_conda_fix.go
Due: format-go, lint-go

docs: sync hadolint rules from upstream
  internal/rules/hadolint-rules.json
Due: typos

feat(gpu): add tally/gpu/prefer-uv-over-conda with AI AutoFix (#505)
  .github/workflows/claude.yml
  _docs/docs.json
  _docs/guides/ai-autofix.mdx
  _docs/rules/tally/gpu/prefer-uv-over-conda.mdx
  _integrations/vscode-tally/test/e2e/smoke.test.ts
  internal/ai/acp/testdata/testagent/main.go
  internal/ai/autofix/__snapshots__/TestBuildRound1Prompt_FileContext_Snapshot_1.snap.md
  internal/ai/autofix/__snapshots__/TestBuildRound1Prompt_PreferMultiStageBuild_RegistryContext_Snapshot_1.snap.md
  internal/ai/autofix/__snapshots__/TestBuildRound1Prompt_PreferMultiStageBuild_Snapshot_1.snap.md
  internal/ai/autofixdata/autofixdata.go
  internal/ai/autofixdata/prompt.go
  internal/ai/autofixdata/runtime_validation.go
  internal/ai/autofixdata/runtime_validation_test.go
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_ai-autofix-prefer-uv-over-conda_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_gpu-prefer-uv-over-conda_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/gemini_smoke_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/ai-autofix-both-prefer-multistage-and-uv-over-conda/Dockerfile
  internal/integration/testdata/gpu-prefer-uv-over-conda/Dockerfile
  internal/lsptest/__snapshots__/TestLSP_ExecuteCommandApplyAllFixesRealWorld_1.snap.Dockerfile
  internal/lsptest/__snapshots__/TestLSP_FormattingRealWorld_1.snap.Dockerfile
  internal/rules/tally/gpu/__snapshots__/TestPreferUVOverCondaRule_Metadata_1.snap.json
  internal/rules/tally/gpu/prefer_uv_over_conda.go
  internal/rules/tally/gpu/prefer_uv_over_conda_fix.go
  internal/rules/tally/gpu/prefer_uv_over_conda_test.go
  internal/rules/tally/prefer_multi_stage_build_fix.go
  internal/shell/install_packages.go
Due: format-go, lint-go, yamllint, format-yml, typos, actionlint

Path conditions:
  format-go: any of: **/*.go
  lint-go: any of: **/*.go
  ts-typecheck: any of: extensions/vscode-tally/**/*.ts and ^extensions/vscode\-tally/
  ts-lint: any of: extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts} and ^extensions/vscode\-tally/
  ts-format: any of: *.{js,ts,cjs,mjs,mts,cts,jsx,tsx} and ^extensions/vscode\-tally/
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  format-yml: any of: {.yamlfmt,*.yml,*.yaml}
  typos: any of: *.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}
  codecov: any of: .codecov.yml
  actionlint: any of: .github/workflows/*.{yaml,yml}
  commitlint-config: any of: .commitlintrc.yaml
