Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

format-go:
  run: gofmt -w -s {staged_files}
  stage_fixed: true

lint-go:
  run: GOEXPERIMENT=jsonv2 make lint-fix
  stage_fixed: true

ts-typecheck:
  run: bunx @typescript/native-preview --noEmit

ts-lint:
  run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
  stage_fixed: true

ts-format:
  run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
  stage_fixed: true

taplo:
  run: bunx -y -q @taplo/cli format {staged_files}
  stage_fixed: true

yamllint:
  run: uvx yamllint {staged_files}

format-yml:
  run: yamlfmt {staged_files}
  stage_fixed: true

typos:
  run: uv tool run typos==1.43.4 --force-exclude {staged_files}

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

actionlint:
  run: actionlint {staged_files}

commitlint-config:
  run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml

zed: set extension version to 0.35.1
  _integrations/zed-tally/Cargo.toml
  _integrations/zed-tally/extension.toml
Due: taplo, typos

feat(dl4001): add fix-preference config and extend lift/lower to pwsh and cmd
  _docs/rules/hadolint/DL4001.mdx
  internal/facts/command_operations.go
  internal/facts/command_operations_test.go
  internal/rules/hadolint/dl4001.go
  internal/rules/hadolint/dl4001.schema.json
  internal/rules/hadolint/dl4001_test.go
  internal/rules/hadolint/index.schema.json
  internal/schemas/generated/config/tally_config.gen.go
  internal/schemas/generated/rules/hadolint/dl4001.gen.go
  internal/schemas/manifest.json
  internal/schemas/registry_gen.go
  internal/shell/cmd_parser.go
  internal/shell/command.go
  internal/shell/command_test.go
  internal/shell/powershell_parser.go
  schema.json
Due: format-go, lint-go, typos

refactor(dl4001): pick auto-mode winner by usage, not install signal
  _docs/rules/hadolint/DL4001.mdx
  internal/rules/hadolint/dl4001.go
  internal/rules/hadolint/dl4001_test.go
Due: format-go, lint-go

feat(dl4001): drop non-preferred tool from installs when rewriting invocations
  _docs/rules/hadolint/DL4001.mdx
  internal/rules/hadolint/dl4001.go
  internal/rules/hadolint/dl4001_test.go
Due: format-go, lint-go

chore: add mdx extension
  .vscode/extensions.json
Due: typos

feat(dl4001): fire on install-only conflicts and add integration snapshot
  _docs/rules/hadolint/DL4001.mdx
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_dl4001-with-sort-packages-and-prefer-curl-config_1.snap.Dockerfile
  internal/integration/fix_cases_test.go
  internal/rules/hadolint/dl4001.go
  internal/rules/hadolint/dl4001_test.go
Due: format-go, lint-go

feat(dl4001): split install/config cleanup into async post-sync resolver
  _docs/rules/hadolint/DL4001.mdx
  internal/fix/dl4001_cleanup_resolver.go
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_dl4001-with-sort-packages-and-prefer-curl-config_1.snap.Dockerfile
  internal/integration/fix_cases_test.go
  internal/rules/dl4001_data.go
  internal/rules/hadolint/dl4001.go
  internal/rules/hadolint/dl4001_test.go
Due: format-go, lint-go

docs(dl4001): rewrite auto-fix section in user-facing language
  _docs/rules/hadolint/DL4001.mdx
Due: none

fix: address PR review comment
  internal/fix/dl4001_cleanup_resolver.go
  internal/fix/dl4001_cleanup_resolver_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/fix/dl4001_cleanup_resolver.go
  internal/fix/dl4001_cleanup_resolver_test.go
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
Due: format-go, lint-go

fix(dl4001): align violation message with the chosen preferredTool
  internal/integration/__snapshots__/TestFixPowerShellAlpine_1.snap.md
  internal/integration/__snapshots__/TestLint_dl3047-cross-rules_1.snap.json
  internal/rules/hadolint/dl4001.go
  internal/rules/hadolint/dl4001_test.go
Due: format-go, lint-go, typos

fix: address PR review comment
  internal/fix/dl4001_cleanup_resolver.go
Due: format-go, lint-go

refactor(shell): variant-aware FindInstallPackages, consolidate version stripping
  CLAUDE.md
  internal/fix/dl4001_cleanup_resolver.go
  internal/rules/hadolint/dl4001.go
  internal/shell/cmd_parser.go
  internal/shell/command.go
  internal/shell/install_packages.go
  internal/shell/install_packages_test.go
  internal/shell/powershell_parser.go
Due: format-go, lint-go, typos

fix(vscode): extract sync
  _integrations/vscode-tally/test/e2e/smoke.test.ts
Due: typos

fix(vscode): reduce number of violations
  _integrations/vscode-tally/test/e2e/smoke.test.ts
Due: typos

fix: address PR review comment
  internal/fix/dl4001_cleanup_resolver_test.go
Due: format-go, lint-go

DL4001: fix-preference config + usage-based auto mode + multi-shell lift + post-sync cleanup (#539)
  .vscode/extensions.json
  CLAUDE.md
  _docs/rules/hadolint/DL4001.mdx
  _integrations/vscode-tally/test/e2e/smoke.test.ts
  internal/facts/command_operations.go
  internal/facts/command_operations_test.go
  internal/fix/dl4001_cleanup_resolver.go
  internal/fix/dl4001_cleanup_resolver_test.go
  internal/integration/__snapshots__/TestFixPowerShellAlpine_1.snap.md
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_dl4001-with-sort-packages-and-prefer-curl-config_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_dl3047-cross-rules_1.snap.json
  internal/integration/fix_cases_test.go
  internal/rules/dl4001_data.go
  internal/rules/hadolint/dl4001.go
  internal/rules/hadolint/dl4001.schema.json
  internal/rules/hadolint/dl4001_test.go
  internal/rules/hadolint/index.schema.json
  internal/schemas/generated/config/tally_config.gen.go
  internal/schemas/generated/rules/hadolint/dl4001.gen.go
  internal/schemas/manifest.json
  internal/schemas/registry_gen.go
  internal/shell/cmd_parser.go
  internal/shell/command.go
  internal/shell/command_test.go
  internal/shell/install_packages.go
  internal/shell/install_packages_test.go
  internal/shell/powershell_parser.go
  schema.json
Due: format-go, lint-go, typos

zed: set extension version to 0.35.2
  _integrations/zed-tally/Cargo.toml
  _integrations/zed-tally/extension.toml
Due: taplo, typos

feat(fix): add test-friendly ApplyFix/ApplyEdits wrappers
  AGENTS.md
  CLAUDE.md
  internal/fix/dl4001_cleanup_resolver_test.go
  internal/fix/fix.go
  internal/fix/fix_test.go
  internal/rules/tally/no_multi_spaces_test.go
  internal/rules/tally/require_secret_mounts_test.go
  internal/rules/tally/sort_packages_test.go
Due: format-go, lint-go, typos

fix: address PR review comment
  internal/rules/tally/sort_packages_test.go
Due: format-go, lint-go

feat(fix): add test-friendly ApplyFix/ApplyEdits wrappers (#542)
  AGENTS.md
  CLAUDE.md
  internal/fix/dl4001_cleanup_resolver_test.go
  internal/fix/fix.go
  internal/fix/fix_test.go
  internal/rules/tally/no_multi_spaces_test.go
  internal/rules/tally/require_secret_mounts_test.go
  internal/rules/tally/sort_packages_test.go
Due: format-go, lint-go, typos

feat: add kiro settings
  .kiro/settings/cli.json
  .kiro/settings/lsp.json
Due: typos

feat(rules): add tally/php/enable-opcache-in-production rule
  _docs/docs.json
  _docs/rules/tally/php/enable-opcache-in-production.mdx
  design-docs/PROPOSED-RULES-TRACKER.md
  go.mod
  go.sum
  internal/integration/__snapshots__/TestFix_php-enable-opcache-in-production-append-opcache-package_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_php-enable-opcache-in-production-insert-run_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_php-enable-opcache-in-production_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/php-enable-opcache-in-production/Dockerfile
  internal/rules/tally/php/enable_opcache_in_production.go
  internal/rules/tally/php/enable_opcache_in_production_test.go
  internal/rules/tally/php/helpers.go
Due: format-go, lint-go, typos

fix: address PR review comment
  internal/rules/tally/php/enable_opcache_in_production_test.go
Due: format-go, lint-go

test: add continuation-line regression for OPcache package-manager fix
  internal/rules/tally/php/enable_opcache_in_production_test.go
Due: format-go, lint-go

fix: add cross-rule coverage and docs for OPcache package-manager fix
  _docs/rules/tally/php/enable-opcache-in-production.mdx
  internal/integration/__snapshots__/TestFix_php-enable-opcache-in-production-with-sort-packages_1.snap.Dockerfile
  internal/integration/fix_cases_test.go
  internal/rules/tally/php/enable_opcache_in_production.go
Due: format-go, lint-go

fix: tighten OPcache cross-rule fixture, trim docs interaction section
  _docs/rules/tally/php/enable-opcache-in-production.mdx
  internal/integration/__snapshots__/TestFix_php-enable-opcache-in-production-with-sort-packages_1.snap.Dockerfile
  internal/integration/fix_cases_test.go
Due: format-go, lint-go

fix: coordinate OPcache fix anchor with sort-packages via IsRuleEnabled
  _docs/rules/tally/php/enable-opcache-in-production.mdx
  internal/integration/__snapshots__/TestFix_php-enable-opcache-in-production-with-sort-packages_1.snap.Dockerfile
  internal/integration/fix_cases_test.go
  internal/rules/tally/php/enable_opcache_in_production.go
  internal/rules/tally/php/enable_opcache_in_production_test.go
Due: format-go, lint-go

fix: detect CMD even when an ENTRYPOINT wrapper exists
  internal/rules/tally/php/enable_opcache_in_production.go
  internal/rules/tally/php/enable_opcache_in_production_test.go
Due: format-go, lint-go

fix: correct edit position for OPcache fix inside heredoc RUN bodies
  internal/rules/tally/php/enable_opcache_in_production.go
  internal/rules/tally/php/enable_opcache_in_production_test.go
Due: format-go, lint-go

fix: restrict OPcache package derivation to OS package managers
  internal/rules/tally/php/enable_opcache_in_production.go
  internal/rules/tally/php/enable_opcache_in_production_test.go
Due: format-go, lint-go

feat(rules): add tally/php/enable-opcache-in-production (#544)
  _docs/docs.json
  _docs/rules/tally/php/enable-opcache-in-production.mdx
  design-docs/PROPOSED-RULES-TRACKER.md
  go.mod
  go.sum
  internal/integration/__snapshots__/TestFix_php-enable-opcache-in-production-append-opcache-package_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_php-enable-opcache-in-production-insert-run_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_php-enable-opcache-in-production-with-sort-packages_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_php-enable-opcache-in-production_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/php-enable-opcache-in-production/Dockerfile
  internal/rules/tally/php/enable_opcache_in_production.go
  internal/rules/tally/php/enable_opcache_in_production_test.go
  internal/rules/tally/php/helpers.go
Due: format-go, lint-go, typos

feat(prefer-copy-heredoc): detect grouped echo|tee and split multi-target RUNs
  internal/rules/tally/prefer_copy_heredoc.go
  internal/rules/tally/prefer_copy_heredoc_test.go
  internal/shell/file_creation.go
  internal/shell/file_creation_test.go
Due: format-go, lint-go

feat: add Claude worktree settings
  .claude/settings.json
  .worktreeinclude
Due: typos

Path conditions:
  format-go: any of: **/*.go
  lint-go: any of: **/*.go
  ts-typecheck: any of: extensions/vscode-tally/**/*.ts and ^extensions/vscode\-tally/
  ts-lint: any of: extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts} and ^extensions/vscode\-tally/
  ts-format: any of: *.{js,ts,cjs,mjs,mts,cts,jsx,tsx} and ^extensions/vscode\-tally/
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  format-yml: any of: {.yamlfmt,*.yml,*.yaml}
  typos: any of: *.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}
  codecov: any of: .codecov.yml
  actionlint: any of: .github/workflows/*.{yaml,yml}
  commitlint-config: any of: .commitlintrc.yaml
