Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

format-go:
  run: gofmt -w -s {staged_files}
  stage_fixed: true

lint-go:
  run: GOEXPERIMENT=jsonv2 make lint-fix
  stage_fixed: true

ts-typecheck:
  run: bunx @typescript/native-preview --noEmit

ts-lint:
  run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
  stage_fixed: true

ts-format:
  run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
  stage_fixed: true

taplo:
  run: bunx -y -q @taplo/cli format {staged_files}
  stage_fixed: true

yamllint:
  run: uvx yamllint {staged_files}

format-yml:
  run: yamlfmt {staged_files}
  stage_fixed: true

typos:
  run: uv tool run typos==1.43.4 --force-exclude {staged_files}

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

actionlint:
  run: actionlint {staged_files}

commitlint-config:
  run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml

chore: pr change
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallySettings.kt
Due: none

fix: address PR review comment
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyServerService.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallySettings.kt
Due: none

fix: address PR review comment
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyFixAllOnSaveAction.kt
Due: none

chore: skip bot suffix
  .claude/skills/pr-comment/SKILL.md
Due: typos

fix: address PR review comment
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyConfigurable.kt
Due: none

fix: address PR review comment
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyServerService.kt
Due: none

fix: make on-save classes internal for consistent visibility
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyOnSaveFixAllActionInfo.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyOnSaveInfoProvider.kt
Due: none

chore: better emoji for reply
  .claude/skills/pr-comment/SKILL.md
Due: typos

fix: cache lspCustomization instead of recomputing on each access
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyLspServerDescriptor.kt
Due: none

fix: rethrow CancellationException to respect IDE cancellation
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyServerService.kt
Due: none

fix: increase fixAll timeout from 5s to 30s
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyServerService.kt
Due: none

fix: replace lateinit with nullable types for checkbox properties
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyConfigurable.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyOnSaveFixAllActionInfo.kt
Due: none

fix: use safe calls for notification group to prevent NPE in catch block
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyFixAllOnSaveAction.kt
Due: none

fix: use explicit class reference for icon registration
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyIcons.kt
Due: none

fix: rethrow ControlFlowException to respect IntelliJ platform rules
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyServerService.kt
Due: none

fix: gate fix-all-on-save entry on Tally enabled state
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyOnSaveFixAllActionInfo.kt
Due: none

fix: mark all plugin classes as internal for consistent visibility
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyConfigurable.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyFixAllOnSaveAction.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyLspServerSupportProvider.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyServerService.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallySettingsService.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallySettingsState.kt
Due: none

chore: exclude snapshots and fixture from statistic
  .gitattributes
Due: none

feat: IntelliJ plugin icons, settings UI, and LSP enhancements (#137)
  .claude/skills/pr-comment/SKILL.md
  .gitattributes
  .gitignore
  extensions/intellij-tally/build/smoke.sh
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyConfigurable.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyDiagnosticsSupport.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyFixAllOnSaveAction.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyFormattingSupport.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyIconProvider.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyIcons.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyLspServerDescriptor.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyLspServerSupportProvider.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyOnSaveFixAllActionInfo.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyOnSaveInfoProvider.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyRuleTooltipLinkHandler.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyServerService.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallySettings.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallySettingsService.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallySettingsState.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyWidgetItem.kt
  extensions/intellij-tally/src/main/resources/META-INF/lsp.xml
  extensions/intellij-tally/src/main/resources/META-INF/plugin.xml
  extensions/intellij-tally/src/main/resources/META-INF/pluginIcon.svg
  extensions/intellij-tally/src/main/resources/icons/tally.svg
Due: typos

feat: add pnpm support and cache mount IDs to prefer-package-cache-mounts
  docs/rules/tally/prefer-package-cache-mounts.md
  internal/integration/__snapshots__/TestFix_prefer-package-cache-mounts-no-cache-flags_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-package-cache-mounts-with-prefer-run-heredoc_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-package-cache-mounts_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_prefer-package-cache-mounts_1.snap.json
  internal/integration/testdata/prefer-package-cache-mounts/Dockerfile
  internal/rules/tally/prefer_package_cache_mounts.go
  internal/rules/tally/prefer_package_cache_mounts_test.go
Due: format-go, lint-go, typos

fix: add cache mount ID to existing mounts when upgrading sharing mode
  internal/integration/__snapshots__/TestLint_prefer-package-cache-mounts_1.snap.json
  internal/rules/tally/prefer_package_cache_mounts.go
  internal/rules/tally/prefer_package_cache_mounts_test.go
Due: format-go, lint-go, typos

fix: remove dead pnpmStorePath != "" guard
  internal/rules/tally/prefer_package_cache_mounts.go
Due: format-go, lint-go

fix: add test for pnpm i alias detection
  internal/rules/tally/prefer_package_cache_mounts_test.go
Due: format-go, lint-go

feat: add pnpm support and cache mount IDs to prefer-package-cache-mounts (#138)
  docs/rules/tally/prefer-package-cache-mounts.md
  internal/integration/__snapshots__/TestFix_prefer-package-cache-mounts-no-cache-flags_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-package-cache-mounts-with-prefer-run-heredoc_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-package-cache-mounts_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_prefer-package-cache-mounts_1.snap.json
  internal/integration/testdata/prefer-package-cache-mounts/Dockerfile
  internal/rules/tally/prefer_package_cache_mounts.go
  internal/rules/tally/prefer_package_cache_mounts_test.go
Due: format-go, lint-go, typos

feat: add tally/newline-between-instructions rule
  README.md
  RULES.md
  docs/rules/tally/index.md
  docs/rules/tally/newline-between-instructions.md
  go.mod
  go.sum
  internal/config/config.go
  internal/integration/__snapshots__/TestFixConsistentIndentation_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixPreferAddUnpackBeatsHeredoc_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_newline-between-instructions-always_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_newline-between-instructions-grouped_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_newline-between-instructions-never_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_newline-between-instructions_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/harness_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/newline-between-instructions/Dockerfile
  internal/integration/testdata/total-rules-enabled/Dockerfile
  internal/lspserver/execute_command_test.go
  internal/lsptest/__snapshots__/TestLSP_CodeActionFixAll_1.snap.Dockerfile
  internal/lsptest/__snapshots__/TestLSP_CodeAction_1.snap.json
  internal/lsptest/__snapshots__/TestLSP_DiagnosticsOnDidOpen_1.snap.json
  internal/lsptest/__snapshots__/TestLSP_ExecuteCommandApplyAllFixes_1.snap.Dockerfile
  internal/lsptest/__snapshots__/TestLSP_FormattingConsistentCasing_1.snap.Dockerfile
  internal/lsptest/__snapshots__/TestLSP_FormattingRealWorld_1.snap.Dockerfile
  internal/lsptest/lsp_test.go
  internal/rules/tally/__snapshots__/TestNewlineBetweenInstructionsMetadata_1.snap.json
  internal/rules/tally/newline_between_instructions.go
  internal/rules/tally/newline_between_instructions_test.go
  schema.json
Due: format-go, lint-go, typos

fix: use async resolver for newline-between-instructions fixes
  internal/fix/newline_resolver.go
  internal/integration/__snapshots__/TestFixConsistentIndentation_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixPreferAddUnpackBeatsHeredoc_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_newline-between-instructions_1.snap.json
  internal/integration/fix_cases_test.go
  internal/lsptest/__snapshots__/TestLSP_FormattingRealWorld_1.snap.Dockerfile
  internal/rules/newline_data.go
  internal/rules/tally/__snapshots__/TestNewlineBetweenInstructionsMetadata_1.snap.json
  internal/rules/tally/newline_between_instructions.go
  internal/rules/tally/newline_between_instructions_test.go
  internal/sourcemap/sourcemap.go
  schema.json
Due: format-go, lint-go, typos

fix: address PR review comment
  internal/rules/tally/newline_between_instructions_test.go
Due: format-go, lint-go

fix: update VSCode smoke test expected diagnostics count
  extensions/vscode-tally/test/e2e/smoke.test.ts
  extensions/vscode-tally/test/suite/index.js
Due: ts-typecheck, ts-lint, ts-format, typos

fix: address PR review comment
  internal/fix/newline_resolver.go
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_newline-between-instructions-grouped-excess-blanks_1.snap.Dockerfile
  internal/integration/fix_cases_test.go
  internal/lsptest/__snapshots__/TestLSP_FormattingRealWorld_1.snap.Dockerfile
  internal/rules/tally/newline_between_instructions_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/rules/tally/newline_between_instructions.go
  internal/rules/tally/newline_between_instructions_test.go
Due: format-go, lint-go

test: add cross-rule integration test for newline + InvalidDefinitionDescription
  internal/integration/__snapshots__/TestFixNewlineNeverWithInvalidDefinitionDescription_1.snap.Dockerfile
  internal/integration/fix_scenarios_test.go
Due: format-go, lint-go

test: add parser directive and inline disable test cases
  internal/rules/tally/newline_between_instructions_test.go
Due: format-go, lint-go

docs: document InvalidDefinitionDescription interaction
  docs/rules/tally/newline-between-instructions.md
Due: typos

docs: remove implementation detail from rule documentation
  docs/rules/tally/newline-between-instructions.md
Due: typos

feat: add tally/newline-between-instructions rule (#139)
  README.md
  RULES.md
  docs/rules/tally/index.md
  docs/rules/tally/newline-between-instructions.md
  extensions/vscode-tally/test/e2e/smoke.test.ts
  extensions/vscode-tally/test/suite/index.js
  go.mod
  go.sum
  internal/config/config.go
  internal/fix/newline_resolver.go
  internal/integration/__snapshots__/TestFixConsistentIndentation_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixNewlineNeverWithInvalidDefinitionDescription_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixPreferAddUnpackBeatsHeredoc_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_newline-between-instructions-always_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_newline-between-instructions-grouped-excess-blanks_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_newline-between-instructions-grouped_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_newline-between-instructions-never_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_newline-between-instructions_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/fix_scenarios_test.go
  internal/integration/harness_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/newline-between-instructions/Dockerfile
  internal/integration/testdata/total-rules-enabled/Dockerfile
  internal/lspserver/execute_command_test.go
  internal/lsptest/__snapshots__/TestLSP_CodeActionFixAll_1.snap.Dockerfile
  internal/lsptest/__snapshots__/TestLSP_CodeAction_1.snap.json
  internal/lsptest/__snapshots__/TestLSP_DiagnosticsOnDidOpen_1.snap.json
  internal/lsptest/__snapshots__/TestLSP_ExecuteCommandApplyAllFixes_1.snap.Dockerfile
  internal/lsptest/__snapshots__/TestLSP_FormattingConsistentCasing_1.snap.Dockerfile
  internal/lsptest/__snapshots__/TestLSP_FormattingRealWorld_1.snap.Dockerfile
  internal/lsptest/lsp_test.go
  internal/rules/newline_data.go
  internal/rules/tally/__snapshots__/TestNewlineBetweenInstructionsMetadata_1.snap.json
  internal/rules/tally/newline_between_instructions.go
  internal/rules/tally/newline_between_instructions_test.go
  internal/sourcemap/sourcemap.go
  schema.json
Due: format-go, lint-go, ts-typecheck, ts-lint, ts-format, typos

feat: add tally/no-trailing-spaces rule
  README.md
  RULES.md
  docs/index.md
  docs/rules/tally/index.md
  docs/rules/tally/no-trailing-spaces.md
  internal/integration/__snapshots__/TestFix_no-trailing-spaces_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_no-trailing-spaces_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/harness_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/no-trailing-spaces/Dockerfile
  internal/rules/tally/__snapshots__/TestNoTrailingSpacesMetadata_1.snap.json
  internal/rules/tally/no_trailing_spaces.go
  internal/rules/tally/no_trailing_spaces_test.go
  schema.json
Due: format-go, lint-go, typos

fix: clarify ignore-comments scope includes heredoc # lines
  docs/rules/tally/no-trailing-spaces.md
  internal/rules/tally/no_trailing_spaces.go
  internal/rules/tally/no_trailing_spaces_test.go
Due: format-go, lint-go, typos

fix: remove unnecessary no-trailing-spaces suppression from fix harness
  internal/integration/harness_test.go
Due: format-go, lint-go

fix: add missing koanf tags for hyphenated config keys
  internal/integration/__snapshots__/TestFix_no-trailing-spaces-ignore-comments_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_no-trailing-spaces-skip-blank-lines_1.snap.Dockerfile
  internal/integration/fix_cases_test.go
  internal/rules/tally/max_lines.go
  internal/rules/tally/no_trailing_spaces.go
  schema.json
Due: format-go, lint-go, typos

Path conditions:
  format-go: any of: **/*.go
  lint-go: any of: **/*.go
  ts-typecheck: any of: extensions/vscode-tally/**/*.ts and ^extensions/vscode\-tally/
  ts-lint: any of: extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts} and ^extensions/vscode\-tally/
  ts-format: any of: *.{js,ts,cjs,mjs,mts,cts,jsx,tsx} and ^extensions/vscode\-tally/
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  format-yml: any of: {.yamlfmt,*.yml,*.yaml}
  typos: any of: *.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}
  codecov: any of: .codecov.yml
  actionlint: any of: .github/workflows/*.{yaml,yml}
  commitlint-config: any of: .commitlintrc.yaml
