Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

.lefthook.yml:

# yaml-language-server: =https://json.schemastore.org/lefthook.json
---
output:
  # - summary # Print summary block (successful and failed steps)
  # - empty_summary # Print summary heading when there are no steps to run
  - failure # Print failed steps printing
# - skips # Print "skip" (i.e. no files matched)
assert_lefthook_installed: true
pre-commit:
  commands:
    format-go:
      glob: "**/*.go"
      run: gofmt -w -s {staged_files}
      stage_fixed: true
    lint-go:
      glob: "**/*.go"
      run: GOEXPERIMENT=jsonv2 make lint-fix
      stage_fixed: true
    ts-typecheck:
      glob: "extensions/vscode-tally/**/*.ts"
      run: bunx @typescript/native-preview --noEmit
      root: extensions/vscode-tally
    ts-lint:
      glob: "extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts}"
      run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
      stage_fixed: true
      root: extensions/vscode-tally
    ts-format:
      glob: "*.{js,ts,cjs,mjs,mts,cts,jsx,tsx}"
      run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
      stage_fixed: true
      root: extensions/vscode-tally
    taplo:
      glob: "**/*.toml"
      run: bunx -y -q @taplo/cli format {staged_files}
      stage_fixed: true
    rumdl:
      glob: "**/*.md"
      exclude: "**/__snapshots__/**"
      run: uv tool run rumdl==0.1.17 check --fix --config .rumdl.toml --output-format concise {staged_files}
      stage_fixed: true
    yamllint:
      glob: "*.{yml,yaml}"
      run: uvx yamllint {staged_files}
    format-yml:
      glob: "{.yamlfmt,*.yml,*.yaml}"
      run: yamlfmt {staged_files}
      stage_fixed: true
    typos:
      glob: "*.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}"
      run: uv tool run typos==1.43.4 --force-exclude {staged_files}
    codecov:
      glob: ".codecov.yml"
      run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate
    # renovate:
    #   glob: "renovate.json"
    #   run: npx -y -q -y --package renovate renovate-config-validator renovate.json
    actionlint:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}
    commitlint-config:
      glob: ".commitlintrc.yaml"
      run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml
commit-msg:
  commands:
    "lint commit message":
      run: npx -y -q commitlint --edit {1}
    "check spelling":
      run: uv tool run typos==1.43.4 {1}
post-merge:
  files: "git diff-tree -r --name-only --no-commit-id ORIG_HEAD HEAD"
  commands:
    delete-merged-branches:
      run: git branch --merged | grep -Ev '\*|master|main|dev|develop|development|stag|staging|prod|production' | xargs git branch -d; git fetch --prune;
pre-push:
  parallel: true
  jobs:
    - name: build
      run: GOEXPERIMENT=jsonv2 make build
    - name: deadcode
      run: GOEXPERIMENT=jsonv2 make deadcode
    - name: test
      run: GOEXPERIMENT=jsonv2 make test
    - name: validate-hadolint-status
      run: ./scripts/validate-hadolint-status.sh
    - name: validate-buildkit-rules
      run: GOEXPERIMENT=jsonv2 ./scripts/validate-buildkit-rules.sh

fix(newline-between-instructions): accept comments as separators between same-type instructions (#240)
  internal/fix/newline_resolver.go
  internal/integration/__snapshots__/TestFixRealWorldMetalama_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixWindowsContainer_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixWindowsContainer_1.snap.md
  internal/integration/__snapshots__/TestFix_newline-between-instructions-grouped-comment-separator_1.snap.Dockerfile
  internal/integration/fix_cases_test.go
  internal/rules/tally/newline_between_instructions.go
  internal/rules/tally/newline_between_instructions_test.go
Due: format-go, lint-go, typos

feat: enable semantic highlighting in vscode
  _integrations/vscode-tally/README.md
  _integrations/vscode-tally/package.json
Due: typos

feat: enable semantic highlighting in vscode (#241)
  _integrations/vscode-tally/README.md
  _integrations/vscode-tally/package.json
Due: typos

zed: set extension version to 0.21.1
  _integrations/zed-tally/Cargo.toml
  _integrations/zed-tally/extension.toml
Due: taplo, typos

chore: updated serena settings
  .serena/project.yml
Due: yamllint, format-yml, typos

fix(ci): surface JetBrains Marketplace publish errors
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

fix(lint): resolve all golangci-lint errors for v2.11.1 upgrade
  .golangci.yaml
  Makefile
  internal/lspserver/diagnostics.go
  internal/lspserver/settings.go
  internal/rules/buildkit/workdir_relative_path.go
  internal/rules/hadolint/dl3045.go
  internal/rules/shellcheck/shellcheck.go
  internal/rules/tally/secrets_in_code_test.go
  internal/shell/cd.go
  internal/shell/chain_format.go
  internal/shell/command.go
  internal/shell/install_packages.go
  internal/shell/position.go
  internal/shellcheck/runner.go
Due: format-go, lint-go, yamllint, format-yml, typos

fix(reporter): use plain text output in cache-clear test assertion
  internal/reporter/text_test.go
Due: format-go, lint-go

refactor: move FromDescendants into semantic.Model
  internal/rules/buildkit/workdir_relative_path.go
  internal/rules/hadolint/dl3045.go
  internal/rules/hadolint/dl3057.go
  internal/semantic/semantic.go
Due: format-go, lint-go

refactor: extract RefinedViolations helper to fix CPD duplication
  internal/rules/asyncutil/plan.go
  internal/rules/buildkit/workdir_relative_path.go
  internal/rules/hadolint/dl3045.go
Due: format-go, lint-go

zed: set extension version to 0.21.2
  _integrations/zed-tally/Cargo.toml
  _integrations/zed-tally/extension.toml
Due: taplo, typos

feat(vscode): mode config defaults
  _integrations/vscode-tally/package.json
Due: typos

zed: set extension version to 0.21.3
  _integrations/zed-tally/Cargo.toml
  _integrations/zed-tally/extension.toml
Due: taplo, typos

fix(lsp): defer fix-all code action edits
  _integrations/vscode-tally/src/lsp/client.ts
  internal/lspserver/codeactions.go
  internal/lspserver/fixall.go
  internal/lsptest/lsp_test.go
  internal/lsptest/setup_test.go
Due: format-go, lint-go, typos

fix: address PR review comment
  internal/lspserver/codeactions.go
  internal/lspserver/fixall.go
  internal/lspserver/fixall_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/lsptest/lsp_test.go
  internal/lsptest/setup_test.go
Due: format-go, lint-go

fix: address PR review comment
  _integrations/vscode-tally/src/lsp/client.ts
Due: typos

fix: address PR review comment
  internal/lspserver/fixall.go
Due: format-go, lint-go

fix: address PR review comment
  internal/lspserver/fixall_test.go
Due: format-go, lint-go

fix(theme): default windows auto theme to dark
  internal/highlight/theme/theme.go
  internal/highlight/theme/theme_test.go
Due: format-go, lint-go

fix(theme): use windows theme preference for auto mode
  internal/highlight/theme/auto_other.go
  internal/highlight/theme/auto_windows.go
  internal/highlight/theme/auto_windows_common.go
  internal/highlight/theme/theme.go
  internal/highlight/theme/theme_test.go
Due: format-go, lint-go

fix: defer fix-all code action edits on initial open (#243)
  _integrations/vscode-tally/src/lsp/client.ts
  internal/highlight/theme/auto_other.go
  internal/highlight/theme/auto_windows.go
  internal/highlight/theme/auto_windows_common.go
  internal/highlight/theme/theme.go
  internal/highlight/theme/theme_test.go
  internal/lspserver/codeactions.go
  internal/lspserver/fixall.go
  internal/lspserver/fixall_test.go
  internal/lsptest/lsp_test.go
  internal/lsptest/setup_test.go
Due: format-go, lint-go, typos

feat: add tally/platform-mismatch rule, disable host-dependent BuildKit platform checks
  README.md
  RULES.md
  docs/rules/buildkit/FromPlatformFlagConstDisallowed.md
  docs/rules/buildkit/InvalidBaseImagePlatform.md
  docs/rules/buildkit/index.md
  docs/rules/tally/index.md
  docs/rules/tally/platform-mismatch.md
  internal/integration/__snapshots__/TestFixPowerShellAlpine_1.snap.md
  internal/integration/__snapshots__/TestFixWindowsContainer_1.snap.md
  internal/integration/__snapshots__/TestLint_slow-checks-platform-index-mismatch_1.snap.json
  internal/integration/__snapshots__/TestLint_slow-checks-platform-meta-arg_1.snap.json
  internal/integration/__snapshots__/TestLint_slow-checks-platform-mismatch_1.snap.json
  internal/integration/__snapshots__/TestLint_slow-checks-tally-platform-auto-arg_1.snap.json
  internal/integration/__snapshots__/TestLint_slow-checks-tally-platform-index-mismatch_1.snap.json
  internal/integration/__snapshots__/TestLint_slow-checks-tally-platform-mismatch_1.snap.json
  internal/integration/__snapshots__/TestLint_slow-checks-tally-platform-no-flag_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/slow-checks-tally-platform-auto-arg/Dockerfile
  internal/integration/testdata/slow-checks-tally-platform-index-mismatch/Dockerfile
  internal/integration/testdata/slow-checks-tally-platform-mismatch/Dockerfile
  internal/integration/testdata/slow-checks-tally-platform-no-flag/Dockerfile
  internal/rules/buildkit/__snapshots__/TestFromPlatformFlagConstDisallowedRule_Metadata_1.snap.json
  internal/rules/buildkit/__snapshots__/TestInvalidBaseImagePlatformRule_Metadata_1.snap.json
  internal/rules/buildkit/invalid_base_image_platform.go
  internal/rules/buildkit/registry.go
  internal/rules/tally/platform_mismatch.go
  internal/rules/tally/platform_mismatch_test.go
Due: format-go, lint-go, typos

fix: address PR review comment
  RULES.md
  scripts/sync-buildkit-rules/main.go
Due: format-go, lint-go, typos

feat: add tally/platform-mismatch rule, retire host-dependent platform checks (#245)
  README.md
  RULES.md
  docs/rules/buildkit/FromPlatformFlagConstDisallowed.md
  docs/rules/buildkit/InvalidBaseImagePlatform.md
  docs/rules/buildkit/index.md
  docs/rules/tally/index.md
  docs/rules/tally/platform-mismatch.md
  internal/integration/__snapshots__/TestFixPowerShellAlpine_1.snap.md
  internal/integration/__snapshots__/TestFixWindowsContainer_1.snap.md
  internal/integration/__snapshots__/TestLint_slow-checks-platform-index-mismatch_1.snap.json
  internal/integration/__snapshots__/TestLint_slow-checks-platform-meta-arg_1.snap.json
  internal/integration/__snapshots__/TestLint_slow-checks-platform-mismatch_1.snap.json
  internal/integration/__snapshots__/TestLint_slow-checks-tally-platform-auto-arg_1.snap.json
  internal/integration/__snapshots__/TestLint_slow-checks-tally-platform-index-mismatch_1.snap.json
  internal/integration/__snapshots__/TestLint_slow-checks-tally-platform-mismatch_1.snap.json
  internal/integration/__snapshots__/TestLint_slow-checks-tally-platform-no-flag_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/slow-checks-tally-platform-auto-arg/Dockerfile
  internal/integration/testdata/slow-checks-tally-platform-index-mismatch/Dockerfile
  internal/integration/testdata/slow-checks-tally-platform-mismatch/Dockerfile
  internal/integration/testdata/slow-checks-tally-platform-no-flag/Dockerfile
  internal/rules/buildkit/__snapshots__/TestFromPlatformFlagConstDisallowedRule_Metadata_1.snap.json
  internal/rules/buildkit/__snapshots__/TestInvalidBaseImagePlatformRule_Metadata_1.snap.json
  internal/rules/buildkit/invalid_base_image_platform.go
  internal/rules/buildkit/registry.go
  internal/rules/tally/platform_mismatch.go
  internal/rules/tally/platform_mismatch_test.go
  scripts/sync-buildkit-rules/main.go
Due: format-go, lint-go, typos

feat: graduate prefer-copy-heredoc, add cat/tee heredoc detection
  RULES.md
  docs/guide/configuration.md
  docs/rules/tally/index.md
  docs/rules/tally/prefer-copy-heredoc.md
  internal/integration/__snapshots__/TestFixHeredocCombined_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-copy-heredoc-buildkit-heredoc-cat_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-copy-heredoc-buildkit-heredoc-tee_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_heredoc-combined_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/testdata/heredoc-combined/Dockerfile
  internal/rules/tally/__snapshots__/TestPreferCopyHeredocRule_Metadata_1.snap.json
  internal/rules/tally/prefer_copy_heredoc.go
  internal/shell/file_creation.go
  internal/shell/file_creation_test.go
Due: format-go, lint-go, typos

refactor: change prefer-copy-heredoc category to performance
  RULES.md
  docs/rules/tally/index.md
  docs/rules/tally/prefer-copy-heredoc.md
  internal/integration/__snapshots__/TestLint_heredoc-combined_1.snap.json
  internal/rules/tally/__snapshots__/TestPreferCopyHeredocRule_Metadata_1.snap.json
  internal/rules/tally/prefer_copy_heredoc.go
Due: format-go, lint-go, typos

fix: restrict tee redirect validation to /dev/null only
  internal/shell/file_creation.go
  internal/shell/file_creation_test.go
Due: format-go, lint-go

fix: update stale fix snapshots after severity change
  internal/integration/__snapshots__/TestFixHeredocCombined_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
Due: none

docs: sync hadolint rules from upstream
  RULES.md
Due: typos

fix: assert IsAppend in tee -a test case
  internal/shell/file_creation_test.go
Due: format-go, lint-go

fix: add tee pattern to prefer-copy-heredoc docs
  docs/rules/tally/prefer-copy-heredoc.md
Due: typos
