Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

.lefthook.yml:

# yaml-language-server: =https://json.schemastore.org/lefthook.json
---
output:
  # - summary # Print summary block (successful and failed steps)
  # - empty_summary # Print summary heading when there are no steps to run
  - failure # Print failed steps printing
# - skips # Print "skip" (i.e. no files matched)
assert_lefthook_installed: true
pre-commit:
  commands:
    format-go:
      glob: "**/*.go"
      run: gofmt -w -s {staged_files}
      stage_fixed: true
    lint-go:
      glob: "**/*.go"
      run: GOEXPERIMENT=jsonv2 make lint-fix
      stage_fixed: true
    ts-typecheck:
      glob: "extensions/vscode-tally/**/*.ts"
      run: bunx @typescript/native-preview --noEmit
      root: extensions/vscode-tally
    ts-lint:
      glob: "extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts}"
      run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
      stage_fixed: true
      root: extensions/vscode-tally
    ts-format:
      glob: "*.{js,ts,cjs,mjs,mts,cts,jsx,tsx}"
      run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
      stage_fixed: true
      root: extensions/vscode-tally
    taplo:
      glob: "**/*.toml"
      run: bunx -y -q @taplo/cli format {staged_files}
      stage_fixed: true
    rumdl:
      glob: "**/*.md"
      exclude: "**/__snapshots__/**"
      run: uv tool run rumdl==0.1.17 check --fix --config .rumdl.toml --output-format concise {staged_files}
      stage_fixed: true
    yamllint:
      glob: "*.{yml,yaml}"
      run: uvx yamllint {staged_files}
    format-yml:
      glob: "{.yamlfmt,*.yml,*.yaml}"
      run: yamlfmt {staged_files}
      stage_fixed: true
    typos:
      glob: "*.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}"
      run: uv tool run typos==1.43.4 --force-exclude {staged_files}
    codecov:
      glob: ".codecov.yml"
      run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate
    # renovate:
    #   glob: "renovate.json"
    #   run: npx -y -q -y --package renovate renovate-config-validator renovate.json
    actionlint:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}
    commitlint-config:
      glob: ".commitlintrc.yaml"
      run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml
commit-msg:
  commands:
    "lint commit message":
      run: npx -y -q commitlint --edit {1}
    "check spelling":
      run: uv tool run typos==1.43.4 {1}
post-merge:
  files: "git diff-tree -r --name-only --no-commit-id ORIG_HEAD HEAD"
  commands:
    delete-merged-branches:
      run: git branch --merged | grep -Ev '\*|master|main|dev|develop|development|stag|staging|prod|production' | xargs git branch -d; git fetch --prune;
pre-push:
  parallel: true
  jobs:
    - name: build
      run: GOEXPERIMENT=jsonv2 make build
    - name: deadcode
      run: GOEXPERIMENT=jsonv2 make deadcode
    - name: test
      run: GOEXPERIMENT=jsonv2 make test
    - name: validate-hadolint-status
      run: ./scripts/validate-hadolint-status.sh
    - name: validate-buildkit-rules
      run: GOEXPERIMENT=jsonv2 ./scripts/validate-buildkit-rules.sh

chore: sync rules summary
  RULES.md
Due: typos

feat(cli): add AI AutoFix flags
  cmd/tally/cmd/lint.go
Due: format-go, lint-go

fix(cli): normalize fix-mode keys
  cmd/tally/cmd/lint.go
Due: format-go, lint-go

fix: surface async fix resolver errors
  cmd/tally/cmd/lint.go
  internal/fix/fixer.go
  internal/fix/fixer_test.go
Due: format-go, lint-go

docs: clarify disabling MCP servers for ACP agents
  docs/guide/ai-autofix-acp.md
Due: typos

docs: explain prompt+validation advantage
  docs/guide/ai-autofix-acp.md
Due: typos

fix: align AI AutoFix prompt and validation
  internal/ai/acp/testdata/testagent/main.go
  internal/ai/autofix/prompt.go
  internal/ai/autofix/validate.go
  internal/ai/autofix/validate_test.go
  internal/integration/__snapshots__/TestFix_ai-autofix-prefer-multi-stage-build_1.snap.Dockerfile
Due: format-go, lint-go

chore: fix LICENSE
  LICENSE
Due: none

fix: normalize AI config keys with ToSlash
  cmd/tally/cmd/lint.go
Due: format-go, lint-go

fix: pass real filename to AI resolver
  internal/rules/tally/prefer_multi_stage_build.go
Due: format-go, lint-go

fix: count FROM using parsed stages
  internal/ai/autofix/validate.go
  internal/ai/autofix/validate_test.go
  internal/rules/tally/prefer_multi_stage_build.go
Due: format-go, lint-go

feat: refine ACP prompt guidance
  internal/ai/autofix/__snapshots__/TestBuildRound1Prompt_PreferMultiStageBuild_Snapshot_1.snap.md
  internal/ai/autofix/prompt.go
Due: format-go, lint-go, typos

feat: add slow-check registry context to AI prompts
  cmd/tally/cmd/lint.go
  cmd/tally/cmd/lint_registry_insights_test.go
  internal/ai/autofix/__snapshots__/TestBuildRound1Prompt_PreferMultiStageBuild_RegistryContext_Snapshot_1.snap.md
  internal/ai/autofix/prompt.go
  internal/ai/autofix/prompt_test.go
  internal/ai/autofixdata/autofixdata.go
  internal/ai/autofixdata/registry_insights.go
  internal/async/runtime.go
  internal/async/runtime_test.go
  internal/async/types.go
Due: format-go, lint-go, typos

fix: preserve NO_CHANGE in ai autofix
  internal/ai/autofix/resolver.go
  internal/ai/autofix/resolver_test.go
Due: format-go, lint-go

refactor(lsp): migrate JSON-RPC library to golang.org/x/exp/jsonrpc2
  go.mod
  go.sum
  internal/lspserver/diagnostics.go
  internal/lspserver/execute_command.go
  internal/lspserver/execute_command_test.go
  internal/lspserver/server.go
  internal/lspserver/settings.go
  internal/lsptest/lsp_test.go
  internal/lsptest/setup_test.go
Due: format-go, lint-go

refactor(lsp): migrate JSON-RPC library to golang.org/x/exp/jsonrpc2 (#121)
  go.mod
  go.sum
  internal/lspserver/diagnostics.go
  internal/lspserver/execute_command.go
  internal/lspserver/execute_command_test.go
  internal/lspserver/server.go
  internal/lspserver/settings.go
  internal/lsptest/lsp_test.go
  internal/lsptest/setup_test.go
Due: format-go, lint-go

test(lsp): migrate from TypeFox/go-lsp to bugst/go-lsp for text edit validation
  go.mod
  go.sum
  internal/lsptest/setup_test.go
Due: format-go, lint-go

fix: address PR review - use cmp.Compare and add overlap validation
  internal/lsptest/setup_test.go
Due: format-go, lint-go

docs: sync hadolint rules from upstream
  README.md
  RULES.md
Due: typos

chore: replace NPM org
  .serena/memories/project_structure.md
  packaging/npm/.gitignore
  packaging/npm/tally-darwin-arm64/package.json
  packaging/npm/tally-darwin-x64/package.json
  packaging/npm/tally-freebsd-x64/package.json
  packaging/npm/tally-linux-arm64/package.json
  packaging/npm/tally-linux-x64/package.json
  packaging/npm/tally-windows-arm64/package.json
  packaging/npm/tally-windows-x64/package.json
  packaging/npm/tally/bin/cli.js
  packaging/npm/tally/package.json
  packaging/pack.rb
Due: typos

chore: update README.md
  README.md
Due: typos

ci: add VS Code extension build and publish to release workflow
  .github/workflows/release.yml
  extensions/vscode-tally/.vscodeignore
Due: yamllint, format-yml, typos, actionlint

docs: sync RULES.md summary whitespace
  RULES.md
Due: typos

fix: add explicit GoReleaser directory validation before binary copy
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

fix: derive release tag from VERSION env for workflow_dispatch support
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

ci: add VS Code extension build and publish to release workflow (#130)
  .github/workflows/release.yml
  RULES.md
  extensions/vscode-tally/.vscodeignore
Due: yamllint, format-yml, typos, actionlint

fix: align engines.vscode with @types/vscode version
  extensions/vscode-tally/package.json
Due: typos

docs: improve README
  README.md
  extensions/vscode-tally/DEVELOPMENT.md
  extensions/vscode-tally/README.md
  extensions/vscode-tally/package.json
Due: typos

fix: correct DocURL paths for tally rules
  internal/integration/__snapshots__/TestLint_config-cascading-discovery_1.snap.json
  internal/integration/__snapshots__/TestLint_config-file-discovery_1.snap.json
  internal/integration/__snapshots__/TestLint_dl4006-cross-rules_1.snap.json
  internal/integration/__snapshots__/TestLint_duplicate-stage-name_1.snap.json
  internal/integration/__snapshots__/TestLint_env-var-override_1.snap.json
  internal/integration/__snapshots__/TestLint_heredoc-combined_1.snap.json
  internal/integration/__snapshots__/TestLint_prefer-add-unpack-heredoc_1.snap.json
  internal/integration/__snapshots__/TestLint_prefer-run-heredoc_1.snap.json
  internal/integration/__snapshots__/TestLint_simple-max-lines-fail_1.snap.json
  internal/integration/__snapshots__/TestLint_unreachable-stage_1.snap.json
  internal/rules/tally/__snapshots__/TestMaxLinesRule_Metadata_1.snap.json
  internal/rules/tally/__snapshots__/TestPreferCopyHeredocRule_Metadata_1.snap.json
  internal/rules/tally/__snapshots__/TestPreferHeredocRule_Metadata_1.snap.json
  internal/rules/tally/__snapshots__/TestUnreachableStagesRule_Metadata_1.snap.json
  internal/rules/tally/max_lines.go
  internal/rules/tally/prefer_copy_heredoc.go
  internal/rules/tally/prefer_heredoc.go
  internal/rules/tally/unreachable_stages.go
Due: format-go, lint-go, typos

docs: sync README rules table with generated content
  README.md
Due: typos

fix: centralize tally rule DocURL construction
  internal/rules/tally/__snapshots__/TestSecretsInCodeRule_Metadata_1.snap.json
  internal/rules/tally/consistent_indentation.go
  internal/rules/tally/max_lines.go
  internal/rules/tally/prefer_add_unpack.go
  internal/rules/tally/prefer_copy_heredoc.go
  internal/rules/tally/prefer_heredoc.go
  internal/rules/tally/prefer_multi_stage_build.go
  internal/rules/tally/prefer_vex_attestation.go
  internal/rules/tally/secrets_in_code.go
  internal/rules/tally/unreachable_stages.go
  internal/rules/violation.go
Due: format-go, lint-go, typos

refactor: extract rule code constants for all tally rules
  internal/rules/tally/consistent_indentation.go
  internal/rules/tally/max_lines.go
  internal/rules/tally/prefer_add_unpack.go
  internal/rules/tally/prefer_heredoc.go
  internal/rules/tally/prefer_multi_stage_build.go
  internal/rules/tally/prefer_vex_attestation.go
  internal/rules/tally/secrets_in_code.go
  internal/rules/tally/unreachable_stages.go
Due: format-go, lint-go

fix: correct DocURL paths for tally rules (#131)
  README.md
  internal/integration/__snapshots__/TestLint_config-cascading-discovery_1.snap.json
  internal/integration/__snapshots__/TestLint_config-file-discovery_1.snap.json
  internal/integration/__snapshots__/TestLint_dl4006-cross-rules_1.snap.json
  internal/integration/__snapshots__/TestLint_duplicate-stage-name_1.snap.json
  internal/integration/__snapshots__/TestLint_env-var-override_1.snap.json
  internal/integration/__snapshots__/TestLint_heredoc-combined_1.snap.json
  internal/integration/__snapshots__/TestLint_prefer-add-unpack-heredoc_1.snap.json
  internal/integration/__snapshots__/TestLint_prefer-run-heredoc_1.snap.json
  internal/integration/__snapshots__/TestLint_simple-max-lines-fail_1.snap.json
  internal/integration/__snapshots__/TestLint_unreachable-stage_1.snap.json
  internal/rules/tally/__snapshots__/TestMaxLinesRule_Metadata_1.snap.json
  internal/rules/tally/__snapshots__/TestPreferCopyHeredocRule_Metadata_1.snap.json
  internal/rules/tally/__snapshots__/TestPreferHeredocRule_Metadata_1.snap.json
  internal/rules/tally/__snapshots__/TestSecretsInCodeRule_Metadata_1.snap.json
  internal/rules/tally/__snapshots__/TestUnreachableStagesRule_Metadata_1.snap.json
  internal/rules/tally/consistent_indentation.go
  internal/rules/tally/max_lines.go
  internal/rules/tally/prefer_add_unpack.go
  internal/rules/tally/prefer_copy_heredoc.go
  internal/rules/tally/prefer_heredoc.go
  internal/rules/tally/prefer_multi_stage_build.go
  internal/rules/tally/prefer_vex_attestation.go
  internal/rules/tally/secrets_in_code.go
  internal/rules/tally/unreachable_stages.go
  internal/rules/violation.go
Due: format-go, lint-go, typos

docs: add IDE integration section to README
  README.md
Due: typos

fix: add workspaceContains activation events for earlier extension launch
  extensions/vscode-tally/package.json
Due: typos

fix: resolve async fixes on-the-fly for LSP code actions
  internal/lspserver/codeactions.go
  internal/lsptest/lsp_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/lspserver/codeactions.go
  internal/lspserver/execute_command.go
  internal/lspserver/execute_command_test.go
  internal/lspserver/fixall.go
  internal/lspserver/server.go
Due: format-go, lint-go
