Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

.lefthook.yml:

# yaml-language-server: =https://json.schemastore.org/lefthook.json
---
output:
  # - summary # Print summary block (successful and failed steps)
  # - empty_summary # Print summary heading when there are no steps to run
  - failure # Print failed steps printing
# - skips # Print "skip" (i.e. no files matched)
assert_lefthook_installed: true
pre-commit:
  commands:
    format-go:
      glob: "**/*.go"
      run: gofmt -w -s {staged_files}
      stage_fixed: true
    lint-go:
      glob: "**/*.go"
      run: GOEXPERIMENT=jsonv2 make lint-fix
      stage_fixed: true
    ts-typecheck:
      glob: "extensions/vscode-tally/**/*.ts"
      run: bunx @typescript/native-preview --noEmit
      root: extensions/vscode-tally
    ts-lint:
      glob: "extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts}"
      run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
      stage_fixed: true
      root: extensions/vscode-tally
    ts-format:
      glob: "*.{js,ts,cjs,mjs,mts,cts,jsx,tsx}"
      run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
      stage_fixed: true
      root: extensions/vscode-tally
    taplo:
      glob: "**/*.toml"
      run: bunx -y -q @taplo/cli format {staged_files}
      stage_fixed: true
    rumdl:
      glob: "**/*.md"
      exclude: "**/__snapshots__/**"
      run: uv tool run rumdl==0.1.17 check --fix --config .rumdl.toml --output-format concise {staged_files}
      stage_fixed: true
    yamllint:
      glob: "*.{yml,yaml}"
      run: uvx yamllint {staged_files}
    format-yml:
      glob: "{.yamlfmt,*.yml,*.yaml}"
      run: yamlfmt {staged_files}
      stage_fixed: true
    typos:
      glob: "*.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}"
      run: uv tool run typos==1.43.4 --force-exclude {staged_files}
    codecov:
      glob: ".codecov.yml"
      run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate
    # renovate:
    #   glob: "renovate.json"
    #   run: npx -y -q -y --package renovate renovate-config-validator renovate.json
    actionlint:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}
    commitlint-config:
      glob: ".commitlintrc.yaml"
      run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml
commit-msg:
  commands:
    "lint commit message":
      run: npx -y -q commitlint --edit {1}
    "check spelling":
      run: uv tool run typos==1.43.4 {1}
post-merge:
  files: "git diff-tree -r --name-only --no-commit-id ORIG_HEAD HEAD"
  commands:
    delete-merged-branches:
      run: git branch --merged | grep -Ev '\*|master|main|dev|develop|development|stag|staging|prod|production' | xargs git branch -d; git fetch --prune;
pre-push:
  parallel: true
  jobs:
    - name: build
      run: GOEXPERIMENT=jsonv2 make build
    - name: deadcode
      run: GOEXPERIMENT=jsonv2 make deadcode
    - name: test
      run: GOEXPERIMENT=jsonv2 make test
    - name: validate-hadolint-status
      run: ./scripts/validate-hadolint-status.sh
    - name: validate-buildkit-rules
      run: GOEXPERIMENT=jsonv2 ./scripts/validate-buildkit-rules.sh

test: move remaining lint cases into fixture harness
  internal/integration/__snapshots__/TestLint_format-github-actions_1.snap.txt
  internal/integration/fixture_harness_test.go
  internal/integration/fixtures/lint/buildkit-warnings-github-actions/.tally.toml
  internal/integration/fixtures/lint/buildkit-warnings-github-actions/Dockerfile
  internal/integration/fixtures/lint/buildkit-warnings-github-actions/result_1.snap.txt
  internal/integration/fixtures/lint/buildkit-warnings-markdown/.tally.toml
  internal/integration/fixtures/lint/buildkit-warnings-markdown/Dockerfile
  internal/integration/fixtures/lint/buildkit-warnings-markdown/result_1.snap.md
  internal/integration/fixtures/lint/buildkit-warnings-sarif/.tally.toml
  internal/integration/fixtures/lint/buildkit-warnings-sarif/Dockerfile
  internal/integration/fixtures/lint/buildkit-warnings-sarif/result_1.snap.sarif
  internal/integration/fixtures/lint/deprecated-rule-alias-inline/.tally.toml
  internal/integration/fixtures/lint/deprecated-rule-alias-inline/Dockerfile
  internal/integration/fixtures/lint/deprecated-rule-alias-inline/result_1.snap.json
  internal/integration/fixtures/lint/deprecated-rule-alias-inline/stderr_1.snap.txt
  internal/integration/lint_cases_test.go
  internal/integration/testdata/invalid-json-form/Dockerfile
Due: format-go, lint-go, taplo, typos

test: address fixture harness review feedback
  cmd/tally/cmd/options.go
  internal/integration/fixture_harness_test.go
Due: format-go, lint-go

test: move remaining fix snapshots into fixtures
  internal/integration/__snapshots__/TestFix_gpu-driver-caps-all-no-unsafe_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-nginx-sigquit-wrong-signal-safe-no-fix_1.snap.Dockerfile
  internal/integration/fix_scenarios_test.go
  internal/integration/fixture_harness_test.go
  internal/integration/fixtures/fix/cross-rule-copy-chmod-heredoc/.tally.toml
  internal/integration/fixtures/fix/cross-rule-copy-chmod-heredoc/Dockerfile
  internal/integration/fixtures/fix/cross-rule-copy-chmod-heredoc/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/cross-rule-copy-chmod-heredoc/report_1.snap.md
  internal/integration/fixtures/fix/cross-rule-multi-spaces-indentation-chain/.tally.toml
  internal/integration/fixtures/fix/cross-rule-multi-spaces-indentation-chain/Dockerfile
  internal/integration/fixtures/fix/cross-rule-multi-spaces-indentation-chain/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/cross-rule-multi-spaces-indentation-chain/report_1.snap.md
  internal/integration/fixtures/fix/newline-never-invalid-definition-description/.tally.toml
  internal/integration/fixtures/fix/newline-never-invalid-definition-description/Dockerfile
  internal/integration/fixtures/fix/newline-never-invalid-definition-description/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/newline-never-invalid-definition-description/report_1.snap.md
  internal/integration/fixtures/fix/newline-per-chained-call-combined/.tally.toml
  internal/integration/fixtures/fix/newline-per-chained-call-combined/Dockerfile
  internal/integration/fixtures/fix/newline-per-chained-call-combined/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/newline-per-chained-call-combined/report_1.snap.md
  internal/integration/fixtures/fix/prefer-add-git-combined/.tally.toml
  internal/integration/fixtures/fix/prefer-add-git-combined/Dockerfile
  internal/integration/fixtures/fix/prefer-add-git-combined/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/prefer-add-git-combined/report_1.snap.md
  internal/integration/fixtures/fix/prefer-add-unpack-beats-heredoc/.tally.toml
  internal/integration/fixtures/fix/prefer-add-unpack-beats-heredoc/Dockerfile
  internal/integration/fixtures/fix/prefer-add-unpack-beats-heredoc/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/prefer-add-unpack-beats-heredoc/report_1.snap.md
  internal/integration/fixtures/fix/prefer-telemetry-opt-out-combined/.tally.toml
  internal/integration/fixtures/fix/prefer-telemetry-opt-out-combined/Dockerfile
  internal/integration/fixtures/fix/prefer-telemetry-opt-out-combined/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/prefer-telemetry-opt-out-combined/package.json
  internal/integration/fixtures/fix/prefer-telemetry-opt-out-combined/report_1.snap.md
  internal/integration/fixtures/fix/prefer-telemetry-opt-out-context/fixed_1.snap.Dockerfile
  internal/integration/harness_test.go
Due: format-go, lint-go, taplo, typos

chore: exclude integration tests from mehen
  .github/workflows/ci.yml
Due: yamllint, format-yml, typos, actionlint

fix: use npm for mehen and include docs
  .github/workflows/ci.yml
Due: yamllint, format-yml, typos, actionlint

test: fix CI paths for migrated fixtures
  .gitattributes
  _integrations/vscode-tally/test/suite/index.js
Due: typos

fix: sort markdown output by location
  _docs/guides/output-formats.mdx
  internal/integration/fixtures/fix/benchmark-real-world-fix/report_1.snap.md
  internal/integration/fixtures/fix/consistent-indentation/report_1.snap.md
  internal/integration/fixtures/fix/dl3047-cross-rules/report_1.snap.md
  internal/integration/fixtures/fix/real-world-aria/report_1.snap.md
  internal/integration/fixtures/fix/real-world-boost-msvc/report_1.snap.md
  internal/integration/fixtures/fix/real-world-jaraco-windows/report_1.snap.md
  internal/integration/fixtures/fix/real-world-metalama/report_1.snap.md
  internal/integration/fixtures/fix/real-world-nolus/report_1.snap.md
  internal/integration/fixtures/fix/real-world-php-fpm-56/report_1.snap.md
  internal/integration/fixtures/fix/real-world-powershell-alpine/report_1.snap.md
  internal/integration/fixtures/fix/real-world-teamcity-nanoserver/report_1.snap.md
  internal/integration/fixtures/fix/real-world-ticketdesk/report_1.snap.md
  internal/reporter/markdown.go
  internal/reporter/markdown_test.go
Due: format-go, lint-go, typos

[codex] Sort markdown output by source location (#660)
  _docs/guides/output-formats.mdx
  internal/integration/fixtures/fix/benchmark-real-world-fix/report_1.snap.md
  internal/integration/fixtures/fix/consistent-indentation/report_1.snap.md
  internal/integration/fixtures/fix/dl3047-cross-rules/report_1.snap.md
  internal/integration/fixtures/fix/real-world-aria/report_1.snap.md
  internal/integration/fixtures/fix/real-world-boost-msvc/report_1.snap.md
  internal/integration/fixtures/fix/real-world-jaraco-windows/report_1.snap.md
  internal/integration/fixtures/fix/real-world-metalama/report_1.snap.md
  internal/integration/fixtures/fix/real-world-nolus/report_1.snap.md
  internal/integration/fixtures/fix/real-world-php-fpm-56/report_1.snap.md
  internal/integration/fixtures/fix/real-world-powershell-alpine/report_1.snap.md
  internal/integration/fixtures/fix/real-world-teamcity-nanoserver/report_1.snap.md
  internal/integration/fixtures/fix/real-world-ticketdesk/report_1.snap.md
  internal/reporter/markdown.go
  internal/reporter/markdown_test.go
Due: format-go, lint-go, typos

fix: handle Dockerfile comments in continued RUN
  internal/dockerfile/parser.go
  internal/dockerfile/parser_helpers_test.go
  internal/highlight/extract/script.go
  internal/highlight/extract/script_test.go
  internal/integration/fixtures/fix/real-world-aria/report_1.snap.md
  internal/integration/fixtures/lint/powershell-backtick-comment-continuation/.tally.toml
  internal/integration/fixtures/lint/powershell-backtick-comment-continuation/Dockerfile
  internal/integration/fixtures/lint/powershell-backtick-comment-continuation/result_1.snap.json
  internal/rules/shellcheck/shellcheck_test.go
  internal/shell/chain_format.go
  internal/shell/chain_format_test.go
  internal/shell/dockerfile_source.go
  internal/shell/dockerfile_source_test.go
Due: format-go, lint-go, taplo, typos

fix: address PR review comment
  internal/dockerfile/parser.go
  internal/dockerfile/parser_helpers_test.go
  internal/facts/command_operations.go
  internal/facts/facts.go
  internal/rules/hadolint/dl3027.go
  internal/rules/hadolint/dl3046.go
  internal/rules/hadolint/dl3047.go
  internal/rules/hadolint/dl4001_fix.go
  internal/rules/runcheck/runcheck.go
  internal/rules/tally/curl_should_follow_redirects.go
  internal/rules/tally/js/node_gyp_cache_mounts.go
  internal/rules/tally/php/composer_no_dev_in_production.go
  internal/rules/tally/php/helpers.go
  internal/rules/tally/powershell/prefer_shell_instruction.go
  internal/rules/tally/world_writable_state_path_workaround.go
Due: format-go, lint-go

fix: address PR review comment
  internal/highlight/extract/script.go
  internal/highlight/extract/script_test.go
Due: format-go, lint-go

fix: normalize facts escape token
  internal/facts/facts.go
Due: format-go, lint-go

fix: address PR review comment
  internal/dockerfile/parser.go
  internal/dockerfile/parser_helpers_test.go
Due: format-go, lint-go

fix: bridge full heredoc RUN header
  internal/dockerfile/parser.go
  internal/dockerfile/parser_helpers_test.go
Due: format-go, lint-go

fix: bridge highlight heredoc header span
  internal/dockerfile/parser.go
  internal/highlight/extract/script.go
  internal/highlight/extract/script_test.go
Due: format-go, lint-go

feat(powershell): ship a curated default-disabled PSSA rule set
  _docs/rules/powershell/PSAvoidDefaultValueForMandatoryParameter.mdx
  _docs/rules/powershell/PSAvoidDefaultValueSwitchParameter.mdx
  _docs/rules/powershell/PSAvoidGlobalAliases.mdx
  _docs/rules/powershell/PSAvoidGlobalFunctions.mdx
  _docs/rules/powershell/PSAvoidGlobalVars.mdx
  _docs/rules/powershell/PSAvoidNullOrEmptyHelpMessageAttribute.mdx
  _docs/rules/powershell/PSAvoidShouldContinueWithoutForce.mdx
  _docs/rules/powershell/PSAvoidUsingDeprecatedManifestFields.mdx
  _docs/rules/powershell/PSAvoidUsingPositionalParameters.mdx
  _docs/rules/powershell/PSAvoidUsingWriteHost.mdx
  _docs/rules/powershell/PSDSCDscExamplesPresent.mdx
  _docs/rules/powershell/PSDSCDscTestsPresent.mdx
  _docs/rules/powershell/PSDSCReturnCorrectTypesForDSCFunctions.mdx
  _docs/rules/powershell/PSDSCStandardDSCFunctionsInResource.mdx
  _docs/rules/powershell/PSDSCUseIdenticalMandatoryParametersForDSC.mdx
  _docs/rules/powershell/PSDSCUseIdenticalParametersForDSC.mdx
  _docs/rules/powershell/PSDSCUseVerboseMessageInDSCResource.mdx
  _docs/rules/powershell/PSMissingModuleManifestField.mdx
  _docs/rules/powershell/PSProvideCommentHelp.mdx
  _docs/rules/powershell/PSReservedCmdletChar.mdx
  _docs/rules/powershell/PSReservedParams.mdx
  _docs/rules/powershell/PSReviewUnusedParameter.mdx
  _docs/rules/powershell/PSShouldProcess.mdx
  _docs/rules/powershell/PSUseApprovedVerbs.mdx
  _docs/rules/powershell/PSUseBOMForUnicodeEncodedFile.mdx
  _docs/rules/powershell/PSUseOutputTypeCorrectly.mdx
  _docs/rules/powershell/PSUseProcessBlockForPipelineCommand.mdx
  _docs/rules/powershell/PSUseShouldProcessForStateChangingFunctions.mdx
  _docs/rules/powershell/PSUseSingularNouns.mdx
  _docs/rules/powershell/PSUseSupportsShouldProcess.mdx
  _docs/rules/powershell/PSUseToExportFieldsInManifest.mdx
  _docs/rules/powershell/PSUseUTF8EncodingForHelpFile.mdx
  _docs/rules/powershell/PowerShell.mdx
  internal/integration/fixtures/fix/real-world-metalama/report_1.snap.md
  internal/integration/fixtures/fix/real-world-teamcity-nanoserver/report_1.snap.md
  internal/rules/powershell/powershell_test.go
  internal/rules/powershell/settings.go
Due: format-go, lint-go, typos

[codex] handle Dockerfile comments in continued RUN (#663)
  internal/dockerfile/parser.go
  internal/dockerfile/parser_helpers_test.go
  internal/facts/command_operations.go
  internal/facts/facts.go
  internal/highlight/extract/script.go
  internal/highlight/extract/script_test.go
  internal/integration/fixtures/fix/real-world-aria/report_1.snap.md
  internal/integration/fixtures/lint/powershell-backtick-comment-continuation/.tally.toml
  internal/integration/fixtures/lint/powershell-backtick-comment-continuation/Dockerfile
  internal/integration/fixtures/lint/powershell-backtick-comment-continuation/result_1.snap.json
  internal/rules/hadolint/dl3027.go
  internal/rules/hadolint/dl3046.go
  internal/rules/hadolint/dl3047.go
  internal/rules/hadolint/dl4001_fix.go
  internal/rules/runcheck/runcheck.go
  internal/rules/shellcheck/shellcheck_test.go
  internal/rules/tally/curl_should_follow_redirects.go
  internal/rules/tally/js/node_gyp_cache_mounts.go
  internal/rules/tally/php/composer_no_dev_in_production.go
  internal/rules/tally/php/helpers.go
  internal/rules/tally/powershell/prefer_shell_instruction.go
  internal/rules/tally/world_writable_state_path_workaround.go
  internal/shell/chain_format.go
  internal/shell/chain_format_test.go
  internal/shell/dockerfile_source.go
  internal/shell/dockerfile_source_test.go
Due: format-go, lint-go, taplo, typos

fix: address PR review comment
  internal/rules/powershell/settings.go
Due: format-go, lint-go

feat(powershell): curate default-disabled PSSA rule set for Dockerfile RUN (#664)
  _docs/rules/powershell/PSAvoidDefaultValueForMandatoryParameter.mdx
  _docs/rules/powershell/PSAvoidDefaultValueSwitchParameter.mdx
  _docs/rules/powershell/PSAvoidGlobalAliases.mdx
  _docs/rules/powershell/PSAvoidGlobalFunctions.mdx
  _docs/rules/powershell/PSAvoidGlobalVars.mdx
  _docs/rules/powershell/PSAvoidNullOrEmptyHelpMessageAttribute.mdx
  _docs/rules/powershell/PSAvoidShouldContinueWithoutForce.mdx
  _docs/rules/powershell/PSAvoidUsingDeprecatedManifestFields.mdx
  _docs/rules/powershell/PSAvoidUsingPositionalParameters.mdx
  _docs/rules/powershell/PSAvoidUsingWriteHost.mdx
  _docs/rules/powershell/PSDSCDscExamplesPresent.mdx
  _docs/rules/powershell/PSDSCDscTestsPresent.mdx
  _docs/rules/powershell/PSDSCReturnCorrectTypesForDSCFunctions.mdx
  _docs/rules/powershell/PSDSCStandardDSCFunctionsInResource.mdx
  _docs/rules/powershell/PSDSCUseIdenticalMandatoryParametersForDSC.mdx
  _docs/rules/powershell/PSDSCUseIdenticalParametersForDSC.mdx
  _docs/rules/powershell/PSDSCUseVerboseMessageInDSCResource.mdx
  _docs/rules/powershell/PSMissingModuleManifestField.mdx
  _docs/rules/powershell/PSProvideCommentHelp.mdx
  _docs/rules/powershell/PSReservedCmdletChar.mdx
  _docs/rules/powershell/PSReservedParams.mdx
  _docs/rules/powershell/PSReviewUnusedParameter.mdx
  _docs/rules/powershell/PSShouldProcess.mdx
  _docs/rules/powershell/PSUseApprovedVerbs.mdx
  _docs/rules/powershell/PSUseBOMForUnicodeEncodedFile.mdx
  _docs/rules/powershell/PSUseOutputTypeCorrectly.mdx
  _docs/rules/powershell/PSUseProcessBlockForPipelineCommand.mdx
  _docs/rules/powershell/PSUseShouldProcessForStateChangingFunctions.mdx
  _docs/rules/powershell/PSUseSingularNouns.mdx
  _docs/rules/powershell/PSUseSupportsShouldProcess.mdx
  _docs/rules/powershell/PSUseToExportFieldsInManifest.mdx
  _docs/rules/powershell/PSUseUTF8EncodingForHelpFile.mdx
  _docs/rules/powershell/PowerShell.mdx
  internal/integration/fixtures/fix/real-world-metalama/report_1.snap.md
  internal/integration/fixtures/fix/real-world-teamcity-nanoserver/report_1.snap.md
  internal/rules/powershell/powershell_test.go
  internal/rules/powershell/settings.go
Due: format-go, lint-go, typos

feat(facts): add internal/facts/ruby for Ruby/Rails project state
  internal/facts/facts.go
  internal/facts/facts_test.go
  internal/facts/ruby/facts.go
  internal/facts/ruby/facts_test.go
  internal/facts/ruby/gemfile.go
  internal/facts/ruby/gemfile_test.go
  internal/facts/ruby/lockfile.go
  internal/facts/ruby/lockfile_test.go
  internal/facts/ruby/ruby_version.go
  internal/facts/ruby/ruby_version_test.go
  internal/facts/ruby/testdata/Gemfile.basic
  internal/facts/ruby/testdata/Gemfile.no-dev-group
  internal/facts/ruby/testdata/Gemfile.with-git-gems
  internal/facts/ruby/testdata/gemfile.lock.basic
  internal/facts/ruby/testdata/gemfile.lock.no-bundled-with-block
  internal/facts/ruby/testdata/gemfile.lock.with-git-source
  internal/facts/ruby/testdata/gemfile.lock.with-native-extensions
  internal/facts/ruby/testdata/gemfile.lock.with-private-source
  internal/facts/ruby/testdata/ruby-version.basic
  internal/facts/ruby/testdata/tool-versions.basic
Due: format-go, lint-go

fix(facts): respect .dockerignore, multi-line gem decls, no-remote sections
  internal/facts/ruby/facts.go
  internal/facts/ruby/facts_test.go
  internal/facts/ruby/gemfile.go
  internal/facts/ruby/gemfile_test.go
  internal/facts/ruby/lockfile.go
  internal/facts/ruby/lockfile_test.go
  internal/facts/ruby/testdata/Gemfile.with-git-gems
Due: format-go, lint-go

fix(facts): simplify gemfile gating and ruby version extraction
  internal/facts/ruby/facts.go
  internal/facts/ruby/gemfile.go
  internal/facts/ruby/gemfile_test.go
Due: format-go, lint-go

fix(facts): detect block-form git sources and parenthesized gem calls
  internal/facts/ruby/gemfile.go
  internal/facts/ruby/gemfile_test.go
Due: format-go, lint-go

fix(facts): accept parenthesized group blocks in Gemfile parser
  internal/facts/ruby/gemfile.go
  internal/facts/ruby/gemfile_test.go
Due: format-go, lint-go

feat(facts): add internal/facts/ruby for Ruby/Rails project state (#665)
  internal/facts/facts.go
  internal/facts/facts_test.go
  internal/facts/ruby/facts.go
  internal/facts/ruby/facts_test.go
  internal/facts/ruby/gemfile.go
  internal/facts/ruby/gemfile_test.go
  internal/facts/ruby/lockfile.go
  internal/facts/ruby/lockfile_test.go
  internal/facts/ruby/ruby_version.go
  internal/facts/ruby/ruby_version_test.go
  internal/facts/ruby/testdata/Gemfile.basic
  internal/facts/ruby/testdata/Gemfile.no-dev-group
  internal/facts/ruby/testdata/Gemfile.with-git-gems
  internal/facts/ruby/testdata/gemfile.lock.basic
  internal/facts/ruby/testdata/gemfile.lock.no-bundled-with-block
  internal/facts/ruby/testdata/gemfile.lock.with-git-source
  internal/facts/ruby/testdata/gemfile.lock.with-native-extensions
  internal/facts/ruby/testdata/gemfile.lock.with-private-source
  internal/facts/ruby/testdata/ruby-version.basic
  internal/facts/ruby/testdata/tool-versions.basic
Due: format-go, lint-go

feat(rules): add tally/ruby/bootsnap-precompile-without-j1
  _docs/rules/tally/ruby/bootsnap-precompile-without-j1.mdx
  internal/integration/fixtures/fix/ruby-bootsnap-precompile-without-j1/Dockerfile
  internal/integration/fixtures/fix/ruby-bootsnap-precompile-without-j1/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/ruby-bootsnap-precompile-without-j1/report_1.snap.md
  internal/integration/fixtures/lint/ruby-bootsnap-precompile-without-j1/Dockerfile
  internal/integration/fixtures/lint/ruby-bootsnap-precompile-without-j1/result_1.snap.json
  internal/integration/fixtures/lint/ruby-bootsnap-precompile-without-j1/stderr_1.snap.txt
  internal/integration/lint_cases_test.go
  internal/integration/testdata/ruby-bootsnap-with-lockfile/Dockerfile
  internal/integration/testdata/ruby-bootsnap-with-lockfile/Gemfile.lock
  internal/integration/testdata/ruby-bootsnap-without-lockfile/Dockerfile
  internal/integration/testdata/ruby-bootsnap-without-lockfile/Gemfile.lock
  internal/rules/tally/ruby/bootsnap_precompile_without_j1.go
  internal/rules/tally/ruby/bootsnap_precompile_without_j1_test.go
Due: format-go, lint-go, typos

test: add bootsnap context-aware fixture snapshots
  internal/integration/__snapshots__/TestLint_ruby-bootsnap-with-lockfile_1.snap.json
  internal/integration/__snapshots__/TestLint_ruby-bootsnap-without-lockfile_1.snap.json
Due: typos

test(rules): scope bootsnap fixtures to single rule for CI determinism
  internal/integration/fixtures/fix/ruby-bootsnap-precompile-without-j1/.tally.toml
  internal/integration/fixtures/fix/ruby-bootsnap-precompile-without-j1/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/ruby-bootsnap-precompile-without-j1/report_1.snap.md
  internal/integration/fixtures/lint/ruby-bootsnap-precompile-without-j1/.tally.toml
  internal/integration/fixtures/lint/ruby-bootsnap-precompile-without-j1/result_1.snap.json
  internal/integration/fixtures/lint/ruby-bootsnap-precompile-without-j1/stderr_1.snap.txt
Due: taplo, typos

fix(rules): bootsnap rule — quote-aware command-end scan, real platform-guard match
  internal/rules/tally/ruby/bootsnap_precompile_without_j1.go
  internal/rules/tally/ruby/bootsnap_precompile_without_j1_test.go
Due: format-go, lint-go

feat(rules): add tally/ruby/bootsnap-precompile-without-j1 (#666)
  _docs/rules/tally/ruby/bootsnap-precompile-without-j1.mdx
  internal/integration/__snapshots__/TestLint_ruby-bootsnap-with-lockfile_1.snap.json
  internal/integration/__snapshots__/TestLint_ruby-bootsnap-without-lockfile_1.snap.json
  internal/integration/fixtures/fix/ruby-bootsnap-precompile-without-j1/.tally.toml
  internal/integration/fixtures/fix/ruby-bootsnap-precompile-without-j1/Dockerfile
  internal/integration/fixtures/fix/ruby-bootsnap-precompile-without-j1/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/ruby-bootsnap-precompile-without-j1/report_1.snap.md
  internal/integration/fixtures/lint/ruby-bootsnap-precompile-without-j1/.tally.toml
  internal/integration/fixtures/lint/ruby-bootsnap-precompile-without-j1/Dockerfile
  internal/integration/fixtures/lint/ruby-bootsnap-precompile-without-j1/result_1.snap.json
  internal/integration/fixtures/lint/ruby-bootsnap-precompile-without-j1/stderr_1.snap.txt
  internal/integration/lint_cases_test.go
  internal/integration/testdata/ruby-bootsnap-with-lockfile/Dockerfile
  internal/integration/testdata/ruby-bootsnap-with-lockfile/Gemfile.lock
  internal/integration/testdata/ruby-bootsnap-without-lockfile/Dockerfile
  internal/integration/testdata/ruby-bootsnap-without-lockfile/Gemfile.lock
  internal/rules/tally/ruby/bootsnap_precompile_without_j1.go
  internal/rules/tally/ruby/bootsnap_precompile_without_j1_test.go
Due: format-go, lint-go, taplo, typos

feat(rules): add tally/ruby/missing-bundle-without-development
  _docs/rules/tally/ruby/missing-bundle-without-development.mdx
  internal/integration/__snapshots__/TestLint_ruby-bundle-without-dev-and-test_1.snap.json
  internal/integration/__snapshots__/TestLint_ruby-bundle-without-no-dev-group_1.snap.json
  internal/integration/fixtures/fix/ruby-missing-bundle-without-development/Dockerfile
  internal/integration/fixtures/fix/ruby-missing-bundle-without-development/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/ruby-missing-bundle-without-development/report_1.snap.md
  internal/integration/fixtures/lint/ruby-missing-bundle-without-development/.tally.toml
  internal/integration/fixtures/lint/ruby-missing-bundle-without-development/Dockerfile
  internal/integration/fixtures/lint/ruby-missing-bundle-without-development/result_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/ruby-bundle-without-dev-and-test/Dockerfile
  internal/integration/testdata/ruby-bundle-without-dev-and-test/Gemfile
  internal/integration/testdata/ruby-bundle-without-no-dev-group/Dockerfile
  internal/integration/testdata/ruby-bundle-without-no-dev-group/Gemfile
  internal/rules/tally/ruby/missing_bundle_without_development.go
  internal/rules/tally/ruby/missing_bundle_without_development_test.go
Due: format-go, lint-go, taplo, typos

test(rules): scope missing-bundle-without-development fixture for CI determinism
  internal/integration/fixtures/fix/ruby-missing-bundle-without-development/.tally.toml
  internal/integration/fixtures/fix/ruby-missing-bundle-without-development/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/ruby-missing-bundle-without-development/report_1.snap.md
Due: taplo, typos

fix(rules): bundle-without-dev — evaluate compliance per-RUN, honor instruction order
  internal/rules/tally/ruby/missing_bundle_without_development.go
  internal/rules/tally/ruby/missing_bundle_without_development_test.go
Due: format-go, lint-go

fix(rules): bundle-without-dev — improve detail wording, fix sentinel-error test
  internal/integration/__snapshots__/TestLint_ruby-bundle-without-dev-and-test_1.snap.json
  internal/integration/fixtures/lint/ruby-missing-bundle-without-development/result_1.snap.json
  internal/rules/tally/ruby/missing_bundle_without_development.go
  internal/rules/tally/ruby/missing_bundle_without_development_test.go
Due: format-go, lint-go, typos

feat(rules): add tally/ruby/missing-bundle-without-development (#667)
  _docs/rules/tally/ruby/missing-bundle-without-development.mdx
  internal/integration/__snapshots__/TestLint_ruby-bundle-without-dev-and-test_1.snap.json
  internal/integration/__snapshots__/TestLint_ruby-bundle-without-no-dev-group_1.snap.json
  internal/integration/fixtures/fix/ruby-missing-bundle-without-development/.tally.toml
  internal/integration/fixtures/fix/ruby-missing-bundle-without-development/Dockerfile
  internal/integration/fixtures/fix/ruby-missing-bundle-without-development/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/ruby-missing-bundle-without-development/report_1.snap.md
  internal/integration/fixtures/lint/ruby-missing-bundle-without-development/.tally.toml
  internal/integration/fixtures/lint/ruby-missing-bundle-without-development/Dockerfile
  internal/integration/fixtures/lint/ruby-missing-bundle-without-development/result_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/ruby-bundle-without-dev-and-test/Dockerfile
  internal/integration/testdata/ruby-bundle-without-dev-and-test/Gemfile
  internal/integration/testdata/ruby-bundle-without-no-dev-group/Dockerfile
  internal/integration/testdata/ruby-bundle-without-no-dev-group/Gemfile
  internal/rules/tally/ruby/missing_bundle_without_development.go
  internal/rules/tally/ruby/missing_bundle_without_development_test.go
Due: format-go, lint-go, taplo, typos

fix(rules): asset-precompile — scope inline dummy-key, restore sm nil-guard, doc
  _docs/rules/tally/ruby/asset-precompile-without-dummy-key.mdx
  internal/rules/tally/ruby/asset_precompile_without_dummy_key.go
  internal/rules/tally/ruby/asset_precompile_without_dummy_key_test.go
Due: format-go, lint-go

feat(rules): add tally/ruby/asset-precompile-without-dummy-key
  _docs/rules/tally/ruby/asset-precompile-without-dummy-key.mdx
  internal/facts/ruby/facts.go
  internal/facts/ruby/facts_test.go
  internal/integration/__snapshots__/TestLint_ruby-asset-precompile-no-credentials_1.snap.json
  internal/integration/__snapshots__/TestLint_ruby-asset-precompile-rails-old_1.snap.json
  internal/integration/fixtures/fix/ruby-asset-precompile-without-dummy-key/.tally.toml
  internal/integration/fixtures/fix/ruby-asset-precompile-without-dummy-key/Dockerfile
  internal/integration/fixtures/fix/ruby-asset-precompile-without-dummy-key/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/ruby-asset-precompile-without-dummy-key/report_1.snap.md
  internal/integration/fixtures/lint/ruby-asset-precompile-without-dummy-key/.tally.toml
  internal/integration/fixtures/lint/ruby-asset-precompile-without-dummy-key/Dockerfile
  internal/integration/fixtures/lint/ruby-asset-precompile-without-dummy-key/result_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/ruby-asset-precompile-no-credentials/Dockerfile
  internal/integration/testdata/ruby-asset-precompile-no-credentials/Gemfile.lock
  internal/integration/testdata/ruby-asset-precompile-rails-old/Dockerfile
  internal/integration/testdata/ruby-asset-precompile-rails-old/Gemfile.lock
  internal/rules/tally/ruby/asset_precompile_without_dummy_key.go
  internal/rules/tally/ruby/asset_precompile_without_dummy_key_test.go
Due: format-go, lint-go, taplo, typos

feat(rules): add tally/ruby/asset-precompile-without-dummy-key (#668)
  _docs/rules/tally/ruby/asset-precompile-without-dummy-key.mdx
  internal/facts/ruby/facts.go
  internal/facts/ruby/facts_test.go
  internal/integration/__snapshots__/TestLint_ruby-asset-precompile-no-credentials_1.snap.json
  internal/integration/__snapshots__/TestLint_ruby-asset-precompile-rails-old_1.snap.json
  internal/integration/fixtures/fix/ruby-asset-precompile-without-dummy-key/.tally.toml
  internal/integration/fixtures/fix/ruby-asset-precompile-without-dummy-key/Dockerfile
  internal/integration/fixtures/fix/ruby-asset-precompile-without-dummy-key/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/ruby-asset-precompile-without-dummy-key/report_1.snap.md
  internal/integration/fixtures/lint/ruby-asset-precompile-without-dummy-key/.tally.toml
  internal/integration/fixtures/lint/ruby-asset-precompile-without-dummy-key/Dockerfile
  internal/integration/fixtures/lint/ruby-asset-precompile-without-dummy-key/result_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/ruby-asset-precompile-no-credentials/Dockerfile
  internal/integration/testdata/ruby-asset-precompile-no-credentials/Gemfile.lock
  internal/integration/testdata/ruby-asset-precompile-rails-old/Dockerfile
  internal/integration/testdata/ruby-asset-precompile-rails-old/Gemfile.lock
  internal/rules/tally/ruby/asset_precompile_without_dummy_key.go
  internal/rules/tally/ruby/asset_precompile_without_dummy_key_test.go
Due: format-go, lint-go, taplo, typos

feat(rules): add tally/ruby/redundant-bundler-install
  _docs/rules/tally/ruby/redundant-bundler-install.mdx
  internal/integration/fixtures/fix/ruby-redundant-bundler-install/.tally.toml
  internal/integration/fixtures/fix/ruby-redundant-bundler-install/Dockerfile
  internal/integration/fixtures/fix/ruby-redundant-bundler-install/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/ruby-redundant-bundler-install/report_1.snap.md
  internal/integration/fixtures/lint/ruby-redundant-bundler-install/.tally.toml
  internal/integration/fixtures/lint/ruby-redundant-bundler-install/Dockerfile
  internal/integration/fixtures/lint/ruby-redundant-bundler-install/result_1.snap.json
  internal/rules/tally/ruby/redundant_bundler_install.go
  internal/rules/tally/ruby/redundant_bundler_install_test.go
Due: format-go, lint-go, taplo, typos
