Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

format-go:
  run: gofmt -w -s {staged_files}
  stage_fixed: true

lint-go:
  run: GOEXPERIMENT=jsonv2 make lint-fix
  stage_fixed: true

ts-typecheck:
  run: bunx @typescript/native-preview --noEmit

ts-lint:
  run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
  stage_fixed: true

ts-format:
  run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
  stage_fixed: true

taplo:
  run: bunx -y -q @taplo/cli format {staged_files}
  stage_fixed: true

yamllint:
  run: uvx yamllint {staged_files}

format-yml:
  run: yamlfmt {staged_files}
  stage_fixed: true

typos:
  run: uv tool run typos==1.43.4 --force-exclude {staged_files}

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

actionlint:
  run: actionlint {staged_files}

commitlint-config:
  run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml

docs: add LSP notes for async checks
  design-docs/15-async-checks.md
Due: typos

docs: commit to buildkit-native async types
  design-docs/15-async-checks.md
Due: typos

docs: add fail-fast cancel option
  design-docs/15-async-checks.md
Due: typos

docs: define timeout queue semantics
  design-docs/15-async-checks.md
Due: typos

docs: clarify default target platform semantics
  design-docs/15-async-checks.md
Due: typos

docs: clarify in-run cache error ttl retries
  design-docs/15-async-checks.md
Due: typos

docs: async checks design (#104)
  design-docs/15-async-checks.md
  design-docs/README.md
Due: typos

feat(buildkit): implement UndefinedVar (#103)
  README.md
  RULES.md
  internal/integration/__snapshots__/TestCheck_buildkit-warnings_1.snap.json
  internal/integration/__snapshots__/TestCheck_copy-from-own-alias_1.snap.json
  internal/integration/__snapshots__/TestCheck_duplicate-stage-name_1.snap.json
  internal/integration/__snapshots__/TestCheck_fail-level-error_1.snap.json
  internal/integration/__snapshots__/TestCheck_fail-level-none_1.snap.json
  internal/integration/__snapshots__/TestCheck_fail-level-warning_1.snap.json
  internal/integration/__snapshots__/TestCheck_invalid-instruction-order_1.snap.json
  internal/integration/__snapshots__/TestCheck_multiple-healthcheck_1.snap.json
  internal/integration/__snapshots__/TestCheck_no-from-instruction_1.snap.json
  internal/integration/__snapshots__/TestCheck_onbuild-forbidden_1.snap.json
  internal/integration/__snapshots__/TestCheck_total-rules-enabled_1.snap.json
  internal/integration/__snapshots__/TestCheck_undefined-var_1.snap.json
  internal/integration/__snapshots__/TestFix_consistent-indentation-multi-line-continuation_1.snap.Dockerfile
  internal/integration/integration_test.go
  internal/integration/testdata/undefined-var/Dockerfile
  internal/rules/buildkit/__snapshots__/TestUndefinedVarRule_Metadata_1.snap.json
  internal/rules/buildkit/undefined_var.go
  internal/rules/buildkit/undefined_var_test.go
  internal/semantic/builder.go
  internal/semantic/stage_info.go
  internal/semantic/undefined_var.go
Due: format-go, lint-go, typos

fix(async): properly merge async UndefinedVar results with stage chain propagation
  cmd/tally/cmd/check.go
  internal/async/runtime.go
  internal/async/types.go
  internal/integration/__snapshots__/TestCheck_slow-checks-undefined-var-multi-stage_1.snap.json
  internal/integration/__snapshots__/TestCheck_slow-checks-undefined-var-still-caught_1.snap.json
  internal/integration/integration_test.go
  internal/integration/testdata/slow-checks-undefined-var-enhanced/Dockerfile
  internal/integration/testdata/slow-checks-undefined-var-multi-stage/Dockerfile
  internal/integration/testdata/slow-checks-undefined-var-still-caught/Dockerfile
  internal/rules/buildkit/undefined_var.go
  internal/rules/buildkit/undefined_var_test.go
  internal/semantic/semantic.go
Due: format-go, lint-go, typos

chore: fix deadcode, update README rule count
  README.md
  RULES.md
  internal/async/resolver.go
  internal/integration/__snapshots__/TestCheck_slow-checks-disabled-ci_1.snap.txt
  internal/integration/integration_test.go
  internal/integration/testdata/slow-checks-disabled-ci/Dockerfile
  internal/registry/testutil/mockregistry_test.go
  internal/semantic/platform.go
Due: format-go, lint-go, typos

fix: skip async checks when platform has unresolved ARGs
  internal/rules/buildkit/invalid_base_image_platform.go
  internal/rules/buildkit/undefined_var.go
Due: format-go, lint-go

fix: make async merge stage-aware to preserve non-async stage violations
  cmd/tally/cmd/check.go
  internal/async/runtime.go
  internal/rules/buildkit/invalid_base_image_platform.go
  internal/rules/buildkit/undefined_var.go
  internal/rules/violation.go
Due: format-go, lint-go

fix: propagate PlatformMismatchError to handlers with available platforms
  internal/async/runtime.go
  internal/async/types.go
  internal/integration/__snapshots__/TestCheck_slow-checks-platform-mismatch_1.snap.json
  internal/integration/integration_test.go
  internal/registry/async_resolver.go
  internal/registry/resolver_test.go
  internal/rules/buildkit/invalid_base_image_platform.go
  internal/rules/buildkit/invalid_base_image_platform_test.go
  internal/rules/buildkit/undefined_var.go
Due: format-go, lint-go, typos

fix: narrow resultMu lock scope in async runtime
  internal/async/runtime.go
Due: format-go, lint-go

fix: guard against nil SystemContext in NewContainersResolverWithContext
  internal/registry/containers.go
Due: format-go, lint-go

fix: add comment explaining ignored error in NewContainersResolver
  internal/registry/containers.go
Due: format-go, lint-go

fix: respect DOCKER_DEFAULT_PLATFORM in automatic platform ARGs
  internal/integration/__snapshots__/TestCheck_slow-checks-platform-meta-arg_1.snap.json
  internal/integration/__snapshots__/TestCheck_slow-checks-platform-target-arg_1.snap.json
  internal/integration/integration_test.go
  internal/integration/testdata/slow-checks-platform-meta-arg/Dockerfile
  internal/integration/testdata/slow-checks-platform-target-arg/Dockerfile
  internal/semantic/from_env.go
Due: format-go, lint-go, typos

fix: run fail-fast after applying rule filters
  cmd/tally/cmd/check.go
Due: format-go, lint-go

fix: use max timeout when deduplicating async requests
  internal/async/runtime.go
Due: format-go, lint-go

docs: update hadolint rule count in README
  README.md
  RULES.md
Due: typos

feat: emit set -o pipefail in heredoc when DL4006 is enabled
  internal/fix/heredoc_resolver.go
  internal/heredoc/format.go
  internal/integration/__snapshots__/TestCheck_dl4006-cross-rules_1.snap.json
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_dl4006-cross-heredoc_1.snap.Dockerfile
  internal/integration/integration_test.go
  internal/integration/testdata/dl4006-cross-rules/Dockerfile
  internal/rules/heredoc_data.go
  internal/rules/tally/prefer_heredoc.go
  internal/rules/tally/prefer_heredoc_test.go
Due: format-go, lint-go, typos

fix: VSCode tests
  .github/workflows/vscode-smoke.yml
  .vscode/settings.json
  extensions/vscode-tally/test/e2e/smoke.test.ts
Due: ts-typecheck, ts-lint, ts-format, yamllint, format-yml, typos, actionlint

docs: update README rule count for DL3057
  README.md
Due: typos

refactor: extract shared async plan helper to asyncutil package
  internal/rules/asyncutil/plan.go
  internal/rules/buildkit/async_helpers.go
  internal/rules/hadolint/dl3057.go
Due: format-go, lint-go

fix: address PR review comment
  internal/rules/hadolint/dl3057.go
  internal/rules/hadolint/dl3057_test.go
Due: format-go, lint-go

feat(hadolint): implement DL3057 with async HEALTHCHECK resolution (#110)
  README.md
  RULES.md
  docs/rules/tally/prefer-copy-heredoc.md
  docs/rules/tally/prefer-run-heredoc.md
  extensions/vscode-tally/test/e2e/smoke.test.ts
  extensions/vscode-tally/test/suite/index.js
  internal/integration/__snapshots__/TestCheck_dl3057_1.snap.json
  internal/integration/__snapshots__/TestCheck_slow-checks-healthcheck-inherited_1.snap.json
  internal/integration/__snapshots__/TestCheck_slow-checks-healthcheck-missing-confirmed_1.snap.json
  internal/integration/__snapshots__/TestCheck_slow-checks-healthcheck-none-useless_1.snap.json
  internal/integration/integration_test.go
  internal/integration/testdata/dl3057/Dockerfile
  internal/integration/testdata/slow-checks-healthcheck-inherited/Dockerfile
  internal/integration/testdata/slow-checks-healthcheck-missing-confirmed/Dockerfile
  internal/integration/testdata/slow-checks-healthcheck-none-useless/Dockerfile
  internal/integration/testdata/total-rules-enabled/Dockerfile
  internal/lsptest/__snapshots__/TestLSP_DiagnosticsOnDidOpen_1.snap.json
  internal/registry/containers.go
  internal/registry/oci.go
  internal/registry/resolver.go
  internal/registry/testutil/mockregistry.go
  internal/rules/asyncutil/plan.go
  internal/rules/buildkit/async_helpers.go
  internal/rules/hadolint-status.json
  internal/rules/hadolint/__snapshots__/TestDL3057Rule_Metadata_1.snap.json
  internal/rules/hadolint/dl3057.go
  internal/rules/hadolint/dl3057_test.go
  internal/testutil/testutil.go
Due: format-go, lint-go, ts-typecheck, ts-lint, ts-format, typos

fix: deduplicate repeated invalid commands in DL3001 message
  internal/rules/hadolint/dl3001.go
  internal/rules/hadolint/dl3001_test.go
Due: format-go, lint-go

fix: add regression test for ONBUILD violation source location
  internal/rules/hadolint/dl3014_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/semantic/builder_test.go
Due: format-go, lint-go

feat(hadolint): implement DL3001 + centralized ONBUILD support (#111)
  README.md
  RULES.md
  go.mod
  go.sum
  internal/integration/__snapshots__/TestCheck_dl3001_1.snap.json
  internal/integration/__snapshots__/TestCheck_total-rules-enabled_1.snap.json
  internal/integration/integration_test.go
  internal/integration/testdata/dl3001/Dockerfile
  internal/rules/hadolint-status.json
  internal/rules/hadolint/__snapshots__/TestDL3001Rule_Metadata_1.snap.json
  internal/rules/hadolint/dl3001.go
  internal/rules/hadolint/dl3001_test.go
  internal/rules/hadolint/dl3014_test.go
  internal/rules/hadolint/dl3027.go
  internal/rules/hadolint/dl3027_test.go
  internal/rules/hadolint/dl3030_test.go
  internal/rules/hadolint/dl3034_test.go
  internal/rules/hadolint/dl3038_test.go
  internal/rules/hadolint/helpers.go
  internal/semantic/builder.go
  internal/semantic/builder_test.go
  internal/semantic/semantic.go
  internal/semantic/stage_info.go
  schema.json
Due: format-go, lint-go, typos

refactor: split integration test suite into focused files
  AGENTS.md
  design-docs/16-integration-tests-refactor-and-placement.md
  design-docs/README.md
  internal/integration/check_cases_test.go
  internal/integration/check_test.go
  internal/integration/fix_cases_test.go
  internal/integration/fix_scenarios_test.go
  internal/integration/fix_test.go
  internal/integration/harness_test.go
  internal/integration/integration_test.go
  internal/integration/main_test.go
  internal/integration/version_test.go
Due: format-go, lint-go, typos

test: assert expected exit code 1 in fix scenario tests
  internal/integration/fix_scenarios_test.go
Due: format-go, lint-go

test: assert exact fix counts in integration harness
  internal/integration/fix_cases_test.go
  internal/integration/harness_test.go
Due: format-go, lint-go

test: document empty config for scenario isolation
  internal/integration/fix_scenarios_test.go
Due: format-go, lint-go

test: extract shared exit-code-1 assertion helper
  internal/integration/fix_scenarios_test.go
  internal/integration/harness_test.go
Due: format-go, lint-go

test: snapshot heredoc formatter outputs
  internal/rules/tally/__snapshots__/TestFormatHeredocWithMounts_with_cache_mount_1.snap.Dockerfile
  internal/rules/tally/__snapshots__/TestFormatHeredocWithMounts_with_multiple_mounts_1.snap.Dockerfile
  internal/rules/tally/__snapshots__/TestFormatHeredocWithMounts_without_mounts_1.snap.Dockerfile
  internal/rules/tally/__snapshots__/TestFormatHeredocWithPipefail_pipefail_adds_set_-o_pipefail_1.snap.Dockerfile
  internal/rules/tally/__snapshots__/TestFormatHeredocWithPipefail_pipefail_deduplicates_bare_set_-o_pipefail_1.snap.Dockerfile
  internal/rules/tally/__snapshots__/TestFormatHeredocWithPipefail_pipefail_false_omits_set_-o_pipefail_1.snap.Dockerfile
  internal/rules/tally/__snapshots__/TestFormatHeredocWithPipefail_pipefail_preserves_set_-euo_pipefail_1.snap.Dockerfile
  internal/rules/tally/prefer_heredoc_test.go
Due: format-go, lint-go

test: snapshot prefer-copy-heredoc output
  internal/rules/tally/__snapshots__/TestBuildCopyHeredoc_content_containing_EOF_1.snap.Dockerfile
  internal/rules/tally/__snapshots__/TestBuildCopyHeredoc_empty_content_creates_0-byte_file_1.snap.Dockerfile
  internal/rules/tally/__snapshots__/TestBuildCopyHeredoc_simple_content_1.snap.Dockerfile
  internal/rules/tally/__snapshots__/TestBuildCopyHeredoc_with_chmod_1.snap.Dockerfile
  internal/rules/tally/prefer_copy_heredoc_test.go
Due: format-go, lint-go

feat(ai): implement ACP auto-fix resolver
  cmd/tally/cmd/lint.go
  docs/rules/tally/prefer-multi-stage-build.md
  internal/ai/acp/testdata/testagent/main.go
  internal/ai/autofix/blocking.go
  internal/ai/autofix/parse.go
  internal/ai/autofix/prompt.go
  internal/ai/autofix/register.go
  internal/ai/autofix/resolver.go
  internal/ai/autofix/validate.go
  internal/ai/autofixdata/autofixdata.go
  internal/fix/fixer.go
  internal/integration/__snapshots__/TestFix_ai-autofix-prefer-multi-stage-build_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/main_test.go
  internal/rules/tally/__snapshots__/TestPreferMultiStageBuildRule_Metadata_1.snap.json
  internal/rules/tally/prefer_multi_stage_build.go
  internal/rules/tally/prefer_multi_stage_build_test.go
  schema.json
Due: format-go, lint-go, typos

chore: sync README rules
  README.md
Due: typos

Path conditions:
  format-go: any of: **/*.go
  lint-go: any of: **/*.go
  ts-typecheck: any of: extensions/vscode-tally/**/*.ts and ^extensions/vscode\-tally/
  ts-lint: any of: extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts} and ^extensions/vscode\-tally/
  ts-format: any of: *.{js,ts,cjs,mjs,mts,cts,jsx,tsx} and ^extensions/vscode\-tally/
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  format-yml: any of: {.yamlfmt,*.yml,*.yaml}
  typos: any of: *.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}
  codecov: any of: .codecov.yml
  actionlint: any of: .github/workflows/*.{yaml,yml}
  commitlint-config: any of: .commitlintrc.yaml
