Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

format-go:
  run: gofmt -w -s {staged_files}
  stage_fixed: true

lint-go:
  run: GOEXPERIMENT=jsonv2 make lint-fix
  stage_fixed: true

ts-typecheck:
  run: bunx @typescript/native-preview --noEmit

ts-lint:
  run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
  stage_fixed: true

ts-format:
  run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
  stage_fixed: true

taplo:
  run: bunx -y -q @taplo/cli format {staged_files}
  stage_fixed: true

yamllint:
  run: uvx yamllint {staged_files}

format-yml:
  run: yamlfmt {staged_files}
  stage_fixed: true

typos:
  run: uv tool run typos==1.43.4 --force-exclude {staged_files}

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

actionlint:
  run: actionlint {staged_files}

commitlint-config:
  run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml

fix: set merge
  scripts/merge-go-coverprofiles.sh
Due: none

fix: address PR review comment
  scripts/merge-go-coverprofiles.sh
Due: none

Chore/merge coverage (#275)
  .github/workflows/ci.yml
  .serena/project.yml
  internal/integration/main_test.go
  internal/lsptest/setup_test.go
  scripts/merge-go-coverprofiles.sh
Due: format-go, lint-go, yamllint, format-yml, typos, actionlint

fix: repair goreleaser config anchors
  .goreleaser.yml
Due: yamllint, format-yml, typos

zed: set extension version to 0.25.0
  _integrations/zed-tally/Cargo.toml
  _integrations/zed-tally/extension.toml
Due: taplo, typos

fix: disable local git lfs filters in release build
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

zed: set extension version to 0.25.1
  _integrations/zed-tally/Cargo.toml
  _integrations/zed-tally/extension.toml
Due: taplo, typos

fix: install git-lfs in goreleaser-cross
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

zed: set extension version to 0.25.2
  _integrations/zed-tally/Cargo.toml
  _integrations/zed-tally/extension.toml
Due: taplo, typos

fix: run goreleaser-cross entrypoint in release
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

zed: set extension version to 0.25.3
  _integrations/zed-tally/Cargo.toml
  _integrations/zed-tally/extension.toml
Due: taplo, typos

fix: drop unsupported windows arm64 release target
  .github/workflows/release.yml
  .goreleaser.yml
Due: yamllint, format-yml, typos, actionlint

revert: restore windows arm64 release target
  .github/workflows/release.yml
  .goreleaser.yml
Due: yamllint, format-yml, typos, actionlint

refactor: migrate release workflow to native matrix
  .github/workflows/release.yml
  Makefile
  _integrations/zed-tally/src/tally.rs
  design-docs/17-intellij-plugin-lean-build.md
  packaging/pack.rb
  scripts/release/package_release_artifact.py
Due: yamllint, format-yml, typos, actionlint

refactor: move pypi packaging into hatch build hooks
  .github/workflows/release.yml
  Makefile
  packaging/pack.rb
  packaging/pypi/hatch_build.py
  packaging/pypi/pyproject.toml
Due: taplo, yamllint, format-yml, typos, actionlint

fix: gate zed publishing on release artifacts
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

fix: install msys2 on windows arm64 runners
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

fix: restore dist layout in release jobs
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

fix: use local linux checksums for homebrew dry runs
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

fix: address PR review comment
  packaging/pypi/hatch_build.py
  packaging/pypi/test_hatch_build.py
Due: typos

chore: remove obsolete publish-pypi target
  Makefile
Due: none

fix: remove stale hatch restore call
  packaging/pypi/hatch_build.py
Due: typos

fix: align vscode extension engine with api types
  _integrations/vscode-tally/bun.lock
  _integrations/vscode-tally/package.json
Due: typos

chore: disable automerge for vscode api type updates
  renovate.json
Due: typos

ci: avoid lfs checkout outside go binary builds
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/sync-buildkit-rules.yml
  .github/workflows/sync-hadolint-rules.yml
  .github/workflows/zed-extension.yml
Due: yamllint, format-yml, typos, actionlint

fix: support npm prerelease dry runs
  packaging/npm/tally/package.json
  packaging/pack.rb
Due: typos

ci: use jetbrains custom channel for pr dry runs
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

refactor: make npm release packaging self-contained
  .github/workflows/release.yml
  Makefile
  _integrations/zed-tally/src/tally.rs
  packaging/npm/.gitignore
  packaging/npm/bin/cli.js
  packaging/npm/bin/platform-packages.js
  packaging/npm/bin/prepublish.js
  packaging/npm/package.json
  packaging/npm/platform-targets.json
  packaging/npm/tally-darwin-arm64/package.json
  packaging/npm/tally-darwin-x64/package.json
  packaging/npm/tally-freebsd-x64/package.json
  packaging/npm/tally-linux-arm64/package.json
  packaging/npm/tally-linux-x64/package.json
  packaging/npm/tally-windows-arm64/package.json
  packaging/npm/tally-windows-x64/package.json
  packaging/npm/tally/bin/cli.js
  packaging/pack.rb
Due: yamllint, format-yml, typos, actionlint

refactor: keep npm publish scripts out of package
  packaging/npm/bin/cli.js
  packaging/npm/lib/platform-packages.js
  packaging/npm/package.json
  packaging/npm/scripts/publish-release.js
Due: typos

refactor: drive npm platform packages from prepublish
  .github/workflows/release.yml
  Makefile
  packaging/npm/package.json
  packaging/npm/scripts/publish-release.js
Due: yamllint, format-yml, typos, actionlint

chore: drop npm publish make target
  Makefile
Due: none

refactor: move rubygems packaging into rake
  .github/workflows/release.yml
  Makefile
  packaging/pack.rb
  packaging/rubygems/.gitignore
  packaging/rubygems/Rakefile
  packaging/rubygems/bin/tally
  packaging/rubygems/tally-cli.gemspec
Due: yamllint, format-yml, typos, actionlint

refactor: align packaging docs and legal file staging
  packaging/npm/.gitignore
  packaging/npm/scripts/publish-release.js
  packaging/pypi/.gitignore
  packaging/pypi/LICENSE
  packaging/pypi/NOTICE
  packaging/pypi/hatch_build.py
  packaging/rubygems/LICENSE
  packaging/rubygems/NOTICE
  packaging/rubygems/README.md
  packaging/rubygems/Rakefile
  packaging/rubygems/tally-cli.gemspec
Due: typos

fix: track npm package README
  .gitignore
  packaging/npm/README.md
Due: typos

chore: remove stale goreleaser leftovers
  .goreleaser.yml
  Makefile
  _integrations/zed-tally/src/tally.rs
Due: yamllint, format-yml, typos

docs: clarify release workflow ownership
  AGENTS.md
  CLAUDE.md
Due: typos

fix: pass repo to gh release commands
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

zed: set extension version to 0.26.1
  _integrations/zed-tally/Cargo.toml
  _integrations/zed-tally/extension.toml
Due: taplo, typos

fix: restore package runner entrypoints
  packaging/npm/package.json
  packaging/pypi/pyproject.toml
Due: taplo, typos

Path conditions:
  format-go: any of: **/*.go
  lint-go: any of: **/*.go
  ts-typecheck: any of: extensions/vscode-tally/**/*.ts and ^extensions/vscode\-tally/
  ts-lint: any of: extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts} and ^extensions/vscode\-tally/
  ts-format: any of: *.{js,ts,cjs,mjs,mts,cts,jsx,tsx} and ^extensions/vscode\-tally/
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  format-yml: any of: {.yamlfmt,*.yml,*.yaml}
  typos: any of: *.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}
  codecov: any of: .codecov.yml
  actionlint: any of: .github/workflows/*.{yaml,yml}
  commitlint-config: any of: .commitlintrc.yaml
