Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

format-go:
  run: gofmt -w -s {staged_files}
  stage_fixed: true

lint-go:
  run: GOEXPERIMENT=jsonv2 make lint-fix
  stage_fixed: true

ts-typecheck:
  run: bunx @typescript/native-preview --noEmit

ts-lint:
  run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
  stage_fixed: true

ts-format:
  run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
  stage_fixed: true

taplo:
  run: bunx -y -q @taplo/cli format {staged_files}
  stage_fixed: true

yamllint:
  run: uvx yamllint {staged_files}

format-yml:
  run: yamlfmt {staged_files}
  stage_fixed: true

typos:
  run: uv tool run typos==1.43.4 --force-exclude {staged_files}

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

actionlint:
  run: actionlint {staged_files}

commitlint-config:
  run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml

test: cross-validate extension logic against real monorepo packaging files
  _integrations/zed-tally/src/tally.rs
Due: none

feat(zed): add Zed editor extension for tally LSP (#191)
  .github/workflows/release.yml
  .github/workflows/zed-extension.yml
  .gitignore
  .lefthook.yml
  _integrations/zed-tally/Cargo.lock
  _integrations/zed-tally/Cargo.toml
  _integrations/zed-tally/LICENSE
  _integrations/zed-tally/README.md
  _integrations/zed-tally/extension.toml
  _integrations/zed-tally/languages/dockerfile/config.toml
  _integrations/zed-tally/languages/dockerfile/highlights.scm
  _integrations/zed-tally/languages/dockerfile/injections.scm
  _integrations/zed-tally/rust-toolchain.toml
  _integrations/zed-tally/src/tally.rs
Due: taplo, yamllint, format-yml, typos, actionlint

fix: handle initial Zed extension registration in extensions.toml
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

fix: use actions/checkout for zed-extensions fork in release workflow
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

fix: use GITHUB_TOKEN for cross-fork PR to zed-industries/extensions
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

fix: require ZED_EXTENSIONS_PAT for cross-fork PR creation
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

fix: use org-wide CROSS_FORK_PR_PAT for cross-fork PR creation
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

fix: use real git identity for Zed extensions PR to pass CLA check
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

zed: set extension version to 0.18.5
  _integrations/zed-tally/Cargo.toml
  _integrations/zed-tally/extension.toml
Due: taplo, typos

fix: handle existing PR gracefully in Zed marketplace publish
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

fix: move PR body to YAML env block to avoid YAML parsing issues
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

zed: set extension version to 0.18.6
  _integrations/zed-tally/Cargo.toml
  _integrations/zed-tally/extension.toml
Due: taplo, typos

zed: set extension version to 0.18.7
  _integrations/zed-tally/Cargo.toml
  _integrations/zed-tally/extension.toml
Due: taplo, typos

feat(lsp): support untitled:// URI scheme for unsaved documents
  internal/lspserver/diagnostics.go
  internal/lspserver/diagnostics_test.go
  internal/lspserver/execute_command.go
  internal/lspserver/execute_command_test.go
  internal/lspserver/server_test.go
Due: format-go, lint-go

fix: generalize isUntitledURI to isVirtualURI for all non-file URI schemes
  internal/lspserver/diagnostics.go
  internal/lspserver/execute_command.go
  internal/lspserver/execute_command_test.go
  internal/lspserver/server_test.go
Due: format-go, lint-go

feat(lsp): support untitled:// URI scheme for unsaved documents (#192)
  internal/lspserver/diagnostics.go
  internal/lspserver/diagnostics_test.go
  internal/lspserver/execute_command.go
  internal/lspserver/execute_command_test.go
  internal/lspserver/server_test.go
Due: format-go, lint-go

feat: add Windows container integration tests and small fixes
  cmd/tally/cmd/lint.go
  internal/integration/__snapshots__/TestFixRealWorldMetalama_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixWindowsContainer_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixWindowsContainer_1.snap.md
  internal/integration/fix_scenarios_test.go
  internal/integration/testdata/real-world-fix-metalama/.tally.toml
  internal/integration/testdata/real-world-fix-metalama/Dockerfile
  internal/integration/testdata/real-world-fix-ticketdesk/.tally.toml
  internal/integration/testdata/real-world-fix-ticketdesk/Dockerfile
  internal/reporter/reporter.go
  internal/rules/tally/newline_between_instructions.go
Due: format-go, lint-go, taplo, typos

docs: add design docs for CLI-config refactor and Windows container support
  design-docs/25-cli-config-integration-refactor.md
  design-docs/26-windows-container-support.md
  design-docs/27-windows-container-rules.md
  design-docs/README.md
Due: typos

refactor: split VariantNonPOSIX into VariantPowerShell, VariantCmd, VariantUnknown
  internal/fix/heredoc_resolver_test.go
  internal/rules/hadolint/dl3010.go
  internal/rules/hadolint/dl4001.go
  internal/rules/hadolint/dl4006.go
  internal/rules/hadolint/helpers.go
  internal/rules/shellcheck/shellcheck.go
  internal/rules/tally/newline_per_chained_call.go
  internal/rules/tally/prefer_add_unpack.go
  internal/rules/tally/prefer_copy_heredoc.go
  internal/rules/tally/prefer_heredoc.go
  internal/rules/tally/prefer_package_cache_mounts.go
  internal/shell/chain_format.go
  internal/shell/chain_format_test.go
  internal/shell/count.go
  internal/shell/count_test.go
  internal/shell/file_creation.go
  internal/shell/file_creation_test.go
  internal/shell/shell.go
  internal/shell/shell_test.go
Due: format-go, lint-go

feat(semantic): add BaseImageOS detection to StageInfo
  internal/semantic/base_image_os_test.go
  internal/semantic/builder.go
  internal/semantic/stage_info.go
Due: format-go, lint-go

feat(semantic): wire BaseImageOS into default shell and ShellCheck gating
  internal/integration/__snapshots__/TestFixWindowsContainer_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixWindowsContainer_1.snap.md
  internal/rules/shellcheck/shellcheck.go
  internal/semantic/builder.go
  internal/semantic/stage_info.go
Due: format-go, lint-go, typos

feat: wire BaseImageOS into WorkdirRelativePath, ShellCheck, and test harness
  internal/integration/__snapshots__/TestFixWindowsContainer_1.snap.md
  internal/rules/buildkit/workdir_relative_path.go
  internal/rules/buildkit/workdir_relative_path_test.go
  internal/rules/hadolint/dl3057_test.go
  internal/rules/hadolint/helpers_test.go
  internal/rules/tally/copy_from_empty_scratch_stage_test.go
  internal/rules/tally/epilogue_order_test.go
  internal/rules/tally/shell_run_in_scratch_test.go
  internal/testutil/testutil.go
Due: format-go, lint-go, typos

feat: recognize Windows build tools in prefer-multi-stage-build
  internal/integration/__snapshots__/TestFixWindowsContainer_1.snap.md
  internal/rules/tally/prefer_multi_stage_build.go
  internal/rules/tally/prefer_multi_stage_build_test.go
Due: format-go, lint-go, typos

test: add PowerShell-on-Alpine cross-platform fix integration test
  internal/integration/__snapshots__/TestFixPowerShellAlpine_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixPowerShellAlpine_1.snap.md
  internal/integration/fix_scenarios_test.go
  internal/integration/testdata/real-world-fix-powershell-alpine/.tally.toml
  internal/integration/testdata/real-world-fix-powershell-alpine/Dockerfile
Due: format-go, lint-go, taplo, typos

fix: track per-instruction shell variant in heredoc rule and resolver
  internal/fix/heredoc_resolver.go
  internal/integration/__snapshots__/TestFixPowerShellAlpine_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixPowerShellAlpine_1.snap.md
  internal/rules/tally/prefer_heredoc.go
Due: format-go, lint-go, typos

fix: address PR review comment
  design-docs/26-windows-container-support.md
  design-docs/27-windows-container-rules.md
Due: typos

fix: use per-sequence shell variant in heredoc resolver
  internal/fix/heredoc_resolver.go
Due: format-go, lint-go

fix: use per-command shell variant in prefer-run-heredoc rule
  internal/rules/tally/prefer_heredoc.go
Due: format-go, lint-go

fix: address PR review comment
  internal/rules/hadolint/dl4006.go
Due: format-go, lint-go

fix: address PR review comment
  internal/rules/shellcheck/shellcheck.go
Due: format-go, lint-go

fix: address PR review comment
  internal/semantic/base_image_os_test.go
  internal/semantic/stage_info.go
Due: format-go, lint-go

feat: add al2023 and al2 (Amazon Linux) to Linux distro detection
  internal/semantic/base_image_os_test.go
  internal/semantic/stage_info.go
Due: format-go, lint-go

feat: add kalilinux, opensuse, sles, gentoo to Linux distro detection
  internal/semantic/base_image_os_test.go
  internal/semantic/stage_info.go
Due: format-go, lint-go

chore: update shellcheck sync
  design-docs/27-windows-container-rules.md
Due: typos

fix: address PR review comment
  design-docs/27-windows-container-rules.md
Due: typos

chore: add more languages to serena
  .serena/project.yml
Due: yamllint, format-yml, typos

fix: use per-sequence shell variant for pipefail and heredoc formatting
  internal/fix/heredoc_resolver.go
Due: format-go, lint-go

fix: use per-command shell variant in chained-command heredoc detection
  internal/rules/tally/prefer_heredoc.go
Due: format-go, lint-go

Path conditions:
  format-go: any of: **/*.go
  lint-go: any of: **/*.go
  ts-typecheck: any of: extensions/vscode-tally/**/*.ts and ^extensions/vscode\-tally/
  ts-lint: any of: extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts} and ^extensions/vscode\-tally/
  ts-format: any of: *.{js,ts,cjs,mjs,mts,cts,jsx,tsx} and ^extensions/vscode\-tally/
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  format-yml: any of: {.yamlfmt,*.yml,*.yaml}
  typos: any of: *.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}
  codecov: any of: .codecov.yml
  actionlint: any of: .github/workflows/*.{yaml,yml}
  commitlint-config: any of: .commitlintrc.yaml
