Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

.lefthook.yml:

# yaml-language-server: =https://json.schemastore.org/lefthook.json
---
output:
  # - summary # Print summary block (successful and failed steps)
  # - empty_summary # Print summary heading when there are no steps to run
  - failure # Print failed steps printing
# - skips # Print "skip" (i.e. no files matched)
assert_lefthook_installed: true
pre-commit:
  commands:
    format-go:
      glob: "**/*.go"
      run: gofmt -w -s {staged_files}
      stage_fixed: true
    lint-go:
      glob: "**/*.go"
      run: GOEXPERIMENT=jsonv2 make lint-fix
      stage_fixed: true
    ts-typecheck:
      glob: "extensions/vscode-tally/**/*.ts"
      run: bunx @typescript/native-preview --noEmit
      root: extensions/vscode-tally
    ts-lint:
      glob: "extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts}"
      run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
      stage_fixed: true
      root: extensions/vscode-tally
    ts-format:
      glob: "*.{js,ts,cjs,mjs,mts,cts,jsx,tsx}"
      run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
      stage_fixed: true
      root: extensions/vscode-tally
    taplo:
      glob: "**/*.toml"
      run: bunx -y -q @taplo/cli format {staged_files}
      stage_fixed: true
    rumdl:
      glob: "**/*.md"
      exclude: "**/__snapshots__/**"
      run: uv tool run rumdl==0.1.17 check --fix --config .rumdl.toml --output-format concise {staged_files}
      stage_fixed: true
    yamllint:
      glob: "*.{yml,yaml}"
      run: uvx yamllint {staged_files}
    format-yml:
      glob: "{.yamlfmt,*.yml,*.yaml}"
      run: yamlfmt {staged_files}
      stage_fixed: true
    typos:
      glob: "*.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}"
      run: uv tool run typos==1.43.4 --force-exclude {staged_files}
    codecov:
      glob: ".codecov.yml"
      run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate
    # renovate:
    #   glob: "renovate.json"
    #   run: npx -y -q -y --package renovate renovate-config-validator renovate.json
    actionlint:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}
    commitlint-config:
      glob: ".commitlintrc.yaml"
      run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml
commit-msg:
  commands:
    "lint commit message":
      run: npx -y -q commitlint --edit {1}
    "check spelling":
      run: uv tool run typos==1.43.4 {1}
post-merge:
  files: "git diff-tree -r --name-only --no-commit-id ORIG_HEAD HEAD"
  commands:
    delete-merged-branches:
      run: git branch --merged | grep -Ev '\*|master|main|dev|develop|development|stag|staging|prod|production' | xargs git branch -d; git fetch --prune;
pre-push:
  parallel: true
  jobs:
    - name: build
      run: GOEXPERIMENT=jsonv2 make build
    - name: deadcode
      run: GOEXPERIMENT=jsonv2 make deadcode
    - name: test
      run: GOEXPERIMENT=jsonv2 make test
    - name: validate-hadolint-status
      run: ./scripts/validate-hadolint-status.sh
    - name: validate-buildkit-rules
      run: GOEXPERIMENT=jsonv2 ./scripts/validate-buildkit-rules.sh

fix: clarify single-level workdir inheritance comment
  internal/rules/tally/copy_after_user_without_chown.go
Due: format-go, lint-go

fix: normalize targetPath in cmdFileArgCoversPath
  internal/rules/tally/instruction_scan.go
Due: format-go, lint-go

fix: update snapshots for new rule firing on existing fixtures
  internal/integration/__snapshots__/TestFixConsistentIndentation_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorldTeamCityNanoServer_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorldTeamCityNanoServer_1.snap.md
Due: typos

docs: add telemetry opt-out rule research
  design-docs/36-telemetry-opt-out-rule-research.md
Due: typos

fix: consolidate duplicate ctx.sm nil checks in buildMoveUserFix
  internal/rules/tally/copy_after_user_without_chown.go
Due: format-go, lint-go

feat: add tally/copy-after-user-without-chown rule (#399)
  README.md
  RULES.md
  docs/rules/tally/copy-after-user-without-chown.md
  docs/rules/tally/index.md
  internal/integration/__snapshots__/TestFixConsistentIndentation_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorldTeamCityNanoServer_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorldTeamCityNanoServer_1.snap.md
  internal/integration/__snapshots__/TestFix_copy-after-user-chown-plus-chmod_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_copy-after-user-without-chown-add_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_copy-after-user-without-chown-basic_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_copy-after-user-without-chown-multi_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_copy-after-user-without-chown_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/copy-after-user-without-chown/Dockerfile
  internal/rules/tally/__snapshots__/TestCopyAfterUserWithoutChownMetadata_1.snap.json
  internal/rules/tally/copy_after_user_without_chown.go
  internal/rules/tally/copy_after_user_without_chown_test.go
  internal/rules/tally/instruction_scan.go
  internal/rules/tally/instruction_scan_test.go
Due: format-go, lint-go, typos

[codex] Add telemetry opt-out rule research design doc (#402)
  design-docs/36-telemetry-opt-out-rule-research.md
Due: typos

feat: enable omitzero tags in generated schema models
  _tools/schema-gen/main.go
  internal/schemas/generated/config/tally_config.gen.go
  internal/schemas/generated/rules/hadolint/dl3001.gen.go
  internal/schemas/generated/rules/hadolint/dl3026.gen.go
  internal/schemas/generated/rules/ruleschema/rule_config.gen.go
  internal/schemas/generated/rules/tally/consistent_indentation.gen.go
  internal/schemas/generated/rules/tally/eol_last.gen.go
  internal/schemas/generated/rules/tally/max_lines.gen.go
  internal/schemas/generated/rules/tally/newline_between_instructions.gen.go
  internal/schemas/generated/rules/tally/newline_per_chained_call.gen.go
  internal/schemas/generated/rules/tally/no_multi_spaces.gen.go
  internal/schemas/generated/rules/tally/no_multiple_empty_lines.gen.go
  internal/schemas/generated/rules/tally/no_trailing_spaces.gen.go
  internal/schemas/generated/rules/tally/prefer_add_unpack.gen.go
  internal/schemas/generated/rules/tally/prefer_copy_heredoc.gen.go
  internal/schemas/generated/rules/tally/prefer_curl_config.gen.go
  internal/schemas/generated/rules/tally/prefer_multi_stage_build.gen.go
  internal/schemas/generated/rules/tally/prefer_run_heredoc.gen.go
  internal/schemas/generated/rules/tally/require_secret_mounts.gen.go
Due: format-go, lint-go

fix: resolve typed rule input rebase fallout
  internal/rules/tally/copy_after_user_without_chown.go
  internal/rules/tally/epilogue_order.go
  internal/rules/tally/gpu/prefer_runtime_final_stage.go
  internal/rules/tally/newline_per_chained_call.go
  internal/rules/tally/prefer_add_unpack.go
  internal/rules/tally/prefer_copy_chmod.go
  internal/rules/tally/prefer_heredoc.go
  internal/rules/tally/require_secret_mounts.go
  internal/rules/tally/stopsignal.go
  internal/rules/tally/unreachable_stages.go
  internal/rules/tally/user_created_but_never_used.go
Due: format-go, lint-go

fix: address PR review comment
  internal/facts/facts_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/rules/hadolint/dl3022.go
  internal/rules/hadolint/dl3022_test.go
Due: format-go, lint-go

refactor: type package cache shell helper
  internal/rules/tally/prefer_package_cache_mounts.go
Due: format-go, lint-go

refactor: remove dead semantic and facts fallbacks
  internal/rules/hadolint/dl3057.go
  internal/rules/hadolint/dl3057_test.go
  internal/rules/rule.go
  internal/rules/tally/circular_stage_deps.go
  internal/rules/tally/circular_stage_deps_test.go
  internal/rules/tally/copy_after_user_without_chown.go
  internal/rules/tally/copy_from_empty_scratch_stage.go
  internal/rules/tally/copy_from_empty_scratch_stage_test.go
  internal/rules/tally/epilogue_order.go
  internal/rules/tally/epilogue_order_test.go
  internal/rules/tally/final_stage_root.go
  internal/rules/tally/gpu/no_buildtime_gpu_queries.go
  internal/rules/tally/gpu/no_container_runtime_in_image.go
  internal/rules/tally/gpu/no_hardcoded_visible_devices.go
  internal/rules/tally/gpu/no_redundant_cuda_install.go
  internal/rules/tally/gpu/no_redundant_cuda_install_test.go
  internal/rules/tally/gpu/prefer_minimal_driver_capabilities.go
  internal/rules/tally/gpu/prefer_minimal_driver_capabilities_test.go
  internal/rules/tally/gpu/prefer_runtime_final_stage.go
  internal/rules/tally/gpu/prefer_runtime_final_stage_test.go
  internal/rules/tally/php/composer_no_dev_in_production.go
  internal/rules/tally/php/helpers.go
  internal/rules/tally/platform_mismatch.go
  internal/rules/tally/platform_mismatch_test.go
  internal/rules/tally/powershell/gate.go
  internal/rules/tally/prefer_curl_config.go
  internal/rules/tally/prefer_curl_config_test.go
  internal/rules/tally/prefer_package_cache_mounts.go
  internal/rules/tally/shell_run_in_scratch.go
  internal/rules/tally/shell_run_in_scratch_test.go
  internal/rules/tally/sort_packages.go
  internal/rules/tally/stage_ref_chain.go
  internal/rules/tally/stateful_root_runtime.go
  internal/rules/tally/unreachable_stages.go
  internal/rules/tally/unreachable_stages_test.go
  internal/rules/tally/windows/gate.go
Due: format-go, lint-go

docs: clarify GetSemantic helper comment
  internal/testutil/testutil.go
Due: format-go, lint-go

chore: copy skill for codex
  .agents/skills/create-tally-rule/SKILL.md
Due: typos

feat: add tally/prefer-systemd-sigrtmin-plus-3 rule
  README.md
  RULES.md
  docs/index.md
  docs/rules/tally/index.md
  docs/rules/tally/prefer-systemd-sigrtmin-plus-3.md
  internal/integration/__snapshots__/TestFix_prefer-systemd-sigrtmin-plus-3-cross-canonical-rtmin_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-systemd-sigrtmin-plus-3-cross-no-ungraceful_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-systemd-sigrtmin-plus-3-missing_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-systemd-sigrtmin-plus-3-no-fix_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-systemd-sigrtmin-plus-3-non-systemd-no-fix_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-systemd-sigrtmin-plus-3-wrong-signal_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_prefer-systemd-sigrtmin-plus-3_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/prefer-systemd-sigrtmin-plus-3/Dockerfile
  internal/rules/tally/prefer_systemd_sigrtmin_plus_3.go
  internal/rules/tally/prefer_systemd_sigrtmin_plus_3_test.go
  internal/rules/tally/stopsignal.go
Due: format-go, lint-go, typos

fix: update lint snapshot for comment in STOPSIGNAL insertion fix
  internal/integration/__snapshots__/TestLint_prefer-systemd-sigrtmin-plus-3_1.snap.json
Due: typos

fix: anchor missing-STOPSIGNAL violation to last CMD, not first
  internal/rules/tally/prefer_systemd_sigrtmin_plus_3.go
  internal/rules/tally/prefer_systemd_sigrtmin_plus_3_test.go
Due: format-go, lint-go

feat: add tally/prefer-systemd-sigrtmin-plus-3 rule (#406)
  README.md
  RULES.md
  docs/index.md
  docs/rules/tally/index.md
  docs/rules/tally/prefer-systemd-sigrtmin-plus-3.md
  internal/integration/__snapshots__/TestFix_prefer-systemd-sigrtmin-plus-3-cross-canonical-rtmin_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-systemd-sigrtmin-plus-3-cross-no-ungraceful_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-systemd-sigrtmin-plus-3-missing_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-systemd-sigrtmin-plus-3-no-fix_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-systemd-sigrtmin-plus-3-non-systemd-no-fix_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-systemd-sigrtmin-plus-3-wrong-signal_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_prefer-systemd-sigrtmin-plus-3_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/prefer-systemd-sigrtmin-plus-3/Dockerfile
  internal/rules/tally/prefer_systemd_sigrtmin_plus_3.go
  internal/rules/tally/prefer_systemd_sigrtmin_plus_3_test.go
  internal/rules/tally/stopsignal.go
Due: format-go, lint-go, typos

test: update vscode smoke diagnostics count
  _integrations/vscode-tally/test/e2e/smoke.test.ts
Due: typos

fix: address telemetry lint regressions
  internal/telemetry/signal.go
Due: format-go, lint-go

feat: add telemetry opt-out rule
  RULES.md
  docs/rules/tally/index.md
  docs/rules/tally/prefer-telemetry-opt-out.md
  internal/integration/__snapshots__/TestFixPowerShellAlpine_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixPowerShellAlpine_1.snap.md
  internal/integration/__snapshots__/TestFixRealWorldBoostMSVCWindowsContainer_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorldBoostMSVCWindowsContainer_1.snap.md
  internal/integration/__snapshots__/TestFixRealWorldJaracoWindows_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorldTeamCityNanoServer_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorldTeamCityNanoServer_1.snap.md
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixTelemetryOptOutCombined_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixWindowsContainer_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixWindowsContainer_1.snap.md
  internal/integration/__snapshots__/TestFix_prefer-package-cache-mounts-bun-install-cache-dir-env_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-package-cache-mounts-no-cache-flags_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-telemetry-opt-out_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_prefer-telemetry-opt-out_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/fix_scenarios_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/prefer-telemetry-opt-out/Dockerfile
  internal/integration/testdata/prefer-telemetry-opt-out/package.json
  internal/integration/testdata/prefer-telemetry-opt-out/requirements.txt
  internal/integration/testdata/telemetry-opt-out-combined/Dockerfile
  internal/integration/testdata/telemetry-opt-out-combined/package.json
  internal/rules/hadolint/dl3057.go
  internal/rules/tally/__snapshots__/TestPreferTelemetryOptOutRule_Metadata_1.snap.json
  internal/rules/tally/prefer_package_cache_mounts.go
  internal/rules/tally/prefer_package_cache_mounts_test.go
  internal/rules/tally/prefer_telemetry_opt_out.go
  internal/rules/tally/prefer_telemetry_opt_out_test.go
  internal/shell/docker_command.go
  internal/telemetry/catalog.go
  internal/telemetry/signal.go
  internal/telemetry/signal_test.go
Due: format-go, lint-go, typos

fix: address PR review comment
  internal/rules/tally/require_secret_mounts.go
  internal/rules/tally/require_secret_mounts_test.go
Due: format-go, lint-go

test: strengthen telemetry signal coverage
  internal/telemetry/signal_helpers_test.go
  internal/telemetry/signal_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/telemetry/signal.go
  internal/telemetry/signal_helpers_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/rules/tally/prefer_telemetry_opt_out_test.go
  internal/telemetry/signal.go
  internal/telemetry/signal_test.go
Due: format-go, lint-go

test: refresh total-rules-enabled snapshot
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
Due: typos

docs: sync readme rule table
  README.md
Due: typos

docs: sync rules summary
  RULES.md
Due: typos

fix: address PR review comment
  internal/shell/docker_command_test.go
Due: format-go, lint-go

test: refresh windows telemetry snapshot
  internal/integration/__snapshots__/TestFixRealWorldMetalama_1.snap.Dockerfile
Due: none

fix: address PR review comment
  internal/telemetry/signal_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/telemetry/signal.go
  internal/telemetry/signal_helpers_test.go
  internal/telemetry/signal_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/rules/tally/prefer_telemetry_opt_out.go
  internal/rules/tally/prefer_telemetry_opt_out_test.go
Due: format-go, lint-go
