Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

.lefthook.yml:

# yaml-language-server: =https://json.schemastore.org/lefthook.json
---
output:
  # - summary # Print summary block (successful and failed steps)
  # - empty_summary # Print summary heading when there are no steps to run
  - failure # Print failed steps printing
# - skips # Print "skip" (i.e. no files matched)
assert_lefthook_installed: true
pre-commit:
  commands:
    format-go:
      glob: "**/*.go"
      run: gofmt -w -s {staged_files}
      stage_fixed: true
    lint-go:
      glob: "**/*.go"
      run: GOEXPERIMENT=jsonv2 make lint-fix
      stage_fixed: true
    ts-typecheck:
      glob: "extensions/vscode-tally/**/*.ts"
      run: bunx @typescript/native-preview --noEmit
      root: extensions/vscode-tally
    ts-lint:
      glob: "extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts}"
      run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
      stage_fixed: true
      root: extensions/vscode-tally
    ts-format:
      glob: "*.{js,ts,cjs,mjs,mts,cts,jsx,tsx}"
      run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
      stage_fixed: true
      root: extensions/vscode-tally
    taplo:
      glob: "**/*.toml"
      run: bunx -y -q @taplo/cli format {staged_files}
      stage_fixed: true
    rumdl:
      glob: "**/*.md"
      exclude: "**/__snapshots__/**"
      run: uv tool run rumdl==0.1.17 check --fix --config .rumdl.toml --output-format concise {staged_files}
      stage_fixed: true
    yamllint:
      glob: "*.{yml,yaml}"
      run: uvx yamllint {staged_files}
    format-yml:
      glob: "{.yamlfmt,*.yml,*.yaml}"
      run: yamlfmt {staged_files}
      stage_fixed: true
    typos:
      glob: "*.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}"
      run: uv tool run typos==1.43.4 --force-exclude {staged_files}
    codecov:
      glob: ".codecov.yml"
      run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate
    # renovate:
    #   glob: "renovate.json"
    #   run: npx -y -q -y --package renovate renovate-config-validator renovate.json
    actionlint:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}
    commitlint-config:
      glob: ".commitlintrc.yaml"
      run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml
commit-msg:
  commands:
    "lint commit message":
      run: npx -y -q commitlint --edit {1}
    "check spelling":
      run: uv tool run typos==1.43.4 {1}
post-merge:
  files: "git diff-tree -r --name-only --no-commit-id ORIG_HEAD HEAD"
  commands:
    delete-merged-branches:
      run: git branch --merged | grep -Ev '\*|master|main|dev|develop|development|stag|staging|prod|production' | xargs git branch -d; git fetch --prune;
pre-push:
  parallel: true
  jobs:
    - name: build
      run: GOEXPERIMENT=jsonv2 make build
    - name: deadcode
      run: GOEXPERIMENT=jsonv2 make deadcode
    - name: test
      run: GOEXPERIMENT=jsonv2 make test
    - name: validate-hadolint-status
      run: ./scripts/validate-hadolint-status.sh
    - name: validate-buildkit-rules
      run: GOEXPERIMENT=jsonv2 ./scripts/validate-buildkit-rules.sh

feat: improve uv support in prefer-package-cache-mounts (#146)
  docs/rules/tally/prefer-package-cache-mounts.md
  internal/integration/__snapshots__/TestFix_prefer-package-cache-mounts-bun-install-cache-dir-env_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-package-cache-mounts-multiline-env-removal_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-package-cache-mounts-npm-config-cache-env_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-package-cache-mounts-pip-no-cache-dir-env_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-package-cache-mounts-uv-no-cache-env_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-package-cache-mounts-uv-no-cache-legacy-with-legacy-key-value_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-package-cache-mounts-uv-python-install_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_legacy-key-value-format_1.snap.json
  internal/integration/__snapshots__/TestLint_prefer-package-cache-mounts_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/testdata/prefer-package-cache-mounts/Dockerfile
  internal/rules/buildkit/fixes/legacy_key_value_format.go
  internal/rules/buildkit/legacy_key_value_format.go
  internal/rules/tally/prefer_package_cache_mounts.go
  internal/rules/tally/prefer_package_cache_mounts_test.go
Due: format-go, lint-go, typos

fix(intellij): remove upper IDE version bound; enforce LSP method constants
  _tools/customlint/lspliteral.go
  _tools/customlint/lspliteral_test.go
  _tools/customlint/plugin.go
  _tools/customlint/testdata/src/internal/lspserver/server.go
  extensions/intellij-tally/build/build.sh
  extensions/intellij-tally/build/versions.toml
  internal/lspserver/server.go
  internal/lspserver/server_test.go
Due: format-go, lint-go, taplo, typos

fix: use strconv.Unquote for robust string literal parsing
  _tools/customlint/lspliteral.go
Due: format-go, lint-go

fix(intellij): remove upper IDE version bound; enforce LSP method constants (#147)
  _tools/customlint/lspliteral.go
  _tools/customlint/lspliteral_test.go
  _tools/customlint/plugin.go
  _tools/customlint/testdata/src/internal/lspserver/server.go
  extensions/intellij-tally/build/build.sh
  extensions/intellij-tally/build/versions.toml
  internal/lspserver/server.go
  internal/lspserver/server_test.go
Due: format-go, lint-go, taplo, typos

feat(vscode,intellij): gate non-bundled binaries on minimum compatible version
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyBinaryResolver.kt
  extensions/vscode-tally/bun.lock
  extensions/vscode-tally/package.json
  extensions/vscode-tally/src/binary/findBinary.ts
  extensions/vscode-tally/src/extension.ts
Due: ts-typecheck, ts-lint, ts-format, typos

fix: extract compatibleOrNull helper to reduce duplication in resolve()
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyBinaryResolver.kt
Due: none

fix: read stdout before waitFor to avoid pipe-buffer deadlock
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyBinaryResolver.kt
Due: none

fix: include error detail in version check failure log message
  extensions/vscode-tally/src/binary/findBinary.ts
Due: ts-typecheck, ts-lint, ts-format, typos

chore: required
  extensions/vscode-tally/src/binary/findBinary.ts
Due: ts-typecheck, ts-lint, ts-format, typos

fix(vscode): treat version 0.0.0 as dev build to skip version gating
  extensions/vscode-tally/src/binary/findBinary.ts
Due: ts-typecheck, ts-lint, ts-format, typos

fix: only version-gate auto-discovered binaries, not explicit paths
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyBinaryResolver.kt
  extensions/vscode-tally/src/binary/findBinary.ts
Due: ts-typecheck, ts-lint, ts-format, typos

fix: read stdout asynchronously so waitFor timeout is effective
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyBinaryResolver.kt
Due: none

refactor(intellij): use CapturingProcessHandler for version check
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyBinaryResolver.kt
Due: none

feat(vscode,intellij): gate non-bundled binaries on minimum compatible version (#148)
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyBinaryResolver.kt
  extensions/vscode-tally/bun.lock
  extensions/vscode-tally/package.json
  extensions/vscode-tally/src/binary/findBinary.ts
  extensions/vscode-tally/src/extension.ts
Due: ts-typecheck, ts-lint, ts-format, typos

chore: add doc generation steps to buildkit-fix and hadolint-port skills
  .claude/skills/add-buildkit-fix/SKILL.md
  .claude/skills/port-hadolint-rule/SKILL.md
Due: typos

chore: add customlint rule
  .claude/skills/create-tally-customlint/SKILL.md
  .claude/skills/create-tally-customlint/references/analyzer-patterns.md
  _tools/customlint/README.md
  _tools/customlint/docurl.go
  _tools/customlint/docurl_test.go
  _tools/customlint/plugin.go
  _tools/customlint/testdata/src/internal/rules/docurl/docurl.go
  _tools/customlint/testdata/src/internal/semantic/docurl/docurl.go
Due: format-go, lint-go, typos

chore: rules ideas
  design-docs/20-buildkit-parseable-non-buildable-dockerfiles.md
  design-docs/README.md
Due: typos

chore: commit IntelliJ settings
  .idea/.gitignore
  .idea/OxcSettings.xml
  .idea/OxfmtSettings.xml
  .idea/externalDependencies.xml
  .idea/go.imports.xml
  .idea/markdown.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
Due: none

feat: add exit code 3 for "no files found" with context-aware messages
  cmd/tally/cmd/lint.go
  docs/guide/exit-codes.md
  docs/guide/index.md
  internal/discovery/discovery.go
  internal/integration/error_test.go
  internal/integration/testdata/error-unparseable-json/Dockerfile
Due: format-go, lint-go, typos

feat: add pre-lint file validation (size, executable bit, UTF-8)
  cmd/tally/cmd/lint.go
  internal/config/config.go
  internal/config/config_test.go
  internal/config/validation.go
  internal/fileval/executable_unix.go
  internal/fileval/executable_windows.go
  internal/fileval/fileval.go
  internal/fileval/fileval_test.go
  internal/fileval/utf8.go
  internal/integration/error_test.go
  internal/schemas/generated/config/tally_config.gen.go
  internal/schemas/registry_gen.go
  internal/schemas/root/tally-config.schema.json
  internal/sourcemap/sourcemap.go
  internal/sourcemap/sourcemap_test.go
  schema.json
Due: format-go, lint-go, typos

chore: add .DS_Store to gitignore
  .gitignore
Due: none

feat: add fail-fast syntax checks with exit code 4
  cmd/tally/cmd/lint.go
  docs/guide/exit-codes.md
  internal/integration/error_test.go
  internal/linter/linter.go
  internal/syntax/syntax.go
  internal/syntax/syntax_directive.go
  internal/syntax/syntax_test.go
  internal/syntax/unknown_instruction.go
Due: format-go, lint-go, typos

docs: mark implemented syntax rules in design doc
  .typos.toml
  design-docs/20-buildkit-parseable-non-buildable-dockerfiles.md
Due: typos

fix: address PR review comment
  internal/fileval/fileval.go
Due: format-go, lint-go

test: cover whitespace branch in checkSyntaxDirective
  internal/syntax/syntax_test.go
Due: format-go, lint-go

fix: populate content from ParseResult.Source when Content is nil
  internal/linter/linter.go
Due: format-go, lint-go

fix: treat brace-expansion chars as glob in ContainsGlobChars
  internal/discovery/discovery.go
  internal/discovery/discovery_test.go
Due: format-go, lint-go

fix: open file once in ValidateFile to eliminate TOCTOU and double open
  internal/fileval/fileval.go
  internal/fileval/utf8.go
Due: format-go, lint-go

fix: include Path in all fileval error messages
  internal/fileval/fileval.go
Due: format-go, lint-go

fix: use errors.Is(err, os.ErrNotExist) instead of os.IsNotExist
  internal/discovery/discovery.go
Due: format-go, lint-go

fix: reuse two rows in levenshteinDistance to avoid per-iteration allocs
  internal/syntax/syntax.go
Due: format-go, lint-go

test: add TestDiscoverFileNotFound for literal missing-file error path
  internal/discovery/discovery_test.go
Due: format-go, lint-go

feat: add tally/invalid-onbuild-trigger rule
  .typos.toml
  RULES.md
  docs/rules/tally/index.md
  docs/rules/tally/invalid-onbuild-trigger.md
  internal/integration/__snapshots__/TestLint_invalid-onbuild-trigger-combined_1.snap.json
  internal/integration/__snapshots__/TestLint_invalid-onbuild-trigger_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/invalid-onbuild-trigger-combined/Dockerfile
  internal/integration/testdata/invalid-onbuild-trigger/Dockerfile
  internal/rules/tally/invalid_onbuild_trigger.go
  internal/rules/tally/invalid_onbuild_trigger_test.go
  internal/syntax/syntax.go
  internal/syntax/syntax_test.go
Due: format-go, lint-go, typos

chore: update README rule count for tally/invalid-onbuild-trigger
  README.md
Due: typos

chore: update RULES.md tally rule count to 15
  RULES.md
Due: typos

chore: update configs
  .serena/project.yml
  tally.iml
Due: yamllint, format-yml, typos

fix: address PR review comment
  internal/rules/tally/invalid_onbuild_trigger.go
  internal/rules/tally/invalid_onbuild_trigger_test.go
Due: format-go, lint-go
