Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

format-go:
  run: gofmt -w -s {staged_files}
  stage_fixed: true

lint-go:
  run: GOEXPERIMENT=jsonv2 make lint-fix
  stage_fixed: true

ts-typecheck:
  run: bunx @typescript/native-preview --noEmit

ts-lint:
  run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
  stage_fixed: true

ts-format:
  run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
  stage_fixed: true

taplo:
  run: bunx -y -q @taplo/cli format {staged_files}
  stage_fixed: true

yamllint:
  run: uvx yamllint {staged_files}

format-yml:
  run: yamlfmt {staged_files}
  stage_fixed: true

typos:
  run: uv tool run typos==1.43.4 --force-exclude {staged_files}

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

actionlint:
  run: actionlint {staged_files}

commitlint-config:
  run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml

refactor: use shell.CommandNamesWithVariant for CMD/ENTRYPOINT parsing
  internal/rules/hadolint/dl3057.go
  internal/rules/hadolint/dl3057_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/rules/hadolint/dl3057.go
Due: format-go, lint-go

feat: smart suppression for hadolint/DL3057 on non-service containers (#263)
  RULES.md
  _integrations/vscode-tally/test/e2e/smoke.test.ts
  docs/rules/hadolint/DL3057.md
  internal/integration/__snapshots__/TestLint_dl3057-suppress-serverless_1.snap.json
  internal/integration/__snapshots__/TestLint_dl3057-suppress-shell-cmd_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/dl3057-suppress-serverless/Dockerfile
  internal/integration/testdata/dl3057-suppress-shell-cmd/Dockerfile
  internal/rules/hadolint/dl3057.go
  internal/rules/hadolint/dl3057_test.go
Due: format-go, lint-go, typos

zed: set extension version to 0.23.2
  _integrations/zed-tally/Cargo.toml
  _integrations/zed-tally/extension.toml
Due: taplo, typos

fix: support no-cgo powershell fallback
  internal/highlight/powershell/tokenize.go
  internal/highlight/powershell/tokenize_nocgo.go
  internal/shell/archive.go
  internal/shell/powershell_parser.go
  internal/shell/powershell_parser_nocgo.go
  internal/third_party/tree_sitter_powershell/binding.go
  internal/third_party/tree_sitter_powershell/binding_nocgo.go
Due: format-go, lint-go

fix: address PR review comment
  design-docs/30-ast-semantic-highlighting-cli-lsp.md
Due: typos

refactor: share highlight byte-column helpers
  internal/highlight/core/bytecols.go
  internal/highlight/dockerfile/tokenize.go
  internal/highlight/powershell/tokenize.go
  internal/highlight/shell/tokenize.go
Due: format-go, lint-go

ci: track full-cgo binary size
  .github/workflows/binary-size.yml
Due: yamllint, format-yml, typos, actionlint

build: ship cgo binaries only
  .github/workflows/release.yml
  .github/workflows/vscode-extension.yml
  .goreleaser.yml
  .yamllint
  Makefile
Due: yamllint, format-yml, typos, actionlint

docs: align cgo build guidance
  .github/copilot-instructions.md
  design-docs/15-async-checks.md
Due: typos

fix: address PR review comment
  internal/highlight/core/bytecols.go
  internal/highlight/core/bytecols_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/highlight/powershell/tokenize.go
  internal/highlight/powershell/tokenize_test.go
Due: format-go, lint-go

chore: link powershell grammar tracking issues
  internal/third_party/tree_sitter_powershell/binding.go
Due: format-go, lint-go

fix: address PR review comment
  internal/rules/tally/prefer_add_unpack.go
  internal/rules/tally/prefer_add_unpack_test.go
Due: format-go, lint-go

fix: address PR review comment
  design-docs/27-windows-container-rules.md
Due: typos

fix: deduplicate prefer-add-unpack output parsing
  internal/rules/tally/prefer_add_unpack.go
Due: format-go, lint-go

docs: update README for Windows and PowerShell support
  README.md
Due: typos

refactor: split shell parser capabilities
  internal/highlight/shell/tokenize.go
  internal/rules/hadolint/dl3010.go
  internal/rules/hadolint/dl4001.go
  internal/rules/hadolint/dl4006.go
  internal/rules/hadolint/helpers.go
  internal/rules/tally/newline_per_chained_call.go
  internal/rules/tally/no_multiple_empty_lines.go
  internal/rules/tally/prefer_add_unpack.go
  internal/rules/tally/prefer_add_unpack_test.go
  internal/rules/tally/prefer_package_cache_mounts.go
  internal/rules/tally/require_secret_mounts.go
  internal/rules/tally/sort_packages.go
  internal/shell/chain_format.go
  internal/shell/command.go
  internal/shell/count.go
  internal/shell/file_creation.go
  internal/shell/shell.go
  internal/shell/shell_test.go
Due: format-go, lint-go

fix: address PR review comment
  .goreleaser.yml
Due: yamllint, format-yml, typos

fix: address PR review comment
  internal/rules/tally/prefer_package_cache_mounts.go
  internal/rules/tally/prefer_package_cache_mounts_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/highlight/shell/tokenize_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/shell/command.go
  internal/shell/command_test.go
Due: format-go, lint-go

zed: set extension version to 0.24.0
  _integrations/zed-tally/Cargo.toml
  _integrations/zed-tally/extension.toml
Due: taplo, typos

feat: switch AI autofix to patch contract
  cmd/tally/cmd/lint.go
  docs/guide/ai-autofix-acp.md
  go.mod
  go.sum
  internal/ai/acp/testdata/testagent/main.go
  internal/ai/autofix/__snapshots__/TestBuildRound1Prompt_PreferMultiStageBuild_RegistryContext_Snapshot_1.snap.md
  internal/ai/autofix/__snapshots__/TestBuildRound1Prompt_PreferMultiStageBuild_Snapshot_1.snap.md
  internal/ai/autofix/parse.go
  internal/ai/autofix/parse_test.go
  internal/ai/autofix/prompt.go
  internal/ai/autofix/prompt_test.go
  internal/ai/autofix/resolver.go
  internal/ai/autofix/resolver_test.go
  internal/ai/autofix/validate.go
  internal/ai/autofix/validate_runtime_test.go
  internal/integration/gemini_smoke_test.go
  internal/patch/patch.go
  internal/patch/patch_test.go
Due: format-go, lint-go, typos

fix: address PR review comment
  docs/guide/ai-autofix-acp.md
Due: typos

fix: address PR review comment
  internal/ai/autofix/validate.go
  internal/ai/autofix/validate_runtime_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/ai/autofix/resolver.go
  internal/ai/autofix/resolver_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/ai/autofix/__snapshots__/TestBuildRound1Prompt_PreferMultiStageBuild_RegistryContext_Snapshot_1.snap.md
  internal/ai/autofix/__snapshots__/TestBuildRound1Prompt_PreferMultiStageBuild_Snapshot_1.snap.md
  internal/ai/autofix/prompt.go
Due: format-go, lint-go, typos

fix: address PR review comment
  internal/ai/autofix/parse.go
  internal/ai/autofix/parse_test.go
Due: format-go, lint-go

feat: switch AI autofix to patch contract (#268)
  cmd/tally/cmd/lint.go
  docs/guide/ai-autofix-acp.md
  go.mod
  go.sum
  internal/ai/acp/testdata/testagent/main.go
  internal/ai/autofix/__snapshots__/TestBuildRound1Prompt_PreferMultiStageBuild_RegistryContext_Snapshot_1.snap.md
  internal/ai/autofix/__snapshots__/TestBuildRound1Prompt_PreferMultiStageBuild_Snapshot_1.snap.md
  internal/ai/autofix/parse.go
  internal/ai/autofix/parse_test.go
  internal/ai/autofix/prompt.go
  internal/ai/autofix/prompt_test.go
  internal/ai/autofix/resolver.go
  internal/ai/autofix/resolver_test.go
  internal/ai/autofix/validate.go
  internal/ai/autofix/validate_runtime_test.go
  internal/integration/gemini_smoke_test.go
  internal/patch/patch.go
  internal/patch/patch_test.go
Due: format-go, lint-go, typos

feat: merge coverage
  .github/workflows/ci.yml
  internal/integration/main_test.go
  internal/lsptest/setup_test.go
  scripts/merge-go-coverprofiles.sh
Due: format-go, lint-go, yamllint, format-yml, typos, actionlint

chore: update serena project
  .serena/project.yml
Due: yamllint, format-yml, typos

Path conditions:
  format-go: any of: **/*.go
  lint-go: any of: **/*.go
  ts-typecheck: any of: extensions/vscode-tally/**/*.ts and ^extensions/vscode\-tally/
  ts-lint: any of: extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts} and ^extensions/vscode\-tally/
  ts-format: any of: *.{js,ts,cjs,mjs,mts,cts,jsx,tsx} and ^extensions/vscode\-tally/
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  format-yml: any of: {.yamlfmt,*.yml,*.yaml}
  typos: any of: *.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}
  codecov: any of: .codecov.yml
  actionlint: any of: .github/workflows/*.{yaml,yml}
  commitlint-config: any of: .commitlintrc.yaml
