Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, taplo, yamllint, typos, codecov, renovate, actionlint, commitlint-config

lint-go:
  run: make lint-fix
  stage_fixed: true

taplo:
  run: npx -y -q @taplo/cli format {staged_files}
  stage_fixed: true

yamllint:
  run: uvx yamllint {staged_files}

typos:
  run: uv tool run typos --force-exclude {staged_files}

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

renovate:
  run: npx -y -q -y --package renovate renovate-config-validator renovate.json

actionlint:
  run: actionlint {staged_files}

commitlint-config:
  run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml

fix: use strings.HasPrefix for mount flag prefix check
  internal/runmount/runmount.go
Due: lint-go

fix: use configured heredoc min-commands in DL3003 coordination
  cmd/tally/cmd/check.go
  internal/rules/hadolint/dl3003.go
  internal/rules/hadolint/dl3003_test.go
  internal/rules/rule.go
Due: lint-go

refactor: extract shared heredoc formatter to internal/heredoc
  internal/fix/heredoc_resolver.go
  internal/heredoc/format.go
  internal/rules/tally/prefer_heredoc.go
  internal/rules/tally/prefer_heredoc_test.go
Due: lint-go

fix: use different pointers for same-value UID test
  internal/runmount/runmount_test.go
Due: lint-go

test: add t.Parallel() for faster test execution
  internal/fix/heredoc_resolver_test.go
  internal/runmount/runmount_test.go
  internal/shell/count_test.go
Due: lint-go

fix: remove redundant contains helper function
  internal/fix/heredoc_resolver_test.go
Due: lint-go

chore: improve linter settings
  .golangci.yaml
Due: yamllint, typos

chore: test in pre-push
  .lefthook.yml
Due: yamllint, typos

fix: allow || chains in heredoc conversion
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/shell/count.go
  internal/shell/count_test.go
Due: lint-go

fix: prevent interleaving conflicts in multi-edit fixes
  internal/fix/fixer.go
  internal/fix/fixer_test.go
Due: lint-go

chore(renovate): fix validation errors and disable auto-merge for Go major updates
  renovate.json
Due: typos, renovate

fix: repair buildkit sync script
  scripts/sync-buildkit-rules/main.go
Due: lint-go

chore: ignore scripts in codecov
  codecov.yml
Due: yamllint, typos

chore: ignore module-prefixed scripts paths
  codecov.yml
Due: yamllint, typos

ci: exclude scripts from coverage
  .github/workflows/ci.yml
Due: yamllint, typos, actionlint

chore: validate BuildKit rules on pre-push
  .lefthook.yml
  scripts/sync-buildkit-rules/main.go
  scripts/validate-buildkit-rules.sh
Due: lint-go, yamllint, typos

refactor: use slices.SortFunc for rule ordering
  scripts/sync-buildkit-rules/main.go
Due: lint-go

test: enforce BuildKit captured rules sync
  internal/rules/buildkit/registry.go
  internal/rules/buildkit/sync_test.go
Due: lint-go

feat: prefer BuildKit DuplicateStageName
  README.md
  RULES.md
  internal/integration/__snapshots__/TestCheck_buildkit-warnings_1.snap.json
  internal/integration/__snapshots__/TestCheck_duplicate-stage-name_1.snap.json
  internal/integration/__snapshots__/TestCheck_fail-level-error_1.snap.json
  internal/integration/__snapshots__/TestCheck_fail-level-none_1.snap.json
  internal/integration/__snapshots__/TestCheck_fail-level-warning_1.snap.json
  internal/integration/testdata/duplicate-stage-name/Dockerfile
  internal/processor/processor_test.go
  internal/rules/buildkit/duplicate_stage_name.go
  internal/rules/buildkit/duplicate_stage_name_test.go
  internal/rules/hadolint-status.json
  internal/rules/hadolint/dl3024.go
  internal/rules/hadolint/dl3024_test.go
  internal/semantic/builder.go
  internal/semantic/construction_rules.go
  internal/semantic/semantic.go
  internal/semantic/semantic_test.go
Due: lint-go, typos

refactor: improve buildkit diff coverage
  internal/rules/buildkit/duplicate_stage_name.go
  internal/rules/buildkit/duplicate_stage_name_test.go
  internal/rules/buildkit/fixes/enricher_test.go
  internal/rules/buildkit/fixes/json_args_recommended.go
  internal/rules/buildkit/fixes/json_args_recommended_test.go
  internal/rules/buildkit/json_args_recommended.go
  internal/shell/split_simple_command_test.go
Due: lint-go

test(integration): cover JSONArgsRecommended in buildkit-warnings
  internal/integration/__snapshots__/TestCheck_buildkit-warnings_1.snap.json
  internal/integration/__snapshots__/TestCheck_fail-level-error_1.snap.json
  internal/integration/__snapshots__/TestCheck_fail-level-none_1.snap.json
  internal/integration/__snapshots__/TestCheck_fail-level-warning_1.snap.json
  internal/integration/__snapshots__/TestCheck_format-github-actions_1.snap.txt
  internal/integration/__snapshots__/TestCheck_format-markdown_1.snap.md
  internal/integration/__snapshots__/TestCheck_format-sarif_1.snap.json
  internal/integration/testdata/buildkit-warnings/Dockerfile
Due: typos

fix(shell): reject leading-tilde words for exec-form
  internal/shell/split_simple_command.go
  internal/shell/split_simple_command_test.go
Due: lint-go

fix: handle multi-line RUN instructions in edit range fallback
  internal/rules/tally/prefer_copy_heredoc.go
  internal/rules/tally/prefer_copy_heredoc_test.go
Due: lint-go

feat: detect cat heredoc file creation patterns
  internal/rules/tally/prefer_copy_heredoc.go
  internal/rules/tally/prefer_copy_heredoc_test.go
Due: lint-go

feat: handle RUN cat heredoc + separate RUN chmod
  internal/rules/tally/prefer_copy_heredoc.go
  internal/rules/tally/prefer_copy_heredoc_test.go
  internal/shell/file_creation.go
Due: lint-go

feat: support symbolic chmod modes (+x, u+x, etc.)
  internal/rules/tally/prefer_copy_heredoc_test.go
  internal/shell/file_creation.go
  internal/shell/file_creation_test.go
Due: lint-go

docs: document symbolic chmod support in prefer-copy-heredoc
  RULES.md
Due: typos

fix: prevent sequence fixes from dropping commands or changing append semantics
  internal/rules/tally/prefer_copy_heredoc.go
Due: lint-go

fix: mark cat with args as unsafe content
  internal/shell/file_creation.go
  internal/shell/file_creation_test.go
Due: lint-go

fix: add edge-case tests for sequence safety
  internal/rules/tally/prefer_copy_heredoc.go
  internal/rules/tally/prefer_copy_heredoc_test.go
Due: lint-go

fix: empty content should create 0-byte file, not 1-byte newline
  internal/rules/tally/prefer_copy_heredoc.go
  internal/rules/tally/prefer_copy_heredoc_test.go
Due: lint-go

fix: respect check-consecutive-runs when skipping sequences
  internal/rules/tally/prefer_copy_heredoc.go
  internal/rules/tally/prefer_copy_heredoc_test.go
Due: lint-go

fix: filter redirects to only process stdout
  internal/shell/file_creation.go
  internal/shell/file_creation_test.go
Due: lint-go

fix: append-only runs should not seed sequences for different files
  internal/rules/tally/prefer_copy_heredoc.go
Due: lint-go

fix: normalize paths before prefix checks in isPathUnder
  internal/rules/tally/prefer_copy_heredoc.go
Due: lint-go

fix: reject printf calls with extra arguments
  internal/shell/file_creation.go
Due: lint-go

fix: strip leading tabs for DashHdoc (<<-) heredocs
  internal/shell/file_creation.go
Due: lint-go

test: add regression case for disabling consecutive checks with overwrites
  internal/rules/tally/prefer_copy_heredoc_test.go
Due: lint-go

docs: document NormalizeOctalMode edge-case behavior
  internal/shell/file_creation.go
Due: lint-go

Path conditions:
  lint-go: any of: **/*.go
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  typos: any of: *.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  commitlint-config: any of: .commitlintrc.yaml
