Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, taplo, yamllint, typos, codecov, renovate, actionlint, commitlint-config

lint-go:
  run: make lint-fix
  stage_fixed: true

taplo:
  run: npx -y -q @taplo/cli format {staged_files}
  stage_fixed: true

yamllint:
  run: uvx yamllint {staged_files}

typos:
  run: uv tool run typos --force-exclude {staged_files}

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

renovate:
  run: npx -y -q -y --package renovate renovate-config-validator renovate.json

actionlint:
  run: actionlint {staged_files}

commitlint-config:
  run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml

test: improve file_creation.go test coverage to 85.9%
  internal/shell/file_creation_test.go
Due: lint-go

fix: reject multiple heredocs as ambiguous in cat detection
  internal/shell/file_creation.go
Due: lint-go

fix(shell): reject unknown echo flags and handle -- properly
  internal/shell/file_creation.go
  internal/shell/file_creation_test.go
Due: lint-go

fix(shell): check complex expansion for unquoted ParamExp
  internal/shell/file_creation.go
  internal/shell/file_creation_test.go
Due: lint-go

fix(shell): support 4-digit special permission modes in octal regex
  internal/shell/file_creation.go
  internal/shell/file_creation_test.go
Due: lint-go

feat(shell): detect umask commands and calculate effective file mode
  internal/shell/file_creation.go
  internal/shell/file_creation_test.go
Due: lint-go

fix: use octal formatting for chmod mode in test error messages
  internal/shell/file_creation_test.go
Due: lint-go

fix: compute IsAppend from all writes in chain, not just the first
  internal/shell/file_creation.go
Due: lint-go

feat: add prefer-copy-heredoc rule for file creation patterns (#55)
  README.md
  RULES.md
  internal/integration/__snapshots__/TestCheck_copy-from-own-alias_1.snap.json
  internal/integration/__snapshots__/TestCheck_duplicate-stage-name_1.snap.json
  internal/integration/__snapshots__/TestCheck_invalid-instruction-order_1.snap.json
  internal/integration/__snapshots__/TestCheck_multiple-healthcheck_1.snap.json
  internal/integration/__snapshots__/TestCheck_no-from-instruction_1.snap.json
  internal/integration/__snapshots__/TestCheck_onbuild-forbidden_1.snap.json
  internal/integration/__snapshots__/TestCheck_total-rules-enabled_1.snap.json
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/rules/tally/prefer_copy_heredoc.go
  internal/rules/tally/prefer_copy_heredoc_test.go
  internal/shell/file_creation.go
  internal/shell/file_creation_test.go
Due: lint-go, typos

feat: add auto-fix for buildkit/InvalidDefinitionDescription rule
  RULES.md
  internal/dockerfile/parser.go
  internal/integration/__snapshots__/TestCheck_buildkit-warnings_1.snap.json
  internal/integration/__snapshots__/TestCheck_fail-level-error_1.snap.json
  internal/integration/__snapshots__/TestCheck_fail-level-none_1.snap.json
  internal/integration/__snapshots__/TestCheck_fail-level-warning_1.snap.json
  internal/integration/__snapshots__/TestCheck_invalid-definition-description_1.snap.json
  internal/integration/integration_test.go
  internal/integration/testdata/invalid-definition-description/Dockerfile
  internal/rules/buildkit/fixes/enricher.go
  internal/rules/buildkit/fixes/fixes_test.go
  internal/rules/buildkit/fixes/invalid_definition_description.go
Due: lint-go, typos

fix: avoid duplicate ExperimentalRules entries
  internal/dockerfile/parser.go
Due: lint-go

feat: add auto-fix for buildkit/InvalidDefinitionDescription rule (#59)
  RULES.md
  internal/dockerfile/parser.go
  internal/integration/__snapshots__/TestCheck_buildkit-warnings_1.snap.json
  internal/integration/__snapshots__/TestCheck_fail-level-error_1.snap.json
  internal/integration/__snapshots__/TestCheck_fail-level-none_1.snap.json
  internal/integration/__snapshots__/TestCheck_fail-level-warning_1.snap.json
  internal/integration/__snapshots__/TestCheck_invalid-definition-description_1.snap.json
  internal/integration/integration_test.go
  internal/integration/testdata/invalid-definition-description/Dockerfile
  internal/rules/buildkit/fixes/enricher.go
  internal/rules/buildkit/fixes/fixes_test.go
  internal/rules/buildkit/fixes/invalid_definition_description.go
Due: lint-go, typos

fix: force GOSUMDB
  Makefile
  scripts/validate-buildkit-rules.sh
Due: none

feat(docs): GitHub pages docs
  .github/workflows/docs.yml
  .gitignore
  README.md
  design-docs/01-linter-pipeline-architecture.md
  design-docs/02-buildx-bake-check-analysis.md
  design-docs/03-parsing-and-ast.md
  design-docs/04-inline-disables.md
  design-docs/05-reporters-and-output.md
  design-docs/06-code-organization.md
  design-docs/07-context-aware-foundation.md
  design-docs/08-hadolint-rules-reference.md
  design-docs/09-hadolint-research.md
  design-docs/10-buildkit-phase2-path-forward.md
  design-docs/MACOS_SIGNING.md
  design-docs/README.md
  design-docs/buildkit-getmounts-behavior.md
  design-docs/buildkit-phase2-rules-research.md
  docs/guide/configuration.md
  docs/guide/index.md
  docs/index.md
  docs/rules/index.md
  docs/rules/tally/index.md
  docs/rules/tally/max-lines.md
  docs/rules/tally/no-unreachable-stages.md
  docs/rules/tally/prefer-copy-heredoc.md
  docs/rules/tally/prefer-run-heredoc.md
  docs/rules/tally/secrets-in-code.md
  zensical.toml
Due: yamllint, typos, actionlint

feat: tally rule creation skill
  .claude/skills/create-tally-rule/SKILL.md
Due: typos

fix: guard heredocDashEdit against << inside quoted strings
  internal/rules/tally/consistent_indentation.go
Due: lint-go

fix: rename containsChar to consistsOf for clarity
  internal/rules/tally/consistent_indentation.go
Due: lint-go

fix: guard resolveRunEndPosition against empty loc slice
  internal/rules/tally/prefer_copy_heredoc.go
Due: lint-go

fix: remove redundant inequality check in indentation switch
  internal/rules/tally/consistent_indentation.go
Due: lint-go

fix: align all continuation lines in consistent-indentation rule
  internal/integration/__snapshots__/TestCheck_consistent-indentation_1.snap.json
  internal/integration/integration_test.go
  internal/integration/testdata/consistent-indentation/Dockerfile
  internal/rules/tally/consistent_indentation.go
Due: lint-go, typos

fix: validate rule configs against JSON schema at startup
  cmd/tally/cmd/check.go
  internal/rules/tally/consistent_indentation.go
Due: lint-go

fix: show config file path in validation warnings
  cmd/tally/cmd/check.go
Due: lint-go

fix: assert both errors in multiple-errors validation test
  internal/rules/configutil/resolve_test.go
  internal/rules/tally/consistent_indentation.go
  internal/rules/tally/consistent_indentation_test.go
Due: lint-go

fix: scan all lines for heredoc << to <<- conversion
  internal/rules/tally/consistent_indentation.go
  internal/rules/tally/consistent_indentation_test.go
Due: lint-go

docs: improve rule creation skill with lessons learned
  .claude/skills/create-tally-rule/SKILL.md
Due: typos

fix: clamp endLine before loop in resolveEndLine
  internal/rules/tally/consistent_indentation.go
Due: lint-go

refactor: pass precomputed endLine into setIndentEdits
  internal/rules/tally/consistent_indentation.go
Due: lint-go

feat: add bun-based LSP protocol generator
  .gitattributes
  Makefile
  go.mod
  go.sum
  internal/lsp/protocol/doc.go
  internal/lsp/protocol/lsp_generated.go
  internal/lsp/protocol/support.go
  tools/lspgen/.gitignore
  tools/lspgen/README.md
  tools/lspgen/fetchModel.mts
  tools/lspgen/generate.mts
  tools/lspgen/metaModelSchema.mts
  tools/lspgen/tsconfig.json
Due: lint-go, typos

refactor: switch LSP server to generated 3.17 protocol types + add pull diagnostics
  go.mod
  go.sum
  internal/lspserver/codeactions.go
  internal/lspserver/diagnostics.go
  internal/lspserver/pipe_test.go
  internal/lspserver/server.go
  internal/lspserver/server_test.go
  internal/lsptest/__snapshots__/TestLSP_Initialize_1.snap.json
  internal/lsptest/lsp_test.go
  internal/lsptest/setup_test.go
Due: lint-go, typos

fix: deadcode SSA panic workaround + Windows test path fix
  Makefile
  internal/lspserver/server_test.go
Due: lint-go

chore: add tracking issue link to deadcode workaround
  Makefile
Due: none

fix: return individual text edits from formatting instead of whole-document replacement
  internal/fix/fix.go
  internal/fix/fixer.go
  internal/lspserver/formatting.go
Due: lint-go

fix: address PR review comment
  internal/lspserver/formatting.go
Due: lint-go

ci: use setup-go and explicit build in CodeQL workflow
  AGENTS.md
  CLAUDE.md
Due: typos

fix: address PR review comment
  internal/lspserver/server.go
Due: lint-go

fix: address PR review comment
  internal/lspserver/diagnostics.go
Due: lint-go

refactor: use typed helpers for rule config decoding
  internal/config/config_test.go
  internal/config/rules.go
  internal/linter/config.go
  internal/rules/configutil/resolve.go
  internal/rules/hadolint/dl3026.go
  internal/rules/tally/max_lines.go
  internal/rules/tally/prefer_copy_heredoc.go
  internal/rules/tally/prefer_heredoc.go
Due: lint-go

docs: correct github links
  design-docs/11-vscode-extension-architecture.md
Due: typos

fix: accept JSON null in unmarshalEmpty for LSP no-param methods
  internal/lsp/protocol/support.go
Due: lint-go

fix: deduplicate debug.ReadBuildInfo calls in version package
  internal/version/version.go
Due: lint-go

Path conditions:
  lint-go: any of: **/*.go
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  typos: any of: *.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  commitlint-config: any of: .commitlintrc.yaml
