Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

format-go:
  run: gofmt -w -s {staged_files}
  stage_fixed: true

lint-go:
  run: GOEXPERIMENT=jsonv2 make lint-fix
  stage_fixed: true

ts-typecheck:
  run: bunx @typescript/native-preview --noEmit

ts-lint:
  run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
  stage_fixed: true

ts-format:
  run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
  stage_fixed: true

taplo:
  run: bunx -y -q @taplo/cli format {staged_files}
  stage_fixed: true

yamllint:
  run: uvx yamllint {staged_files}

format-yml:
  run: yamlfmt {staged_files}
  stage_fixed: true

typos:
  run: uv tool run typos==1.43.4 --force-exclude {staged_files}

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

actionlint:
  run: actionlint {staged_files}

commitlint-config:
  run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml

fix: address PR review comment
  internal/integration/__snapshots__/TestFix_invalid-onbuild-trigger_1.snap.Dockerfile
  internal/integration/fix_cases_test.go
Due: format-go, lint-go

docs: replace inline exit code table in README with link to guide
  README.md
Due: typos

fix: address PR review comment
  internal/syntax/syntax.go
Due: format-go, lint-go

fix: address PR review comment
  internal/rules/tally/invalid_onbuild_trigger_test.go
Due: format-go, lint-go

feat: add tally/circular-stage-deps rule for cycle detection in multi-stage builds
  README.md
  RULES.md
  docs/rules/tally/circular-stage-deps.md
  docs/rules/tally/index.md
  internal/integration/__snapshots__/TestLint_circular-stage-deps_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/circular-stage-deps/Dockerfile
  internal/rules/tally/__snapshots__/TestCircularStageDepsRule_Metadata_1.snap.json
  internal/rules/tally/circular_stage_deps.go
  internal/rules/tally/circular_stage_deps_test.go
  internal/semantic/builder.go
  internal/semantic/graph.go
  internal/semantic/semantic_test.go
Due: format-go, lint-go, typos

docs: mark tally/circular-stage-deps as implemented in design doc
  design-docs/20-buildkit-parseable-non-buildable-dockerfiles.md
Due: typos

fix: use slices.Min instead of manual loop for min index
  internal/rules/tally/circular_stage_deps.go
Due: format-go, lint-go

fix: correct DetectCycles doc to reflect per-SCC guarantee
  internal/semantic/graph.go
Due: format-go, lint-go

fix: consolidate duplicate two-stage-cycle tests into subtests
  internal/rules/tally/circular_stage_deps_test.go
Due: format-go, lint-go

feat: add tally/invalid-json-form rule
  README.md
  RULES.md
  docs/index.md
  docs/rules/tally/index.md
  docs/rules/tally/invalid-json-form.md
  internal/integration/__snapshots__/TestFix_invalid-json-form-single-quotes_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_invalid-json-form-trailing-comma_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_invalid-json-form-unquoted_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_invalid-json-form_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/invalid-json-form/Dockerfile
  internal/rules/tally/invalid_json_form.go
  internal/rules/tally/invalid_json_form_test.go
Due: format-go, lint-go, typos

test: add regression test for hash-in-argument edge case
  internal/rules/tally/invalid_json_form_test.go
Due: format-go, lint-go

fix: address PR review comment
  docs/rules/tally/invalid-json-form.md
Due: typos

fix: address PR review comment
  internal/rules/tally/invalid_json_form.go
  internal/rules/tally/invalid_json_form_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/rules/tally/invalid_json_form.go
Due: format-go, lint-go

fix: address PR review comment
  internal/rules/tally/invalid_json_form_test.go
Due: format-go, lint-go

fix: address PR review comment
  docs/rules/buildkit/JSONArgsRecommended.md
  docs/rules/tally/invalid-json-form.md
  internal/integration/__snapshots__/TestLint_invalid-json-form-cross-rules_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/invalid-json-form-cross-rules/Dockerfile
  internal/rules/tally/invalid_json_form.go
Due: format-go, lint-go, typos

fix: elevate JSONArgsRecommended to error in cross-rule test
  internal/integration/__snapshots__/TestLint_invalid-json-form-cross-rules_1.snap.json
  internal/integration/testdata/invalid-json-form-cross-rules/.tally.toml
  internal/integration/testdata/invalid-json-form-cross-rules/Dockerfile
Due: taplo, typos

test: add cross-rule fix test for invalid-json-form + JSONArgsRecommended
  internal/integration/__snapshots__/TestFix_invalid-json-form-cross-rules_1.snap.Dockerfile
  internal/integration/fix_cases_test.go
Due: format-go, lint-go

chore: add VSCode AI integration proposal
  design-docs/21-vscode-ai-codeaction-autofix-prefer-multi-stage-build.md
Due: typos

chore: add docker extension proposal
  design-docs/22-docker-desktop-extension.md
  design-docs/README.md
Due: typos

chore: update status
  design-docs/20-buildkit-parseable-non-buildable-dockerfiles.md
Due: typos

feat: add tally/require-stages fail-fast syntax check
  README.md
  RULES.md
  design-docs/20-buildkit-parseable-non-buildable-dockerfiles.md
  docs/rules/tally/index.md
  docs/rules/tally/require-stages.md
  docs/rules/tally/syntax-directive-typo.md
  docs/rules/tally/unknown-instruction.md
  internal/integration/__snapshots__/TestLint_no-from-instruction_1.snap.json
  internal/integration/error_test.go
  internal/integration/lint_cases_test.go
  internal/semantic/builder.go
  internal/semantic/semantic_test.go
  internal/syntax/require_stages.go
  internal/syntax/syntax.go
  internal/syntax/syntax_test.go
Due: format-go, lint-go, typos

feat: add cmdliteral analyzer and migrate to command.* constants
  _tools/customlint/README.md
  _tools/customlint/cmdliteral.go
  _tools/customlint/cmdliteral_test.go
  _tools/customlint/plugin.go
  _tools/customlint/testdata/src/internal/rules/cmdliteral/cmdliteral.go
  _tools/customlint/testdata/src/internal/rules/cmdliteral/cmdliteral_test.go
  internal/ai/autofix/prompt.go
  internal/dockerfile/heredoc.go
  internal/dockerfile/parser.go
  internal/fix/epilogue_order_resolver.go
  internal/rules/buildkit/fixes/expose_proto_casing.go
  internal/rules/buildkit/fixes/from_as_casing.go
  internal/rules/buildkit/fixes/json_args_recommended.go
  internal/rules/buildkit/fixes/legacy_key_value_format.go
  internal/rules/buildkit/fixes/stage_name_casing.go
  internal/rules/buildkit/fixes/tokenizer.go
  internal/rules/buildkit/json_args_recommended.go
  internal/rules/buildkit/secrets_in_arg_or_env.go
  internal/rules/epilogue_order_data.go
  internal/rules/hadolint/dl3027.go
  internal/rules/tally/invalid_json_form.go
  internal/rules/tally/invalid_onbuild_trigger.go
  internal/rules/tally/newline_per_chained_call.go
  internal/rules/tally/prefer_package_cache_mounts.go
  internal/semantic/builder.go
Due: format-go, lint-go, typos

fix: restore auto-generated README rule count
  README.md
  RULES.md
Due: typos

fix: include syntax rules in auto-generated rule counts
  README.md
  RULES.md
  internal/syntax/syntax.go
  scripts/sync-buildkit-rules/main.go
Due: format-go, lint-go, typos

fix: fire require-stages for ASTs with empty instruction list
  internal/syntax/require_stages.go
  internal/syntax/syntax_test.go
Due: format-go, lint-go

fix: replace magic number 3 with len(command.Run)
  internal/rules/hadolint/dl3027.go
Due: format-go, lint-go

fix: make syntax.Check truly fail-fast with sequential if-guards
  internal/syntax/syntax.go
Due: format-go, lint-go

fix: use EqualFold for AS check in isDockerfileKeyword
  internal/rules/buildkit/fixes/tokenizer.go
Due: format-go, lint-go

fix: replace magic number 3 with len(command.Run)
  internal/rules/tally/newline_per_chained_call.go
Due: format-go, lint-go

feat: add tally/copy-from-empty-scratch-stage and tally/shell-run-in-scratch rules
  README.md
  RULES.md
  design-docs/20-buildkit-parseable-non-buildable-dockerfiles.md
  docs/rules/tally/copy-from-empty-scratch-stage.md
  docs/rules/tally/index.md
  docs/rules/tally/shell-run-in-scratch.md
  internal/integration/__snapshots__/TestLint_copy-from-empty-scratch-stage_1.snap.json
  internal/integration/__snapshots__/TestLint_shell-run-in-scratch_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/copy-from-empty-scratch-stage/Dockerfile
  internal/integration/testdata/shell-run-in-scratch/Dockerfile
  internal/rules/hadolint/dl3026.go
  internal/rules/hadolint/dl3026_test.go
  internal/rules/tally/__snapshots__/TestCopyFromEmptyScratchStageRule_Metadata_1.snap.json
  internal/rules/tally/__snapshots__/TestShellRunInScratchRule_Metadata_1.snap.json
  internal/rules/tally/copy_from_empty_scratch_stage.go
  internal/rules/tally/copy_from_empty_scratch_stage_test.go
  internal/rules/tally/shell_run_in_scratch.go
  internal/rules/tally/shell_run_in_scratch_test.go
  internal/semantic/builder.go
  internal/semantic/semantic_test.go
  internal/semantic/stage_info.go
Due: format-go, lint-go, typos

chore: update extension doc
  design-docs/22-docker-desktop-extension.md
Due: typos

fix: add missing builder stage to doc example
  docs/rules/tally/copy-from-empty-scratch-stage.md
Due: typos

fix: remove duplicated "stage" in scratch rule messages
  internal/integration/__snapshots__/TestLint_copy-from-empty-scratch-stage_1.snap.json
  internal/integration/__snapshots__/TestLint_shell-run-in-scratch_1.snap.json
  internal/rules/tally/copy_from_empty_scratch_stage.go
  internal/rules/tally/shell_run_in_scratch.go
Due: format-go, lint-go, typos

fix: add cross-rule boundary test for shell-form RUN in scratch
  internal/rules/tally/copy_from_empty_scratch_stage_test.go
Due: format-go, lint-go

fix: add cross-rule interaction test running both scratch rules
  internal/rules/tally/shell_run_in_scratch_test.go
Due: format-go, lint-go

fix: suppress shell-run-in-scratch per-command, not per-stage
  internal/rules/tally/shell_run_in_scratch.go
  internal/rules/tally/shell_run_in_scratch_test.go
Due: format-go, lint-go

fix: document cross-rule interaction between scratch rules
  .coderabbit.yaml
  docs/rules/tally/copy-from-empty-scratch-stage.md
  docs/rules/tally/shell-run-in-scratch.md
  internal/rules/tally/copy_from_empty_scratch_stage.go
  internal/rules/tally/shell_run_in_scratch.go
Due: format-go, lint-go, yamllint, format-yml, typos

Path conditions:
  format-go: any of: **/*.go
  lint-go: any of: **/*.go
  ts-typecheck: any of: extensions/vscode-tally/**/*.ts and ^extensions/vscode\-tally/
  ts-lint: any of: extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts} and ^extensions/vscode\-tally/
  ts-format: any of: *.{js,ts,cjs,mjs,mts,cts,jsx,tsx} and ^extensions/vscode\-tally/
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  format-yml: any of: {.yamlfmt,*.yml,*.yaml}
  typos: any of: *.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}
  codecov: any of: .codecov.yml
  actionlint: any of: .github/workflows/*.{yaml,yml}
  commitlint-config: any of: .commitlintrc.yaml
