Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

.lefthook.yml:

# yaml-language-server: =https://json.schemastore.org/lefthook.json
---
output:
  # - summary # Print summary block (successful and failed steps)
  # - empty_summary # Print summary heading when there are no steps to run
  - failure # Print failed steps printing
# - skips # Print "skip" (i.e. no files matched)
assert_lefthook_installed: true
pre-commit:
  commands:
    format-go:
      glob: "**/*.go"
      run: gofmt -w -s {staged_files}
      stage_fixed: true
    lint-go:
      glob: "**/*.go"
      run: GOEXPERIMENT=jsonv2 make lint-fix
      stage_fixed: true
    ts-typecheck:
      glob: "extensions/vscode-tally/**/*.ts"
      run: bunx @typescript/native-preview --noEmit
      root: extensions/vscode-tally
    ts-lint:
      glob: "extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts}"
      run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
      stage_fixed: true
      root: extensions/vscode-tally
    ts-format:
      glob: "*.{js,ts,cjs,mjs,mts,cts,jsx,tsx}"
      run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
      stage_fixed: true
      root: extensions/vscode-tally
    taplo:
      glob: "**/*.toml"
      run: bunx -y -q @taplo/cli format {staged_files}
      stage_fixed: true
    rumdl:
      glob: "**/*.md"
      exclude: "**/__snapshots__/**"
      run: uv tool run rumdl==0.1.17 check --fix --config .rumdl.toml --output-format concise {staged_files}
      stage_fixed: true
    yamllint:
      glob: "*.{yml,yaml}"
      run: uvx yamllint {staged_files}
    format-yml:
      glob: "{.yamlfmt,*.yml,*.yaml}"
      run: yamlfmt {staged_files}
      stage_fixed: true
    typos:
      glob: "*.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}"
      run: uv tool run typos==1.43.4 --force-exclude {staged_files}
    codecov:
      glob: ".codecov.yml"
      run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate
    # renovate:
    #   glob: "renovate.json"
    #   run: npx -y -q -y --package renovate renovate-config-validator renovate.json
    actionlint:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}
    commitlint-config:
      glob: ".commitlintrc.yaml"
      run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml
commit-msg:
  commands:
    "lint commit message":
      run: npx -y -q commitlint --edit {1}
    "check spelling":
      run: uv tool run typos==1.43.4 {1}
post-merge:
  files: "git diff-tree -r --name-only --no-commit-id ORIG_HEAD HEAD"
  commands:
    delete-merged-branches:
      run: git branch --merged | grep -Ev '\*|master|main|dev|develop|development|stag|staging|prod|production' | xargs git branch -d; git fetch --prune;
pre-push:
  parallel: true
  jobs:
    - name: build
      run: GOEXPERIMENT=jsonv2 make build
    - name: deadcode
      run: GOEXPERIMENT=jsonv2 make deadcode
    - name: test
      run: GOEXPERIMENT=jsonv2 make test
    - name: validate-hadolint-status
      run: ./scripts/validate-hadolint-status.sh
    - name: validate-buildkit-rules
      run: GOEXPERIMENT=jsonv2 ./scripts/validate-buildkit-rules.sh

refactor: targeted cleanup deletions instead of full tail replacement
  internal/integration/__snapshots__/TestFix_prefer-package-cache-mounts-no-cache-flags_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-package-cache-mounts-with-prefer-run-heredoc_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-package-cache-mounts_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_require-secret-mounts-multi-command_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_three-rules-same-line_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_prefer-package-cache-mounts_1.snap.json
  internal/integration/fix_cases_test.go
  internal/rules/tally/prefer_package_cache_mounts.go
  internal/rules/tally/prefer_package_cache_mounts_test.go
Due: format-go, lint-go, typos

fix: address PR review comment
  internal/rules/tally/prefer_package_cache_mounts.go
Due: format-go, lint-go

fix: commit updated snapshot and generated code
  internal/integration/__snapshots__/TestLint_prefer-package-cache-mounts_1.snap.json
  internal/schemas/generated/rules/tally/require_secret_mounts.gen.go
Due: format-go, lint-go, typos

fix: golines alignment and gocritic if-else to switch
  internal/rules/tally/prefer_package_cache_mounts.go
Due: format-go, lint-go

fix: funlen, gocritic, golines in computeCleanupEdits
  internal/rules/tally/prefer_package_cache_mounts.go
Due: format-go, lint-go

fix: bundle buildCleanupEdit params into struct (revive argument-limit)
  internal/rules/tally/prefer_package_cache_mounts.go
Due: format-go, lint-go

fix: update lint snapshot with heredoc cleanup edit
  internal/integration/__snapshots__/TestLint_prefer-package-cache-mounts_1.snap.json
Due: typos

fix: prevent overlapping edits in heredoc cleanup fallback
  internal/integration/__snapshots__/TestLint_prefer-package-cache-mounts_1.snap.json
  internal/rules/tally/prefer_package_cache_mounts.go
Due: format-go, lint-go, typos

feat: add tally/require-secret-mounts rule (#208)
  README.md
  RULES.md
  docs/index.md
  docs/rules/tally/index.md
  docs/rules/tally/require-secret-mounts.md
  internal/integration/__snapshots__/TestFix_prefer-package-cache-mounts_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_require-secret-mounts-multi-command_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_require-secret-mounts-with-cache-mount_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_require-secret-mounts-with-cache-mounts-combined_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_require-secret-mounts_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_three-rules-same-line_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_prefer-package-cache-mounts_1.snap.json
  internal/integration/__snapshots__/TestLint_require-secret-mounts_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/require-secret-mounts/.tally.toml
  internal/integration/testdata/require-secret-mounts/Dockerfile
  internal/rules/tally/__snapshots__/TestRequireSecretMountsMetadata_1.snap.json
  internal/rules/tally/index.schema.json
  internal/rules/tally/prefer_package_cache_mounts.go
  internal/rules/tally/prefer_package_cache_mounts_test.go
  internal/rules/tally/require_secret_mounts.go
  internal/rules/tally/require_secret_mounts.schema.json
  internal/rules/tally/require_secret_mounts_test.go
  internal/runmount/runmount.go
  internal/schemas/generated/config/tally_config.gen.go
  internal/schemas/generated/rules/tally/require_secret_mounts.gen.go
  internal/schemas/manifest.json
  internal/schemas/registry_gen.go
  schema.json
Due: format-go, lint-go, taplo, typos

zed: set extension version to 0.19.0
  _integrations/zed-tally/Cargo.toml
  _integrations/zed-tally/extension.toml
Due: taplo, typos

chore: update windows docs
  design-docs/26-windows-container-support.md
  design-docs/27-windows-container-rules.md
Due: typos

chore: remove env from claude setting
  .claude/settings.json
Due: typos

feat: add tally/no-multi-spaces rule and narrow fix edits for cross-rule cooperation
  .claude/skills/create-tally-rule/SKILL.md
  README.md
  RULES.md
  docs/index.md
  docs/rules/tally/index.md
  docs/rules/tally/no-multi-spaces.md
  internal/integration/__snapshots__/TestFixCrossRuleMultiSpacesIndentationChain_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorldMetalama_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_no-multi-spaces-continuation-lines_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_no-multi-spaces-heredoc-skipped_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_no-multi-spaces_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_newline-per-chained-call_1.snap.json
  internal/integration/__snapshots__/TestLint_no-multi-spaces_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/fix_scenarios_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/no-multi-spaces/Dockerfile
  internal/lsptest/__snapshots__/TestLSP_FormattingRealWorld_1.snap.Dockerfile
  internal/rules/tally/__snapshots__/TestNoMultiSpacesMetadata_1.snap.json
  internal/rules/tally/index.schema.json
  internal/rules/tally/newline_per_chained_call.go
  internal/rules/tally/newline_per_chained_call_test.go
  internal/rules/tally/no_multi_spaces.go
  internal/rules/tally/no_multi_spaces.schema.json
  internal/rules/tally/no_multi_spaces_test.go
  internal/schemas/generated/config/tally_config.gen.go
  internal/schemas/generated/rules/tally/no_multi_spaces.gen.go
  internal/schemas/manifest.json
  internal/schemas/registry_gen.go
  internal/shell/chain_format.go
  schema.json
Due: format-go, lint-go, typos

fix: extract scanExtraSpaceRuns helper to satisfy funlen limit
  internal/rules/tally/no_multi_spaces.go
Due: format-go, lint-go

chore: update skill formatting
  .claude/skills/create-tally-rule/SKILL.md
Due: typos

fix: use single-line range for one-character deletion edit
  internal/rules/tally/newline_per_chained_call.go
Due: format-go, lint-go

fix: remove named returns to satisfy nonamedreturns linter
  internal/rules/tally/no_multi_spaces.go
Due: format-go, lint-go

chore: downgrade custom-lint build
  .custom-gcl.yml
  .golangci-lint-version
  .golangci.yaml
Due: yamllint, format-yml, typos

fix: lint
  internal/registry/containers.go
  internal/registry/resolve_debug_test.go
Due: format-go, lint-go

fix: resolve all lint errors (prealloc, errcheck, nonamedreturns, gocritic, paralleltest)
  cmd/tally/cmd/lint.go
  internal/async/runtime.go
  internal/fix/epilogue_order_resolver.go
  internal/fix/fixer.go
  internal/registry/classify_error_test.go
  internal/registry/containers.go
  internal/registry/resolve_debug_test.go
  internal/registry/testutil/mockregistry.go
  internal/rules/asyncutil/plan.go
  internal/rules/buildkit/from_platform_flag_const_disallowed.go
  internal/rules/buildkit/invalid_default_arg_in_from.go
  internal/rules/hadolint/dl3045.go
  internal/rules/hadolint/dl3046.go
  internal/rules/hadolint/helpers_test.go
  internal/rules/tally/invalid_onbuild_trigger.go
  internal/rules/tally/no_multi_spaces.go
  internal/rules/tally/no_trailing_spaces.go
  internal/rules/tally/prefer_copy_heredoc.go
  internal/rules/tally/prefer_package_cache_mounts.go
  internal/rules/tally/require_secret_mounts.go
  internal/semantic/platform.go
  internal/syntax/unknown_instruction.go
Due: format-go, lint-go

chore: update VSCode tests
  .github/workflows/vscode-extension.yml
  _integrations/vscode-tally/test/e2e/smoke.test.ts
Due: yamllint, format-yml, typos, actionlint

chore: ignore vendor
  _integrations/vscode-tally/.oxlintrc.json
Due: typos

chore: add license
  .github/workflows/release.yml
  _integrations/vscode-tally/.gitignore
  _integrations/vscode-tally/package.json
Due: yamllint, format-yml, typos, actionlint

chore: lint markdown on CI
  .github/workflows/ci.yml
  .rumdl.toml
  AGENTS.md
  README.md
  RULES.md
  docs/rules/hadolint/DL3029.md
  docs/rules/tally/require-secret-mounts.md
  renovate.json
Due: yamllint, format-yml, typos, actionlint

fix: ci.yaml -> ci.yml
  renovate.json
Due: typos

docs: add design-doc 29 — lessons from Shipwright (ICSE 2021) for build-aware Dockerfile repair
  design-docs/29-shipwright-lessons-build-aware-repair.md
Due: typos

chore: sync BuildKit rules README table formatting
  README.md
  RULES.md
Due: typos

chore: enable code actions on save
  .vscode/settings.json
Due: typos

chore: disable MD058
  .rumdl.toml
Due: typos

docs: design-doc 29 — lessons from Shipwright for build-aware repair (#220)
  .rumdl.toml
  .vscode/settings.json
  README.md
  RULES.md
  design-docs/29-shipwright-lessons-build-aware-repair.md
Due: typos

feat: add tally/sort-packages rule with slot-based fix edits
  README.md
  RULES.md
  docs/rules/tally/index.md
  docs/rules/tally/sort-packages.md
  internal/integration/__snapshots__/TestFix_sort-packages-multi-line_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_sort-packages-npm_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_sort-packages-pip_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_sort-packages-single-line_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_sort-packages_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/sort-packages/Dockerfile
  internal/rules/tally/__snapshots__/TestSortPackagesMetadata_1.snap.json
  internal/rules/tally/sort_packages.go
  internal/rules/tally/sort_packages_test.go
  internal/shell/install_packages.go
  internal/shell/install_packages_test.go
Due: format-go, lint-go, typos

fix: correct isFlagWithValue logic in install_packages.go
  internal/shell/install_packages.go
  internal/shell/install_packages_test.go
Due: format-go, lint-go

test: add -o and --target-release flag regression tests
  internal/shell/install_packages_test.go
Due: format-go, lint-go

fix: preserve raw token text for round-trip safe edits
  internal/rules/tally/sort_packages.go
  internal/shell/install_packages.go
  internal/shell/install_packages_test.go
Due: format-go, lint-go

refactor: make sort-packages enabled by default, per-manager flag lists
  RULES.md
  docs/rules/tally/index.md
  docs/rules/tally/sort-packages.md
  internal/integration/__snapshots__/TestFixPowerShellAlpine_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixPowerShellAlpine_1.snap.md
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_sort-packages_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/lsptest/__snapshots__/TestLSP_FormattingRealWorld_1.snap.Dockerfile
  internal/rules/tally/__snapshots__/TestSortPackagesMetadata_1.snap.json
  internal/rules/tally/sort_packages.go
  internal/shell/install_packages.go
  internal/shell/install_packages_test.go
Due: format-go, lint-go, typos

docs: align sort-packages wording with Docker best practices
  docs/rules/tally/sort-packages.md
Due: typos

fix: use actual subcommand in sort-packages violation messages
  internal/rules/tally/sort_packages.go
  internal/rules/tally/sort_packages_test.go
  internal/shell/install_packages.go
Due: format-go, lint-go
