Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

format-go:
  run: gofmt -w -s {staged_files}
  stage_fixed: true

lint-go:
  run: GOEXPERIMENT=jsonv2 make lint-fix
  stage_fixed: true

ts-typecheck:
  run: bunx @typescript/native-preview --noEmit

ts-lint:
  run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
  stage_fixed: true

ts-format:
  run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
  stage_fixed: true

taplo:
  run: bunx -y -q @taplo/cli format {staged_files}
  stage_fixed: true

yamllint:
  run: uvx yamllint {staged_files}

format-yml:
  run: yamlfmt {staged_files}
  stage_fixed: true

typos:
  run: uv tool run typos==1.43.4 --force-exclude {staged_files}

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

actionlint:
  run: actionlint {staged_files}

commitlint-config:
  run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml

docs: add command-family normalization design
  design-docs/37-ai-autofix-command-family-normalization.md
  design-docs/README.md
Due: typos

docs: link current rules to command IR
  design-docs/37-ai-autofix-command-family-normalization.md
Due: typos

docs: revise command-family normalization design
  design-docs/37-ai-autofix-command-family-normalization.md
  design-docs/README.md
Due: typos

docs: refine command-family IR architecture
  design-docs/37-ai-autofix-command-family-normalization.md
  design-docs/README.md
Due: typos

docs: clarify powerShell as http adapter
  design-docs/37-ai-autofix-command-family-normalization.md
Due: typos

docs: exclude tool self-config from IR
  design-docs/37-ai-autofix-command-family-normalization.md
  design-docs/README.md
Due: typos

fix: harden dl4001 transfer autofix
  internal/facts/command_operations.go
  internal/facts/command_operations_test.go
  internal/integration/__snapshots__/TestFix_dl3047-cross-rules_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_dl3047-cross-rules_1.snap.json
  internal/integration/fix_cases_test.go
  internal/rules/hadolint/dl4001.go
  internal/rules/hadolint/dl4001_test.go
  internal/shell/cmd_parser.go
  internal/shell/command.go
  internal/shell/powershell_parser.go
  internal/shell/shell.go
Due: format-go, lint-go, typos

docs: address review feedback on command IR design
  design-docs/37-ai-autofix-command-family-normalization.md
  design-docs/README.md
Due: typos

feat: add http transfer command facts
  internal/facts/command_operations.go
  internal/facts/command_operations_test.go
  internal/facts/facts.go
  internal/rules/hadolint/dl4001.go
  internal/rules/hadolint/dl4001_test.go
  internal/shell/command.go
Due: format-go, lint-go

test: align batch set-assignment test with v0.7.2 structured split
  internal/highlight/batch/tokenize_test.go
Due: format-go, lint-go

feat: add command-family ACP fallback for dl4001
  design-docs/37-ai-autofix-command-family-normalization.md
  internal/ai/acp/testdata/testagent/main.go
  internal/ai/autofix/resolver.go
  internal/ai/autofix/resolver_test.go
  internal/ai/autofixdata/autofixdata.go
  internal/ai/autofixdata/objective.go
  internal/facts/command_operations.go
  internal/facts/command_operations_test.go
  internal/integration/__snapshots__/TestLint_dl3047-cross-rules_1.snap.json
  internal/integration/ai_autofix_dl4001_test.go
  internal/integration/fix_cases_test.go
  internal/rules/hadolint/dl4001.go
  internal/rules/hadolint/dl4001_fix.go
  internal/rules/hadolint/dl4001_fix_test.go
  internal/rules/hadolint/dl4001_test.go
  internal/rules/tally/gpu/prefer_uv_over_conda_fix.go
  internal/rules/tally/gpu/prefer_uv_over_conda_test.go
  internal/rules/tally/prefer_multi_stage_build_fix.go
  internal/rules/tally/prefer_multi_stage_build_fix_runtime_test.go
  internal/shell/cmd_parser.go
  internal/shell/command_test.go
  internal/shell/powershell_parser.go
Due: format-go, lint-go, typos

fix: register dl4001 autofix status
  internal/rules/hadolint-status.json
Due: typos

fix: remove dl4001 prompt duplication
  internal/rules/hadolint/dl4001_fix.go
Due: format-go, lint-go

fix: tighten command-family autofix invariants
  internal/ai/autofix/resolver.go
  internal/ai/autofix/resolver_test.go
  internal/facts/command_operations.go
  internal/facts/command_operations_test.go
Due: format-go, lint-go

fix: stabilize windows autofix ci
  .github/workflows/ci.yml
  .github/workflows/release.yml
  internal/ai/autofix/resolver_test.go
Due: format-go, lint-go, yamllint, format-yml, typos, actionlint

fix: tighten dl4001 focused objective validation
  internal/facts/command_operations.go
  internal/rules/hadolint/dl4001_fix.go
  internal/rules/hadolint/dl4001_fix_test.go
Due: format-go, lint-go

docs: update command-family implementation plan
  design-docs/37-ai-autofix-command-family-normalization.md
Due: typos

[codex] docs: add command-family normalization design (#506)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  design-docs/37-ai-autofix-command-family-normalization.md
  design-docs/README.md
  internal/ai/acp/testdata/testagent/main.go
  internal/ai/autofix/resolver.go
  internal/ai/autofix/resolver_test.go
  internal/ai/autofixdata/autofixdata.go
  internal/ai/autofixdata/objective.go
  internal/facts/command_operations.go
  internal/facts/command_operations_test.go
  internal/facts/facts.go
  internal/integration/__snapshots__/TestFix_dl3047-cross-rules_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_dl3047-cross-rules_1.snap.json
  internal/integration/ai_autofix_dl4001_test.go
  internal/integration/fix_cases_test.go
  internal/rules/hadolint-status.json
  internal/rules/hadolint/dl4001.go
  internal/rules/hadolint/dl4001_fix.go
  internal/rules/hadolint/dl4001_fix_test.go
  internal/rules/hadolint/dl4001_test.go
  internal/rules/tally/gpu/prefer_uv_over_conda_fix.go
  internal/rules/tally/gpu/prefer_uv_over_conda_test.go
  internal/rules/tally/prefer_multi_stage_build_fix.go
  internal/rules/tally/prefer_multi_stage_build_fix_runtime_test.go
  internal/shell/cmd_parser.go
  internal/shell/command.go
  internal/shell/command_test.go
  internal/shell/powershell_parser.go
  internal/shell/shell.go
Due: format-go, lint-go, yamllint, format-yml, typos, actionlint

fix: update snapshots
  go.sum
  internal/integration/__snapshots__/TestFixRealWorldBoostMSVCWindowsContainer_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorldBoostMSVCWindowsContainer_1.snap.md
  internal/integration/__snapshots__/TestFixRealWorldTeamCityNanoServer_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorldTeamCityNanoServer_1.snap.md
Due: typos

ci: build shellcheck.wasm on demand instead of storing in LFS
  .gitattributes
  .github/actions/download-shellcheck-wasm/action.yml
  .github/actions/shellcheck-wasm/action.yml
  .github/workflows/benchmarks.yml
  .github/workflows/binary-size.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/intellij-plugin.yml
  .github/workflows/release.yml
  .github/workflows/vscode-extension.yml
  .gitignore
  Makefile
  _tools/shellcheck-wasm/versions.env
  internal/shellcheck/wasm/shellcheck.wasm
  internal/shellcheck/wasm/wasm.go
  renovate.json
Due: format-go, lint-go, yamllint, format-yml, typos, actionlint

fix(shellcheck-wasm): use `git clone` instead of ADD git-url for shellcheck
  _tools/shellcheck-wasm/Dockerfile
Due: none

fix(shellcheck-wasm): stop using ADD git-url; use git clone/fetch
  _tools/shellcheck-wasm/Dockerfile
Due: none

ci(shellcheck-wasm): switch to buildx + type=gha cache, revert Dockerfile
  .github/actions/shellcheck-wasm/action.yml
  _tools/shellcheck-wasm/Dockerfile
Due: yamllint, format-yml, typos

ci(shellcheck-wasm): drop artifact plumbing for Linux-only workflows
  .github/actions/download-shellcheck-wasm/action.yml
  .github/actions/shellcheck-wasm/action.yml
  .github/workflows/benchmarks.yml
  .github/workflows/binary-size.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/intellij-plugin.yml
  .github/workflows/vscode-extension.yml
Due: yamllint, format-yml, typos, actionlint

fix(ci): upload-artifact@v7 is latest (not v8)
  .github/actions/shellcheck-wasm/action.yml
Due: yamllint, format-yml, typos

docs(CLAUDE): note shellcheck.wasm build/bump invariants
  CLAUDE.md
Due: typos

fix: address PR review comment
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

chore(renovate): track AST_GREP_VERSION + GHC_WASM_META_COMMIT, enable automerge
  _tools/shellcheck-wasm/versions.env
  renovate.json
Due: typos

fix: address PR review comment
  .github/actions/shellcheck-wasm/action.yml
Due: yamllint, format-yml, typos

ci: build shellcheck.wasm on demand instead of storing in LFS (#526)
  .gitattributes
  .github/actions/download-shellcheck-wasm/action.yml
  .github/actions/shellcheck-wasm/action.yml
  .github/workflows/benchmarks.yml
  .github/workflows/binary-size.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/intellij-plugin.yml
  .github/workflows/release.yml
  .github/workflows/vscode-extension.yml
  .gitignore
  CLAUDE.md
  Makefile
  _tools/shellcheck-wasm/versions.env
  internal/shellcheck/wasm/shellcheck.wasm
  internal/shellcheck/wasm/wasm.go
  renovate.json
Due: format-go, lint-go, yamllint, format-yml, typos, actionlint

fix(shellcheck): detect RUN heredoc opener after continuation-wrapped flags
  Makefile
  _tools/shellcheck-wasm/Dockerfile
  internal/highlight/extract/script.go
  internal/highlight/extract/script_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/highlight/extract/script_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/highlight/extract/script.go
Due: format-go, lint-go

fix(shellcheck): detect RUN heredoc opener after continuation-wrapped flags (#537)
  Makefile
  _tools/shellcheck-wasm/Dockerfile
  internal/highlight/extract/script.go
  internal/highlight/extract/script_test.go
Due: format-go, lint-go

zed: set extension version to 0.35.0
  _integrations/zed-tally/Cargo.toml
  _integrations/zed-tally/extension.toml
Due: taplo, typos

fix(lsp): tokenize RUN continuation lines before heredoc opener
  internal/highlight/dockerfile/tokenize.go
  internal/highlight/highlight_test.go
Due: format-go, lint-go

fix(lsp): emit heredoc tag tokens as keywords at opener and terminator
  internal/highlight/dockerfile/tokenize.go
  internal/highlight/dockerfile/tokenize_test.go
  internal/highlight/highlight_test.go
Due: format-go, lint-go

fix(lsp): semantic tokens for RUN heredoc continuation and markers (#538)
  internal/highlight/dockerfile/tokenize.go
  internal/highlight/dockerfile/tokenize_test.go
  internal/highlight/highlight_test.go
Due: format-go, lint-go

Path conditions:
  format-go: any of: **/*.go
  lint-go: any of: **/*.go
  ts-typecheck: any of: extensions/vscode-tally/**/*.ts and ^extensions/vscode\-tally/
  ts-lint: any of: extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts} and ^extensions/vscode\-tally/
  ts-format: any of: *.{js,ts,cjs,mjs,mts,cts,jsx,tsx} and ^extensions/vscode\-tally/
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  format-yml: any of: {.yamlfmt,*.yml,*.yaml}
  typos: any of: *.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}
  codecov: any of: .codecov.yml
  actionlint: any of: .github/workflows/*.{yaml,yml}
  commitlint-config: any of: .commitlintrc.yaml
