Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, taplo, yamllint, typos, codecov, renovate, actionlint, commitlint-config

.lefthook.yml:

output:
  # - summary # Print summary block (successful and failed steps)
  # - empty_summary # Print summary heading when there are no steps to run
  - failure # Print failed steps printing
# - skips # Print "skip" (i.e. no files matched)
assert_lefthook_installed: true

pre-commit:
  commands:
    lint-go:
      glob: "**/*.go"
      run: make lint-fix
      stage_fixed: true
    taplo:
      glob: "**/*.toml"
      run: npx -y -q @taplo/cli format {staged_files}
      stage_fixed: true
    rumdl:
      glob: "**/*.md"
      exclude: "**/__snapshots__/**"
      run: uv tool run rumdl check --fix --config .rumdl.toml --output-format concise {staged_files}
      stage_fixed: true
    yamllint:
      glob: "*.{yml,yaml}"
      run: uvx yamllint {staged_files}
    typos:
      glob: "*.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}"
      run: uv tool run typos --force-exclude {staged_files}
    codecov:
      glob: ".codecov.yml"
      run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate
    renovate:
      glob: "renovate.json"
      run: npx -y -q -y --package renovate renovate-config-validator renovate.json
    actionlint:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}
    commitlint-config:
      glob: ".commitlintrc.yaml"
      run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml

commit-msg:
  commands:
    "lint commit message":
      run: npx -y -q commitlint --edit {1}
    "check spelling":
      run: uv tool run typos {1}

post-merge:
  files: "git diff-tree -r --name-only --no-commit-id ORIG_HEAD HEAD"
  commands:
    delete-merged-branches:
      run: git branch --merged | grep -Ev '\*|master|main|dev|develop|development|stag|staging|prod|production' | xargs git branch -d; git fetch --prune;

pre-push:
  jobs:
    - name: build
      run: make build
    - name: deadcode
      run: make deadcode

fix: add hub.docker.com to Docker Hub aliases
  internal/rules/trustedbaseimage/trustedbaseimage.go
Due: lint-go

refactor: clarify nil pointer check and avoid duplicate reflection
  internal/rules/configutil/resolve.go
Due: lint-go

fix: return defensive copy from AdditionalViolations
  internal/processor/directive.go
Due: lint-go

docs: update for severity-based enabling and new JSON fields
  README.md
  RULES.md
Due: typos

refactor: remove dead code in JSON reporter
  internal/reporter/json.go
Due: lint-go

docs: merge duplicate max-lines config blocks in RULES.md
  RULES.md
Due: typos

refactor: consolidate duplicate auto-enable tests
  internal/processor/processor_test.go
Due: lint-go

docs: clarify auto-enable behavior for 'off' rules
  RULES.md
Due: typos

feat: adopt DX improvements from microsoft/typescript-go (quick wins)
  .github/codeql/codeql-config.yml
  .github/workflows/ci.yaml
  .github/workflows/codeql.yml
  .golangci.yaml
  Makefile
Due: yamllint, typos, actionlint

docs: add DX improvements documentation and macOS signing guide
  docs/DX_IMPROVEMENTS.md
  docs/MACOS_SIGNING.md
Due: typos

fix: correct golangci-lint configuration for v2 schema
  .golangci.yaml
Due: yamllint, typos

fix: document custom linter blocked by upstream golangci-lint issue
  .custom-gcl.yml
  .golangci.yaml
  _tools/customlint/README.md
Due: yamllint, typos

feat: enable custom linter by downgrading to golangci-lint v2.7.2
  .custom-gcl.yml
  .github/workflows/ci.yaml
  .gitignore
  .golangci.yaml
  Makefile
  _tools/customlint/rulestruct.go
  internal/rules/secretsincode/secretsincode.go
Due: lint-go, yamllint, typos, actionlint

docs: update status - all 5 DX improvements fully working
  docs/DX_IMPROVEMENTS.md
Due: typos

fix: address prealloc issues instead of disabling linter
  .golangci.yaml
  internal/discovery/discovery.go
  internal/rules/nounreachablestages/nounreachablestages.go
  internal/rules/secretsincode/secretsincode.go
Due: lint-go, yamllint, typos

fix: make gotestsum binary executable in CI
  Makefile
Due: none

fix: check TypeSpec.Doc before GenDecl.Doc for grouped types
  _tools/customlint/rulestruct.go
Due: lint-go

fix: use v4 tag for codeql-action to enable auto-updates
  .github/workflows/codeql.yml
Due: yamllint, typos, actionlint

feat: adopt DX improvements from microsoft/typescript-go (#12)
  .custom-gcl.yml
  .github/codeql/codeql-config.yml
  .github/workflows/ci.yaml
  .github/workflows/codeql.yml
  .github/workflows/release.yml
  .gitignore
  .golangci.yaml
  Makefile
  _tools/customlint/README.md
  _tools/customlint/plugin.go
  _tools/customlint/rulestruct.go
  _tools/customlint/rulestruct_test.go
  _tools/customlint/testdata/src/internal/rules/rules.go
  _tools/go.mod
  _tools/go.sum
  docs/DX_IMPROVEMENTS.md
  docs/MACOS_SIGNING.md
  internal/discovery/discovery.go
  internal/rules/nounreachablestages/nounreachablestages.go
  internal/rules/secretsincode/secretsincode.go
Due: lint-go, yamllint, typos, actionlint

fix: remove unsupported stapling step from macOS signing
  .github/workflows/release.yml
Due: yamllint, typos, actionlint

fix: ensure Formula directory exists before copying
  .github/workflows/release.yml
Due: yamllint, typos, actionlint

feat: implement DL3006 pin image versions rule
  internal/rules/all/all.go
  internal/rules/pinimageversions/pinimageversions.go
  internal/rules/pinimageversions/pinimageversions_test.go
Due: lint-go

feat: implement DL3004 no sudo rule
  internal/rules/all/all.go
  internal/rules/nosudo/nosudo.go
  internal/rules/nosudo/nosudo_test.go
Due: lint-go

docs: update roadmap with Priority 8 progress
  docs/IMPLEMENTATION-ROADMAP.md
Due: typos

feat: track SHELL commands and shell directives in semantic model
  cmd/tally/cmd/check.go
  internal/directive/directive.go
  internal/directive/directive_test.go
  internal/directive/parser.go
  internal/rules/wgetorcurl/wgetorcurl.go
  internal/semantic/builder.go
  internal/semantic/stage_info.go
  internal/shell/shell.go
  internal/shell/shell_test.go
Due: lint-go

docs: update RULES.md to reflect implemented hadolint rules
  RULES.md
Due: typos

feat: add support for non-POSIX shell directive
  RULES.md
  internal/integration/__snapshots__/TestCheck_non-posix-shell_1.snap.json
  internal/integration/integration_test.go
  internal/integration/testdata/non-posix-shell/Dockerfile
  internal/rules/nosudo/nosudo.go
  internal/rules/wgetorcurl/wgetorcurl.go
  internal/shell/shell.go
  internal/shell/shell_test.go
Due: lint-go, typos

fix: remove duplicate tokenizeShellCommand in nosudo
  internal/rules/nosudo/nosudo.go
  internal/rules/nosudo/nosudo_test.go
Due: lint-go

fix: allow dots in shell directive regex for cmd.exe
  internal/directive/directive_test.go
  internal/directive/parser.go
Due: lint-go

fix: remove redundant NamedTagged interface check in pinimageversions
  internal/rules/pinimageversions/pinimageversions.go
Due: lint-go

chore: docs cleanup
  docs/DX_IMPROVEMENTS.md
  docs/IMPLEMENTATION-ROADMAP.md
Due: typos

chore: update vscode settings
  .vscode/settings.json
Due: typos

chore: same extension
  .github/workflows/ci.yml
Due: yamllint, typos, actionlint

feat: add CodSpeed continuous benchmarking
  .github/workflows/benchmarks.yml
  internal/integration/benchmark_test.go
  internal/integration/testdata/bench-complex-aria/Dockerfile
  internal/integration/testdata/bench-complex-nolus/Containerfile
Due: lint-go, yamllint, typos, actionlint

feat: add CodSpeed continuous benchmarking (#15)
  .github/workflows/benchmarks.yml
  internal/integration/benchmark_test.go
  internal/integration/testdata/bench-complex-aria/Dockerfile
  internal/integration/testdata/bench-complex-nolus/Containerfile
Due: lint-go, yamllint, typos, actionlint

feat(semantic): add DL3012/DL3023/DL3043/DL3061
  README.md
  RULES.md
  internal/dockerfile/parser.go
  internal/integration/__snapshots__/TestCheck_copy-from-own-alias_1.snap.json
  internal/integration/__snapshots__/TestCheck_invalid-instruction-order_1.snap.json
  internal/integration/__snapshots__/TestCheck_multiple-healthcheck_1.snap.json
  internal/integration/__snapshots__/TestCheck_onbuild-forbidden_1.snap.json
  internal/integration/integration_test.go
  internal/integration/testdata/copy-from-own-alias/Dockerfile
  internal/integration/testdata/invalid-instruction-order/Dockerfile
  internal/integration/testdata/multiple-healthcheck/Dockerfile
  internal/integration/testdata/onbuild-forbidden/Dockerfile
  internal/semantic/builder.go
  internal/semantic/semantic_test.go
Due: lint-go, typos

refactor(semantic): simplify shell API and improve builder coverage
  internal/semantic/builder.go
  internal/semantic/builder_test.go
  internal/semantic/graph.go
  internal/semantic/semantic_test.go
  internal/semantic/stage_info.go
Due: lint-go

fix: emit DL3061 for files with no FROM instruction
  internal/dockerfile/parser.go
  internal/integration/__snapshots__/TestCheck_no-from-instruction_1.snap.json
  internal/integration/integration_test.go
  internal/integration/testdata/no-from-instruction/Dockerfile
Due: lint-go, typos
