Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, taplo, yamllint, typos, codecov, renovate, actionlint, commitlint-config

.lefthook.yml:

output:
  # - summary # Print summary block (successful and failed steps)
  # - empty_summary # Print summary heading when there are no steps to run
  - failure # Print failed steps printing
# - skips # Print "skip" (i.e. no files matched)
assert_lefthook_installed: true

pre-commit:
  commands:
    lint-go:
      glob: "**/*.go"
      run: make lint-fix
      stage_fixed: true
    taplo:
      glob: "**/*.toml"
      run: npx -y -q @taplo/cli format {staged_files}
      stage_fixed: true
    rumdl:
      glob: "**/*.md"
      exclude: "**/__snapshots__/**"
      run: uv tool run rumdl check --fix --config .rumdl.toml --output-format concise {staged_files}
      stage_fixed: true
    yamllint:
      glob: "*.{yml,yaml}"
      run: uvx yamllint {staged_files}
    typos:
      glob: "*.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}"
      run: uv tool run typos --force-exclude {staged_files}
    codecov:
      glob: ".codecov.yml"
      run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate
    renovate:
      glob: "renovate.json"
      run: npx -y -q -y --package renovate renovate-config-validator renovate.json
    actionlint:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}
    commitlint-config:
      glob: ".commitlintrc.yaml"
      run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml

commit-msg:
  commands:
    "lint commit message":
      run: npx -y -q commitlint --edit {1}
    "check spelling":
      run: uv tool run typos {1}

post-merge:
  files: "git diff-tree -r --name-only --no-commit-id ORIG_HEAD HEAD"
  commands:
    delete-merged-branches:
      run: git branch --merged | grep -Ev '\*|master|main|dev|develop|development|stag|staging|prod|production' | xargs git branch -d; git fetch --prune;

pre-push:
  jobs:
    - name: build
      run: make build
    - name: deadcode
      run: make deadcode

fix: cache lint results to avoid redundant linting on code action requests
  internal/lspserver/codeactions.go
  internal/lspserver/diagnostics.go
  internal/lspserver/server.go
Due: lint-go

fix: prevent double cmd.Wait via sync.Once in testServer
  internal/lsptest/lsp_test.go
  internal/lsptest/setup_test.go
Due: lint-go

fix: handle UNC file URIs on Windows in uriToPath
  internal/lspserver/diagnostics.go
Due: lint-go

fix: include document version in PublishDiagnostics notifications
  internal/lspserver/diagnostics.go
  internal/lspserver/server.go
Due: lint-go

fix: reduce checkCommand cognitive complexity to satisfy gocognit linter
  .golangci.yaml
  cmd/tally/cmd/check.go
Due: lint-go, yamllint, typos

fix: reduce nesting complexity in markdown reporter and DL3003 rule
  .golangci.yaml
  internal/reporter/markdown.go
  internal/rules/hadolint/dl3003.go
Due: lint-go, yamllint, typos

fix: address PR review comment
  cmd/tally/cmd/check.go
Due: lint-go

fix: address PR review comment
  .golangci.yaml
  internal/fix/fixer_test.go
  internal/fix/resolver_test.go
Due: lint-go, yamllint, typos

feat: implement LegacyKeyValueFormat rule with auto-fix
  README.md
  RULES.md
  internal/integration/__snapshots__/TestCheck_buildkit-warnings_1.snap.json
  internal/integration/__snapshots__/TestCheck_copy-from-own-alias_1.snap.json
  internal/integration/__snapshots__/TestCheck_duplicate-stage-name_1.snap.json
  internal/integration/__snapshots__/TestCheck_fail-level-error_1.snap.json
  internal/integration/__snapshots__/TestCheck_fail-level-none_1.snap.json
  internal/integration/__snapshots__/TestCheck_fail-level-warning_1.snap.json
  internal/integration/__snapshots__/TestCheck_invalid-instruction-order_1.snap.json
  internal/integration/__snapshots__/TestCheck_legacy-key-value-format_1.snap.json
  internal/integration/__snapshots__/TestCheck_multiple-healthcheck_1.snap.json
  internal/integration/__snapshots__/TestCheck_no-from-instruction_1.snap.json
  internal/integration/__snapshots__/TestCheck_onbuild-forbidden_1.snap.json
  internal/integration/__snapshots__/TestCheck_total-rules-enabled_1.snap.json
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/integration_test.go
  internal/integration/testdata/legacy-key-value-format/Dockerfile
  internal/lsptest/__snapshots__/TestLSP_FormattingRealWorld_1.snap.Dockerfile
  internal/rules/buildkit/fixes/enricher.go
  internal/rules/buildkit/fixes/fixes_test.go
  internal/rules/buildkit/fixes/legacy_key_value_format.go
  internal/rules/buildkit/legacy_key_value_format.go
Due: lint-go, typos

feat: implement LegacyKeyValueFormat rule with auto-fix (#71)
  README.md
  RULES.md
  internal/integration/__snapshots__/TestCheck_buildkit-warnings_1.snap.json
  internal/integration/__snapshots__/TestCheck_copy-from-own-alias_1.snap.json
  internal/integration/__snapshots__/TestCheck_duplicate-stage-name_1.snap.json
  internal/integration/__snapshots__/TestCheck_fail-level-error_1.snap.json
  internal/integration/__snapshots__/TestCheck_fail-level-none_1.snap.json
  internal/integration/__snapshots__/TestCheck_fail-level-warning_1.snap.json
  internal/integration/__snapshots__/TestCheck_invalid-instruction-order_1.snap.json
  internal/integration/__snapshots__/TestCheck_legacy-key-value-format_1.snap.json
  internal/integration/__snapshots__/TestCheck_multiple-healthcheck_1.snap.json
  internal/integration/__snapshots__/TestCheck_no-from-instruction_1.snap.json
  internal/integration/__snapshots__/TestCheck_onbuild-forbidden_1.snap.json
  internal/integration/__snapshots__/TestCheck_total-rules-enabled_1.snap.json
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/integration_test.go
  internal/integration/testdata/legacy-key-value-format/Dockerfile
  internal/lsptest/__snapshots__/TestLSP_FormattingRealWorld_1.snap.Dockerfile
  internal/rules/buildkit/fixes/enricher.go
  internal/rules/buildkit/fixes/fixes_test.go
  internal/rules/buildkit/fixes/legacy_key_value_format.go
  internal/rules/buildkit/legacy_key_value_format.go
Due: lint-go, typos

feat: implement DL3010, prefer-add-unpack rule with auto-fix
  README.md
  RULES.md
  internal/integration/__snapshots__/TestCheck_copy-from-own-alias_1.snap.json
  internal/integration/__snapshots__/TestCheck_dl3010_1.snap.json
  internal/integration/__snapshots__/TestCheck_duplicate-stage-name_1.snap.json
  internal/integration/__snapshots__/TestCheck_invalid-instruction-order_1.snap.json
  internal/integration/__snapshots__/TestCheck_multiple-healthcheck_1.snap.json
  internal/integration/__snapshots__/TestCheck_no-from-instruction_1.snap.json
  internal/integration/__snapshots__/TestCheck_onbuild-forbidden_1.snap.json
  internal/integration/__snapshots__/TestCheck_prefer-add-unpack-heredoc_1.snap.json
  internal/integration/__snapshots__/TestCheck_prefer-add-unpack_1.snap.json
  internal/integration/__snapshots__/TestCheck_total-rules-enabled_1.snap.json
  internal/integration/integration_test.go
  internal/integration/testdata/dl3010/Dockerfile
  internal/integration/testdata/prefer-add-unpack-heredoc/Dockerfile
  internal/integration/testdata/prefer-add-unpack/Dockerfile
  internal/rules/hadolint-status.json
  internal/rules/hadolint/dl3010.go
  internal/rules/hadolint/dl3010_test.go
  internal/rules/tally/prefer_add_unpack.go
  internal/rules/tally/prefer_add_unpack_test.go
  internal/shell/command.go
Due: lint-go, typos

fix: address PR review comment
  RULES.md
Due: typos

fix: address PR review comment
  docs/rules/tally/prefer-add-unpack.md
Due: typos

chore: test gofmt
  internal/rules/tally/prefer_add_unpack_test.go
Due: lint-go

refactor: replace manual predicate loops with slices.ContainsFunc
  internal/config/rules.go
  internal/dockerfile/heredoc.go
  internal/runmount/runmount.go
  internal/sourcemap/sourcemap.go
Due: lint-go

chore: update CLAUDE.md
  CLAUDE.md
Due: typos

feat: enable golines formatter in golangci-lint
  .golangci.yaml
  cmd/tally/cmd/check.go
  internal/integration/integration_test.go
  internal/lspserver/diagnostics.go
  internal/rules/hadolint/dl3003.go
  internal/rules/hadolint/dl3004.go
  internal/rules/hadolint/dl3027.go
  internal/rules/hadolint/dl3034.go
  internal/rules/hadolint/helpers.go
  internal/rules/hadolint/helpers_test.go
  internal/rules/tally/prefer_add_unpack.go
  internal/shell/cd.go
  internal/shell/command.go
  internal/shell/position.go
Due: lint-go, yamllint, typos

chore: add more path instructions
  .coderabbit.yaml
Due: yamllint, typos

fix: move RunCommandString to dockerfile package to eliminate duplication
  internal/dockerfile/parser.go
  internal/rules/hadolint/dl3003.go
  internal/rules/hadolint/dl3004.go
  internal/rules/hadolint/dl3010.go
  internal/rules/hadolint/dl3027.go
  internal/rules/hadolint/helpers.go
  internal/rules/hadolint/helpers_test.go
  internal/rules/tally/prefer_add_unpack.go
Due: lint-go

chore: aggressively ignore generated code
  .vscode/settings.json
  codecov.yml
Due: yamllint, typos

feat: implement DL3022 COPY --from alias validation (#75)
  README.md
  RULES.md
  internal/integration/__snapshots__/TestCheck_copy-from-own-alias_1.snap.json
  internal/integration/__snapshots__/TestCheck_dl3022_1.snap.json
  internal/integration/integration_test.go
  internal/integration/testdata/dl3022/Dockerfile
  internal/rules/hadolint-status.json
  internal/rules/hadolint/dl3022.go
  internal/rules/hadolint/dl3022_test.go
  internal/semantic/builder.go
  internal/semantic/semantic_test.go
Due: lint-go, typos

docs: add AI AutoFix via ACP design doc
  design-docs/13-ai-autofix-acp.md
  design-docs/README.md
Due: typos

feat(config): add opt-in AI config scaffold
  cmd/tally/cmd/check.go
  gen/jsonschema.go
  go.mod
  go.sum
  internal/config/config.go
  internal/config/config_test.go
  schema.json
Due: lint-go, typos

docs: clarify AI prompt redaction
  design-docs/13-ai-autofix-acp.md
Due: typos

docs: add optional Gemini ACP smoke test lane
  design-docs/13-ai-autofix-acp.md
Due: typos

docs: clarify ACP process lifecycle ownership
  design-docs/13-ai-autofix-acp.md
Due: typos

AI AutoFix via ACP (PR1): design + opt-in config scaffold (#77)
  cmd/tally/cmd/check.go
  design-docs/13-ai-autofix-acp.md
  design-docs/README.md
  gen/jsonschema.go
  go.mod
  go.sum
  internal/config/config.go
  internal/config/config_test.go
  schema.json
Due: lint-go, typos

feat: implement MultipleInstructionsDisallowed rule with auto-fix (#78)
  internal/integration/__snapshots__/TestCheck_buildkit-warnings_1.snap.json
  internal/integration/__snapshots__/TestCheck_copy-from-own-alias_1.snap.json
  internal/integration/__snapshots__/TestCheck_duplicate-stage-name_1.snap.json
  internal/integration/__snapshots__/TestCheck_fail-level-error_1.snap.json
  internal/integration/__snapshots__/TestCheck_fail-level-none_1.snap.json
  internal/integration/__snapshots__/TestCheck_fail-level-warning_1.snap.json
  internal/integration/__snapshots__/TestCheck_invalid-instruction-order_1.snap.json
  internal/integration/__snapshots__/TestCheck_multiple-healthcheck_1.snap.json
  internal/integration/__snapshots__/TestCheck_multiple-instructions-disallowed_1.snap.json
  internal/integration/__snapshots__/TestCheck_no-from-instruction_1.snap.json
  internal/integration/__snapshots__/TestCheck_onbuild-forbidden_1.snap.json
  internal/integration/__snapshots__/TestCheck_total-rules-enabled_1.snap.json
  internal/integration/__snapshots__/TestFix_multiple-cmd-fix_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_multiple-cmd-three_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_multiple-entrypoint-fix_1.snap.Dockerfile
  internal/integration/integration_test.go
  internal/integration/testdata/multiple-instructions-disallowed/Dockerfile
  internal/linter/linter.go
  internal/rules/buildkit/fixes/enricher.go
  internal/rules/buildkit/fixes/fixes_test.go
  internal/rules/buildkit/fixes/multiple_instructions_disallowed.go
  internal/rules/hadolint-status.json
  internal/semantic/builder.go
  internal/semantic/construction_rules.go
  internal/semantic/issue.go
  internal/semantic/multiple_instructions_test.go
Due: lint-go, typos

fix: add cross-rule interaction test and fix priority for MultipleInstructionsDisallowed
  internal/integration/__snapshots__/TestCheck_multiple-instructions-disallowed_1.snap.json
  internal/integration/__snapshots__/TestFix_multiple-instructions-cross-rules_1.snap.Dockerfile
  internal/integration/integration_test.go
  internal/rules/buildkit/fixes/multiple_instructions_disallowed.go
Due: lint-go, typos

feat: implement ExposeProtoCasing rule with auto-fix
  README.md
  RULES.md
  internal/integration/__snapshots__/TestCheck_buildkit-warnings_1.snap.json
  internal/integration/__snapshots__/TestCheck_copy-from-own-alias_1.snap.json
  internal/integration/__snapshots__/TestCheck_duplicate-stage-name_1.snap.json
  internal/integration/__snapshots__/TestCheck_expose-proto-casing_1.snap.json
  internal/integration/__snapshots__/TestCheck_fail-level-error_1.snap.json
  internal/integration/__snapshots__/TestCheck_fail-level-none_1.snap.json
  internal/integration/__snapshots__/TestCheck_fail-level-warning_1.snap.json
  internal/integration/__snapshots__/TestCheck_invalid-instruction-order_1.snap.json
  internal/integration/__snapshots__/TestCheck_multiple-healthcheck_1.snap.json
  internal/integration/__snapshots__/TestCheck_no-from-instruction_1.snap.json
  internal/integration/__snapshots__/TestCheck_onbuild-forbidden_1.snap.json
  internal/integration/__snapshots__/TestCheck_total-rules-enabled_1.snap.json
  internal/integration/__snapshots__/TestFix_expose-proto-casing-multiple-ports_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_expose-proto-casing-single_1.snap.Dockerfile
  internal/integration/integration_test.go
  internal/integration/testdata/expose-proto-casing/Dockerfile
  internal/rules/buildkit/expose_proto_casing.go
  internal/rules/buildkit/fixes/enricher.go
  internal/rules/buildkit/fixes/expose_proto_casing.go
  internal/rules/buildkit/fixes/fixes_test.go
Due: lint-go, typos

feat: implement ExposeProtoCasing rule with auto-fix (#80)
  README.md
  RULES.md
  internal/integration/__snapshots__/TestCheck_buildkit-warnings_1.snap.json
  internal/integration/__snapshots__/TestCheck_copy-from-own-alias_1.snap.json
  internal/integration/__snapshots__/TestCheck_duplicate-stage-name_1.snap.json
  internal/integration/__snapshots__/TestCheck_expose-proto-casing_1.snap.json
  internal/integration/__snapshots__/TestCheck_fail-level-error_1.snap.json
  internal/integration/__snapshots__/TestCheck_fail-level-none_1.snap.json
  internal/integration/__snapshots__/TestCheck_fail-level-warning_1.snap.json
  internal/integration/__snapshots__/TestCheck_invalid-instruction-order_1.snap.json
  internal/integration/__snapshots__/TestCheck_multiple-healthcheck_1.snap.json
  internal/integration/__snapshots__/TestCheck_no-from-instruction_1.snap.json
  internal/integration/__snapshots__/TestCheck_onbuild-forbidden_1.snap.json
  internal/integration/__snapshots__/TestCheck_total-rules-enabled_1.snap.json
  internal/integration/__snapshots__/TestFix_expose-proto-casing-multiple-ports_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_expose-proto-casing-single_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_expose-proto-casing-with-instruction-casing_1.snap.Dockerfile
  internal/integration/integration_test.go
  internal/integration/testdata/expose-proto-casing/Dockerfile
  internal/rules/buildkit/__snapshots__/TestExposeProtoCasingRule_Metadata_1.snap.json
  internal/rules/buildkit/expose_proto_casing.go
  internal/rules/buildkit/expose_proto_casing_test.go
  internal/rules/buildkit/fixes/enricher.go
  internal/rules/buildkit/fixes/expose_proto_casing.go
  internal/rules/buildkit/fixes/fixes_test.go
Due: lint-go, typos

feat: add prefer-vex-attestation rule (#81)
  README.md
  RULES.md
  design-docs/14-prefer-vex-attestation.md
  design-docs/README.md
  docs/index.md
  docs/rules/tally/index.md
  docs/rules/tally/prefer-vex-attestation.md
  internal/integration/__snapshots__/TestCheck_copy-from-own-alias_1.snap.json
  internal/integration/__snapshots__/TestCheck_duplicate-stage-name_1.snap.json
  internal/integration/__snapshots__/TestCheck_invalid-instruction-order_1.snap.json
  internal/integration/__snapshots__/TestCheck_multiple-healthcheck_1.snap.json
  internal/integration/__snapshots__/TestCheck_no-from-instruction_1.snap.json
  internal/integration/__snapshots__/TestCheck_onbuild-forbidden_1.snap.json
  internal/integration/__snapshots__/TestCheck_prefer-vex-attestation_1.snap.json
  internal/integration/__snapshots__/TestCheck_total-rules-enabled_1.snap.json
  internal/integration/integration_test.go
  internal/integration/testdata/prefer-vex-attestation/Dockerfile
  internal/rules/tally/__snapshots__/TestPreferVEXAttestationRule_Metadata_1.snap.json
  internal/rules/tally/prefer_vex_attestation.go
  internal/rules/tally/prefer_vex_attestation_test.go
Due: lint-go, typos

test: make ACP helper agent Windows-safe
  internal/ai/acp/runner_test.go
  internal/ai/acp/testdata/testagent/main.go
Due: lint-go

test(acp): fix stderr marker typo
  internal/ai/acp/runner_test.go
  internal/ai/acp/testdata/testagent/main.go
Due: lint-go

fix(acp): preserve SysProcAttr when setting Setpgid
  internal/ai/acp/process_nonwindows.go
Due: lint-go

fix(acp): close pipes on start failures
  internal/ai/acp/runner.go
Due: lint-go

test(acp): cover client handlers
  internal/ai/acp/client_test.go
Due: lint-go

refactor(acp): use circbuf for tail buffer
  go.mod
  go.sum
  internal/ai/acp/tailbuf.go
Due: lint-go

AI AutoFix PR2: ACP runner + lifecycle tests (#82)
  go.mod
  go.sum
  internal/ai/acp/client.go
  internal/ai/acp/client_test.go
  internal/ai/acp/errors.go
  internal/ai/acp/process_nonwindows.go
  internal/ai/acp/process_windows.go
  internal/ai/acp/runner.go
  internal/ai/acp/runner_lifecycle_unix_test.go
  internal/ai/acp/runner_test.go
  internal/ai/acp/tailbuf.go
  internal/ai/acp/testdata/testagent/main.go
Due: lint-go
