Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

format-go:
  run: gofmt -w -s {staged_files}
  stage_fixed: true

lint-go:
  run: GOEXPERIMENT=jsonv2 make lint-fix
  stage_fixed: true

ts-typecheck:
  run: bunx @typescript/native-preview --noEmit

ts-lint:
  run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
  stage_fixed: true

ts-format:
  run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
  stage_fixed: true

taplo:
  run: bunx -y -q @taplo/cli format {staged_files}
  stage_fixed: true

yamllint:
  run: uvx yamllint {staged_files}

format-yml:
  run: yamlfmt {staged_files}
  stage_fixed: true

typos:
  run: uv tool run typos==1.43.4 --force-exclude {staged_files}

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

actionlint:
  run: actionlint {staged_files}

commitlint-config:
  run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml

test: tolerate canceled LSP client close
  internal/lspserver/settings_test.go
Due: format-go, lint-go

ci: pin Windows BuildKit tools
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

ci: authenticate Windows release lookups
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

chore: exclude customlint fixtures from gazelle
  BUILD.bazel
  _integrations/intellij-tally/BUILD.bazel
  _integrations/vscode-tally/BUILD.bazel
  _tools/customlint/testdata/src/internal/lspserver/BUILD.bazel
  _tools/customlint/testdata/src/internal/rules/BUILD.bazel
  _tools/customlint/testdata/src/internal/rules/cmdliteral/BUILD.bazel
  _tools/customlint/testdata/src/internal/rules/docurl/BUILD.bazel
  _tools/customlint/testdata/src/internal/semantic/docurl/BUILD.bazel
  internal/integration/BUILD.bazel
  internal/rules/buildkit/BUILD.bazel
Due: none

chore: run Bazel directly from pre-push
  .github/copilot-instructions.md
  AGENTS.md
  hk.pkl
Due: typos

build: build shellcheck wasm through Bazel
  .github/actions/shellcheck-wasm/action.yml
  Makefile
  _tools/shellcheck-wasm/BUILD.bazel
  _tools/shellcheck-wasm/versions.env
  design-docs/23-shellcheck-integration.md
  design-docs/28-shellcheck-go-reimplementation-bridge-sc1040.md
  hk.pkl
  internal/shellcheck/wasm/wasm.go
Due: format-go, lint-go, yamllint, format-yml, typos

fix: address bazel review feedback
  .github/workflows/benchmarks.yml
  .github/workflows/binary-size.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/intellij-plugin.yml
  .github/workflows/release.yml
  .github/workflows/vscode-extension.yml
  Makefile
  _integrations/intellij-tally/BUILD.bazel
  _integrations/intellij-tally/build/smoke.sh
  _integrations/vscode-tally/BUILD.bazel
  _integrations/vscode-tally/test/e2e/smoke.test.ts
  _integrations/vscode-tally/tools/package-vsix.js
  _tools/BUILD.bazel
  _tools/customlint/BUILD.bazel
  _tools/customlint/main_test.go
  _tools/shellcheck-wasm/BUILD.bazel
  internal/ai/acp/BUILD.bazel
  internal/integration/BUILD.bazel
  internal/integration/benchmark_test.go
  internal/integration/main_test.go
  internal/lsptest/BUILD.bazel
  internal/lsptest/setup_test.go
  internal/rules/buildkit/BUILD.bazel
  internal/testpath/BUILD.bazel
  internal/testpath/testpath.go
  internal/testpath/testpath_test.go
  packaging/docker/BUILD.bazel
  patches/rules-bun-stage-node-modules.patch
  patches/rules-rust-wasm-build-script-linker.patch
  tools/bazel/target_output.sh
  tools/bazel/workspace_status.sh
Due: format-go, lint-go, yamllint, format-yml, typos, actionlint

fix: repair rules rust wasm build script patch
  patches/rules-rust-wasm-build-script-linker.patch
Due: none

fix: repair bazel workflow reruns
  .github/workflows/codeql.yml
  .github/workflows/intellij-plugin.yml
  Makefile
Due: yamllint, format-yml, typos, actionlint

fix: disable unsupported windows race test
  .github/workflows/ci.yml
Due: yamllint, format-yml, typos, actionlint

fix: retry bazel container image publish
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

fix: preserve raw windows manifest paths
  internal/testpath/testpath.go
  internal/testpath/testpath_test.go
Due: format-go, lint-go

fix: retry release bazel binary builds
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

fix: address remaining PR review threads
  .github/workflows/vscode-extension.yml
  internal/rules/buildkit/sync_test.go
Due: format-go, lint-go, yamllint, format-yml, typos, actionlint

fix: dry-run pypi publish on PRs
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

fix: decode customlint runfiles manifest
  _tools/customlint/main_test.go
Due: format-go, lint-go

fix: resolve relative runfiles manifest targets
  _tools/customlint/main_test.go
  internal/testpath/testpath.go
  internal/testpath/testpath_test.go
Due: format-go, lint-go

fix: normalize text version output
  internal/version/BUILD.bazel
  internal/version/version.go
  internal/version/version_test.go
Due: format-go, lint-go

fix: skip intellij marketplace upload on PRs
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

fix: preserve benchmark names
  internal/integration/benchmark_test.go
Due: format-go, lint-go

fix: retry vscode vsix bazel packaging
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

fix: resolve make build bazel output
  Makefile
Due: none

fix: document customlint goroot wrapper
  _tools/customlint/main_test.go
Due: format-go, lint-go

fix: expose linux c toolchains for local image builds
  .bazelrc
Due: none

fix: make bazel integration snapshots strict
  .bazelrc
  internal/integration/BUILD.bazel
  internal/integration/ai_autofix_dl4001_test.go
  internal/integration/docker_plugin_test.go
  internal/integration/env_test.go
  internal/integration/error_test.go
  internal/integration/fixture_harness_test.go
  internal/integration/gemini_smoke_test.go
  internal/integration/harness_test.go
  internal/integration/orchestrator_test.go
  internal/integration/snapshots_test.go
  internal/integration/stdin_test.go
  internal/integration/version_test.go
  internal/registry/BUILD.bazel
Due: format-go, lint-go

fix: serialize slow-check fixture tests
  internal/integration/fixture_harness_test.go
Due: format-go, lint-go

fix: isolate integration registry config
  internal/integration/main_test.go
  internal/registry/containers.go
  internal/registry/mock_resolve_test.go
  internal/registry/testutil/mockregistry.go
Due: format-go, lint-go

fix: route integration registry lookups to mock
  internal/integration/main_test.go
  internal/registry/containers.go
  internal/registry/mock_resolve_test.go
Due: format-go, lint-go

fix: pass registry env to integration commands
  internal/integration/env_test.go
  internal/integration/main_test.go
Due: format-go, lint-go

fix: make slow-check fixtures hermetic
  internal/integration/main_test.go
  internal/registry/BUILD.bazel
  internal/registry/containers.go
  internal/registry/test_env_resolver.go
Due: format-go, lint-go

docs: sync hadolint rules from upstream
  internal/rules/hadolint-rules.json
Due: typos

feat(rules): add tally/labels/prefer-grouped
  _docs/docs.json
  _docs/rules/tally/labels/prefer-grouped.mdx
  internal/integration/fixtures/fix/labels-prefer-grouped-with-newline-split/.tally.toml
  internal/integration/fixtures/fix/labels-prefer-grouped-with-newline-split/Dockerfile
  internal/integration/fixtures/fix/labels-prefer-grouped/.tally.toml
  internal/integration/fixtures/fix/labels-prefer-grouped/Dockerfile
  internal/integration/fixtures/lint/labels-prefer-grouped/.tally.toml
  internal/integration/fixtures/lint/labels-prefer-grouped/Dockerfile
  internal/rules/tally/labels/prefer_grouped.go
  internal/rules/tally/labels/prefer_grouped.schema.json
  internal/rules/tally/labels/prefer_grouped_test.go
  internal/schemas/manifest.json
Due: format-go, lint-go, taplo, typos

fix(rules): address PR feedback for tally/labels/prefer-grouped
  _docs/rules/tally/labels/prefer-grouped.mdx
  internal/integration/fixtures/fix/labels-prefer-grouped-with-newline-split/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/labels-prefer-grouped-with-newline-split/report_1.snap.md
  internal/integration/fixtures/fix/labels-prefer-grouped/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/labels-prefer-grouped/report_1.snap.md
  internal/integration/fixtures/lint/labels-prefer-grouped/result_1.snap.json
  internal/rules/tally/index.schema.json
  internal/rules/tally/labels/prefer_grouped.go
  internal/rules/tally/labels/prefer_grouped_test.go
  internal/schemas/generated/config/tally_config.gen.go
  internal/schemas/generated/rules/tally/labels/prefer_grouped.gen.go
  internal/schemas/registry_gen.go
  schema.json
Due: format-go, lint-go, typos

test(rules): expand prefer-grouped unit tests for coverage
  internal/rules/tally/labels/prefer_grouped_test.go
Due: format-go, lint-go

feat(rules): add tally/labels/prefer-grouped (#708)
  _docs/docs.json
  _docs/rules/tally/labels/prefer-grouped.mdx
  internal/integration/fixtures/fix/labels-prefer-grouped-with-newline-split/.tally.toml
  internal/integration/fixtures/fix/labels-prefer-grouped-with-newline-split/Dockerfile
  internal/integration/fixtures/fix/labels-prefer-grouped-with-newline-split/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/labels-prefer-grouped-with-newline-split/report_1.snap.md
  internal/integration/fixtures/fix/labels-prefer-grouped/.tally.toml
  internal/integration/fixtures/fix/labels-prefer-grouped/Dockerfile
  internal/integration/fixtures/fix/labels-prefer-grouped/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/labels-prefer-grouped/report_1.snap.md
  internal/integration/fixtures/lint/labels-prefer-grouped/.tally.toml
  internal/integration/fixtures/lint/labels-prefer-grouped/Dockerfile
  internal/integration/fixtures/lint/labels-prefer-grouped/result_1.snap.json
  internal/rules/tally/index.schema.json
  internal/rules/tally/labels/prefer_grouped.go
  internal/rules/tally/labels/prefer_grouped.schema.json
  internal/rules/tally/labels/prefer_grouped_test.go
  internal/schemas/generated/config/tally_config.gen.go
  internal/schemas/generated/rules/tally/labels/prefer_grouped.gen.go
  internal/schemas/manifest.json
  internal/schemas/registry_gen.go
  schema.json
Due: format-go, lint-go, taplo, typos

feat(rules): add tally/labels/prefer-stable-order
  _docs/docs.json
  _docs/rules/tally/labels/prefer-stable-order.mdx
  internal/integration/fixtures/fix/labels-prefer-stable-order-with-grouped/.tally.toml
  internal/integration/fixtures/fix/labels-prefer-stable-order-with-grouped/Dockerfile
  internal/integration/fixtures/fix/labels-prefer-stable-order-with-grouped/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/labels-prefer-stable-order-with-grouped/report_1.snap.md
  internal/integration/fixtures/fix/labels-prefer-stable-order/.tally.toml
  internal/integration/fixtures/fix/labels-prefer-stable-order/Dockerfile
  internal/integration/fixtures/fix/labels-prefer-stable-order/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/labels-prefer-stable-order/report_1.snap.md
  internal/integration/fixtures/lint/labels-prefer-stable-order/.tally.toml
  internal/integration/fixtures/lint/labels-prefer-stable-order/Dockerfile
  internal/integration/fixtures/lint/labels-prefer-stable-order/result_1.snap.json
  internal/rules/tally/index.schema.json
  internal/rules/tally/labels/prefer_stable_order.go
  internal/rules/tally/labels/prefer_stable_order.schema.json
  internal/rules/tally/labels/prefer_stable_order_test.go
  internal/schemas/generated/config/tally_config.gen.go
  internal/schemas/generated/rules/tally/labels/prefer_stable_order.gen.go
  internal/schemas/manifest.json
  internal/schemas/registry_gen.go
  schema.json
Due: format-go, lint-go, taplo, typos

fix: address PR review comment
  internal/rules/tally/labels/prefer_stable_order_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/rules/tally/labels/prefer_stable_order.go
  internal/rules/tally/labels/prefer_stable_order_test.go
Due: format-go, lint-go

fix: address PR review comment
  _docs/rules/tally/labels/prefer-stable-order.mdx
Due: none

Path conditions:
  format-go: any of: **/*.go
  lint-go: any of: **/*.go
  ts-typecheck: any of: extensions/vscode-tally/**/*.ts and ^extensions/vscode\-tally/
  ts-lint: any of: extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts} and ^extensions/vscode\-tally/
  ts-format: any of: *.{js,ts,cjs,mjs,mts,cts,jsx,tsx} and ^extensions/vscode\-tally/
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  format-yml: any of: {.yamlfmt,*.yml,*.yaml}
  typos: any of: *.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}
  codecov: any of: .codecov.yml
  actionlint: any of: .github/workflows/*.{yaml,yml}
  commitlint-config: any of: .commitlintrc.yaml
