Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, taplo, yamllint, typos, codecov, renovate, actionlint, commitlint-config

lint-go:
  run: make lint-fix
  stage_fixed: true

taplo:
  run: npx -y -q @taplo/cli format {staged_files}
  stage_fixed: true

yamllint:
  run: uvx yamllint {staged_files}

typos:
  run: uv tool run typos --force-exclude {staged_files}

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

renovate:
  run: npx -y -q -y --package renovate renovate-config-validator renovate.json

actionlint:
  run: actionlint {staged_files}

commitlint-config:
  run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml

chore: add Go version for CodeRabbit
  .coderabbit.yaml
Due: yamllint, typos

fix: allow '.' in stage-name identifier characters
  internal/rules/buildkit/fixes/fixes_test.go
  internal/rules/buildkit/fixes/position.go
Due: lint-go

fix: support per-file fix modes for multi-config runs
  cmd/tally/cmd/check.go
  internal/fix/fixer.go
  internal/fix/fixer_test.go
Due: lint-go

feat(DL3003): enhance auto-fix to handle all cd commands in chain
  internal/integration/__snapshots__/TestCheck_dl3003_1.snap.json
  internal/integration/integration_test.go
  internal/integration/testdata/benchmark-real-world-fix/Dockerfile.expected
  internal/rules/hadolint/dl3003.go
  internal/rules/hadolint/dl3003_test.go
  internal/shell/cd.go
  internal/shell/cd_test.go
Due: lint-go, typos

fix: add t.Parallel() to DL3027 tests for concurrent execution
  internal/rules/hadolint/dl3027_test.go
Due: lint-go

fix: handle RUN with tabs in getRunSourceScript
  internal/rules/hadolint/dl3027.go
Due: lint-go

feat: add auto-fix for NoEmptyContinuation rule
  RULES.md
  internal/dockerfile/parser.go
  internal/integration/__snapshots__/TestCheck_empty-continuation_1.snap.json
  internal/integration/integration_test.go
  internal/integration/testdata/empty-continuation/Dockerfile
  internal/rules/buildkit/fixes/enricher.go
  internal/rules/buildkit/fixes/fixes_test.go
  internal/rules/buildkit/fixes/no_empty_continuation.go
Due: lint-go, typos

fix: use bytes.SplitAfter for robust line ending handling
  internal/rules/buildkit/fixes/no_empty_continuation.go
Due: lint-go

test: improve coverage for NoEmptyContinuation fix to 100%
  internal/rules/buildkit/fixes/fixes_test.go
  internal/rules/buildkit/fixes/no_empty_continuation.go
Due: lint-go

fix: consolidate hasContinuationBefore and isPartOfMultilineCommand
  internal/rules/buildkit/fixes/fixes_test.go
  internal/rules/buildkit/fixes/no_empty_continuation.go
Due: lint-go

fix: correct EOF empty-line deletion range
  internal/rules/buildkit/fixes/fixes_test.go
  internal/rules/buildkit/fixes/no_empty_continuation.go
Due: lint-go

feat: add auto-fix for MaintainerDeprecated rule
  RULES.md
  internal/integration/__snapshots__/TestCheck_buildkit-warnings_1.snap.json
  internal/integration/__snapshots__/TestCheck_fail-level-error_1.snap.json
  internal/integration/__snapshots__/TestCheck_fail-level-none_1.snap.json
  internal/integration/__snapshots__/TestCheck_fail-level-warning_1.snap.json
  internal/integration/__snapshots__/TestCheck_maintainer-deprecated_1.snap.json
  internal/integration/integration_test.go
  internal/integration/testdata/maintainer-deprecated/Dockerfile
  internal/rules/buildkit/fixes/enricher.go
  internal/rules/buildkit/fixes/fixes_test.go
  internal/rules/buildkit/fixes/maintainer_deprecated.go
Due: lint-go, typos

fix: address PR review comment
  internal/rules/buildkit/fixes/fixes_test.go
  internal/rules/buildkit/fixes/maintainer_deprecated.go
Due: lint-go

chore: update dx
  .coderabbit.yaml
  .gitignore
  .sg/rule-tests/.gitkeep
  .sg/rules/.gitkeep
  .sg/utils/.gitkeep
  .vscode/extensions.json
  .vscode/settings.json
  sgconfig.yml
Due: yamllint, typos

chore: fix coderabbit config
  .coderabbit.yaml
  .vscode/extensions.json
  .vscode/settings.json
Due: yamllint, typos

docs: add links to buildkit rules
  RULES.md
Due: typos

docs: remove redundant capture
  RULES.md
Due: typos

fix: include MetaArgs in ConsistentInstructionCasing checks
  internal/rules/buildkit/consistent_instruction_casing.go
  internal/rules/buildkit/consistent_instruction_casing_test.go
Due: lint-go

fix: don't filter rules for semantic model tests
  internal/integration/__snapshots__/TestCheck_copy-from-own-alias_1.snap.json
  internal/integration/__snapshots__/TestCheck_duplicate-stage-name_1.snap.json
  internal/integration/__snapshots__/TestCheck_invalid-instruction-order_1.snap.json
  internal/integration/__snapshots__/TestCheck_multiple-healthcheck_1.snap.json
  internal/integration/__snapshots__/TestCheck_no-from-instruction_1.snap.json
  internal/integration/__snapshots__/TestCheck_onbuild-forbidden_1.snap.json
  internal/integration/integration_test.go
Due: lint-go, typos

fix: prevent silent no-rule runs in selectRules
  internal/integration/integration_test.go
Due: lint-go

fix: avoid skipping real commands after boolean wrapper flags
  internal/shell/wrappers.go
Due: lint-go

fix: add reinstall to yum subcommands requiring -y flag
  internal/rules/hadolint/dl3030.go
  internal/rules/hadolint/dl3030_test.go
Due: lint-go

fix: fix isLong heuristic in CountFlag to match HasFlag
  internal/shell/command.go
Due: lint-go

fix: remove short-flag heuristic that skips command tokens
  internal/shell/wrappers.go
Due: lint-go

test: add auto-fix assertions for DL3038
  internal/rules/hadolint/dl3038_test.go
Due: lint-go

refactor: use path.Base instead of custom pathBase in wrappers.go
  internal/shell/wrappers.go
Due: lint-go

fix: tighten combined -c flag detection in shell wrappers
  internal/shell/command.go
Due: lint-go

feat(rules): add tally/prefer-run-heredoc rule with auto-fix
  RULES.md
  cmd/tally/cmd/check.go
  go.mod
  internal/fix/fixer.go
  internal/fix/fixer_test.go
  internal/fix/heredoc_resolver.go
  internal/fix/resolver.go
  internal/fix/resolver_test.go
  internal/integration/__snapshots__/TestCheck_copy-from-own-alias_1.snap.json
  internal/integration/__snapshots__/TestCheck_duplicate-stage-name_1.snap.json
  internal/integration/__snapshots__/TestCheck_invalid-instruction-order_1.snap.json
  internal/integration/__snapshots__/TestCheck_multiple-healthcheck_1.snap.json
  internal/integration/__snapshots__/TestCheck_no-from-instruction_1.snap.json
  internal/integration/__snapshots__/TestCheck_onbuild-forbidden_1.snap.json
  internal/integration/__snapshots__/TestCheck_prefer-run-heredoc_1.snap.json
  internal/integration/__snapshots__/TestCheck_total-rules-enabled_1.snap.json
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/integration_test.go
  internal/integration/testdata/benchmark-real-world-fix/Dockerfile.expected
  internal/integration/testdata/prefer-run-heredoc/Dockerfile
  internal/rules/hadolint/dl3003.go
  internal/rules/hadolint/dl3003_test.go
  internal/rules/heredoc_data.go
  internal/rules/rule.go
  internal/rules/tally/prefer_heredoc.go
  internal/rules/tally/prefer_heredoc_test.go
  internal/rules/violation.go
  internal/runmount/runmount.go
  internal/runmount/runmount_test.go
  internal/shell/count.go
  internal/shell/count_test.go
Due: lint-go, typos

refactor: remove Fingerprint and OriginalCommands from HeredocResolveData
  internal/rules/heredoc_data.go
  internal/rules/tally/prefer_heredoc.go
Due: lint-go

perf: parse script once in IsHeredocCandidate
  internal/shell/count.go
Due: lint-go

fix: align test helper formatHeredocWithMounts with production
  internal/rules/tally/prefer_heredoc.go
Due: lint-go

refactor: remove deprecated getRunScript wrapper
  internal/rules/tally/prefer_heredoc.go
Due: lint-go

fix: use shell variant parameter in setsErrorFlag
  internal/fix/heredoc_resolver.go
  internal/rules/tally/prefer_heredoc.go
  internal/rules/tally/prefer_heredoc_test.go
Due: lint-go

refactor: extract applyIndent helper for duplicated indentation logic
  internal/fix/heredoc_resolver.go
Due: lint-go

fix: preserve additional set flags like -x, -u, -o pipefail
  internal/fix/heredoc_resolver.go
  internal/rules/tally/prefer_heredoc.go
Due: lint-go

chore: update claude skills
  .claude/commands/pr-comment.md
  .claude/skills/codex/SKILL.md
Due: typos

refactor: reuse hasExitCommandFromAST in HasExitCommand
  internal/shell/count.go
Due: lint-go

Path conditions:
  lint-go: any of: **/*.go
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  typos: any of: *.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  commitlint-config: any of: .commitlintrc.yaml
