Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

format-go:
  run: gofmt -w -s {staged_files}
  stage_fixed: true

lint-go:
  run: GOEXPERIMENT=jsonv2 make lint-fix
  stage_fixed: true

ts-typecheck:
  run: bunx @typescript/native-preview --noEmit

ts-lint:
  run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
  stage_fixed: true

ts-format:
  run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
  stage_fixed: true

taplo:
  run: bunx -y -q @taplo/cli format {staged_files}
  stage_fixed: true

yamllint:
  run: uvx yamllint {staged_files}

format-yml:
  run: yamlfmt {staged_files}
  stage_fixed: true

typos:
  run: uv tool run typos==1.43.4 --force-exclude {staged_files}

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

actionlint:
  run: actionlint {staged_files}

commitlint-config:
  run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml

feat: add scratch stage correctness rules and refactor DL3026 to use semantic model (#158)
  .coderabbit.yaml
  README.md
  RULES.md
  design-docs/20-buildkit-parseable-non-buildable-dockerfiles.md
  design-docs/22-docker-desktop-extension.md
  docs/rules/tally/copy-from-empty-scratch-stage.md
  docs/rules/tally/index.md
  docs/rules/tally/shell-run-in-scratch.md
  internal/integration/__snapshots__/TestLint_copy-from-empty-scratch-stage_1.snap.json
  internal/integration/__snapshots__/TestLint_shell-run-in-scratch_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/copy-from-empty-scratch-stage/Dockerfile
  internal/integration/testdata/shell-run-in-scratch/Dockerfile
  internal/rules/hadolint/dl3026.go
  internal/rules/hadolint/dl3026_test.go
  internal/rules/tally/__snapshots__/TestCopyFromEmptyScratchStageRule_Metadata_1.snap.json
  internal/rules/tally/__snapshots__/TestShellRunInScratchRule_Metadata_1.snap.json
  internal/rules/tally/copy_from_empty_scratch_stage.go
  internal/rules/tally/copy_from_empty_scratch_stage_test.go
  internal/rules/tally/shell_run_in_scratch.go
  internal/rules/tally/shell_run_in_scratch_test.go
  internal/semantic/builder.go
  internal/semantic/semantic_test.go
  internal/semantic/stage_info.go
Due: format-go, lint-go, yamllint, format-yml, typos

feat: add stdin support and here-document input
  cmd/tally/cmd/lint.go
  internal/integration/__snapshots__/TestStdin_fix-outputs-to-stdout_1.snap.Dockerfile
  internal/integration/__snapshots__/TestStdin_lint-json_1.snap.json
  internal/integration/__snapshots__/TestStdin_lint-text_1.snap.txt
  internal/integration/harness_test.go
  internal/integration/stdin_test.go
Due: format-go, lint-go, typos

fix: simplify stdin fix output content selection
  cmd/tally/cmd/lint.go
Due: format-go, lint-go

fix: log diagnostic when --output is overridden in stdin fix mode
  cmd/tally/cmd/lint.go
Due: format-go, lint-go

fix: drop unused context parameter from lintStdinContent
  cmd/tally/cmd/lint.go
Due: format-go, lint-go

fix: extract resolveAsyncChecks and warnFixUnsafe helpers
  cmd/tally/cmd/lint.go
Due: format-go, lint-go

feat: enable revive argument-limit rule (max 7)
  .golangci.yaml
  cmd/tally/cmd/lint.go
  internal/ai/autofix/resolver.go
  internal/rules/hadolint/dl4001.go
  internal/rules/tally/prefer_heredoc.go
  internal/semantic/from_env.go
  internal/semantic/platform.go
  scripts/sync-buildkit-rules/main.go
Due: format-go, lint-go, yamllint, format-yml, typos

fix: align LintFile call sites to same pattern
  cmd/tally/cmd/lint.go
Due: format-go, lint-go

fix: warn when reading stdin from interactive terminal
  cmd/tally/cmd/lint.go
Due: format-go, lint-go

chore: tell rabbit to prefer mechanisms
  .coderabbit.yaml
Due: yamllint, format-yml, typos

fix: various
  .serena/project.yml
  Makefile
  _tools/shellcheck-wasm/Dockerfile
  design-docs/23-shellcheck-integration.md
  design-docs/README.md
  internal/fix/fixer.go
  internal/fix/fixer_precedence_test.go
  internal/processor/processor_test.go
  internal/processor/severity.go
  internal/rules/tally/consistent_indentation.go
  internal/rules/tally/consistent_indentation_test.go
  internal/rules/tally/prefer_package_cache_mounts_test.go
  renovate.json
Due: format-go, lint-go, yamllint, format-yml, typos

chore: implement patches
  _tools/shellcheck-wasm/Dockerfile
  _tools/shellcheck-wasm/patches/0001-json1-only.patch
  _tools/shellcheck-wasm/patches/0002-stdin-only.patch
  _tools/shellcheck-wasm/patches/0003-drop-sc2148.patch
  design-docs/23-shellcheck-integration.md
Due: typos

fix: serena setting
  .serena/project.yml
Due: yamllint, format-yml, typos

chore: set LSP for serena
  .serena/project.yml
Due: yamllint, format-yml, typos

fix(sourcemap): correct PrevComment effective start line calculation
  internal/fix/epilogue_order_resolver.go
  internal/fix/newline_resolver.go
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_newline-between-instructions-grouped-indented-comment_1.snap.Dockerfile
  internal/integration/fix_cases_test.go
  internal/lsptest/__snapshots__/TestLSP_FormattingRealWorld_1.snap.Dockerfile
  internal/rules/tally/max_lines.go
  internal/rules/tally/newline_between_instructions.go
  internal/rules/tally/newline_between_instructions_test.go
  internal/sourcemap/effective_test.go
  internal/sourcemap/sourcemap.go
Due: format-go, lint-go

fix(sourcemap): add bare-# edge case tests and clarifying comment
  internal/sourcemap/effective_test.go
  internal/sourcemap/sourcemap.go
Due: format-go, lint-go

test(max-lines): add file-header comment tests, remove dead root PrevComment code
  internal/rules/tally/max_lines.go
  internal/rules/tally/max_lines_test.go
Due: format-go, lint-go

refactor(sourcemap): eliminate duplicate TrimSpace call in EffectiveStartLine
  internal/sourcemap/sourcemap.go
Due: format-go, lint-go

fix(vscode): update smoke test expected diagnostics count
  extensions/vscode-tally/test/suite/index.js
Due: ts-lint, ts-format, typos

fix(vscode): update smoke expected diagnostics in test harness
  extensions/vscode-tally/test/e2e/smoke.test.ts
  extensions/vscode-tally/test/suite/index.js
Due: ts-typecheck, ts-lint, ts-format, typos

fix(sourcemap): correct PrevComment effective start line calculation (#165)
  extensions/vscode-tally/test/e2e/smoke.test.ts
  extensions/vscode-tally/test/suite/index.js
  internal/fix/epilogue_order_resolver.go
  internal/fix/newline_resolver.go
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_newline-between-instructions-grouped-indented-comment_1.snap.Dockerfile
  internal/integration/fix_cases_test.go
  internal/lsptest/__snapshots__/TestLSP_FormattingRealWorld_1.snap.Dockerfile
  internal/rules/tally/max_lines.go
  internal/rules/tally/max_lines_test.go
  internal/rules/tally/newline_between_instructions.go
  internal/rules/tally/newline_between_instructions_test.go
  internal/sourcemap/effective_test.go
  internal/sourcemap/sourcemap.go
Due: format-go, lint-go, ts-typecheck, ts-lint, ts-format, typos

feat(fix): add autofix for hadolint/DL3020 (ADD → COPY)
  RULES.md
  docs/rules/hadolint/DL3020.md
  internal/integration/__snapshots__/TestFix_dl3020-add-to-copy-multiple_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_dl3020-add-to-copy-with-flags_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_dl3020-add-to-copy_1.snap.Dockerfile
  internal/integration/fix_cases_test.go
  internal/rules/hadolint/dl3020.go
  internal/rules/hadolint/dl3020_test.go
Due: format-go, lint-go, typos

fix(vscode): enforce trust gate before path resolution
  extensions/vscode-tally/src/binary/findBinary.ts
Due: ts-typecheck, ts-lint, ts-format, typos

fix(vscode): address review findings for watchdog and docs
  design-docs/24-vscode-extension-lessons-from-typescript-go-native-preview.md
  extensions/vscode-tally/src/binary/findBinary.ts
  extensions/vscode-tally/src/extension.ts
  extensions/vscode-tally/src/lsp/client.ts
Due: ts-typecheck, ts-lint, ts-format, typos

fix(vscode): handle windows cmd shims for explicit and PATH binaries
  extensions/vscode-tally/src/binary/findBinary.ts
Due: ts-typecheck, ts-lint, ts-format, typos

feat(vscode): add LSP watchdog/trace UX + TSGo lessons doc (#167)
  design-docs/24-vscode-extension-lessons-from-typescript-go-native-preview.md
  extensions/vscode-tally/.oxfmtrc.json
  extensions/vscode-tally/.oxlintrc.json
  extensions/vscode-tally/README.md
  extensions/vscode-tally/bun.lock
  extensions/vscode-tally/package.json
  extensions/vscode-tally/src/binary/findBinary.ts
  extensions/vscode-tally/src/binary/pythonEnvs.ts
  extensions/vscode-tally/src/extension.ts
  extensions/vscode-tally/src/lsp/client.ts
  extensions/vscode-tally/test/e2e/smoke.test.ts
  extensions/vscode-tally/test/suite/index.js
Due: ts-typecheck, ts-lint, ts-format, typos

chore: leftovers
  design-docs/24-vscode-extension-lessons-from-typescript-go-native-preview.md
  extensions/vscode-tally/src/extension.ts
Due: ts-typecheck, ts-lint, ts-format, typos

chore: move tools/lspgen into _tools/lspgen
  Makefile
  _tools/lspgen/.gitignore
  _tools/lspgen/README.md
  _tools/lspgen/fetchModel.mts
  _tools/lspgen/generate.mts
  _tools/lspgen/metaModelSchema.mts
  _tools/lspgen/tsconfig.json
  internal/lsp/protocol/doc.go
Due: format-go, lint-go, typos

chore: improve model fetch
  _tools/lspgen/bun.lock
  _tools/lspgen/fetchModel.mts
  _tools/lspgen/metaModelSchema.mts
  _tools/lspgen/package.json
Due: typos

refactor: remove typescript-go specific types from LSP codegen
  _tools/lspgen/generate.mts
  internal/lsp/protocol/lsp_generated.go
  internal/lspserver/diagnostic_mode.go
Due: format-go, lint-go

chore: mark lsp/protocol/doc.go as linguist-generated
  .gitattributes
Due: none

chore: move lspgen to _tools and remove typescript-go specific types (#172)
  .gitattributes
  Makefile
  _tools/lspgen/.gitignore
  _tools/lspgen/README.md
  _tools/lspgen/bun.lock
  _tools/lspgen/fetchModel.mts
  _tools/lspgen/generate.mts
  _tools/lspgen/metaModelSchema.mts
  _tools/lspgen/package.json
  _tools/lspgen/tsconfig.json
  internal/lsp/protocol/doc.go
  internal/lsp/protocol/lsp_generated.go
  internal/lspserver/diagnostic_mode.go
Due: format-go, lint-go, typos

chore: switch license from Apache-2.0 to GPL-3.0-only
  .github/workflows/cla.yml
  CLA.md
  LICENSE
  NOTICE
  README.md
  _integrations/vscode-tally/package.json
  packaging/homebrew/tally.rb.template
  packaging/npm/tally-darwin-arm64/package.json
  packaging/npm/tally-darwin-x64/package.json
  packaging/npm/tally-freebsd-x64/package.json
  packaging/npm/tally-linux-arm64/package.json
  packaging/npm/tally-linux-x64/package.json
  packaging/npm/tally-windows-arm64/package.json
  packaging/npm/tally-windows-x64/package.json
  packaging/npm/tally/package.json
  packaging/pypi/LICENSE
  packaging/pypi/NOTICE
  packaging/pypi/pyproject.toml
  packaging/rubygems/LICENSE
  packaging/rubygems/NOTICE
  packaging/rubygems/tally-cli.gemspec
Due: taplo, yamllint, format-yml, typos, actionlint

fix: align NOTICE with GPL-3.0-only (remove "or later" clause)
  NOTICE
  packaging/pypi/NOTICE
  packaging/rubygems/NOTICE
Due: none

fix: narrow CLA data retention to minimal required fields
  CLA.md
Due: typos

fix: add LICENSE link in README license section
  README.md
Due: typos

Path conditions:
  format-go: any of: **/*.go
  lint-go: any of: **/*.go
  ts-typecheck: any of: extensions/vscode-tally/**/*.ts and ^extensions/vscode\-tally/
  ts-lint: any of: extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts} and ^extensions/vscode\-tally/
  ts-format: any of: *.{js,ts,cjs,mjs,mts,cts,jsx,tsx} and ^extensions/vscode\-tally/
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  format-yml: any of: {.yamlfmt,*.yml,*.yaml}
  typos: any of: *.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}
  codecov: any of: .codecov.yml
  actionlint: any of: .github/workflows/*.{yaml,yml}
  commitlint-config: any of: .commitlintrc.yaml
