Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, taplo, yamllint, typos, codecov, renovate, actionlint, commitlint-config

lint-go:
  run: make lint-fix
  stage_fixed: true

taplo:
  run: npx -y -q @taplo/cli format {staged_files}
  stage_fixed: true

yamllint:
  run: uvx yamllint {staged_files}

typos:
  run: uv tool run typos --force-exclude {staged_files}

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

renovate:
  run: npx -y -q -y --package renovate renovate-config-validator renovate.json

actionlint:
  run: actionlint {staged_files}

commitlint-config:
  run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml

chore(docs): deduplicate tally rules from RULES.md in favor of docs site
  RULES.md
Due: typos

feat: add covered_by_tally status for hadolint rules superseded by tally
  README.md
  RULES.md
  internal/rules/hadolint-status.json
  scripts/generate-hadolint-table.sh
  scripts/sync-buildkit-rules/main.go
Due: lint-go, typos

fix(vscode): dispose workspace trust listener
  extensions/vscode-tally/src/extension.ts
Due: typos

refactor(lsp): use slices.SortFunc for workspaces
  internal/lspserver/settings.go
Due: lint-go

refactor(lsp): use cmp.Compare in workspace sort
  internal/lspserver/settings.go
Due: lint-go

fix(lsp): default empty configurationPreference
  internal/lspserver/settings.go
Due: lint-go

ci: upload vscode smoke coverage
  .github/workflows/vscode-smoke.yml
  extensions/vscode-tally/test/e2e/smoke.test.ts
Due: yamllint, typos, actionlint

ci(vscode): stabilize smoke download
  .github/workflows/vscode-smoke.yml
  extensions/vscode-tally/test/e2e/smoke.test.ts
Due: yamllint, typos, actionlint

chore(renovate): ignore vscode engine updates
  renovate.json
Due: typos, renovate

refactor(lspserver): remove redundant fixAllCodeAction uri arg
  internal/lspserver/codeactions.go
  internal/lspserver/fixall.go
Due: lint-go

fix(lspserver): normalize file key for formatting fixes
  internal/lspserver/formatting.go
Due: lint-go

fix(lspserver): compute LSP positions in UTF-16
  internal/lspserver/formatting.go
  internal/lspserver/formatting_position_test.go
Due: lint-go

fix(vscode): avoid copying merged codeActionsOnSave
  extensions/vscode-tally/src/extension.ts
Due: typos

fix(vscode): show correct formatter config scope
  extensions/vscode-tally/src/extension.ts
Due: typos

fix(lspserver): include fix-all code action by default
  internal/lspserver/codeactions.go
  internal/lsptest/lsp_test.go
Due: lint-go

fix(vscode): rollback formatter settings on failure
  extensions/vscode-tally/src/extension.ts
Due: typos

style(lspserver): use idiomatic utf16 counter increments
  internal/lspserver/formatting.go
Due: lint-go

fix(lspserver): make minimal replacement UTF-8 safe
  internal/lspserver/formatting.go
  internal/lspserver/formatting_minimal_replacement_test.go
Due: lint-go

feat(vscode): implement fix-all and formatter command (#90)
  cmd/tally/cmd/check.go
  design-docs/11-vscode-extension-architecture.md
  extensions/vscode-tally/README.md
  extensions/vscode-tally/assets/logo.png
  extensions/vscode-tally/package.json
  extensions/vscode-tally/src/config/vscodeConfig.ts
  extensions/vscode-tally/src/extension.ts
  extensions/vscode-tally/src/lsp/client.ts
  extensions/vscode-tally/test/suite/index.js
  internal/ai/acp/runner.go
  internal/fix/fixmodes.go
  internal/lspserver/codeactions.go
  internal/lspserver/execute_command.go
  internal/lspserver/execute_command_test.go
  internal/lspserver/fixall.go
  internal/lspserver/formatting.go
  internal/lspserver/formatting_minimal_replacement_test.go
  internal/lspserver/formatting_position_test.go
  internal/lspserver/server.go
  internal/lsptest/__snapshots__/TestLSP_CodeActionFixAll_1.snap.Dockerfile
  internal/lsptest/__snapshots__/TestLSP_ExecuteCommandApplyAllFixes_1.snap.Dockerfile
  internal/lsptest/__snapshots__/TestLSP_Initialize_1.snap.json
  internal/lsptest/lsp_test.go
  internal/lsptest/setup_test.go
  renovate.json
Due: lint-go, typos, renovate

feat: configure linter and formatter for TS
  .github/workflows/vscode-smoke.yml
  .lefthook.yml
  .vscode/extensions.json
  .vscode/settings.json
  extensions/vscode-tally/.oxfmtrc.json
  extensions/vscode-tally/.oxlintrc.json
  extensions/vscode-tally/bun.lock
  extensions/vscode-tally/package.json
  extensions/vscode-tally/test/e2e/smoke.test.ts
  extensions/vscode-tally/tsconfig.json
Due: yamllint, typos, actionlint

chore: format
  .vscode/settings.json
  extensions/vscode-tally/.oxfmtrc.json
  extensions/vscode-tally/.oxlintrc.json
  extensions/vscode-tally/README.md
  extensions/vscode-tally/package.json
  extensions/vscode-tally/src/binary/findBinary.ts
  extensions/vscode-tally/src/binary/pathValidator.ts
  extensions/vscode-tally/src/config/configService.ts
  extensions/vscode-tally/src/config/vscodeConfig.ts
  extensions/vscode-tally/src/extension.ts
  extensions/vscode-tally/src/lsp/client.ts
  extensions/vscode-tally/test/e2e/smoke.test.ts
  extensions/vscode-tally/test/suite/index.js
  extensions/vscode-tally/tsconfig.json
Due: typos

fix: re-detect shell variant in heredoc resolver after sync fixes
  internal/fix/heredoc_resolver.go
  internal/fix/heredoc_resolver_test.go
  internal/integration/__snapshots__/TestCheck_dl4005_1.snap.json
Due: lint-go, typos

fix: address PR review comment
  internal/fix/heredoc_resolver_test.go
Due: lint-go

feat: implement Hadolint DL4005 — use SHELL to change the default shell (#93)
  README.md
  RULES.md
  internal/fix/heredoc_resolver.go
  internal/fix/heredoc_resolver_test.go
  internal/integration/__snapshots__/TestCheck_copy-from-own-alias_1.snap.json
  internal/integration/__snapshots__/TestCheck_dl4005_1.snap.json
  internal/integration/__snapshots__/TestCheck_duplicate-stage-name_1.snap.json
  internal/integration/__snapshots__/TestCheck_invalid-instruction-order_1.snap.json
  internal/integration/__snapshots__/TestCheck_multiple-healthcheck_1.snap.json
  internal/integration/__snapshots__/TestCheck_no-from-instruction_1.snap.json
  internal/integration/__snapshots__/TestCheck_onbuild-forbidden_1.snap.json
  internal/integration/__snapshots__/TestCheck_total-rules-enabled_1.snap.json
  internal/integration/__snapshots__/TestFix_dl4005-ln-in-chain_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_dl4005-ln-to-shell_1.snap.Dockerfile
  internal/integration/integration_test.go
  internal/integration/testdata/dl4005/Dockerfile
  internal/rules/hadolint-status.json
  internal/rules/hadolint/__snapshots__/TestDL4005Rule_Metadata_1.snap.json
  internal/rules/hadolint/dl4005.go
  internal/rules/hadolint/dl4005_test.go
  internal/shell/chain.go
  internal/shell/chain_test.go
Due: lint-go, typos

chore: fix format
  RULES.md
Due: typos

chore: attempt to ignore wider
  codecov.yml
Due: yamllint, typos

fix: add pointer file for MultipleInstructionsDisallowed rule
  README.md
  RULES.md
  internal/rules/buildkit/multiple_instructions_disallowed.go
Due: lint-go, typos

fix: address PR review comment
  internal/rules/buildkit/reserved_stage_name.go
Due: lint-go

chore(ci): filter generated files from coverage
  .github/workflows/ci.yml
  .github/workflows/vscode-smoke.yml
  scripts/filter-go-coverprofile.sh
Due: yamllint, typos, actionlint

feat: implement buildkit/ExposeInvalidFormat rule
  README.md
  RULES.md
  internal/integration/__snapshots__/TestCheck_buildkit-warnings_1.snap.json
  internal/integration/__snapshots__/TestCheck_copy-from-own-alias_1.snap.json
  internal/integration/__snapshots__/TestCheck_duplicate-stage-name_1.snap.json
  internal/integration/__snapshots__/TestCheck_expose-invalid-format_1.snap.json
  internal/integration/__snapshots__/TestCheck_fail-level-error_1.snap.json
  internal/integration/__snapshots__/TestCheck_fail-level-none_1.snap.json
  internal/integration/__snapshots__/TestCheck_fail-level-warning_1.snap.json
  internal/integration/__snapshots__/TestCheck_invalid-instruction-order_1.snap.json
  internal/integration/__snapshots__/TestCheck_multiple-healthcheck_1.snap.json
  internal/integration/__snapshots__/TestCheck_no-from-instruction_1.snap.json
  internal/integration/__snapshots__/TestCheck_onbuild-forbidden_1.snap.json
  internal/integration/__snapshots__/TestCheck_total-rules-enabled_1.snap.json
  internal/integration/integration_test.go
  internal/integration/testdata/expose-invalid-format/Dockerfile
  internal/rules/buildkit/__snapshots__/TestExposeInvalidFormatRule_Metadata_1.snap.json
  internal/rules/buildkit/expose_invalid_format.go
  internal/rules/buildkit/expose_invalid_format_test.go
Due: lint-go, typos

chore(ci): mark generated files as covered
  .github/workflows/ci.yml
  .github/workflows/vscode-smoke.yml
  scripts/filter-go-coverprofile.sh
Due: yamllint, typos, actionlint

feat: implement buildkit/ExposeInvalidFormat rule (#97)
  .github/workflows/ci.yml
  .github/workflows/vscode-smoke.yml
  README.md
  RULES.md
  internal/integration/__snapshots__/TestCheck_buildkit-warnings_1.snap.json
  internal/integration/__snapshots__/TestCheck_copy-from-own-alias_1.snap.json
  internal/integration/__snapshots__/TestCheck_duplicate-stage-name_1.snap.json
  internal/integration/__snapshots__/TestCheck_expose-cross-rules_1.snap.json
  internal/integration/__snapshots__/TestCheck_expose-invalid-format_1.snap.json
  internal/integration/__snapshots__/TestCheck_fail-level-error_1.snap.json
  internal/integration/__snapshots__/TestCheck_fail-level-none_1.snap.json
  internal/integration/__snapshots__/TestCheck_fail-level-warning_1.snap.json
  internal/integration/__snapshots__/TestCheck_invalid-instruction-order_1.snap.json
  internal/integration/__snapshots__/TestCheck_multiple-healthcheck_1.snap.json
  internal/integration/__snapshots__/TestCheck_no-from-instruction_1.snap.json
  internal/integration/__snapshots__/TestCheck_onbuild-forbidden_1.snap.json
  internal/integration/__snapshots__/TestCheck_total-rules-enabled_1.snap.json
  internal/integration/integration_test.go
  internal/integration/testdata/expose-cross-rules/Dockerfile
  internal/integration/testdata/expose-invalid-format/Dockerfile
  internal/rules/buildkit/__snapshots__/TestExposeInvalidFormatRule_Metadata_1.snap.json
  internal/rules/buildkit/expose_invalid_format.go
  internal/rules/buildkit/expose_invalid_format_test.go
  scripts/filter-go-coverprofile.sh
Due: lint-go, yamllint, typos, actionlint

fix: add partial variable platform test cases
  internal/rules/buildkit/from_platform_flag_const_disallowed_test.go
Due: lint-go

fix: refactor TestParsePlatformParts to use t.Run() subtests
  internal/rules/buildkit/from_platform_flag_const_disallowed_test.go
Due: lint-go

docs: sync BuildKit rules README
  README.md
Due: typos

docs: sync BuildKit rules list
  RULES.md
Due: typos

refactor(semantic): use slices.Sort for auto args
  internal/semantic/builder.go
Due: lint-go

refactor(semantic): use slices.Sort in from env
  internal/semantic/from_env.go
Due: lint-go

test(semantic): raise from_env coverage
  internal/semantic/from_env_test.go
Due: lint-go

docs: add async checks design
  design-docs/15-async-checks.md
  design-docs/README.md
Due: typos

Path conditions:
  lint-go: any of: **/*.go
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  typos: any of: *.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  commitlint-config: any of: .commitlintrc.yaml
