Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

format-go:
  run: gofmt -w -s {staged_files}
  stage_fixed: true

lint-go:
  run: GOEXPERIMENT=jsonv2 make lint-fix
  stage_fixed: true

ts-typecheck:
  run: bunx @typescript/native-preview --noEmit

ts-lint:
  run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
  stage_fixed: true

ts-format:
  run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
  stage_fixed: true

taplo:
  run: bunx -y -q @taplo/cli format {staged_files}
  stage_fixed: true

yamllint:
  run: uvx yamllint {staged_files}

format-yml:
  run: yamlfmt {staged_files}
  stage_fixed: true

typos:
  run: uv tool run typos==1.43.4 --force-exclude {staged_files}

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

actionlint:
  run: actionlint {staged_files}

commitlint-config:
  run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml

fix: suppress base-image fix for stage-ref bases (FROM builder)
  _docs/rules/tally/gpu/cuda-version-mismatch.mdx
  internal/rules/tally/gpu/cuda_version_mismatch.go
  internal/rules/tally/gpu/cuda_version_mismatch_test.go
Due: format-go, lint-go

fix: clarify wheel-fix description as closest compatible suffix
  internal/integration/__snapshots__/TestLint_gpu-cuda-version-mismatch_1.snap.json
  internal/rules/tally/gpu/cuda_version_mismatch.go
Due: format-go, lint-go, typos

feat(gpu): add tally/gpu/cuda-version-mismatch rule (#477)
  .lefthook.yml
  README.md
  RULES.md
  _docs/docs.json
  _docs/rules/tally/gpu/cuda-version-mismatch.mdx
  internal/facts/facts.go
  internal/integration/__snapshots__/TestLint_gpu-cuda-version-mismatch_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/gpu-cuda-version-mismatch/Dockerfile
  internal/rules/tally/gpu/__snapshots__/TestCUDAVersionMismatchRule_Metadata_1.snap.json
  internal/rules/tally/gpu/cuda_version_mismatch.go
  internal/rules/tally/gpu/cuda_version_mismatch_test.go
  internal/rules/tally/gpu/gate.go
  internal/rules/tally/gpu/gate_test.go
Due: format-go, lint-go, yamllint, format-yml, typos

feat(lsp): add suppress-rule, show-documentation CodeActions and iterative fix-all
  _integrations/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyConfigurable.kt
  _integrations/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallySettings.kt
  _integrations/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallySettingsState.kt
  _integrations/vscode-tally/package.json
  _integrations/vscode-tally/src/config/vscodeConfig.ts
  internal/lspserver/async_test.go
  internal/lspserver/codeactions.go
  internal/lspserver/diagnostics.go
  internal/lspserver/execute_command.go
  internal/lspserver/fixall.go
  internal/lspserver/opendoc.go
  internal/lspserver/opendoc_test.go
  internal/lspserver/server.go
  internal/lspserver/settings.go
  internal/lspserver/settings_test.go
  internal/lspserver/suppress.go
  internal/lspserver/suppress_test.go
Due: format-go, lint-go, typos

test(lsp): update snapshots for new CodeActions and capabilities
  internal/lsptest/__snapshots__/TestLSP_CodeAction_1.snap.json
  internal/lsptest/__snapshots__/TestLSP_Initialize_1.snap.json
Due: typos

style: format vscodeConfig.ts with oxfmt
  _integrations/vscode-tally/src/config/vscodeConfig.ts
Due: typos

fix(intellij): add fixAllMode accessor to TallySettingsService
  _integrations/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallySettingsService.kt
Due: none

fix: findCommentBlockStart stops at parser directives and bare #
  internal/lspserver/suppress.go
  internal/lspserver/suppress_test.go
Due: format-go, lint-go

fix: use AST-derived first instruction line instead of string-based parser directive detection
  internal/lspserver/suppress.go
  internal/lspserver/suppress_test.go
Due: format-go, lint-go

fix: resolve config and fix modes once in iterative fix-all loop
  internal/lspserver/fixall.go
Due: format-go, lint-go

fix(test): use separate snapshot for iterative fix-all in VSCode smoke test
  _integrations/vscode-tally/test/suite/index.js
  internal/lsptest/__snapshots__/TestLSP_ExecuteCommandApplyAllFixesRealWorld_1.snap.Dockerfile
  internal/lsptest/lsp_test.go
Due: format-go, lint-go, typos

fix(lsp): deduplicate file-level suppress actions by ruleCode only
  internal/lspserver/suppress.go
  internal/lspserver/suppress_test.go
Due: format-go, lint-go

fix(intellij): wire suppressRuleEnabled and showDocumentationEnabled through persisted state
  _integrations/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallySettings.kt
  _integrations/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallySettingsService.kt
  _integrations/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallySettingsState.kt
Due: none

fix(lsp): restrict line-level merge to tally-sourced directives
  internal/directive/format.go
  internal/directive/format_test.go
  internal/lspserver/suppress.go
Due: format-go, lint-go

fix(test): add Data field to test codeAction struct so suppress data is captured
  internal/lsptest/__snapshots__/TestLSP_CodeAction_1.snap.json
  internal/lsptest/setup_test.go
Due: format-go, lint-go, typos

fix(lsp): resolve violation to instruction start line for suppress directives
  internal/directive/parser.go
  internal/lspserver/suppress.go
  internal/lspserver/suppress_test.go
Due: format-go, lint-go

fix(lsp): distinguish error from convergence in iterative fix-all
  internal/lspserver/fixall.go
Due: format-go, lint-go

fix(lsp): use parser directive floor instead of first instruction line
  internal/lspserver/suppress.go
  internal/lspserver/suppress_test.go
Due: format-go, lint-go

fix(directive): trim tabs in addition to spaces in AppendRule
  internal/directive/format.go
  internal/directive/format_test.go
Due: format-go, lint-go

fix(test): verify Edit.Changes is populated in suppress action tests
  internal/lspserver/suppress_test.go
Due: format-go, lint-go

fix(directive): handle flexible reason syntax in AppendRule
  internal/directive/format.go
  internal/directive/format_test.go
Due: format-go, lint-go

feat(lsp): suppress-rule, show-documentation CodeActions and iterative fix-all (#483)
  _integrations/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyConfigurable.kt
  _integrations/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallySettings.kt
  _integrations/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallySettingsService.kt
  _integrations/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallySettingsState.kt
  _integrations/vscode-tally/package.json
  _integrations/vscode-tally/src/config/vscodeConfig.ts
  _integrations/vscode-tally/test/suite/index.js
  internal/directive/format.go
  internal/directive/format_test.go
  internal/directive/parser.go
  internal/lspserver/async_test.go
  internal/lspserver/codeactions.go
  internal/lspserver/diagnostics.go
  internal/lspserver/execute_command.go
  internal/lspserver/fixall.go
  internal/lspserver/opendoc.go
  internal/lspserver/opendoc_test.go
  internal/lspserver/server.go
  internal/lspserver/settings.go
  internal/lspserver/settings_test.go
  internal/lspserver/suppress.go
  internal/lspserver/suppress_test.go
  internal/lsptest/__snapshots__/TestLSP_CodeAction_1.snap.json
  internal/lsptest/__snapshots__/TestLSP_ExecuteCommandApplyAllFixesRealWorld_1.snap.Dockerfile
  internal/lsptest/__snapshots__/TestLSP_Initialize_1.snap.json
  internal/lsptest/lsp_test.go
  internal/lsptest/setup_test.go
Due: format-go, lint-go, typos

chore: update IML
  tally.iml
Due: none

feat(powershell): add tally/powershell/error-action-preference rule
  README.md
  RULES.md
  _docs/docs.json
  _docs/rules/tally/powershell/error-action-preference.mdx
  internal/integration/__snapshots__/TestFixRealWorldBoostMSVCWindowsContainer_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorldBoostMSVCWindowsContainer_1.snap.md
  internal/integration/__snapshots__/TestFixRealWorldMetalama_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_powershell-error-action-preference-backtick-multiline-native-only_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_powershell-error-action-preference-explicit-wrapper-backtick_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_powershell-error-action-preference-missing-both_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_powershell-error-action-preference-single-cmd-no-fix_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_powershell-error-action-preference_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/powershell-error-action-preference/Dockerfile
  internal/rules/tally/powershell/__snapshots__/TestErrorActionPreferenceRule_DefaultConfig_1.snap.json
  internal/rules/tally/powershell/__snapshots__/TestErrorActionPreferenceRule_Metadata_1.snap.json
  internal/rules/tally/powershell/error_action_preference.go
  internal/rules/tally/powershell/error_action_preference_test.go
  internal/rules/tally/powershell/prefer_shell_instruction.go
  internal/rules/tally/prefer_package_cache_mounts.go
  internal/sourcemap/sourcemap.go
Due: format-go, lint-go, typos

docs: add Microsoft Learn references for PowerShell preference variables
  _docs/rules/tally/powershell/error-action-preference.mdx
Due: none

fix: suppress duplicate SHELL fixes for multiple RUNs in same stage
  internal/integration/__snapshots__/TestFixRealWorldBoostMSVCWindowsContainer_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorldBoostMSVCWindowsContainer_1.snap.md
  internal/integration/__snapshots__/TestFixRealWorldMetalama_1.snap.Dockerfile
  internal/rules/tally/powershell/error_action_preference.go
Due: format-go, lint-go, typos

fix: parse SHELL prelude with assignment logic instead of substring matching
  internal/rules/tally/powershell/error_action_preference.go
  internal/rules/tally/powershell/error_action_preference_test.go
Due: format-go, lint-go

fix: document explicit-wrapper autofix in rule docs
  _docs/rules/tally/powershell/error-action-preference.mdx
Due: none

fix: guard ByteToLineCol against out-of-bounds offsets
  internal/sourcemap/sourcemap.go
  internal/sourcemap/sourcemap_test.go
Due: format-go, lint-go

fix: only count leading assignments as prelude in scanScriptPrelude
  internal/rules/tally/powershell/error_action_preference.go
  internal/rules/tally/powershell/error_action_preference_test.go
Due: format-go, lint-go

fix: anchor wrapper fix insertion after -Command argument
  internal/rules/tally/powershell/error_action_preference.go
Due: format-go, lint-go

fix: regenerate lint snapshot after duplicate-fix suppression
  internal/integration/__snapshots__/TestLint_powershell-error-action-preference_1.snap.json
Due: typos

fix: add cross-rule overlap tests for neighboring rules
  internal/integration/__snapshots__/TestFix_powershell-error-action-preference-cross-prefer-shell-instruction_1.snap.Dockerfile
  internal/integration/fix_cases_test.go
  internal/rules/tally/powershell/error_action_preference_test.go
Due: format-go, lint-go

feat(semantic): detect PowerShell as default shell from base image
  internal/integration/__snapshots__/TestFix_powershell-error-action-preference-insert-shell-after-from_1.snap.Dockerfile
  internal/integration/fix_cases_test.go
  internal/registry/containers.go
  internal/registry/oci.go
  internal/registry/resolver.go
  internal/semantic/base_image_os_test.go
  internal/semantic/builder.go
  internal/semantic/stage_info.go
Due: format-go, lint-go

fix: replace findCommandArgEnd with executable-name anchoring
  internal/rules/tally/powershell/error_action_preference.go
Due: format-go, lint-go

fix: target nearest preceding SHELL instruction for stage fix
  internal/rules/tally/powershell/error_action_preference.go
Due: format-go, lint-go

feat(powershell): add error-action-preference rule (#488)
  README.md
  RULES.md
  _docs/docs.json
  _docs/rules/tally/powershell/error-action-preference.mdx
  internal/integration/__snapshots__/TestFixRealWorldBoostMSVCWindowsContainer_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorldBoostMSVCWindowsContainer_1.snap.md
  internal/integration/__snapshots__/TestFixRealWorldMetalama_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_powershell-error-action-preference-backtick-multiline-native-only_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_powershell-error-action-preference-cross-prefer-shell-instruction_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_powershell-error-action-preference-explicit-wrapper-backtick_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_powershell-error-action-preference-insert-shell-after-from_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_powershell-error-action-preference-missing-both_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_powershell-error-action-preference-single-cmd-no-fix_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_powershell-error-action-preference_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/powershell-error-action-preference/Dockerfile
  internal/registry/containers.go
  internal/registry/oci.go
  internal/registry/resolver.go
  internal/rules/tally/powershell/__snapshots__/TestErrorActionPreferenceRule_DefaultConfig_1.snap.json
  internal/rules/tally/powershell/__snapshots__/TestErrorActionPreferenceRule_Metadata_1.snap.json
  internal/rules/tally/powershell/error_action_preference.go
  internal/rules/tally/powershell/error_action_preference_test.go
  internal/rules/tally/powershell/prefer_shell_instruction.go
  internal/rules/tally/prefer_package_cache_mounts.go
  internal/semantic/base_image_os_test.go
  internal/semantic/builder.go
  internal/semantic/stage_info.go
  internal/sourcemap/sourcemap.go
  internal/sourcemap/sourcemap_test.go
Due: format-go, lint-go, typos

fix(prefer-package-cache-mounts): preserve heredoc structure in fix edits
  internal/integration/__snapshots__/TestFix_prefer-package-cache-mounts-dnf-heredoc-cleanup_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_prefer-package-cache-mounts_1.snap.json
  internal/integration/fix_cases_test.go
  internal/rules/tally/prefer_package_cache_mounts.go
Due: format-go, lint-go, typos

fix: handle ONBUILD RUN in runKeywordEndColumn
  internal/rules/tally/prefer_package_cache_mounts.go
Due: format-go, lint-go

fix: search all RUN lines for heredoc marker in buildMountFlagEdit
  internal/rules/tally/prefer_package_cache_mounts.go
Due: format-go, lint-go

Path conditions:
  format-go: any of: **/*.go
  lint-go: any of: **/*.go
  ts-typecheck: any of: extensions/vscode-tally/**/*.ts and ^extensions/vscode\-tally/
  ts-lint: any of: extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts} and ^extensions/vscode\-tally/
  ts-format: any of: *.{js,ts,cjs,mjs,mts,cts,jsx,tsx} and ^extensions/vscode\-tally/
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  format-yml: any of: {.yamlfmt,*.yml,*.yaml}
  typos: any of: *.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}
  codecov: any of: .codecov.yml
  actionlint: any of: .github/workflows/*.{yaml,yml}
  commitlint-config: any of: .commitlintrc.yaml
