Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

.lefthook.yml:

# yaml-language-server: =https://json.schemastore.org/lefthook.json
---
output:
  # - summary # Print summary block (successful and failed steps)
  # - empty_summary # Print summary heading when there are no steps to run
  - failure # Print failed steps printing
# - skips # Print "skip" (i.e. no files matched)
assert_lefthook_installed: true
pre-commit:
  commands:
    format-go:
      glob: "**/*.go"
      run: gofmt -w -s {staged_files}
      stage_fixed: true
    lint-go:
      glob: "**/*.go"
      run: GOEXPERIMENT=jsonv2 make lint-fix
      stage_fixed: true
    ts-typecheck:
      glob: "extensions/vscode-tally/**/*.ts"
      run: bunx @typescript/native-preview --noEmit
      root: extensions/vscode-tally
    ts-lint:
      glob: "extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts}"
      run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
      stage_fixed: true
      root: extensions/vscode-tally
    ts-format:
      glob: "*.{js,ts,cjs,mjs,mts,cts,jsx,tsx}"
      run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
      stage_fixed: true
      root: extensions/vscode-tally
    taplo:
      glob: "**/*.toml"
      run: bunx -y -q @taplo/cli format {staged_files}
      stage_fixed: true
    rumdl:
      glob: "**/*.md"
      exclude: "**/__snapshots__/**"
      run: uv tool run rumdl==0.1.17 check --fix --config .rumdl.toml --output-format concise {staged_files}
      stage_fixed: true
    yamllint:
      glob: "*.{yml,yaml}"
      run: uvx yamllint {staged_files}
    format-yml:
      glob: "{.yamlfmt,*.yml,*.yaml}"
      run: yamlfmt {staged_files}
      stage_fixed: true
    typos:
      glob: "*.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}"
      run: uv tool run typos==1.43.4 --force-exclude {staged_files}
    codecov:
      glob: ".codecov.yml"
      run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate
    # renovate:
    #   glob: "renovate.json"
    #   run: npx -y -q -y --package renovate renovate-config-validator renovate.json
    actionlint:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}
    commitlint-config:
      glob: ".commitlintrc.yaml"
      run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml
commit-msg:
  commands:
    "lint commit message":
      run: npx -y -q commitlint --edit {1}
    "check spelling":
      run: uv tool run typos==1.43.4 {1}
post-merge:
  files: "git diff-tree -r --name-only --no-commit-id ORIG_HEAD HEAD"
  commands:
    delete-merged-branches:
      run: git branch --merged | grep -Ev '\*|master|main|dev|develop|development|stag|staging|prod|production' | xargs git branch -d; git fetch --prune;
pre-push:
  parallel: true
  jobs:
    - name: build
      run: GOEXPERIMENT=jsonv2 make build
    - name: deadcode
      run: GOEXPERIMENT=jsonv2 make deadcode
    - name: test
      run: GOEXPERIMENT=jsonv2 make test
    - name: validate-hadolint-status
      run: ./scripts/validate-hadolint-status.sh
    - name: validate-buildkit-rules
      run: GOEXPERIMENT=jsonv2 ./scripts/validate-buildkit-rules.sh

feat: add tally/prefer-canonical-stopsignal rule (#386)
  README.md
  RULES.md
  docs/index.md
  docs/rules/tally/index.md
  docs/rules/tally/prefer-canonical-stopsignal.md
  internal/integration/__snapshots__/TestFix_prefer-canonical-stopsignal-cross-no-ungraceful_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-canonical-stopsignal-lowercase_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-canonical-stopsignal-no-fix_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-canonical-stopsignal-numeric_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-canonical-stopsignal-prefix_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-canonical-stopsignal-quoted_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-canonical-stopsignal-rtmin_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_prefer-canonical-stopsignal_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/prefer-canonical-stopsignal/Dockerfile
  internal/rules/tally/no_ungraceful_stopsignal.go
  internal/rules/tally/no_ungraceful_stopsignal_test.go
  internal/rules/tally/prefer_canonical_stopsignal.go
  internal/rules/tally/prefer_canonical_stopsignal_test.go
  internal/rules/tally/stopsignal.go
  internal/rules/tally/stopsignal_test.go
Due: format-go, lint-go, typos

feat: add observable file facts for copied content
  internal/context/context.go
  internal/context/context_test.go
  internal/facts/facts.go
  internal/facts/facts_test.go
  internal/facts/observable_files.go
  internal/linter/linter.go
  internal/rules/buildkit/copy_ignored_file.go
  internal/rules/buildkit/copy_ignored_file_test.go
  internal/rules/rule.go
  internal/rules/tally/secrets_in_code.go
  internal/rules/tally/secrets_in_code_test.go
  internal/rules/tally/stateful_root_runtime_test.go
  internal/testutil/testutil.go
Due: format-go, lint-go

fix: address PR review comment
  internal/context/context.go
  internal/context/context_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/facts/facts.go
  internal/facts/facts_test.go
  internal/facts/observable_files.go
  internal/rules/tally/secrets_in_code.go
  internal/rules/tally/secrets_in_code_test.go
  internal/rules/tally/stateful_root_runtime_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/facts/facts.go
  internal/facts/facts_test.go
  internal/facts/observable_files.go
Due: format-go, lint-go

feat: add observable file facts for copied content (#391)
  internal/context/context.go
  internal/context/context_test.go
  internal/facts/facts.go
  internal/facts/facts_test.go
  internal/facts/observable_files.go
  internal/linter/linter.go
  internal/rules/buildkit/copy_ignored_file.go
  internal/rules/buildkit/copy_ignored_file_test.go
  internal/rules/rule.go
  internal/rules/tally/secrets_in_code.go
  internal/rules/tally/secrets_in_code_test.go
  internal/rules/tally/stateful_root_runtime_test.go
  internal/testutil/testutil.go
Due: format-go, lint-go

feat: add tally/prefer-curl-config rule (#390)
  README.md
  RULES.md
  docs/index.md
  docs/rules/tally/index.md
  docs/rules/tally/prefer-curl-config.md
  internal/integration/__snapshots__/TestFixPowerShellAlpine_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixPowerShellAlpine_1.snap.md
  internal/integration/__snapshots__/TestFixPreferAddUnpackBeatsHeredoc_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_dl3047-cross-rules_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_heredoc-both-rules-combined_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_multi-fix-line-shift_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-curl-config-cross-curl-redirects_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-curl-config_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_three-rules-same-line_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_prefer-curl-config_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/prefer-curl-config/Dockerfile
  internal/rules/tally/index.schema.json
  internal/rules/tally/prefer_curl_config.go
  internal/rules/tally/prefer_curl_config.schema.json
  internal/rules/tally/prefer_curl_config_test.go
  internal/schemas/generated/config/tally_config.gen.go
  internal/schemas/generated/rules/tally/prefer_curl_config.gen.go
  internal/schemas/manifest.json
  internal/schemas/registry_gen.go
  schema.json
Due: format-go, lint-go, typos

fix: correct docs example for fix insertion point
  docs/rules/tally/prefer-curl-config.md
Due: typos

fix: remove unused configPath field and curlConfigPath constant
  internal/rules/tally/prefer_curl_config.go
Due: format-go, lint-go

fix: suppress child stages inheriting curl config from parent
  internal/integration/testdata/prefer-curl-config/Dockerfile
  internal/rules/tally/prefer_curl_config.go
  internal/rules/tally/prefer_curl_config_test.go
Due: format-go, lint-go

fix: bump VSCode smoke test expected diagnostics 235 → 237
  _integrations/vscode-tally/test/e2e/smoke.test.ts
Due: typos

feat: add tally/prefer-curl-config rule (#393)
  README.md
  RULES.md
  _integrations/vscode-tally/test/e2e/smoke.test.ts
  docs/index.md
  docs/rules/tally/index.md
  docs/rules/tally/prefer-curl-config.md
  internal/integration/__snapshots__/TestFixPowerShellAlpine_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixPowerShellAlpine_1.snap.md
  internal/integration/__snapshots__/TestFixPreferAddUnpackBeatsHeredoc_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_dl3047-cross-rules_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_heredoc-both-rules-combined_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_multi-fix-line-shift_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-curl-config-cross-curl-redirects_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-curl-config_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_three-rules-same-line_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_prefer-curl-config_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/prefer-curl-config/Dockerfile
  internal/rules/tally/index.schema.json
  internal/rules/tally/prefer_curl_config.go
  internal/rules/tally/prefer_curl_config.schema.json
  internal/rules/tally/prefer_curl_config_test.go
  internal/schemas/generated/config/tally_config.gen.go
  internal/schemas/generated/rules/tally/prefer_curl_config.gen.go
  internal/schemas/manifest.json
  internal/schemas/registry_gen.go
  schema.json
Due: format-go, lint-go, typos

feat: support multiple alternative fixes per violation (#384)
  cmd/tally/cmd/acp_progress.go
  cmd/tally/cmd/lint.go
  internal/fix/fixer.go
  internal/fix/fixer_test.go
  internal/integration/__snapshots__/TestLint_dl3001_1.snap.json
  internal/integration/__snapshots__/TestLint_multiple-healthcheck-dl3057-overlap_1.snap.json
  internal/integration/__snapshots__/TestLint_multiple-healthcheck_1.snap.json
  internal/integration/__snapshots__/TestLint_multiple-instructions-disallowed_1.snap.json
  internal/integration/__snapshots__/TestLint_windows-no-stopsignal_1.snap.json
  internal/lspserver/codeactions.go
  internal/lspserver/codeactions_test.go
  internal/lspserver/fixall.go
  internal/lspserver/fixall_test.go
  internal/processor/path.go
  internal/rules/buildkit/fixes/fixes_test.go
  internal/rules/buildkit/fixes/multiple_instructions_disallowed.go
  internal/rules/hadolint/dl3001.go
  internal/rules/hadolint/dl3001_test.go
  internal/rules/tally/windows/no_stopsignal.go
  internal/rules/tally/windows/no_stopsignal_test.go
  internal/rules/violation.go
  internal/rules/violation_test.go
Due: format-go, lint-go, typos

fix: extract DeleteLineLocation helper for delete-line edits
  internal/rules/buildkit/fixes/multiple_instructions_disallowed.go
  internal/rules/hadolint/dl3001.go
  internal/rules/tally/windows/no_stopsignal.go
  internal/rules/violation.go
  internal/rules/violation_test.go
Due: format-go, lint-go

fix: only populate SuggestedFixes when more than one alternative
  internal/rules/violation.go
  internal/rules/violation_test.go
Due: format-go, lint-go

fix: extract quickFixActions into shared production function
  internal/lspserver/codeactions.go
  internal/lspserver/codeactions_test.go
Due: format-go, lint-go

fix: always mark preferred fix in multi-fix violations
  internal/lspserver/codeactions.go
  internal/lspserver/codeactions_test.go
Due: format-go, lint-go

fix: add single-fix FixSuggestion IsPreferred tests
  internal/lspserver/codeactions_test.go
Due: format-go, lint-go

fix: use WithSuggestedFixes builder in enricher
  internal/rules/buildkit/fixes/multiple_instructions_disallowed.go
Due: format-go, lint-go

feat: support multiple alternative fixes per violation (#395)
  cmd/tally/cmd/acp_progress.go
  cmd/tally/cmd/lint.go
  internal/fix/fixer.go
  internal/fix/fixer_test.go
  internal/integration/__snapshots__/TestLint_dl3001_1.snap.json
  internal/integration/__snapshots__/TestLint_multiple-healthcheck-dl3057-overlap_1.snap.json
  internal/integration/__snapshots__/TestLint_multiple-healthcheck_1.snap.json
  internal/integration/__snapshots__/TestLint_multiple-instructions-disallowed_1.snap.json
  internal/integration/__snapshots__/TestLint_windows-no-stopsignal_1.snap.json
  internal/lspserver/codeactions.go
  internal/lspserver/codeactions_test.go
  internal/lspserver/fixall.go
  internal/lspserver/fixall_test.go
  internal/processor/path.go
  internal/rules/buildkit/fixes/fixes_test.go
  internal/rules/buildkit/fixes/multiple_instructions_disallowed.go
  internal/rules/hadolint/dl3001.go
  internal/rules/hadolint/dl3001_test.go
  internal/rules/tally/windows/no_stopsignal.go
  internal/rules/tally/windows/no_stopsignal_test.go
  internal/rules/violation.go
  internal/rules/violation_test.go
Due: format-go, lint-go, typos

feat: add tally/user-created-but-never-used rule
  README.md
  RULES.md
  docs/rules/tally/index.md
  docs/rules/tally/user-created-but-never-used.md
  internal/integration/__snapshots__/TestFix_user-created-but-never-used_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/__snapshots__/TestLint_user-created-but-never-used_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/user-created-but-never-used/Dockerfile
  internal/rules/tally/__snapshots__/TestUserCreatedButNeverUsedMetadata_1.snap.json
  internal/rules/tally/final_stage_root.go
  internal/rules/tally/stateful_root_runtime.go
  internal/rules/tally/user_created_but_never_used.go
  internal/rules/tally/user_created_but_never_used_test.go
Due: format-go, lint-go, typos

fix: add takeown /u suppression for Windows ACL detection
  internal/rules/tally/user_created_but_never_used.go
Due: format-go, lint-go

fix: guard against nil run in violation location
  internal/rules/tally/user_created_but_never_used.go
  internal/rules/tally/user_created_but_never_used_test.go
Due: format-go, lint-go

fix: move VariantFromScriptPath to shared shell package
  internal/rules/tally/user_created_but_never_used.go
  internal/shell/shell.go
Due: format-go, lint-go

fix: scan observable script bodies for chown/ACL references
  internal/rules/tally/user_created_but_never_used.go
  internal/rules/tally/user_created_but_never_used_test.go
Due: format-go, lint-go

fix: remove incorrect takeown /u suppression
  internal/rules/tally/user_created_but_never_used.go
Due: format-go, lint-go

fix: insert USER after last USER instruction, not before CMD
  internal/integration/__snapshots__/TestFix_user-created-but-never-used_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_user-created-but-never-used_1.snap.json
  internal/rules/tally/user_created_but_never_used.go
  internal/rules/tally/user_created_but_never_used_test.go
Due: format-go, lint-go, typos

fix: add Windows user-creation test cases
  internal/rules/tally/user_created_but_never_used_test.go
Due: format-go, lint-go

fix: case-insensitive extension matching in VariantFromScriptPath
  internal/shell/shell.go
Due: format-go, lint-go

feat: add tally/user-created-but-never-used rule (#397)
  README.md
  RULES.md
  docs/rules/tally/index.md
  docs/rules/tally/user-created-but-never-used.md
  internal/integration/__snapshots__/TestFix_user-created-but-never-used_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/__snapshots__/TestLint_user-created-but-never-used_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/user-created-but-never-used/Dockerfile
  internal/rules/tally/__snapshots__/TestUserCreatedButNeverUsedMetadata_1.snap.json
  internal/rules/tally/final_stage_root.go
  internal/rules/tally/stateful_root_runtime.go
  internal/rules/tally/user_created_but_never_used.go
  internal/rules/tally/user_created_but_never_used_test.go
  internal/shell/shell.go
Due: format-go, lint-go, typos

feat: add php composer no-dev production rule
  RULES.md
  docs/index.md
  docs/rules/tally/index.md
  docs/rules/tally/php/composer-no-dev-in-production.md
  internal/integration/__snapshots__/TestFix_php-composer-no-dev-with-cache-mounts-and-formatting_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_php-composer-no-dev-in-production_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/php-composer-no-dev-in-production/Dockerfile
  internal/rules/all/all.go
  internal/rules/hadolint/helpers.go
  internal/rules/hadolint/helpers_test.go
  internal/rules/runcheck/runcheck.go
  internal/rules/runcheck/runcheck_test.go
  internal/rules/tally/php/composer_no_dev_in_production.go
  internal/rules/tally/php/composer_no_dev_in_production_test.go
  internal/rules/tally/php/helpers.go
  internal/rules/tally/php/helpers_test.go
Due: format-go, lint-go, typos

test: refresh rule counts on current main
  README.md
  RULES.md
  docs/index.md
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
Due: typos

[codex] Add PHP composer no-dev production rule (#398)
  README.md
  RULES.md
  docs/index.md
  docs/rules/tally/index.md
  docs/rules/tally/php/composer-no-dev-in-production.md
  internal/integration/__snapshots__/TestFix_php-composer-no-dev-with-cache-mounts-and-formatting_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_php-composer-no-dev-in-production_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/php-composer-no-dev-in-production/Dockerfile
  internal/rules/all/all.go
  internal/rules/hadolint/helpers.go
  internal/rules/hadolint/helpers_test.go
  internal/rules/runcheck/runcheck.go
  internal/rules/runcheck/runcheck_test.go
  internal/rules/tally/php/composer_no_dev_in_production.go
  internal/rules/tally/php/composer_no_dev_in_production_test.go
  internal/rules/tally/php/helpers.go
  internal/rules/tally/php/helpers_test.go
Due: format-go, lint-go, typos

feat: add tally/copy-after-user-without-chown rule
  README.md
  RULES.md
  docs/rules/tally/copy-after-user-without-chown.md
  docs/rules/tally/index.md
  internal/integration/__snapshots__/TestFix_copy-after-user-chown-plus-chmod_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_copy-after-user-without-chown-add_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_copy-after-user-without-chown-basic_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_copy-after-user-without-chown-multi_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_copy-after-user-without-chown_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/copy-after-user-without-chown/Dockerfile
  internal/rules/tally/__snapshots__/TestCopyAfterUserWithoutChownMetadata_1.snap.json
  internal/rules/tally/copy_after_user_without_chown.go
  internal/rules/tally/copy_after_user_without_chown_test.go
  internal/rules/tally/instruction_scan.go
  internal/rules/tally/instruction_scan_test.go
Due: format-go, lint-go, typos

fix: update total-rules-enabled snapshot (85→86)
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
Due: typos

fix: rename sawSubcommand to sawOwnerOrMode for clarity
  internal/rules/tally/instruction_scan.go
Due: format-go, lint-go

docs: sync hadolint rules from upstream
  RULES.md
  internal/rules/hadolint-rules.json
Due: typos

fix: use len(target) == 0 guard instead of nil check
  internal/rules/tally/copy_after_user_without_chown.go
Due: format-go, lint-go
