Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

format-go:
  run: gofmt -w -s {staged_files}
  stage_fixed: true

lint-go:
  run: GOEXPERIMENT=jsonv2 make lint-fix
  stage_fixed: true

ts-typecheck:
  run: bunx @typescript/native-preview --noEmit

ts-lint:
  run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
  stage_fixed: true

ts-format:
  run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
  stage_fixed: true

taplo:
  run: bunx -y -q @taplo/cli format {staged_files}
  stage_fixed: true

yamllint:
  run: uvx yamllint {staged_files}

format-yml:
  run: yamlfmt {staged_files}
  stage_fixed: true

typos:
  run: uv tool run typos==1.43.4 --force-exclude {staged_files}

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

actionlint:
  run: actionlint {staged_files}

commitlint-config:
  run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml

fix: assert wantPkgs rows match wantCmds in test loop
  internal/shell/install_packages_test.go
Due: format-go, lint-go

fix: strip version from unscoped npm packages in sortKey
  internal/rules/tally/sort_packages.go
  internal/rules/tally/sort_packages_test.go
Due: format-go, lint-go

feat: support sorting packages inside heredoc RUN instructions
  internal/rules/tally/sort_packages.go
  internal/rules/tally/sort_packages_test.go
Due: format-go, lint-go

docs: remove heredoc from sort-packages skip list
  docs/rules/tally/sort-packages.md
Due: typos

feat: add Chocolatey (choco) support to sort-packages rule
  docs/rules/tally/sort-packages.md
  internal/integration/__snapshots__/TestFixWindowsContainer_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixWindowsContainer_1.snap.md
  internal/integration/__snapshots__/TestFix_sort-packages-choco-backtick-escape_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_sort-packages-choco_1.snap.Dockerfile
  internal/integration/fix_cases_test.go
  internal/rules/tally/sort_packages.go
  internal/shell/install_packages.go
  internal/shell/install_packages_test.go
Due: format-go, lint-go, typos

fix: support backtick escape in ReconstructSourceText
  internal/integration/__snapshots__/TestFix_sort-packages-choco-backtick-escape_1.snap.Dockerfile
  internal/integration/fix_cases_test.go
  internal/rules/tally/consistent_indentation.go
  internal/rules/tally/newline_per_chained_call.go
  internal/rules/tally/sort_packages.go
  internal/shell/chain_format.go
  internal/shell/chain_format_test.go
Due: format-go, lint-go

fix: use slices.Equal for cleaner package slice comparison
  internal/shell/install_packages_test.go
Due: format-go, lint-go

fix: remove --find-links/--index-url/--extra-index-url from pipFileArgs
  internal/shell/install_packages.go
Due: format-go, lint-go

feat: add uv (Python) support to sort-packages rule
  docs/rules/tally/sort-packages.md
  internal/shell/install_packages.go
  internal/shell/install_packages_test.go
Due: format-go, lint-go, typos

chore: increase number of violations detected
  _integrations/vscode-tally/test/e2e/smoke.test.ts
Due: typos

chore: fix markdown format
  design-docs/26-windows-container-support.md
Due: typos

fix: add cross-rule integration test for sort-packages
  internal/integration/__snapshots__/TestFix_sort-packages-cross-newline-per-chained-call_1.snap.Dockerfile
  internal/integration/fix_cases_test.go
Due: format-go, lint-go

fix: move variable args to tail in sort-packages fix
  docs/rules/tally/sort-packages.md
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_sort-packages-mixed-vars_1.snap.Dockerfile
  internal/integration/fix_cases_test.go
  internal/lsptest/__snapshots__/TestLSP_FormattingRealWorld_1.snap.Dockerfile
  internal/rules/tally/sort_packages.go
Due: format-go, lint-go, typos

fix: recognize single-dash -version flag in choco install
  internal/integration/__snapshots__/TestFixWindowsContainer_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixWindowsContainer_1.snap.md
  internal/shell/install_packages.go
  internal/shell/install_packages_test.go
Due: format-go, lint-go, typos

fix: update markdown formatting
  docs/rules/tally/sort-packages.md
Due: typos

fix: treat -c/--constraint as value-consuming flag, not file-install sentinel
  internal/shell/install_packages.go
  internal/shell/install_packages_test.go
Due: format-go, lint-go

fix: use insert+delete edits for mixed literal+variable sorting
  docs/rules/tally/sort-packages.md
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/lsptest/__snapshots__/TestLSP_FormattingRealWorld_1.snap.Dockerfile
  internal/rules/tally/sort_packages.go
  internal/rules/tally/sort_packages_test.go
Due: format-go, lint-go, typos

refactor: unified edit strategy for sort-packages
  internal/fix/fixer.go
  internal/fix/fixer_test.go
  internal/integration/__snapshots__/TestLint_sort-packages_1.snap.json
  internal/rules/tally/sort_packages.go
  internal/rules/tally/sort_packages_test.go
Due: format-go, lint-go, typos

test: add cross-rule integration test for sort-packages + SC2086
  internal/integration/__snapshots__/TestFix_sort-packages-cross-shellcheck-sc2086_1.snap.Dockerfile
  internal/integration/fix_cases_test.go
Due: format-go, lint-go

refactor: unified insert+delete strategy for all sort-packages edits
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_sort-packages-choco-backtick-escape_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_sort-packages-multi-line_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_sort-packages_1.snap.json
  internal/lsptest/__snapshots__/TestLSP_FormattingRealWorld_1.snap.Dockerfile
  internal/rules/tally/sort_packages.go
  internal/rules/tally/sort_packages_test.go
Due: format-go, lint-go, typos

fix: narrow edits to avoid sort-packages/no-multi-spaces conflicts
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_sort-packages-choco-backtick-escape_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_sort-packages-choco_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_sort-packages-cross-newline-per-chained-call_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_sort-packages-cross-no-multi-spaces_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_sort-packages-cross-shellcheck-sc2086_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_sort-packages-mixed-vars_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_sort-packages-npm_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_sort-packages-pip_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_sort-packages-single-line_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_sort-packages_1.snap.json
  internal/integration/fix_cases_test.go
  internal/lsptest/__snapshots__/TestLSP_FormattingRealWorld_1.snap.Dockerfile
  internal/rules/tally/__snapshots__/TestSortPackagesMetadata_1.snap.json
  internal/rules/tally/no_multi_spaces.go
  internal/rules/tally/no_multi_spaces_test.go
  internal/rules/tally/sort_packages.go
  internal/rules/tally/sort_packages_test.go
Due: format-go, lint-go, typos

fix: VSCode smoke test - revert before applyAllFixes
  _integrations/vscode-tally/test/suite/index.js
Due: typos

fix: ignore variables when checking if packages are sorted
  internal/integration/__snapshots__/TestLint_sort-packages_1.snap.json
  internal/rules/tally/sort_packages.go
  internal/rules/tally/sort_packages_test.go
Due: format-go, lint-go, typos

fix: sort-packages deletes include preceding space for clean output
  internal/integration/__snapshots__/TestFix_sort-packages-choco-backtick-escape_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_sort-packages-choco_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_sort-packages-cross-newline-per-chained-call_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_sort-packages-cross-no-multi-spaces_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_sort-packages-cross-shellcheck-sc2086_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_sort-packages-mixed-vars_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_sort-packages-npm_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_sort-packages-pip_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_sort-packages-single-line_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_sort-packages_1.snap.json
  internal/integration/fix_cases_test.go
  internal/lsptest/__snapshots__/TestLSP_FormattingRealWorld_1.snap.Dockerfile
  internal/rules/tally/sort_packages.go
  internal/rules/tally/sort_packages_test.go
Due: format-go, lint-go, typos

fix: thread escapeToken through to cleanupAfterDeletions
  internal/integration/__snapshots__/TestFix_sort-packages-choco-backtick-escape_1.snap.Dockerfile
  internal/rules/tally/sort_packages.go
Due: format-go, lint-go

fix: select install subcommand by earliest token position
  internal/shell/install_packages.go
  internal/shell/install_packages_test.go
Due: format-go, lint-go

feat: add tally/sort-packages rule (#221)
  README.md
  RULES.md
  _integrations/vscode-tally/test/e2e/smoke.test.ts
  _integrations/vscode-tally/test/suite/index.js
  design-docs/26-windows-container-support.md
  docs/rules/tally/index.md
  docs/rules/tally/sort-packages.md
  internal/fix/fixer.go
  internal/fix/fixer_test.go
  internal/integration/__snapshots__/TestFixPowerShellAlpine_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixPowerShellAlpine_1.snap.md
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_sort-packages-choco-backtick-escape_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_sort-packages-choco_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_sort-packages-cross-newline-per-chained-call_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_sort-packages-cross-no-multi-spaces_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_sort-packages-cross-shellcheck-sc2086_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_sort-packages-mixed-vars_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_sort-packages-multi-line_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_sort-packages-npm_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_sort-packages-pip_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_sort-packages-single-line_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_sort-packages_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/sort-packages/Dockerfile
  internal/lsptest/__snapshots__/TestLSP_FormattingRealWorld_1.snap.Dockerfile
  internal/rules/tally/__snapshots__/TestSortPackagesMetadata_1.snap.json
  internal/rules/tally/consistent_indentation.go
  internal/rules/tally/newline_per_chained_call.go
  internal/rules/tally/no_multi_spaces.go
  internal/rules/tally/no_multi_spaces_test.go
  internal/rules/tally/sort_packages.go
  internal/rules/tally/sort_packages_test.go
  internal/shell/chain_format.go
  internal/shell/chain_format_test.go
  internal/shell/install_packages.go
  internal/shell/install_packages_test.go
Due: format-go, lint-go, typos

feat: highlight proposal
  design-docs/30-ast-semantic-highlighting-cli-lsp.md
Due: typos

ci: add binary size tracking with go-size-tracker
  .github/workflows/binary-size.yml
  .goreleaser.yml
Due: yamllint, format-yml, typos, actionlint

ci: add step to post size comment on PRs
  .github/workflows/binary-size.yml
Due: yamllint, format-yml, typos, actionlint

ci: use hidden marker to find/update size comment
  .github/workflows/binary-size.yml
Due: yamllint, format-yml, typos, actionlint

fix: deterministic edit order in sort-packages cleanup
  internal/rules/tally/sort_packages.go
Due: format-go, lint-go

ci: track binary size with go-size-tracker (#229)
  .github/workflows/binary-size.yml
  .goreleaser.yml
  internal/rules/tally/sort_packages.go
Due: format-go, lint-go, yamllint, format-yml, typos, actionlint

ci: set GOTOOLCHAIN=auto for go-size-tracker
  .github/workflows/binary-size.yml
Due: yamllint, format-yml, typos, actionlint

ci: fix build-arguments quoting for go-size-tracker
  .github/workflows/binary-size.yml
Due: yamllint, format-yml, typos, actionlint

ci: replace go-size-tracker action with native workflow
  .github/workflows/binary-size.yml
Due: yamllint, format-yml, typos, actionlint

fix: adapt to buildkit v0.28.0 and backport upstream lint improvements
  internal/context/context.go
  internal/integration/__snapshots__/TestLint_format-sarif_1.snap.sarif
  internal/integration/harness_test.go
  internal/rules/buildkit/copy_ignored_file.go
  internal/rules/buildkit/copy_ignored_file_test.go
  internal/rules/buildkit/secrets_in_arg_or_env.go
  internal/rules/buildkit/secrets_in_arg_or_env_test.go
  internal/rules/rule.go
Due: format-go, lint-go

feat: add dockerfile-upstream to known syntax frontends
  internal/syntax/syntax_directive.go
  internal/syntax/syntax_test.go
Due: format-go, lint-go

Path conditions:
  format-go: any of: **/*.go
  lint-go: any of: **/*.go
  ts-typecheck: any of: extensions/vscode-tally/**/*.ts and ^extensions/vscode\-tally/
  ts-lint: any of: extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts} and ^extensions/vscode\-tally/
  ts-format: any of: *.{js,ts,cjs,mjs,mts,cts,jsx,tsx} and ^extensions/vscode\-tally/
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  format-yml: any of: {.yamlfmt,*.yml,*.yaml}
  typos: any of: *.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}
  codecov: any of: .codecov.yml
  actionlint: any of: .github/workflows/*.{yaml,yml}
  commitlint-config: any of: .commitlintrc.yaml
