Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

.lefthook.yml:

# yaml-language-server: =https://json.schemastore.org/lefthook.json
---
output:
  # - summary # Print summary block (successful and failed steps)
  # - empty_summary # Print summary heading when there are no steps to run
  - failure # Print failed steps printing
# - skips # Print "skip" (i.e. no files matched)
assert_lefthook_installed: true
pre-commit:
  commands:
    format-go:
      glob: "**/*.go"
      run: gofmt -w -s {staged_files}
      stage_fixed: true
    lint-go:
      glob: "**/*.go"
      run: GOEXPERIMENT=jsonv2 make lint-fix
      stage_fixed: true
    ts-typecheck:
      glob: "extensions/vscode-tally/**/*.ts"
      run: bunx @typescript/native-preview --noEmit
      root: extensions/vscode-tally
    ts-lint:
      glob: "extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts}"
      run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
      stage_fixed: true
      root: extensions/vscode-tally
    ts-format:
      glob: "*.{js,ts,cjs,mjs,mts,cts,jsx,tsx}"
      run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
      stage_fixed: true
      root: extensions/vscode-tally
    taplo:
      glob: "**/*.toml"
      run: bunx -y -q @taplo/cli format {staged_files}
      stage_fixed: true
    rumdl:
      glob: "**/*.md"
      exclude: "**/__snapshots__/**"
      run: uv tool run rumdl==0.1.17 check --fix --config .rumdl.toml --output-format concise {staged_files}
      stage_fixed: true
    yamllint:
      glob: "*.{yml,yaml}"
      run: uvx yamllint {staged_files}
    format-yml:
      glob: "{.yamlfmt,*.yml,*.yaml}"
      run: yamlfmt {staged_files}
      stage_fixed: true
    typos:
      glob: "*.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}"
      run: uv tool run typos==1.43.4 --force-exclude {staged_files}
    codecov:
      glob: ".codecov.yml"
      run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate
    # renovate:
    #   glob: "renovate.json"
    #   run: npx -y -q -y --package renovate renovate-config-validator renovate.json
    actionlint:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}
    commitlint-config:
      glob: ".commitlintrc.yaml"
      run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml
commit-msg:
  commands:
    "lint commit message":
      run: npx -y -q commitlint --edit {1}
    "check spelling":
      run: uv tool run typos==1.43.4 {1}
post-merge:
  files: "git diff-tree -r --name-only --no-commit-id ORIG_HEAD HEAD"
  commands:
    delete-merged-branches:
      run: git branch --merged | grep -Ev '\*|master|main|dev|develop|development|stag|staging|prod|production' | xargs git branch -d; git fetch --prune;
pre-push:
  parallel: true
  jobs:
    - name: build
      run: GOEXPERIMENT=jsonv2 make build
    - name: deadcode
      run: GOEXPERIMENT=jsonv2 make deadcode
    - name: test
      run: GOEXPERIMENT=jsonv2 make test
    - name: validate-hadolint-status
      run: ./scripts/validate-hadolint-status.sh
    - name: validate-buildkit-rules
      run: GOEXPERIMENT=jsonv2 ./scripts/validate-buildkit-rules.sh

test: add AnalyzeCmdScript regression test for pipes and redirections
  internal/shell/command_test.go
Due: format-go, lint-go

chore: upgrade tree-sitter-batch to v0.7.0
  go.mod
  go.sum
Due: none

zed: set extension version to 0.32.0
  _integrations/zed-tally/Cargo.toml
  _integrations/zed-tally/extension.toml
Due: taplo, typos

feat(rules): enable prefer-run-heredoc rule by default
  RULES.md
  docs/rules/tally/prefer-run-heredoc.md
  internal/rules/tally/__snapshots__/TestPreferHeredocRule_Metadata_1.snap.json
  internal/rules/tally/prefer_heredoc.go
Due: format-go, lint-go, typos

feat(rules): enable prefer-run-heredoc rule by default (#455)
  RULES.md
  docs/rules/tally/prefer-run-heredoc.md
  internal/rules/tally/__snapshots__/TestPreferHeredocRule_Metadata_1.snap.json
  internal/rules/tally/prefer_heredoc.go
Due: format-go, lint-go, typos

chore: update settings
  .claude/settings.json
  .gitignore
Due: typos

feat(rules): add tally/php/no-xdebug-in-final-image rule
  README.md
  RULES.md
  docs/index.md
  docs/rules/tally/index.md
  docs/rules/tally/php/no-xdebug-in-final-image.md
  internal/integration/__snapshots__/TestFix_php-no-xdebug-in-final-image-comment-out_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_php-no-xdebug-in-final-image_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/php-no-xdebug-in-final-image/Dockerfile
  internal/rules/tally/php/composer_no_dev_in_production.go
  internal/rules/tally/php/helpers.go
  internal/rules/tally/php/helpers_test.go
  internal/rules/tally/php/no_xdebug_in_final_image.go
  internal/rules/tally/php/no_xdebug_in_final_image_test.go
Due: format-go, lint-go, typos

fix: use dedicated subcommandAdd constant instead of command.Add
  internal/rules/tally/php/helpers.go
Due: format-go, lint-go

fix: make standalone package-manager xdebug installs fixable
  internal/integration/__snapshots__/TestLint_php-no-xdebug-in-final-image_1.snap.json
  internal/rules/tally/php/no_xdebug_in_final_image.go
  internal/rules/tally/php/no_xdebug_in_final_image_test.go
Due: format-go, lint-go, typos

fix: broaden observable script detection with entrypoint names and shebang
  internal/rules/tally/php/helpers_test.go
  internal/rules/tally/php/no_xdebug_in_final_image.go
Due: format-go, lint-go

fix: move shell script detection tests to no_xdebug_in_final_image_test.go
  internal/rules/tally/php/helpers_test.go
  internal/rules/tally/php/no_xdebug_in_final_image_test.go
Due: format-go, lint-go

fix: add end-to-end test cases for observable COPY heredoc scripts
  internal/rules/tally/php/no_xdebug_in_final_image_test.go
Due: format-go, lint-go

feat(rules): add tally/php/no-xdebug-in-final-image rule (#464)
  README.md
  RULES.md
  docs/index.md
  docs/rules/tally/index.md
  docs/rules/tally/php/no-xdebug-in-final-image.md
  internal/integration/__snapshots__/TestFix_php-no-xdebug-in-final-image-comment-out_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_php-no-xdebug-in-final-image_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/php-no-xdebug-in-final-image/Dockerfile
  internal/rules/tally/php/composer_no_dev_in_production.go
  internal/rules/tally/php/helpers.go
  internal/rules/tally/php/helpers_test.go
  internal/rules/tally/php/no_xdebug_in_final_image.go
  internal/rules/tally/php/no_xdebug_in_final_image_test.go
Due: format-go, lint-go, typos

chore: cleanup
  .claude/settings.json
  _docs/AGENTS.md
  _docs/CONTRIBUTING.md
  _docs/LICENSE
  _docs/README.md
Due: typos

chore: add skills
  .agents/skills/mintlify/SKILL.md
  .claude/skills/mintlify
  skills-lock.json
Due: typos

fix: remove stale .atlas-analysis.json
  _docs/.atlas-analysis.json
Due: typos

fix: update ShellCheck section to reflect SC1040 is implemented
  _docs/rules/hadolint/overview.mdx
Due: none

chore: lint
  .lefthook.yml
  _docs/guides/ai-autofix.mdx
  _docs/guides/auto-fix.mdx
  _docs/guides/ci-cd.mdx
  _docs/guides/configuration.mdx
  _docs/guides/exit-codes.mdx
  _docs/guides/ide-integration.mdx
  _docs/guides/output-formats.mdx
  _docs/index.mdx
  _docs/installation.mdx
  _docs/introduction.mdx
  _docs/rules/buildkit/overview.mdx
  _docs/rules/hadolint/overview.mdx
  _docs/rules/overview.mdx
  _docs/rules/tally/prefer-vex-attestation.mdx
Due: yamllint, format-yml, typos

fix: docs workflow
  .github/workflows/docs.yml
Due: yamllint, format-yml, typos, actionlint

fix: correct action
  .github/workflows/docs.yml
Due: yamllint, format-yml, typos, actionlint

fix: use slash
  .github/workflows/docs.yml
Due: yamllint, format-yml, typos, actionlint

fix: zip to tar
  .github/workflows/docs.yml
Due: yamllint, format-yml, typos, actionlint

fix: use slices.Backward for reverse iteration loops
  internal/fix/fixer.go
  internal/lsptest/setup_test.go
  internal/rules/tally/no_multi_spaces_test.go
  internal/rules/tally/sort_packages_test.go
  internal/rules/tally/user_created_but_never_used.go
Due: format-go, lint-go

fix: lint
  _integrations/vscode-tally/src/lsp/client.ts
Due: typos

docs: sync hadolint rules from upstream
  RULES.md
  internal/rules/hadolint-rules.json
Due: typos

feat(gpu): add tally/gpu/cuda-version-mismatch rule
  RULES.md
  _docs/docs.json
  _docs/rules/tally/gpu/cuda-version-mismatch.mdx
  internal/facts/facts.go
  internal/integration/__snapshots__/TestLint_gpu-cuda-version-mismatch_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/gpu-cuda-version-mismatch/Dockerfile
  internal/rules/tally/gpu/__snapshots__/TestCUDAVersionMismatchRule_Metadata_1.snap.json
  internal/rules/tally/gpu/cuda_version_mismatch.go
  internal/rules/tally/gpu/cuda_version_mismatch_test.go
  internal/rules/tally/gpu/gate.go
  internal/rules/tally/gpu/gate_test.go
Due: format-go, lint-go, typos

chore: update README rule count (54 → 55)
  README.md
Due: typos

chore: update RULES.md generated summary (54 → 55 tally rules)
  RULES.md
Due: typos

fix(docs): escape angle bracket chars in MDX for Mintlify
  _docs/rules/tally/gpu/cuda-version-mismatch.mdx
Due: none

chore: add mintlify docs checks
  .lefthook.yml
Due: yamllint, format-yml, typos

fix: use strconv.Atoi instead of manual digit parsing
  internal/facts/facts.go
  internal/rules/tally/gpu/gate.go
Due: format-go, lint-go

fix: support = separator and 2-digit legacy CUDA suffixes in regexes
  internal/rules/tally/gpu/cuda_version_mismatch.go
  internal/rules/tally/gpu/cuda_version_mismatch_test.go
Due: format-go, lint-go

fix: inherit CUDA version from parent stage in multi-stage builds
  internal/facts/facts.go
  internal/rules/tally/gpu/cuda_version_mismatch_test.go
Due: format-go, lint-go

fix: use distribution/reference for CUDA version parsing in facts
  internal/facts/facts.go
Due: format-go, lint-go

fix: remove duplicate CUDA version regex from gate.go
  internal/rules/tally/gpu/gate.go
  internal/rules/tally/gpu/gate_test.go
Due: format-go, lint-go

fix: suppress fix suggestions when mismatched CUDA refs disagree
  internal/rules/tally/gpu/cuda_version_mismatch.go
  internal/rules/tally/gpu/cuda_version_mismatch_test.go
Due: format-go, lint-go

fix: reject 4-digit CUDA suffixes in parseCUSuffix
  internal/rules/tally/gpu/cuda_version_mismatch.go
  internal/rules/tally/gpu/cuda_version_mismatch_test.go
Due: format-go, lint-go
