Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, taplo, yamllint, typos, codecov, renovate, actionlint, commitlint-config

.lefthook.yml:

output:
  # - summary # Print summary block (successful and failed steps)
  # - empty_summary # Print summary heading when there are no steps to run
  - failure # Print failed steps printing
# - skips # Print "skip" (i.e. no files matched)
assert_lefthook_installed: true

pre-commit:
  commands:
    lint-go:
      glob: "**/*.go"
      run: make lint-fix
      stage_fixed: true
    taplo:
      glob: "**/*.toml"
      run: npx -y -q @taplo/cli format {staged_files}
      stage_fixed: true
    rumdl:
      glob: "**/*.md"
      exclude: "**/__snapshots__/**"
      run: uv tool run rumdl check --fix --config .rumdl.toml --output-format concise {staged_files}
      stage_fixed: true
    yamllint:
      glob: "*.{yml,yaml}"
      run: uvx yamllint {staged_files}
    typos:
      glob: "*.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}"
      run: uv tool run typos --force-exclude {staged_files}
    codecov:
      glob: ".codecov.yml"
      run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate
    renovate:
      glob: "renovate.json"
      run: npx -y -q -y --package renovate renovate-config-validator renovate.json
    actionlint:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}
    commitlint-config:
      glob: ".commitlintrc.yaml"
      run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml

commit-msg:
  commands:
    "lint commit message":
      run: npx -y -q commitlint --edit {1}
    "check spelling":
      run: uv tool run typos {1}

post-merge:
  files: "git diff-tree -r --name-only --no-commit-id ORIG_HEAD HEAD"
  commands:
    delete-merged-branches:
      run: git branch --merged | grep -Ev '\*|master|main|dev|develop|development|stag|staging|prod|production' | xargs git branch -d; git fetch --prune;

pre-push:
  jobs:
    - name: build
      run: make build
    - name: deadcode
      run: make deadcode

fix: extract shared heredoc helper to reduce duplication
  cmd/tally/cmd/check.go
  internal/dockerfile/parser.go
  internal/rules/copyignoredfile/copyignoredfile.go
Due: lint-go

fix: improve isExcluded documentation with matching semantics
  internal/discovery/discovery.go
Due: lint-go

fix: handle Windows paths in splitPath to prevent infinite loop
  internal/discovery/discovery.go
  internal/discovery/discovery_test.go
Due: lint-go

docs: add BuildKit Phase 2 rules integration research
  docs/buildkit-phase2-rules-research.md
Due: typos

feat: add buildkit/ namespace for rules and implement Phase 2 rules
  docs/10-buildkit-phase2-path-forward.md
  docs/README.md
  internal/directive/parser.go
  internal/integration/__snapshots__/TestCheck_buildkit-warnings_1.snap.json
  internal/integration/__snapshots__/TestCheck_context-copy-ignored_1.snap.json
  internal/integration/__snapshots__/TestCheck_fail-level-error_1.snap.json
  internal/integration/__snapshots__/TestCheck_fail-level-none_1.snap.json
  internal/integration/__snapshots__/TestCheck_fail-level-warning_1.snap.json
  internal/integration/__snapshots__/TestCheck_format-github-actions_1.snap.txt
  internal/integration/__snapshots__/TestCheck_format-sarif_1.snap.json
  internal/integration/__snapshots__/TestCheck_inline-directives-disabled_1.snap.json
  internal/integration/__snapshots__/TestCheck_inline-require-reason_1.snap.json
  internal/integration/testdata/inline-buildx-compat/Dockerfile
  internal/integration/testdata/inline-directives-disabled/Dockerfile
  internal/integration/testdata/inline-hadolint-compat/Dockerfile
  internal/integration/testdata/inline-ignore-global/Dockerfile
  internal/integration/testdata/inline-ignore-single/Dockerfile
  internal/integration/testdata/inline-require-reason/Dockerfile
  internal/rules/copyignoredfile/copyignoredfile.go
  internal/rules/copyignoredfile/copyignoredfile_test.go
  internal/rules/redundanttargetplatform/redundanttargetplatform.go
  internal/rules/redundanttargetplatform/redundanttargetplatform_test.go
  internal/rules/secretsinargorenv/secretsinargorenv.go
  internal/rules/secretsinargorenv/secretsinargorenv_test.go
  internal/rules/violation.go
  internal/rules/violation_test.go
  internal/rules/workdirrelativepath/workdirrelativepath.go
  internal/rules/workdirrelativepath/workdirrelativepath_test.go
Due: lint-go, typos

ci: add Windows test job
  .github/workflows/ci.yaml
Due: yamllint, typos, actionlint

fix: windows compatibility for file discovery and tests
  internal/discovery/discovery.go
  internal/discovery/discovery_test.go
  internal/integration/integration_test.go
Due: lint-go

fix: simplify path handling for windows compatibility
  internal/discovery/discovery.go
  internal/discovery/discovery_test.go
  internal/integration/integration_test.go
  internal/reporter/json.go
Due: lint-go

chore: add gitattributes for cross-platform line endings
  .gitattributes
Due: none

feat: add secrets-in-code rule and consistent rule namespacing
  README.md
  RULES.md
  cmd/tally/cmd/check.go
  go.mod
  go.sum
  internal/directive/directive.go
  internal/integration/__snapshots__/TestCheck_config-cascading-discovery_1.snap.json
  internal/integration/__snapshots__/TestCheck_config-file-discovery_1.snap.json
  internal/integration/__snapshots__/TestCheck_duplicate-stage-name_1.snap.json
  internal/integration/__snapshots__/TestCheck_env-var-override_1.snap.json
  internal/integration/__snapshots__/TestCheck_inline-require-reason_1.snap.json
  internal/integration/__snapshots__/TestCheck_simple-max-lines-fail_1.snap.json
  internal/integration/__snapshots__/TestCheck_unreachable-stage_1.snap.json
  internal/rules/all/all.go
  internal/rules/maxlines/maxlines.go
  internal/rules/maxlines/maxlines_test.go
  internal/rules/nounreachablestages/nounreachablestages.go
  internal/rules/nounreachablestages/nounreachablestages_test.go
  internal/rules/secretsinargorenv/secretsinargorenv.go
  internal/rules/secretsinargorenv/secretsinargorenv_test.go
  internal/rules/secretsincode/gitleaks_test.go
  internal/rules/secretsincode/secretsincode.go
  internal/rules/secretsincode/secretsincode_test.go
  internal/rules/violation.go
  internal/semantic/builder.go
  internal/semantic/semantic_test.go
Due: lint-go, typos

chore: lint markdown
  .lefthook.yml
  .serena/memories/code_style_and_conventions.md
  .serena/memories/project_overview.md
  .serena/memories/project_structure.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  .vscode/settings.json
  AGENTS.md
  CLAUDE.md
  README.md
  RULES.md
  internal/integration/__snapshots__/TestCheck_format-markdown_1.snap.md
Due: yamllint, typos

fix: fileExists returns false for directories
  internal/context/context.go
  internal/context/context_test.go
  internal/integration/__snapshots__/TestCheck_format-markdown_1.snap.md
Due: lint-go, typos

refactor: use filepath.Clean for robust path normalization
  internal/rules/copyignoredfile/copyignoredfile.go
Due: lint-go

fix: add git:// protocol support to URL detection
  internal/rules/copyignoredfile/copyignoredfile.go
  internal/rules/copyignoredfile/copyignoredfile_test.go
Due: lint-go

chore: add gitleaks:allow annotations to test fixtures
  internal/rules/secretsincode/secretsincode_test.go
Due: lint-go

test: use non-zero assertion for gitleaks rules count
  internal/rules/secretsincode/gitleaks_test.go
Due: lint-go

refactor: use strings.LastIndexByte instead of custom helper
  internal/directive/directive.go
Due: lint-go

fix: upgrade vulnerable transitive dependencies
  go.mod
  go.sum
Due: none

refactor: implement Ruff-style include/exclude for rule selection
  PLAN.md
  README.md
  internal/config/config_test.go
  internal/config/rules.go
  internal/dockerfile/parser.go
  internal/dockerfile/parser_test.go
  internal/processor/processor_test.go
Due: lint-go, typos

fix: return bool from RulesConfig.Set for unknown namespaces
  internal/config/rules.go
Due: lint-go

fix: document Include/Exclude fields in RulesConfig type
  PLAN.md
Due: typos

fix: filter to only experimental rules in ExperimentalRules
  internal/dockerfile/parser.go
Due: lint-go

fix: guard against empty rule names in SkipRules
  internal/dockerfile/parser.go
Due: lint-go

fix: add comment about invalid exclusion pattern handling
  internal/processor/exclude.go
Due: lint-go

refactor: add maintenance comments and explicit defaults in registry.go
  internal/rules/buildkit/registry.go
Due: lint-go

fix: process additional violations through SnippetAttachment
  cmd/tally/cmd/check.go
Due: lint-go

fix: use per-file configs in processor chain
  cmd/tally/cmd/check.go
  internal/processor/directive.go
  internal/processor/enable.go
  internal/processor/exclude.go
  internal/processor/processor.go
  internal/processor/processor_test.go
  internal/processor/severity.go
Due: lint-go

fix: use context's cached source map in directive processor
  internal/processor/directive.go
Due: lint-go

fix: add dependency injection for EnableFilter registry
  internal/processor/enable.go
Due: lint-go

fix: cache SourceMap under all path variants
  internal/processor/processor.go
Due: lint-go

fix: apply PathNormalization to additional violations
  cmd/tally/cmd/check.go
Due: lint-go

docs: document stateful behavior of InlineDirectiveFilter
  internal/processor/directive.go
Due: lint-go

feat: add JSON Schema support for rule configuration
  go.mod
  go.sum
  internal/rules/configutil/resolve.go
  internal/rules/maxlines/maxlines.go
  internal/rules/rule.go
  internal/rules/trustedbaseimage/trustedbaseimage.go
Due: lint-go

fix: normalize paths in deduplication for Windows compatibility
  internal/processor/dedup.go
Due: lint-go

fix: normalize file paths in directive processor grouping
  internal/processor/directive.go
Due: lint-go

refactor: use struct key for deduplication
  internal/processor/dedup.go
Due: lint-go

fix: preserve canonical path for ConfigForFile lookup
  internal/processor/directive.go
Due: lint-go

fix: add path fallback logic to ConfigForFile
  internal/processor/processor.go
Due: lint-go
