Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

format-go:
  run: gofmt -w -s {staged_files}
  stage_fixed: true

lint-go:
  run: GOEXPERIMENT=jsonv2 make lint-fix
  stage_fixed: true

ts-typecheck:
  run: bunx @typescript/native-preview --noEmit

ts-lint:
  run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
  stage_fixed: true

ts-format:
  run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
  stage_fixed: true

taplo:
  run: bunx -y -q @taplo/cli format {staged_files}
  stage_fixed: true

yamllint:
  run: uvx yamllint {staged_files}

format-yml:
  run: yamlfmt {staged_files}
  stage_fixed: true

typos:
  run: uv tool run typos==1.43.4 --force-exclude {staged_files}

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

actionlint:
  run: actionlint {staged_files}

commitlint-config:
  run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml

refactor: use stage index slice instead of string-keyed map for WORKDIR tracking
  internal/rules/hadolint/dl3045.go
Due: format-go, lint-go

test: add cross-rules integration test for DL3045 + DL3003 + WorkdirRelativePath
  internal/integration/__snapshots__/TestLint_dl3045-cross-rules_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/dl3045-cross-rules/Dockerfile
Due: format-go, lint-go, typos

fix: validate rule code on all violations unconditionally
  internal/rules/hadolint/dl3045_test.go
Due: format-go, lint-go

fix: bump VSCode smoke test expected diagnostics to 173
  extensions/vscode-tally/test/e2e/smoke.test.ts
  extensions/vscode-tally/test/suite/index.js
Due: ts-typecheck, ts-lint, ts-format, typos

feat: add hadolint/DL3045 rule (#143)
  RULES.md
  extensions/vscode-tally/test/e2e/smoke.test.ts
  extensions/vscode-tally/test/suite/index.js
  internal/integration/__snapshots__/TestLint_dl3045-cross-rules_1.snap.json
  internal/integration/__snapshots__/TestLint_dl3045_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/dl3045-cross-rules/Dockerfile
  internal/integration/testdata/dl3045/Dockerfile
  internal/rules/hadolint-status.json
  internal/rules/hadolint/__snapshots__/TestDL3045Rule_Metadata_1.snap.json
  internal/rules/hadolint/dl3045.go
  internal/rules/hadolint/dl3045_test.go
Due: format-go, lint-go, ts-typecheck, ts-lint, ts-format, typos

feat(vscode): resolve tally from Python Environments extension
  extensions/vscode-tally/README.md
  extensions/vscode-tally/bun.lock
  extensions/vscode-tally/package.json
  extensions/vscode-tally/src/binary/findBinary.ts
  extensions/vscode-tally/src/binary/pythonEnvs.ts
  extensions/vscode-tally/src/extension.ts
  extensions/vscode-tally/src/vendor/pythonEnvsApi.d.ts
Due: ts-typecheck, ts-lint, ts-format, typos

chore(vscode): mark vendored python-envs types as generated
  extensions/vscode-tally/.gitattributes
Due: none

fix: deduplicate isExecutableFile into a shared export
  extensions/vscode-tally/src/binary/findBinary.ts
  extensions/vscode-tally/src/binary/pythonEnvs.ts
Due: ts-typecheck, ts-lint, ts-format, typos

fix: pin vscode-python-envs dependency to v1.20.0 tag
  extensions/vscode-tally/bun.lock
  extensions/vscode-tally/package.json
Due: typos

fix: don't cache negative result in getPythonEnvApi
  extensions/vscode-tally/src/binary/pythonEnvs.ts
Due: ts-typecheck, ts-lint, ts-format, typos

fix: guard against throws in python env resolution
  extensions/vscode-tally/src/binary/findBinary.ts
  extensions/vscode-tally/src/binary/pythonEnvs.ts
Due: ts-typecheck, ts-lint, ts-format, typos

feat(vscode): resolve tally from Python Environments extension (#144)
  extensions/vscode-tally/.gitattributes
  extensions/vscode-tally/README.md
  extensions/vscode-tally/bun.lock
  extensions/vscode-tally/package.json
  extensions/vscode-tally/src/binary/findBinary.ts
  extensions/vscode-tally/src/binary/pythonEnvs.ts
  extensions/vscode-tally/src/extension.ts
  extensions/vscode-tally/src/vendor/pythonEnvsApi.d.ts
Due: ts-typecheck, ts-lint, ts-format, typos

refactor: coerce env/config strings via schema
  internal/config/config.go
  internal/config/schema_type_coercion_test.go
  internal/config/validation.go
  internal/schemas/runtime/coerce.go
  internal/schemas/runtime/validator.go
Due: format-go, lint-go

chore: move schema-gen tool to _tools module
  Makefile
  _tools/go.mod
  _tools/go.sum
  _tools/schema-gen/main.go
  design-docs/18-json-schema-first-config-and-rule-system.md
  go.mod
  go.sum
Due: format-go, lint-go, typos

refactor: centralize rule shorthand canonicalization
  internal/config/validation.go
  internal/ruleconfig/shorthand.go
  internal/ruleconfig/shorthand_test.go
  internal/rules/configutil/resolve.go
Due: format-go, lint-go

refactor: use generated schema types at runtime decode
  internal/config/schema_type_coercion_test.go
  internal/config/validation.go
Due: format-go, lint-go

fix: publish standalone schema without relative refs
  Makefile
  _tools/schema-gen/main.go
  internal/rules/tally/index.schema.json
  internal/schemas/registry_gen.go
  schema.json
Due: format-go, lint-go, typos

chore: document schema targets in Makefile
  Makefile
Due: none

refactor: propagate RuleSchema errors to callsites
  internal/rules/configutil/resolve.go
  internal/rules/configutil/resolve_test.go
  internal/rules/hadolint/dl3001.go
  internal/rules/hadolint/dl3026.go
  internal/rules/tally/consistent_indentation.go
  internal/rules/tally/max_lines.go
  internal/rules/tally/newline_between_instructions.go
  internal/rules/tally/newline_per_chained_call.go
  internal/rules/tally/no_trailing_spaces.go
  internal/rules/tally/prefer_add_unpack.go
  internal/rules/tally/prefer_copy_heredoc.go
  internal/rules/tally/prefer_heredoc.go
  internal/rules/tally/prefer_multi_stage_build.go
Due: format-go, lint-go

fix: cache resolved schemas in config validation
  internal/rules/configutil/resolve.go
Due: format-go, lint-go

test: stabilize schema validation error assertions
  internal/rules/configutil/resolve_test.go
Due: format-go, lint-go

perf: avoid duplicate schema resolution in coercion
  internal/schemas/runtime/coerce.go
Due: format-go, lint-go

fix: detect circular schema refs during coercion
  internal/schemas/runtime/coerce.go
  internal/schemas/runtime/coerce_test.go
Due: format-go, lint-go

refactor: simplify schema ref fragment handling
  internal/schemas/runtime/coerce.go
Due: format-go, lint-go

perf: avoid duplicate schema reads in validator init
  internal/schemas/runtime/validator.go
Due: format-go, lint-go

build: enforce JSON v2 compliance for generated schemas
  .github/workflows/ci.yml
  _tools/schema-gen/main.go
  design-docs/18-json-schema-first-config-and-rule-system.md
Due: format-go, lint-go, yamllint, format-yml, typos, actionlint

build: enforce index schema generation drift checks
  Makefile
  _tools/schema-gen/main.go
  internal/schemas/manifest.json
Due: format-go, lint-go, typos

fix: correct array examples in common rule schema
  internal/rules/rule-config.schema.json
  internal/schemas/registry_gen.go
  schema.json
Due: format-go, lint-go, typos

refactor: simplify schema ID collection
  internal/schemas/schemas.go
Due: format-go, lint-go

fix: ignore unknown TALLY env vars in config loader
  extensions/vscode-tally/test/e2e/smoke.test.ts
  extensions/vscode-tally/test/suite/index.js
  internal/config/config.go
  internal/config/config_test.go
Due: format-go, lint-go, ts-typecheck, ts-lint, ts-format, typos

fix: use spnritf
  _tools/schema-gen/main.go
Due: format-go, lint-go

fix: collect types from oneOf/anyOf/allOf in schema coercion
  internal/schemas/runtime/coerce.go
  internal/schemas/runtime/coerce_test.go
Due: format-go, lint-go

fix: derive rule namespaces dynamically from schema registry
  internal/config/validation.go
  internal/schemas/schemas.go
  internal/schemas/schemas_test.go
Due: format-go, lint-go

fix: handle string integer shorthand from env vars
  internal/config/schema_type_coercion_test.go
  internal/ruleconfig/shorthand.go
  internal/ruleconfig/shorthand_test.go
Due: format-go, lint-go

fix: normalize splitEnvList return to []any for consistent type
  internal/schemas/runtime/coerce.go
  internal/schemas/runtime/coerce_test.go
Due: format-go, lint-go

fix: simplify identity alias map to plain slice
  internal/config/validation.go
Due: format-go, lint-go

refactor: rename tally rule schema files from hyphens to underscores
  _tools/schema-gen/main.go
  internal/rules/tally/consistent_indentation.schema.json
  internal/rules/tally/index.schema.json
  internal/rules/tally/max_lines.schema.json
  internal/rules/tally/newline_between_instructions.schema.json
  internal/rules/tally/newline_per_chained_call.schema.json
  internal/rules/tally/no_trailing_spaces.schema.json
  internal/rules/tally/prefer_add_unpack.schema.json
  internal/rules/tally/prefer_copy_heredoc.schema.json
  internal/rules/tally/prefer_multi_stage_build.schema.json
  internal/rules/tally/prefer_run_heredoc.schema.json
  internal/schemas/manifest.json
  internal/schemas/registry_gen.go
  schema.json
Due: format-go, lint-go, typos

chore: update vscode settings
  .vscode/settings.json
Due: typos

Path conditions:
  format-go: any of: **/*.go
  lint-go: any of: **/*.go
  ts-typecheck: any of: extensions/vscode-tally/**/*.ts and ^extensions/vscode\-tally/
  ts-lint: any of: extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts} and ^extensions/vscode\-tally/
  ts-format: any of: *.{js,ts,cjs,mjs,mts,cts,jsx,tsx} and ^extensions/vscode\-tally/
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  format-yml: any of: {.yamlfmt,*.yml,*.yaml}
  typos: any of: *.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}
  codecov: any of: .codecov.yml
  actionlint: any of: .github/workflows/*.{yaml,yml}
  commitlint-config: any of: .commitlintrc.yaml
