Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

format-go:
  run: gofmt -w -s {staged_files}
  stage_fixed: true

lint-go:
  run: GOEXPERIMENT=jsonv2 make lint-fix
  stage_fixed: true

ts-typecheck:
  run: bunx @typescript/native-preview --noEmit

ts-lint:
  run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
  stage_fixed: true

ts-format:
  run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
  stage_fixed: true

taplo:
  run: bunx -y -q @taplo/cli format {staged_files}
  stage_fixed: true

yamllint:
  run: uvx yamllint {staged_files}

format-yml:
  run: yamlfmt {staged_files}
  stage_fixed: true

typos:
  run: uv tool run typos==1.43.4 --force-exclude {staged_files}

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

actionlint:
  run: actionlint {staged_files}

commitlint-config:
  run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml

fix(rules): redundant-bundler — only auto-delete when bundler is the only target
  internal/rules/tally/ruby/redundant_bundler_install.go
  internal/rules/tally/ruby/redundant_bundler_install_test.go
Due: format-go, lint-go

feat(rules): add tally/ruby/redundant-bundler-install (#670)
  _docs/rules/tally/ruby/redundant-bundler-install.mdx
  internal/integration/fixtures/fix/ruby-redundant-bundler-install/.tally.toml
  internal/integration/fixtures/fix/ruby-redundant-bundler-install/Dockerfile
  internal/integration/fixtures/fix/ruby-redundant-bundler-install/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/ruby-redundant-bundler-install/report_1.snap.md
  internal/integration/fixtures/lint/ruby-redundant-bundler-install/.tally.toml
  internal/integration/fixtures/lint/ruby-redundant-bundler-install/Dockerfile
  internal/integration/fixtures/lint/ruby-redundant-bundler-install/result_1.snap.json
  internal/rules/tally/ruby/redundant_bundler_install.go
  internal/rules/tally/ruby/redundant_bundler_install_test.go
Due: format-go, lint-go, taplo, typos

test: regenerate missing-bundle-deployment snapshot after typo fix
  internal/integration/__snapshots__/TestLint_ruby-bundle-deployment-no-lockfile_1.snap.json
Due: typos

feat(rules): add tally/ruby/missing-bundle-deployment
  _docs/rules/tally/ruby/missing-bundle-deployment.mdx
  internal/integration/__snapshots__/TestLint_ruby-bundle-deployment-no-lockfile_1.snap.json
  internal/integration/fixtures/fix/ruby-missing-bundle-deployment/.tally.toml
  internal/integration/fixtures/fix/ruby-missing-bundle-deployment/Dockerfile
  internal/integration/fixtures/fix/ruby-missing-bundle-deployment/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/ruby-missing-bundle-deployment/report_1.snap.md
  internal/integration/fixtures/lint/ruby-missing-bundle-deployment/.tally.toml
  internal/integration/fixtures/lint/ruby-missing-bundle-deployment/Dockerfile
  internal/integration/fixtures/lint/ruby-missing-bundle-deployment/result_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/ruby-bundle-deployment-no-lockfile/Dockerfile
  internal/integration/testdata/ruby-bundle-deployment-no-lockfile/Gemfile
  internal/rules/tally/ruby/missing_bundle_deployment.go
  internal/rules/tally/ruby/missing_bundle_deployment_test.go
Due: format-go, lint-go, taplo, typos

feat(rules): add tally/ruby/leftover-bundler-cache
  _docs/rules/tally/ruby/leftover-bundler-cache.mdx
  internal/integration/fixtures/fix/ruby-leftover-bundler-cache/.tally.toml
  internal/integration/fixtures/fix/ruby-leftover-bundler-cache/Dockerfile
  internal/integration/fixtures/fix/ruby-leftover-bundler-cache/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/ruby-leftover-bundler-cache/report_1.snap.md
  internal/integration/fixtures/lint/ruby-leftover-bundler-cache/.tally.toml
  internal/integration/fixtures/lint/ruby-leftover-bundler-cache/Dockerfile
  internal/integration/fixtures/lint/ruby-leftover-bundler-cache/result_1.snap.json
  internal/rules/tally/ruby/leftover_bundler_cache.go
  internal/rules/tally/ruby/leftover_bundler_cache_test.go
Due: format-go, lint-go, taplo, typos

feat(rules): add tally/ruby/eol-ruby-version
  _docs/rules/tally/ruby/eol-ruby-version.mdx
  internal/integration/fixtures/fix/ruby-eol-ruby-version/.tally.toml
  internal/integration/fixtures/fix/ruby-eol-ruby-version/Dockerfile
  internal/integration/fixtures/fix/ruby-eol-ruby-version/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/ruby-eol-ruby-version/report_1.snap.md
  internal/integration/fixtures/lint/ruby-eol-ruby-version/.tally.toml
  internal/integration/fixtures/lint/ruby-eol-ruby-version/Dockerfile
  internal/integration/fixtures/lint/ruby-eol-ruby-version/result_1.snap.json
  internal/rules/tally/ruby/eol_ruby_version.go
  internal/rules/tally/ruby/eol_ruby_version_test.go
Due: format-go, lint-go, taplo, typos

feat(rules): add tally/ruby/state-paths-not-writable-as-non-root
  _docs/rules/tally/ruby/state-paths-not-writable-as-non-root.mdx
  internal/integration/fixtures/fix/ruby-state-paths-not-writable-as-non-root/.tally.toml
  internal/integration/fixtures/fix/ruby-state-paths-not-writable-as-non-root/Dockerfile
  internal/integration/fixtures/fix/ruby-state-paths-not-writable-as-non-root/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/ruby-state-paths-not-writable-as-non-root/report_1.snap.md
  internal/integration/fixtures/lint/ruby-state-paths-not-writable-as-non-root/.tally.toml
  internal/integration/fixtures/lint/ruby-state-paths-not-writable-as-non-root/Dockerfile
  internal/integration/fixtures/lint/ruby-state-paths-not-writable-as-non-root/result_1.snap.json
  internal/rules/tally/ruby/state_paths_not_writable_as_non_root.go
  internal/rules/tally/ruby/state_paths_not_writable_as_non_root_test.go
Due: format-go, lint-go, taplo, typos

feat(rules): add tally/ruby/missing-bundle-deployment (#669)
  _docs/rules/tally/ruby/missing-bundle-deployment.mdx
  internal/integration/__snapshots__/TestLint_ruby-bundle-deployment-no-lockfile_1.snap.json
  internal/integration/fixtures/fix/ruby-missing-bundle-deployment/.tally.toml
  internal/integration/fixtures/fix/ruby-missing-bundle-deployment/Dockerfile
  internal/integration/fixtures/fix/ruby-missing-bundle-deployment/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/ruby-missing-bundle-deployment/report_1.snap.md
  internal/integration/fixtures/lint/ruby-missing-bundle-deployment/.tally.toml
  internal/integration/fixtures/lint/ruby-missing-bundle-deployment/Dockerfile
  internal/integration/fixtures/lint/ruby-missing-bundle-deployment/result_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/ruby-bundle-deployment-no-lockfile/Dockerfile
  internal/integration/testdata/ruby-bundle-deployment-no-lockfile/Gemfile
  internal/rules/tally/ruby/missing_bundle_deployment.go
  internal/rules/tally/ruby/missing_bundle_deployment_test.go
Due: format-go, lint-go, taplo, typos

fix(rules): state-paths — extract repeated workdir constants
  internal/integration/fixtures/fix/ruby-state-paths-not-writable-as-non-root/fixed_1.snap.Dockerfile
  internal/integration/fixtures/lint/ruby-state-paths-not-writable-as-non-root/result_1.snap.json
  internal/rules/tally/ruby/state_paths_not_writable_as_non_root.go
  internal/rules/tally/ruby/state_paths_not_writable_as_non_root_test.go
Due: format-go, lint-go, typos

feat(rules): add tally/ruby/leftover-bundler-cache (#671)
  _docs/rules/tally/ruby/leftover-bundler-cache.mdx
  internal/integration/fixtures/fix/ruby-leftover-bundler-cache/.tally.toml
  internal/integration/fixtures/fix/ruby-leftover-bundler-cache/Dockerfile
  internal/integration/fixtures/fix/ruby-leftover-bundler-cache/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/ruby-leftover-bundler-cache/report_1.snap.md
  internal/integration/fixtures/lint/ruby-leftover-bundler-cache/.tally.toml
  internal/integration/fixtures/lint/ruby-leftover-bundler-cache/Dockerfile
  internal/integration/fixtures/lint/ruby-leftover-bundler-cache/result_1.snap.json
  internal/rules/tally/ruby/leftover_bundler_cache.go
  internal/rules/tally/ruby/leftover_bundler_cache_test.go
Due: format-go, lint-go, taplo, typos

fix(rules): eol-ruby-version — rewrite full version, fix column off-by-one
  internal/integration/fixtures/fix/ruby-eol-ruby-version/fixed_1.snap.Dockerfile
  internal/integration/fixtures/lint/ruby-eol-ruby-version/result_1.snap.json
  internal/rules/tally/ruby/eol_ruby_version.go
  internal/rules/tally/ruby/eol_ruby_version_test.go
Due: format-go, lint-go, typos

feat(rules): add tally/ruby/eol-ruby-version (#674)
  _docs/rules/tally/ruby/eol-ruby-version.mdx
  internal/integration/fixtures/fix/ruby-eol-ruby-version/.tally.toml
  internal/integration/fixtures/fix/ruby-eol-ruby-version/Dockerfile
  internal/integration/fixtures/fix/ruby-eol-ruby-version/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/ruby-eol-ruby-version/report_1.snap.md
  internal/integration/fixtures/lint/ruby-eol-ruby-version/.tally.toml
  internal/integration/fixtures/lint/ruby-eol-ruby-version/Dockerfile
  internal/integration/fixtures/lint/ruby-eol-ruby-version/result_1.snap.json
  internal/rules/tally/ruby/eol_ruby_version.go
  internal/rules/tally/ruby/eol_ruby_version_test.go
Due: format-go, lint-go, taplo, typos

feat(rules): add tally/ruby/state-paths-not-writable-as-non-root (#675)
  _docs/rules/tally/ruby/state-paths-not-writable-as-non-root.mdx
  internal/integration/fixtures/fix/ruby-state-paths-not-writable-as-non-root/.tally.toml
  internal/integration/fixtures/fix/ruby-state-paths-not-writable-as-non-root/Dockerfile
  internal/integration/fixtures/fix/ruby-state-paths-not-writable-as-non-root/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/ruby-state-paths-not-writable-as-non-root/report_1.snap.md
  internal/integration/fixtures/lint/ruby-state-paths-not-writable-as-non-root/.tally.toml
  internal/integration/fixtures/lint/ruby-state-paths-not-writable-as-non-root/Dockerfile
  internal/integration/fixtures/lint/ruby-state-paths-not-writable-as-non-root/result_1.snap.json
  internal/rules/tally/ruby/state_paths_not_writable_as_non_root.go
  internal/rules/tally/ruby/state_paths_not_writable_as_non_root_test.go
Due: format-go, lint-go, taplo, typos

feat(rules): add tally/ruby/prefer-bundler-cache-mount
  _docs/rules/tally/ruby/prefer-bundler-cache-mount.mdx
  internal/integration/fixtures/lint/ruby-prefer-bundler-cache-mount/.tally.toml
  internal/integration/fixtures/lint/ruby-prefer-bundler-cache-mount/Dockerfile
  internal/integration/fixtures/lint/ruby-prefer-bundler-cache-mount/result_1.snap.json
  internal/rules/tally/ruby/prefer_bundler_cache_mount.go
  internal/rules/tally/ruby/prefer_bundler_cache_mount_test.go
Due: format-go, lint-go, taplo, typos

feat(rules): add tally/ruby/prefer-bundler-cache-mount (#676)
  _docs/rules/tally/ruby/prefer-bundler-cache-mount.mdx
  internal/integration/fixtures/lint/ruby-prefer-bundler-cache-mount/.tally.toml
  internal/integration/fixtures/lint/ruby-prefer-bundler-cache-mount/Dockerfile
  internal/integration/fixtures/lint/ruby-prefer-bundler-cache-mount/result_1.snap.json
  internal/rules/tally/ruby/prefer_bundler_cache_mount.go
  internal/rules/tally/ruby/prefer_bundler_cache_mount_test.go
Due: format-go, lint-go, taplo, typos

feat(rules): add tally/ruby/yjit-not-enabled-on-supported-runtime
  _docs/rules/tally/ruby/yjit-not-enabled-on-supported-runtime.mdx
  internal/integration/fixtures/fix/ruby-yjit-not-enabled/.tally.toml
  internal/integration/fixtures/fix/ruby-yjit-not-enabled/Dockerfile
  internal/integration/fixtures/fix/ruby-yjit-not-enabled/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/ruby-yjit-not-enabled/report_1.snap.md
  internal/integration/fixtures/lint/ruby-yjit-not-enabled/.tally.toml
  internal/integration/fixtures/lint/ruby-yjit-not-enabled/Dockerfile
  internal/integration/fixtures/lint/ruby-yjit-not-enabled/result_1.snap.json
  internal/rules/tally/ruby/yjit_not_enabled.go
  internal/rules/tally/ruby/yjit_not_enabled_test.go
Due: format-go, lint-go, taplo, typos

fix(rules): yjit — truthy-only env check, recognize bundle exec wrappers
  internal/rules/tally/ruby/yjit_not_enabled.go
  internal/rules/tally/ruby/yjit_not_enabled_test.go
Due: format-go, lint-go

feat(rules): add tally/ruby/secrets-in-arg-or-env
  _docs/rules/tally/ruby/secrets-in-arg-or-env.mdx
  internal/integration/fixtures/lint/ruby-secrets-in-arg-or-env/.tally.toml
  internal/integration/fixtures/lint/ruby-secrets-in-arg-or-env/Dockerfile
  internal/integration/fixtures/lint/ruby-secrets-in-arg-or-env/result_1.snap.json
  internal/rules/tally/ruby/secrets_in_arg_or_env.go
  internal/rules/tally/ruby/secrets_in_arg_or_env_test.go
Due: format-go, lint-go, taplo, typos

fix(rules): secrets-in-arg-or-env — strip quotes in checkArgValue
  internal/rules/tally/ruby/secrets_in_arg_or_env.go
Due: format-go, lint-go

feat(rules): add tally/ruby/prefer-gemfile-bind-mounts
  _docs/rules/tally/ruby/prefer-gemfile-bind-mounts.mdx
  internal/integration/fixtures/lint/ruby-prefer-gemfile-bind-mounts/.tally.toml
  internal/integration/fixtures/lint/ruby-prefer-gemfile-bind-mounts/Dockerfile
  internal/integration/fixtures/lint/ruby-prefer-gemfile-bind-mounts/result_1.snap.json
  internal/rules/tally/ruby/prefer_gemfile_bind_mounts.go
  internal/rules/tally/ruby/prefer_gemfile_bind_mounts_test.go
Due: format-go, lint-go, taplo, typos

fix(rules): prefer-gemfile-bind-mounts — drop break, enforce ordering
  internal/rules/tally/ruby/prefer_gemfile_bind_mounts.go
Due: format-go, lint-go

feat(rules): add tally/ruby/yjit-not-enabled-on-supported-runtime (#677)
  _docs/rules/tally/ruby/yjit-not-enabled-on-supported-runtime.mdx
  internal/integration/fixtures/fix/ruby-yjit-not-enabled/.tally.toml
  internal/integration/fixtures/fix/ruby-yjit-not-enabled/Dockerfile
  internal/integration/fixtures/fix/ruby-yjit-not-enabled/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/ruby-yjit-not-enabled/report_1.snap.md
  internal/integration/fixtures/lint/ruby-yjit-not-enabled/.tally.toml
  internal/integration/fixtures/lint/ruby-yjit-not-enabled/Dockerfile
  internal/integration/fixtures/lint/ruby-yjit-not-enabled/result_1.snap.json
  internal/rules/tally/ruby/yjit_not_enabled.go
  internal/rules/tally/ruby/yjit_not_enabled_test.go
Due: format-go, lint-go, taplo, typos

feat(rules): add tally/ruby/prefer-network-none-install
  _docs/rules/tally/ruby/prefer-network-none-install.mdx
  internal/integration/fixtures/lint/ruby-prefer-network-none-install/.tally.toml
  internal/integration/fixtures/lint/ruby-prefer-network-none-install/Dockerfile
  internal/integration/fixtures/lint/ruby-prefer-network-none-install/result_1.snap.json
  internal/rules/tally/ruby/prefer_network_none_install.go
  internal/rules/tally/ruby/prefer_network_none_install_test.go
Due: format-go, lint-go, taplo, typos

feat(rules): add tally/ruby/secrets-in-arg-or-env (#678)
  _docs/rules/tally/ruby/secrets-in-arg-or-env.mdx
  internal/integration/fixtures/lint/ruby-secrets-in-arg-or-env/.tally.toml
  internal/integration/fixtures/lint/ruby-secrets-in-arg-or-env/Dockerfile
  internal/integration/fixtures/lint/ruby-secrets-in-arg-or-env/result_1.snap.json
  internal/rules/tally/ruby/secrets_in_arg_or_env.go
  internal/rules/tally/ruby/secrets_in_arg_or_env_test.go
Due: format-go, lint-go, taplo, typos

feat(rules): add tally/ruby/prefer-gemfile-bind-mounts (#682)
  _docs/rules/tally/ruby/prefer-gemfile-bind-mounts.mdx
  internal/integration/fixtures/lint/ruby-prefer-gemfile-bind-mounts/.tally.toml
  internal/integration/fixtures/lint/ruby-prefer-gemfile-bind-mounts/Dockerfile
  internal/integration/fixtures/lint/ruby-prefer-gemfile-bind-mounts/result_1.snap.json
  internal/rules/tally/ruby/prefer_gemfile_bind_mounts.go
  internal/rules/tally/ruby/prefer_gemfile_bind_mounts_test.go
Due: format-go, lint-go, taplo, typos

feat(rules): add tally/ruby/prefer-network-none-install (#683)
  _docs/rules/tally/ruby/prefer-network-none-install.mdx
  internal/integration/fixtures/lint/ruby-prefer-network-none-install/.tally.toml
  internal/integration/fixtures/lint/ruby-prefer-network-none-install/Dockerfile
  internal/integration/fixtures/lint/ruby-prefer-network-none-install/result_1.snap.json
  internal/rules/tally/ruby/prefer_network_none_install.go
  internal/rules/tally/ruby/prefer_network_none_install_test.go
Due: format-go, lint-go, taplo, typos

chore(rules): factor BuildKit syntax pragma helper into shared file
  internal/rules/tally/ruby/buildkit_pragma.go
  internal/rules/tally/ruby/prefer_gemfile_bind_mounts.go
  internal/rules/tally/ruby/prefer_network_none_install.go
Due: format-go, lint-go

fix(rules): harden BuildKit syntax pragma parsing
  internal/rules/tally/ruby/buildkit_pragma.go
  internal/rules/tally/ruby/buildkit_pragma_test.go
Due: format-go, lint-go

chore(rules): dedupe BuildKit syntax pragma helper (#686)
  internal/rules/tally/ruby/buildkit_pragma.go
  internal/rules/tally/ruby/buildkit_pragma_test.go
  internal/rules/tally/ruby/prefer_gemfile_bind_mounts.go
  internal/rules/tally/ruby/prefer_network_none_install.go
Due: format-go, lint-go

fix(rules): address review feedback on healthcheck-rails-up-endpoint
  _docs/rules/tally/ruby/healthcheck-rails-up-endpoint.mdx
  internal/integration/fixtures/lint/ruby-healthcheck-rails-up-endpoint-curl/.tally.toml
  internal/integration/fixtures/lint/ruby-healthcheck-rails-up-endpoint-curl/Dockerfile
  internal/integration/fixtures/lint/ruby-healthcheck-rails-up-endpoint-curl/result_1.snap.json
  internal/integration/fixtures/lint/ruby-healthcheck-rails-up-endpoint/result_1.snap.json
  internal/rules/tally/ruby/healthcheck_rails_up_endpoint.go
  internal/rules/tally/ruby/healthcheck_rails_up_endpoint_test.go
Due: format-go, lint-go, taplo, typos

feat(rules): add tally/ruby/healthcheck-rails-up-endpoint
  _docs/rules/tally/ruby/healthcheck-rails-up-endpoint.mdx
  internal/integration/fixtures/lint/ruby-healthcheck-rails-up-endpoint/.tally.toml
  internal/integration/fixtures/lint/ruby-healthcheck-rails-up-endpoint/Dockerfile
  internal/integration/fixtures/lint/ruby-healthcheck-rails-up-endpoint/result_1.snap.json
  internal/rules/tally/ruby/healthcheck_rails_up_endpoint.go
  internal/rules/tally/ruby/healthcheck_rails_up_endpoint_test.go
Due: format-go, lint-go, taplo, typos

feat(rules): add tally/ruby/prefer-secret-mounts-for-build-credentials
  _docs/rules/tally/ruby/prefer-secret-mounts-for-build-credentials.mdx
  internal/integration/fixtures/lint/ruby-prefer-secret-mounts-for-build-credentials/.tally.toml
  internal/integration/fixtures/lint/ruby-prefer-secret-mounts-for-build-credentials/Dockerfile
  internal/integration/fixtures/lint/ruby-prefer-secret-mounts-for-build-credentials/result_1.snap.json
  internal/rules/tally/ruby/prefer_secret_mounts_for_build_credentials.go
  internal/rules/tally/ruby/prefer_secret_mounts_for_build_credentials_test.go
Due: format-go, lint-go, taplo, typos

fix(rules): address review feedback on prefer-secret-mounts-for-build-credentials
  _docs/rules/tally/ruby/prefer-secret-mounts-for-build-credentials.mdx
  internal/integration/fixtures/lint/ruby-prefer-secret-mounts-for-build-credentials/result_1.snap.json
  internal/rules/tally/ruby/prefer_secret_mounts_for_build_credentials.go
  internal/rules/tally/ruby/prefer_secret_mounts_for_build_credentials_test.go
Due: format-go, lint-go, typos

fix(rules): downgrade deprecated-flags fix when value comes from shell expansion
  internal/integration/fixtures/lint/ruby-deprecated-bundler-install-flags/result_1.snap.json
  internal/rules/tally/ruby/deprecated_bundler_install_flags.go
  internal/rules/tally/ruby/deprecated_bundler_install_flags_test.go
Due: format-go, lint-go, typos

feat(rules): add tally/ruby/deprecated-bundler-install-flags
  _docs/rules/tally/ruby/deprecated-bundler-install-flags.mdx
  internal/integration/fixtures/lint/ruby-deprecated-bundler-install-flags/.tally.toml
  internal/integration/fixtures/lint/ruby-deprecated-bundler-install-flags/Dockerfile
  internal/integration/fixtures/lint/ruby-deprecated-bundler-install-flags/result_1.snap.json
  internal/rules/tally/ruby/deprecated_bundler_install_flags.go
  internal/rules/tally/ruby/deprecated_bundler_install_flags_test.go
Due: format-go, lint-go, taplo, typos

fix(rules): deprecated-flags — per-flag locations, multi-arg & next-flag handling
  internal/rules/tally/ruby/deprecated_bundler_install_flags.go
Due: format-go, lint-go

test: regenerate deprecated-flags snapshot after per-flag location fix
  internal/integration/fixtures/lint/ruby-deprecated-bundler-install-flags/result_1.snap.json
Due: typos

fix(rules): tighten healthcheck-rails-up-endpoint scope
  internal/rules/tally/ruby/healthcheck_rails_up_endpoint.go
  internal/rules/tally/ruby/healthcheck_rails_up_endpoint_test.go
Due: format-go, lint-go

fix(rules): tighten prefer-secret-mounts scope (codex P2)
  internal/rules/tally/ruby/prefer_secret_mounts_for_build_credentials.go
  internal/rules/tally/ruby/prefer_secret_mounts_for_build_credentials_test.go
Due: format-go, lint-go

feat(rules): add tally/ruby/deprecated-bundler-install-flags (#681)
  _docs/rules/tally/ruby/deprecated-bundler-install-flags.mdx
  internal/integration/fixtures/lint/ruby-deprecated-bundler-install-flags/.tally.toml
  internal/integration/fixtures/lint/ruby-deprecated-bundler-install-flags/Dockerfile
  internal/integration/fixtures/lint/ruby-deprecated-bundler-install-flags/result_1.snap.json
  internal/rules/tally/ruby/deprecated_bundler_install_flags.go
  internal/rules/tally/ruby/deprecated_bundler_install_flags_test.go
Due: format-go, lint-go, taplo, typos

Path conditions:
  format-go: any of: **/*.go
  lint-go: any of: **/*.go
  ts-typecheck: any of: extensions/vscode-tally/**/*.ts and ^extensions/vscode\-tally/
  ts-lint: any of: extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts} and ^extensions/vscode\-tally/
  ts-format: any of: *.{js,ts,cjs,mjs,mts,cts,jsx,tsx} and ^extensions/vscode\-tally/
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  format-yml: any of: {.yamlfmt,*.yml,*.yaml}
  typos: any of: *.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}
  codecov: any of: .codecov.yml
  actionlint: any of: .github/workflows/*.{yaml,yml}
  commitlint-config: any of: .commitlintrc.yaml
