Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

.lefthook.yml:

# yaml-language-server: =https://json.schemastore.org/lefthook.json
---
output:
  # - summary # Print summary block (successful and failed steps)
  # - empty_summary # Print summary heading when there are no steps to run
  - failure # Print failed steps printing
# - skips # Print "skip" (i.e. no files matched)
assert_lefthook_installed: true
pre-commit:
  commands:
    format-go:
      glob: "**/*.go"
      run: gofmt -w -s {staged_files}
      stage_fixed: true
    lint-go:
      glob: "**/*.go"
      run: GOEXPERIMENT=jsonv2 make lint-fix
      stage_fixed: true
    ts-typecheck:
      glob: "extensions/vscode-tally/**/*.ts"
      run: bunx @typescript/native-preview --noEmit
      root: extensions/vscode-tally
    ts-lint:
      glob: "extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts}"
      run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
      stage_fixed: true
      root: extensions/vscode-tally
    ts-format:
      glob: "*.{js,ts,cjs,mjs,mts,cts,jsx,tsx}"
      run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
      stage_fixed: true
      root: extensions/vscode-tally
    taplo:
      glob: "**/*.toml"
      run: bunx -y -q @taplo/cli format {staged_files}
      stage_fixed: true
    rumdl:
      glob: "**/*.md"
      exclude: "**/__snapshots__/**"
      run: uv tool run rumdl==0.1.17 check --fix --config .rumdl.toml --output-format concise {staged_files}
      stage_fixed: true
    yamllint:
      glob: "*.{yml,yaml}"
      run: uvx yamllint {staged_files}
    format-yml:
      glob: "{.yamlfmt,*.yml,*.yaml}"
      run: yamlfmt {staged_files}
      stage_fixed: true
    typos:
      glob: "*.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}"
      run: uv tool run typos==1.43.4 --force-exclude {staged_files}
    codecov:
      glob: ".codecov.yml"
      run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate
    # renovate:
    #   glob: "renovate.json"
    #   run: npx -y -q -y --package renovate renovate-config-validator renovate.json
    actionlint:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}
    commitlint-config:
      glob: ".commitlintrc.yaml"
      run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml
commit-msg:
  commands:
    "lint commit message":
      run: npx -y -q commitlint --edit {1}
    "check spelling":
      run: uv tool run typos==1.43.4 {1}
post-merge:
  files: "git diff-tree -r --name-only --no-commit-id ORIG_HEAD HEAD"
  commands:
    delete-merged-branches:
      run: git branch --merged | grep -Ev '\*|master|main|dev|develop|development|stag|staging|prod|production' | xargs git branch -d; git fetch --prune;
pre-push:
  parallel: true
  jobs:
    - name: build
      run: GOEXPERIMENT=jsonv2 make build
    - name: deadcode
      run: GOEXPERIMENT=jsonv2 make deadcode
    - name: test
      run: GOEXPERIMENT=jsonv2 make test
    - name: validate-hadolint-status
      run: ./scripts/validate-hadolint-status.sh
    - name: validate-buildkit-rules
      run: GOEXPERIMENT=jsonv2 ./scripts/validate-buildkit-rules.sh

fix(rules): broaden Bundler host-credential matcher to denylist approach
  _docs/rules/tally/ruby/prefer-secret-mounts-for-build-credentials.mdx
  internal/rules/tally/ruby/prefer_secret_mounts_for_build_credentials.go
  internal/rules/tally/ruby/prefer_secret_mounts_for_build_credentials_test.go
Due: format-go, lint-go

fix(rules): follow inherited CMD/ENTRYPOINT for web-server detection
  internal/rules/tally/ruby/healthcheck_rails_up_endpoint.go
  internal/rules/tally/ruby/healthcheck_rails_up_endpoint_test.go
Due: format-go, lint-go

fix(rules): expand Bundler non-host config-key denylist
  internal/rules/tally/ruby/prefer_secret_mounts_for_build_credentials.go
  internal/rules/tally/ruby/prefer_secret_mounts_for_build_credentials_test.go
Due: format-go, lint-go

fix(rules): resolve CMD and ENTRYPOINT inheritance independently
  internal/rules/tally/ruby/healthcheck_rails_up_endpoint.go
  internal/rules/tally/ruby/healthcheck_rails_up_endpoint_test.go
Due: format-go, lint-go

fix(rules): respect ENTRYPOINT-resets-CMD inheritance rule
  internal/rules/tally/ruby/healthcheck_rails_up_endpoint.go
  internal/rules/tally/ruby/healthcheck_rails_up_endpoint_test.go
Due: format-go, lint-go

fix(rules): switch host-credential matcher to TLD-based identification
  internal/rules/tally/ruby/prefer_secret_mounts_for_build_credentials.go
  internal/rules/tally/ruby/prefer_secret_mounts_for_build_credentials_test.go
Due: format-go, lint-go

fix(rules): combine denylist + TLD-shape gates for host-credential matcher
  internal/rules/tally/ruby/prefer_secret_mounts_for_build_credentials.go
  internal/rules/tally/ruby/prefer_secret_mounts_for_build_credentials_test.go
Due: format-go, lint-go

feat(rules): add tally/ruby/healthcheck-rails-up-endpoint (#685)
  _docs/rules/tally/ruby/healthcheck-rails-up-endpoint.mdx
  internal/integration/fixtures/lint/ruby-healthcheck-rails-up-endpoint-curl/.tally.toml
  internal/integration/fixtures/lint/ruby-healthcheck-rails-up-endpoint-curl/Dockerfile
  internal/integration/fixtures/lint/ruby-healthcheck-rails-up-endpoint-curl/result_1.snap.json
  internal/integration/fixtures/lint/ruby-healthcheck-rails-up-endpoint/.tally.toml
  internal/integration/fixtures/lint/ruby-healthcheck-rails-up-endpoint/Dockerfile
  internal/integration/fixtures/lint/ruby-healthcheck-rails-up-endpoint/result_1.snap.json
  internal/rules/tally/ruby/healthcheck_rails_up_endpoint.go
  internal/rules/tally/ruby/healthcheck_rails_up_endpoint_test.go
Due: format-go, lint-go, taplo, typos

feat(rules): add tally/ruby/prefer-secret-mounts-for-build-credentials (#684)
  _docs/rules/tally/ruby/prefer-secret-mounts-for-build-credentials.mdx
  internal/integration/fixtures/lint/ruby-prefer-secret-mounts-for-build-credentials/.tally.toml
  internal/integration/fixtures/lint/ruby-prefer-secret-mounts-for-build-credentials/Dockerfile
  internal/integration/fixtures/lint/ruby-prefer-secret-mounts-for-build-credentials/result_1.snap.json
  internal/rules/tally/ruby/prefer_secret_mounts_for_build_credentials.go
  internal/rules/tally/ruby/prefer_secret_mounts_for_build_credentials_test.go
Due: format-go, lint-go, taplo, typos

docs(rubygems): expand tally-cli README for Ruby/Rails audience
  packaging/rubygems/README.md
Due: typos

docs(rubygems): fix errors in README's after-Dockerfile example
  packaging/rubygems/README.md
Due: typos

docs(rubygems): expand tally-cli README for Ruby/Rails audience (#691)
  packaging/rubygems/README.md
Due: typos

chore: ignore fixtures
  .coderabbit.yaml
  renovate.json
Due: yamllint, format-yml, typos

fix(rules): factor Ruby-stage iteration to silence CPD duplications
  internal/rules/tally/ruby/leftover_bundler_cache.go
  internal/rules/tally/ruby/missing_bundle_deployment.go
  internal/rules/tally/ruby/missing_bundle_without_development.go
  internal/rules/tally/ruby/prefer_gemfile_bind_mounts.go
  internal/rules/tally/ruby/prefer_network_none_install.go
  internal/rules/tally/ruby/shared.go
Due: format-go, lint-go

fix: address PR review comment
  internal/rules/tally/ruby/missing_bundle_deployment.go
  internal/rules/tally/ruby/missing_bundle_deployment_test.go
  internal/rules/tally/ruby/missing_bundle_without_development.go
  internal/rules/tally/ruby/shared.go
Due: format-go, lint-go

fix(rules): factor Ruby-stage iteration to silence CPD duplications (#694)
  internal/rules/tally/ruby/leftover_bundler_cache.go
  internal/rules/tally/ruby/missing_bundle_deployment.go
  internal/rules/tally/ruby/missing_bundle_deployment_test.go
  internal/rules/tally/ruby/missing_bundle_without_development.go
  internal/rules/tally/ruby/prefer_gemfile_bind_mounts.go
  internal/rules/tally/ruby/prefer_network_none_install.go
  internal/rules/tally/ruby/shared.go
Due: format-go, lint-go

test(integration): cache binaries via go install, parallelize setup
  internal/integration/main_test.go
Due: format-go, lint-go

test(integration): route mcr/quay/ECR/dhi.io fixtures through mock registry
  internal/integration/fixtures/fix/real-world-boost-msvc/report_1.snap.md
  internal/integration/main_test.go
Due: format-go, lint-go, typos

fix: address PR review comment
  internal/integration/main_test.go
Due: format-go, lint-go

test(integration): cache binaries via go install, parallelize setup (#698)
  internal/integration/fixtures/fix/real-world-boost-msvc/report_1.snap.md
  internal/integration/main_test.go
Due: format-go, lint-go, typos

ci: use codeql go autobuild extraction
  .github/workflows/codeql.yml
Due: yamllint, format-yml, typos, actionlint

ci: run codspeed with bazel-built binaries
  .github/workflows/benchmarks.yml
Due: yamllint, format-yml, typos, actionlint

test: reset invalid codspeed benchmark baselines
  internal/integration/benchmark_test.go
Due: format-go, lint-go

test: preserve codspeed benchmark binary semantics
  .github/workflows/benchmarks.yml
  internal/integration/benchmark_test.go
Due: format-go, lint-go, yamllint, format-yml, typos, actionlint

test: keep benchmark binary in test temp root
  internal/integration/benchmark_test.go
  internal/integration/main_test.go
Due: format-go, lint-go

fix: harden Bazel PR workflows
  .bazelrc
  .github/workflows/ci.yml
  .github/workflows/release.yml
  BUILD.bazel
  MODULE.bazel
  Makefile
  _tools/customlint/BUILD.bazel
  _tools/customlint/main_test.go
  _tools/shellcheck-wasm/BUILD.bazel
  internal/ai/acp/BUILD.bazel
  internal/ai/acp/runner_test.go
  internal/highlight/BUILD.bazel
  internal/ruledeprecation/BUILD.bazel
  internal/rules/BUILD.bazel
  internal/rules/buildkit/BUILD.bazel
  internal/rules/buildkit/sync_test.go
  internal/semantic/BUILD.bazel
  internal/version/version.go
Due: format-go, lint-go, yamllint, format-yml, typos, actionlint

fix: suppress Bazel test go binary lint
  internal/rules/buildkit/sync_test.go
Due: format-go, lint-go

fix: wrap Bazel go-list helper
  internal/rules/buildkit/sync_test.go
Due: format-go, lint-go

fix: make BuildKit sync test hermetic under Bazel
  internal/rules/buildkit/BUILD.bazel
  internal/rules/buildkit/sync_test.go
Due: format-go, lint-go

fix: source BuildKit sync data from public archive
  MODULE.bazel
  internal/rules/buildkit/BUILD.bazel
  third_party/BUILD.bazel
  third_party/buildkit_source.BUILD.bazel
Due: none

test: serialize heavyweight LSP fix-all case
  internal/lsptest/lsp_test.go
Due: format-go, lint-go

test: document serial LSP fix-all case
  internal/lsptest/lsp_test.go
Due: format-go, lint-go

test: give Bazel integration suite a long timeout
  internal/integration/BUILD.bazel
Due: none

test: resolve Bazel runfiles on Windows
  internal/ai/acp/BUILD.bazel
  internal/ai/acp/runner_test.go
  internal/facts/ruby/BUILD.bazel
  internal/facts/ruby/facts_test.go
  internal/facts/ruby/gemfile_test.go
  internal/facts/ruby/lockfile_test.go
  internal/facts/ruby/ruby_version_test.go
  internal/highlight/BUILD.bazel
  internal/highlight/highlight_test.go
  internal/integration/BUILD.bazel
  internal/integration/main_test.go
  internal/lsptest/BUILD.bazel
  internal/lsptest/setup_test.go
  internal/ruledeprecation/BUILD.bazel
  internal/ruledeprecation/deprecation_test.go
  internal/rules/buildkit/BUILD.bazel
  internal/rules/buildkit/sync_test.go
  internal/semantic/BUILD.bazel
  internal/semantic/base_image_os_test.go
  internal/testpath/BUILD.bazel
  internal/testpath/testpath.go
Due: format-go, lint-go

test: keep runfiles helper lint-clean
  internal/testpath/testpath.go
Due: format-go, lint-go

fix: restore zed grammar submodule metadata
  .gitmodules
Due: none

fix: strip Bazel release binary
  BUILD.bazel
Due: none
