Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

format-go:
  run: gofmt -w -s {staged_files}
  stage_fixed: true

lint-go:
  run: GOEXPERIMENT=jsonv2 make lint-fix
  stage_fixed: true

ts-typecheck:
  run: bunx @typescript/native-preview --noEmit

ts-lint:
  run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
  stage_fixed: true

ts-format:
  run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
  stage_fixed: true

taplo:
  run: bunx -y -q @taplo/cli format {staged_files}
  stage_fixed: true

yamllint:
  run: uvx yamllint {staged_files}

format-yml:
  run: yamlfmt {staged_files}
  stage_fixed: true

typos:
  run: uv tool run typos==1.43.4 --force-exclude {staged_files}

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

actionlint:
  run: actionlint {staged_files}

commitlint-config:
  run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml

feat: add tally/no-trailing-spaces rule (#140)
  README.md
  RULES.md
  docs/index.md
  docs/rules/tally/index.md
  docs/rules/tally/no-trailing-spaces.md
  internal/integration/__snapshots__/TestFix_no-trailing-spaces-ignore-comments_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_no-trailing-spaces-skip-blank-lines_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_no-trailing-spaces_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_no-trailing-spaces_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/no-trailing-spaces/Dockerfile
  internal/rules/tally/__snapshots__/TestNoTrailingSpacesMetadata_1.snap.json
  internal/rules/tally/max_lines.go
  internal/rules/tally/no_trailing_spaces.go
  internal/rules/tally/no_trailing_spaces_test.go
  schema.json
Due: format-go, lint-go, typos

feat: add tally/epilogue-order rule (#141)
  README.md
  RULES.md
  docs/rules/tally/epilogue-order.md
  docs/rules/tally/index.md
  internal/fix/epilogue_order_resolver.go
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_epilogue-order-basic_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_epilogue-order-multi-stage_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_epilogue-order-scattered_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_epilogue-order_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/harness_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/epilogue-order/Dockerfile
  internal/integration/testdata/total-rules-enabled/Dockerfile
  internal/lsptest/__snapshots__/TestLSP_FormattingRealWorld_1.snap.Dockerfile
  internal/rules/epilogue_order_data.go
  internal/rules/tally/__snapshots__/TestEpilogueOrderMetadata_1.snap.json
  internal/rules/tally/epilogue_order.go
  internal/rules/tally/epilogue_order_test.go
Due: format-go, lint-go, typos

fix: consolidate duplicated epilogue logic into shared source of truth
  internal/fix/epilogue_order_resolver.go
  internal/rules/epilogue_order_data.go
  internal/rules/tally/epilogue_order.go
Due: format-go, lint-go

fix: track RUN --mount=from stage dependencies in resolver and semantic graph
  internal/fix/epilogue_order_resolver.go
  internal/rules/tally/epilogue_order_test.go
  internal/semantic/builder.go
Due: format-go, lint-go

fix: add cross-rule test and document epilogue-order interactions
  docs/rules/tally/epilogue-order.md
  internal/fix/epilogue_order_resolver.go
  internal/integration/__snapshots__/TestFix_epilogue-order-with-newlines_1.snap.Dockerfile
  internal/integration/fix_cases_test.go
Due: format-go, lint-go, typos

fix: add cross-rule interaction documentation to epilogue_order.go
  internal/rules/tally/epilogue_order.go
Due: format-go, lint-go

fix: clarify nodeIdx invariant comment in epilogue resolver
  internal/fix/epilogue_order_resolver.go
Due: format-go, lint-go

fix: replace nolint:errcheck with explicit ok check on type assertion
  internal/rules/tally/epilogue_order.go
Due: format-go, lint-go

fix: mention RUN --mount=from in applicable stages docs
  docs/rules/tally/epilogue-order.md
Due: typos

fix: update VS Code smoke test expected diagnostics count (131 → 132)
  extensions/vscode-tally/test/e2e/smoke.test.ts
  extensions/vscode-tally/test/suite/index.js
Due: ts-typecheck, ts-lint, ts-format, typos

fix: add StageIndex field to EpilogueOrderResolveData
  internal/rules/epilogue_order_data.go
  internal/rules/tally/epilogue_order.go
Due: format-go, lint-go

fix: add test for all-epilogue stage edge case and clarify insert point
  internal/fix/epilogue_order_resolver.go
  internal/integration/__snapshots__/TestFix_epilogue-order-all-epilogue_1.snap.Dockerfile
  internal/integration/fix_cases_test.go
Due: format-go, lint-go

fix: remove epilogue-order from harness ignore list
  internal/integration/harness_test.go
Due: format-go, lint-go

fix: remove redundant "no semantic model" table entry from epilogue order test
  internal/rules/tally/epilogue_order_test.go
Due: format-go, lint-go

fix: clarify unreachable fallback in firstMisplaced
  internal/rules/tally/epilogue_order.go
Due: format-go, lint-go

feat: add tally/epilogue-order rule (#141)
  README.md
  RULES.md
  docs/rules/tally/epilogue-order.md
  docs/rules/tally/index.md
  extensions/vscode-tally/test/e2e/smoke.test.ts
  extensions/vscode-tally/test/suite/index.js
  internal/fix/epilogue_order_resolver.go
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_epilogue-order-all-epilogue_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_epilogue-order-basic_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_epilogue-order-multi-stage_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_epilogue-order-scattered_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_epilogue-order-with-newlines_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_epilogue-order_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/harness_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/epilogue-order/Dockerfile
  internal/integration/testdata/total-rules-enabled/Dockerfile
  internal/lsptest/__snapshots__/TestLSP_FormattingRealWorld_1.snap.Dockerfile
  internal/rules/epilogue_order_data.go
  internal/rules/tally/__snapshots__/TestEpilogueOrderMetadata_1.snap.json
  internal/rules/tally/epilogue_order.go
  internal/rules/tally/epilogue_order_test.go
  internal/semantic/builder.go
Due: format-go, lint-go, ts-typecheck, ts-lint, ts-format, typos

feat: add tally/newline-per-chained-call rule (#142)
  README.md
  RULES.md
  docs/rules/tally/index.md
  docs/rules/tally/newline-per-chained-call.md
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_newline-per-chained-call-cross-dl3027_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_newline-per-chained-call-healthcheck_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_newline-per-chained-call-label_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_newline-per-chained-call-run-chain-three_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_newline-per-chained-call-run-chain_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_newline-per-chained-call-run-mounts-and-chains_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_newline-per-chained-call-run-mounts_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_newline-per-chained-call_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/harness_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/newline-per-chained-call/Dockerfile
  internal/integration/testdata/total-rules-enabled/Dockerfile
  internal/rules/tally/__snapshots__/TestNewlinePerChainedCallMetadata_1.snap.json
  internal/rules/tally/newline_per_chained_call.go
  internal/rules/tally/newline_per_chained_call_test.go
  internal/shell/chain_format.go
  internal/shell/chain_format_test.go
Due: format-go, lint-go, typos

fix: close io.Pipe writer on stdin EOF to prevent LSP server deadlock
  internal/lspserver/server.go
  internal/lsptest/__snapshots__/TestLSP_FormattingRealWorld_1.snap.Dockerfile
Due: format-go, lint-go

fix: change newline-per-chained-call FixPriority from 20 to 97
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_newline-per-chained-call-cross-dl3047_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_newline-per-chained-call_1.snap.json
  internal/integration/fix_cases_test.go
  internal/lsptest/__snapshots__/TestLSP_FormattingRealWorld_1.snap.Dockerfile
  internal/rules/tally/__snapshots__/TestNewlinePerChainedCallMetadata_1.snap.json
  internal/rules/tally/newline_per_chained_call.go
Due: format-go, lint-go, typos

fix: address PR review comment
  internal/rules/tally/newline_per_chained_call.go
Due: format-go, lint-go

refactor: simplify checkLabel to line-count check + full-instruction replacement
  internal/integration/__snapshots__/TestLint_newline-per-chained-call_1.snap.json
  internal/rules/tally/newline_per_chained_call.go
Due: format-go, lint-go, typos

test: add multi-pair LABEL fixture with 12 OCI annotation keys
  internal/rules/tally/newline_per_chained_call_test.go
Due: format-go, lint-go

fix: preserve tab bytes in .Dockerfile snapshot files
  go.mod
  go.sum
  internal/integration/__snapshots__/TestFixConsistentIndentation_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixHeredocCombined_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_consistent-indentation-multi-line-continuation_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_consistent-indentation-multi-stage_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_consistent-indentation-with-casing-fix_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_heredoc-with-indentation-multi-stage_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_newline-per-chained-call-cross-dl3027_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_newline-per-chained-call-cross-dl3047_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_newline-per-chained-call-healthcheck_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_newline-per-chained-call-label_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_newline-per-chained-call-run-chain-three_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_newline-per-chained-call-run-chain_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_newline-per-chained-call-run-mounts-and-chains_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_newline-per-chained-call-run-mounts_1.snap.Dockerfile
  internal/integration/fix_scenarios_test.go
  internal/integration/harness_test.go
  internal/lsptest/__snapshots__/TestLSP_FormattingRealWorld_1.snap.Dockerfile
  internal/lsptest/lsp_test.go
  internal/rules/tally/newline_per_chained_call_test.go
  internal/rules/tally/prefer_copy_heredoc_test.go
  internal/rules/tally/prefer_heredoc_test.go
  internal/testutil/snapshot.go
Due: format-go, lint-go

test: add end-to-end fix test for newline-per-chained-call
  internal/integration/__snapshots__/TestFixNewlinePerChainedCall_1.snap.Dockerfile
  internal/integration/fix_scenarios_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/rules/tally/newline_per_chained_call_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/integration/__snapshots__/TestFix_newline-per-chained-call-with-consistent-indentation_1.snap.Dockerfile
  internal/integration/fix_cases_test.go
Due: format-go, lint-go

fix: add cross-priority line-shift tracking to fixer
  internal/fix/fixer.go
  internal/fix/heredoc_resolver_test.go
  internal/fix/interaction_debug_test.go
  internal/integration/__snapshots__/TestFixPreferAddUnpackBeatsHeredoc_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_dl3047-cross-rules_1.snap.Dockerfile
  internal/lsptest/__snapshots__/TestLSP_FormattingRealWorld_1.snap.Dockerfile
  internal/rules/tally/newline_per_chained_call.go
Due: format-go, lint-go

refactor: use mvdan.cc/sh printer for chain formatting
  internal/rules/tally/newline_per_chained_call.go
  internal/rules/tally/newline_per_chained_call_test.go
  internal/shell/chain_format.go
  internal/shell/chain_format_test.go
Due: format-go, lint-go

fix: update VSCode smoke test expected diagnostics count
  extensions/vscode-tally/test/e2e/smoke.test.ts
  extensions/vscode-tally/test/suite/index.js
Due: ts-typecheck, ts-lint, ts-format, typos

fix: address PR review comment
  internal/lspserver/server.go
Due: format-go, lint-go

fix: update integration snapshot for HEALTHCHECK changes
  internal/integration/__snapshots__/TestLint_newline-per-chained-call_1.snap.json
Due: typos

fix: apply minCommands threshold per-chain, not globally
  internal/rules/tally/newline_per_chained_call.go
  internal/shell/chain_format.go
  internal/shell/chain_format_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/shell/chain_format_test.go
Due: format-go, lint-go

fix: restrict mount flag scanning to flag area only
  internal/rules/tally/newline_per_chained_call.go
  internal/rules/tally/newline_per_chained_call_test.go
Due: format-go, lint-go

fix: handle quoted values in mount flag scanning
  internal/rules/tally/newline_per_chained_call.go
  internal/rules/tally/newline_per_chained_call_test.go
Due: format-go, lint-go

fix: emit only one SHELL fix per stage in DL4006
  internal/integration/__snapshots__/TestFixPreferAddUnpackBeatsHeredoc_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_dl3047-cross-rules_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_dl4006-cross-rules_1.snap.json
  internal/integration/__snapshots__/TestLint_dl4006_1.snap.json
  internal/integration/fix_cases_test.go
  internal/rules/hadolint/__snapshots__/TestDL4006Rule_Metadata_1.snap.json
  internal/rules/hadolint/dl4006.go
  internal/rules/hadolint/dl4006_test.go
Due: format-go, lint-go, typos

feat: add hadolint/DL3045 rule — COPY to relative destination without WORKDIR
  RULES.md
  internal/integration/__snapshots__/TestLint_dl3045_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/dl3045/Dockerfile
  internal/rules/hadolint-status.json
  internal/rules/hadolint/__snapshots__/TestDL3045Rule_Metadata_1.snap.json
  internal/rules/hadolint/dl3045.go
  internal/rules/hadolint/dl3045_test.go
Due: format-go, lint-go, typos

fix: add negative ONBUILD test case for DL3045
  internal/rules/hadolint/dl3045_test.go
Due: format-go, lint-go

Path conditions:
  format-go: any of: **/*.go
  lint-go: any of: **/*.go
  ts-typecheck: any of: extensions/vscode-tally/**/*.ts and ^extensions/vscode\-tally/
  ts-lint: any of: extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts} and ^extensions/vscode\-tally/
  ts-format: any of: *.{js,ts,cjs,mjs,mts,cts,jsx,tsx} and ^extensions/vscode\-tally/
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  format-yml: any of: {.yamlfmt,*.yml,*.yaml}
  typos: any of: *.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}
  codecov: any of: .codecov.yml
  actionlint: any of: .github/workflows/*.{yaml,yml}
  commitlint-config: any of: .commitlintrc.yaml
