Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

.lefthook.yml:

# yaml-language-server: =https://json.schemastore.org/lefthook.json
---
output:
  # - summary # Print summary block (successful and failed steps)
  # - empty_summary # Print summary heading when there are no steps to run
  - failure # Print failed steps printing
# - skips # Print "skip" (i.e. no files matched)
assert_lefthook_installed: true
pre-commit:
  commands:
    format-go:
      glob: "**/*.go"
      run: gofmt -w -s {staged_files}
      stage_fixed: true
    lint-go:
      glob: "**/*.go"
      run: GOEXPERIMENT=jsonv2 make lint-fix
      stage_fixed: true
    ts-typecheck:
      glob: "extensions/vscode-tally/**/*.ts"
      run: bunx @typescript/native-preview --noEmit
      root: extensions/vscode-tally
    ts-lint:
      glob: "extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts}"
      run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
      stage_fixed: true
      root: extensions/vscode-tally
    ts-format:
      glob: "*.{js,ts,cjs,mjs,mts,cts,jsx,tsx}"
      run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
      stage_fixed: true
      root: extensions/vscode-tally
    taplo:
      glob: "**/*.toml"
      run: bunx -y -q @taplo/cli format {staged_files}
      stage_fixed: true
    rumdl:
      glob: "**/*.md"
      exclude: "**/__snapshots__/**"
      run: uv tool run rumdl==0.1.17 check --fix --config .rumdl.toml --output-format concise {staged_files}
      stage_fixed: true
    yamllint:
      glob: "*.{yml,yaml}"
      run: uvx yamllint {staged_files}
    format-yml:
      glob: "{.yamlfmt,*.yml,*.yaml}"
      run: yamlfmt {staged_files}
      stage_fixed: true
    typos:
      glob: "*.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}"
      run: uv tool run typos==1.43.4 --force-exclude {staged_files}
    codecov:
      glob: ".codecov.yml"
      run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate
    # renovate:
    #   glob: "renovate.json"
    #   run: npx -y -q -y --package renovate renovate-config-validator renovate.json
    actionlint:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}
    commitlint-config:
      glob: ".commitlintrc.yaml"
      run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml
commit-msg:
  commands:
    "lint commit message":
      run: npx -y -q commitlint --edit {1}
    "check spelling":
      run: uv tool run typos==1.43.4 {1}
post-merge:
  files: "git diff-tree -r --name-only --no-commit-id ORIG_HEAD HEAD"
  commands:
    delete-merged-branches:
      run: git branch --merged | grep -Ev '\*|master|main|dev|develop|development|stag|staging|prod|production' | xargs git branch -d; git fetch --prune;
pre-push:
  parallel: true
  jobs:
    - name: build
      run: GOEXPERIMENT=jsonv2 make build
    - name: deadcode
      run: GOEXPERIMENT=jsonv2 make deadcode
    - name: test
      run: GOEXPERIMENT=jsonv2 make test
    - name: validate-hadolint-status
      run: ./scripts/validate-hadolint-status.sh
    - name: validate-buildkit-rules
      run: GOEXPERIMENT=jsonv2 ./scripts/validate-buildkit-rules.sh

fix: address PR review comment
  _docs/rules/tally/ruby/jemalloc-installed-but-not-preloaded.mdx
  internal/rules/tally/ruby/jemalloc_installed_but_not_preloaded.go
  internal/rules/tally/ruby/jemalloc_installed_but_not_preloaded_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/rules/tally/ruby/jemalloc_installed_but_not_preloaded.go
  internal/rules/tally/ruby/jemalloc_installed_but_not_preloaded_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/integration/__snapshots__/TestLint_ruby-jemalloc-installed-but-not-preloaded_1.snap.json
  internal/rules/tally/ruby/jemalloc_installed_but_not_preloaded.go
  internal/rules/tally/ruby/jemalloc_installed_but_not_preloaded_test.go
Due: format-go, lint-go, typos

fix: address PR review comment
  _docs/rules/tally/ruby/jemalloc-installed-but-not-preloaded.mdx
  internal/integration/__snapshots__/TestFix_ruby-jemalloc-installed-but-not-preloaded-apt-fix_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_ruby-jemalloc-with-sort-packages_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_ruby-jemalloc-installed-but-not-preloaded_1.snap.json
  internal/rules/tally/ruby/jemalloc_installed_but_not_preloaded.go
  internal/rules/tally/ruby/jemalloc_installed_but_not_preloaded_test.go
Due: format-go, lint-go, typos

chore: refresh total-rules-enabled snapshot after rebase
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
Due: typos

fix: address PR review comment
  internal/rules/tally/ruby/jemalloc_installed_but_not_preloaded.go
  internal/rules/tally/ruby/jemalloc_installed_but_not_preloaded_test.go
  internal/semantic/semantic.go
  internal/semantic/semantic_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/rules/tally/ruby/jemalloc_installed_but_not_preloaded.go
  internal/semantic/builder.go
  internal/semantic/semantic_test.go
  internal/semantic/stage_info.go
Due: format-go, lint-go

feat(rules): add tally/ruby/jemalloc-installed-but-not-preloaded (#632)
  _docs/docs.json
  _docs/rules/tally/ruby/jemalloc-installed-but-not-preloaded.mdx
  internal/integration/__snapshots__/TestFix_ruby-jemalloc-installed-but-not-preloaded-apt-fix_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_ruby-jemalloc-with-sort-packages_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_ruby-jemalloc-installed-but-not-preloaded_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/ruby-jemalloc-installed-but-not-preloaded/Dockerfile
  internal/rules/all/all.go
  internal/rules/tally/php/helpers.go
  internal/rules/tally/ruby/doc.go
  internal/rules/tally/ruby/jemalloc_installed_but_not_preloaded.go
  internal/rules/tally/ruby/jemalloc_installed_but_not_preloaded_test.go
  internal/semantic/builder.go
  internal/semantic/semantic.go
  internal/semantic/semantic_test.go
  internal/semantic/stage_info.go
  internal/stagename/stagename.go
  internal/stagename/stagename_test.go
Due: format-go, lint-go, typos

docs: sync hadolint rules from upstream
  internal/rules/hadolint-rules.json
Due: typos

chore: migrate errors.As to errors.AsType for modernize lint
  .golangci.yaml
  cmd/tally/cmd/docker_plugin.go
  cmd/tally/cmd/lint.go
  internal/ai/acp/runner.go
  internal/ai/autofix/resolver.go
  internal/async/runtime.go
  internal/integration/error_test.go
  internal/integration/harness_test.go
  internal/integration/testdata/error-unparsable-json/Dockerfile
  internal/registry/async_resolver.go
  internal/registry/containers.go
  internal/registry/resolve_debug_test.go
Due: format-go, lint-go, yamllint, format-yml, typos

chore: exclude fixtures
  .codex/environments/environment.toml
  .rumdl.toml
Due: taplo, typos

fix: satisfy ci lint for fixture harness
  internal/integration/fixture_harness_test.go
  internal/registry/containers.go
Due: format-go, lint-go

fix: address PR review comment
  cmd/tally/cmd/acp_progress.go
  cmd/tally/cmd/lint.go
  cmd/tally/cmd/lint_test.go
  internal/ai/autofixdata/autofixdata.go
  internal/fix/fixer.go
  internal/fix/fixer_test.go
Due: format-go, lint-go

test: move real-world fix cases into fixture harness
  internal/integration/fix_scenarios_test.go
  internal/integration/fixtures/fix/real-world-fix-boost-msvc/.tally.toml
  internal/integration/fixtures/fix/real-world-fix-boost-msvc/Dockerfile
  internal/integration/fixtures/fix/real-world-fix-boost-msvc/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/real-world-fix-boost-msvc/report_1.snap.md
  internal/integration/fixtures/fix/real-world-fix-jaraco-windows/.tally.toml
  internal/integration/fixtures/fix/real-world-fix-jaraco-windows/Dockerfile
  internal/integration/fixtures/fix/real-world-fix-jaraco-windows/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/real-world-fix-jaraco-windows/report_1.snap.md
  internal/integration/fixtures/fix/real-world-fix-metalama/.tally.toml
  internal/integration/fixtures/fix/real-world-fix-metalama/Dockerfile
  internal/integration/fixtures/fix/real-world-fix-metalama/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/real-world-fix-metalama/report_1.snap.md
  internal/integration/fixtures/fix/real-world-fix-php-fpm-56/.tally.toml
  internal/integration/fixtures/fix/real-world-fix-php-fpm-56/Dockerfile
  internal/integration/fixtures/fix/real-world-fix-php-fpm-56/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/real-world-fix-php-fpm-56/report_1.snap.md
  internal/integration/fixtures/fix/real-world-fix-powershell-alpine/.tally.toml
  internal/integration/fixtures/fix/real-world-fix-powershell-alpine/Dockerfile
  internal/integration/fixtures/fix/real-world-fix-powershell-alpine/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/real-world-fix-powershell-alpine/report_1.snap.md
  internal/integration/fixtures/fix/real-world-fix-teamcity-nanoserver/.tally.toml
  internal/integration/fixtures/fix/real-world-fix-teamcity-nanoserver/Dockerfile
  internal/integration/fixtures/fix/real-world-fix-teamcity-nanoserver/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/real-world-fix-teamcity-nanoserver/report_1.snap.md
  internal/integration/fixtures/fix/real-world-fix-ticketdesk/.tally.toml
  internal/integration/fixtures/fix/real-world-fix-ticketdesk/Dockerfile
  internal/integration/fixtures/fix/real-world-fix-ticketdesk/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/real-world-fix-ticketdesk/report_1.snap.md
  internal/integration/testdata/real-world-fix-jaraco-windows/.tally.toml
  internal/semantic/base_image_os_test.go
Due: format-go, lint-go, taplo, typos

test: move prefer fix cases into fixture harness
  internal/integration/__snapshots__/TestLint_prefer-telemetry-opt-out_1.snap.json
  internal/integration/fix_scenarios_test.go
  internal/integration/fixtures/fix/prefer-add-git/.tally.toml
  internal/integration/fixtures/fix/prefer-add-git/Dockerfile
  internal/integration/fixtures/fix/prefer-add-git/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/prefer-add-git/report_1.snap.md
  internal/integration/fixtures/fix/prefer-add-unpack/.tally.toml
  internal/integration/fixtures/fix/prefer-add-unpack/Dockerfile
  internal/integration/fixtures/fix/prefer-add-unpack/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/prefer-add-unpack/report_1.snap.md
  internal/integration/fixtures/fix/prefer-copy-chmod/.tally.toml
  internal/integration/fixtures/fix/prefer-copy-chmod/Dockerfile
  internal/integration/fixtures/fix/prefer-copy-chmod/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/prefer-copy-chmod/report_1.snap.md
  internal/integration/fixtures/fix/prefer-curl-config-multistage/.tally.toml
  internal/integration/fixtures/fix/prefer-curl-config-multistage/Dockerfile
  internal/integration/fixtures/fix/prefer-curl-config-multistage/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/prefer-curl-config-multistage/report_1.snap.md
  internal/integration/fixtures/fix/prefer-nginx-sigquit/.tally.toml
  internal/integration/fixtures/fix/prefer-nginx-sigquit/Dockerfile
  internal/integration/fixtures/fix/prefer-nginx-sigquit/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/prefer-nginx-sigquit/report_1.snap.md
  internal/integration/fixtures/fix/prefer-run-heredoc/.tally.toml
  internal/integration/fixtures/fix/prefer-run-heredoc/Dockerfile
  internal/integration/fixtures/fix/prefer-run-heredoc/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/prefer-run-heredoc/report_1.snap.md
  internal/integration/fixtures/fix/prefer-shell-instruction/.tally.toml
  internal/integration/fixtures/fix/prefer-shell-instruction/Dockerfile
  internal/integration/fixtures/fix/prefer-shell-instruction/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/prefer-shell-instruction/report_1.snap.md
  internal/integration/fixtures/fix/prefer-telemetry-opt-out-context/.tally.toml
  internal/integration/fixtures/fix/prefer-telemetry-opt-out-context/Dockerfile
  internal/integration/fixtures/fix/prefer-telemetry-opt-out-context/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/prefer-telemetry-opt-out-context/package.json
  internal/integration/fixtures/fix/prefer-telemetry-opt-out-context/report_1.snap.md
  internal/integration/fixtures/fix/prefer-telemetry-opt-out-context/requirements.txt
  internal/integration/lint_cases_test.go
Due: format-go, lint-go, taplo, typos

test: move slow-check lint cases into fixture harness
  internal/integration/fixture_harness_test.go
  internal/integration/fixtures/lint/slow-checks-fail-fast/.tally.toml
  internal/integration/fixtures/lint/slow-checks-fail-fast/Dockerfile
  internal/integration/fixtures/lint/slow-checks-fail-fast/result_1.snap.json
  internal/integration/fixtures/lint/slow-checks-timeout/.tally.toml
  internal/integration/fixtures/lint/slow-checks-timeout/Dockerfile
  internal/integration/fixtures/lint/slow-checks-timeout/result_1.snap.json
  internal/integration/fixtures/lint/slow-checks-timeout/stderr_1.snap.txt
  internal/integration/lint_cases_test.go
Due: format-go, lint-go, taplo, typos

test: move benchmark real-world fix case into fixture harness
  internal/integration/benchmark_test.go
  internal/integration/fix_scenarios_test.go
  internal/integration/fixtures/fix/benchmark-real-world-fix/.tally.toml
  internal/integration/fixtures/fix/benchmark-real-world-fix/Dockerfile
  internal/integration/fixtures/fix/benchmark-real-world-fix/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/benchmark-real-world-fix/report_1.snap.md
  internal/lsptest/lsp_test.go
Due: format-go, lint-go, taplo, typos

test: move heredoc combined fix case into fixture harness
  internal/integration/fix_scenarios_test.go
  internal/integration/fixtures/fix/heredoc-combined/.tally.toml
  internal/integration/fixtures/fix/heredoc-combined/Dockerfile
  internal/integration/fixtures/fix/heredoc-combined/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/heredoc-combined/report_1.snap.md
Due: format-go, lint-go, taplo, typos

test: move style fix cases into fixture harness
  internal/integration/fixtures/fix/newline-between-instructions/.tally.toml
  internal/integration/fixtures/fix/newline-between-instructions/Dockerfile
  internal/integration/fixtures/fix/newline-between-instructions/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/newline-between-instructions/report_1.snap.md
  internal/integration/fixtures/fix/newline-per-chained-call/.tally.toml
  internal/integration/fixtures/fix/newline-per-chained-call/Dockerfile
  internal/integration/fixtures/fix/newline-per-chained-call/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/newline-per-chained-call/report_1.snap.md
  internal/integration/fixtures/fix/no-multi-spaces/Dockerfile
  internal/integration/fixtures/fix/no-multi-spaces/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/no-trailing-spaces/Dockerfile
  internal/integration/fixtures/fix/no-trailing-spaces/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/no-trailing-spaces/report_1.snap.md
  internal/integration/testdata/no-multi-spaces/Dockerfile
  internal/integration/testdata/no-trailing-spaces/Dockerfile
Due: taplo, typos

test: move indentation and shellcheck fix cases into fixture harness
  internal/integration/fix_scenarios_test.go
  internal/integration/fixtures/fix/consistent-indentation/.tally.toml
  internal/integration/fixtures/fix/consistent-indentation/Dockerfile
  internal/integration/fixtures/fix/consistent-indentation/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/consistent-indentation/report_1.snap.md
  internal/integration/fixtures/fix/shellcheck-sc1040/.tally.toml
  internal/integration/fixtures/fix/shellcheck-sc1040/Dockerfile
  internal/integration/fixtures/fix/shellcheck-sc1040/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/shellcheck-sc1040/report_1.snap.md
  internal/integration/shellcheck_sc1040_fix_test.go
Due: format-go, lint-go, taplo, typos

test: shorten real-world fixture names
  internal/integration/fixtures/fix/real-world-boost-msvc/.tally.toml
  internal/integration/fixtures/fix/real-world-boost-msvc/Dockerfile
  internal/integration/fixtures/fix/real-world-boost-msvc/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/real-world-boost-msvc/report_1.snap.md
  internal/integration/fixtures/fix/real-world-jaraco-windows/.tally.toml
  internal/integration/fixtures/fix/real-world-jaraco-windows/Dockerfile
  internal/integration/fixtures/fix/real-world-jaraco-windows/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/real-world-jaraco-windows/report_1.snap.md
  internal/integration/fixtures/fix/real-world-metalama/.tally.toml
  internal/integration/fixtures/fix/real-world-metalama/Dockerfile
  internal/integration/fixtures/fix/real-world-metalama/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/real-world-metalama/report_1.snap.md
  internal/integration/fixtures/fix/real-world-php-fpm-56/.tally.toml
  internal/integration/fixtures/fix/real-world-php-fpm-56/Dockerfile
  internal/integration/fixtures/fix/real-world-php-fpm-56/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/real-world-php-fpm-56/report_1.snap.md
  internal/integration/fixtures/fix/real-world-powershell-alpine/.tally.toml
  internal/integration/fixtures/fix/real-world-powershell-alpine/Dockerfile
  internal/integration/fixtures/fix/real-world-powershell-alpine/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/real-world-powershell-alpine/report_1.snap.md
  internal/integration/fixtures/fix/real-world-teamcity-nanoserver/.tally.toml
  internal/integration/fixtures/fix/real-world-teamcity-nanoserver/Dockerfile
  internal/integration/fixtures/fix/real-world-teamcity-nanoserver/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/real-world-teamcity-nanoserver/report_1.snap.md
  internal/integration/fixtures/fix/real-world-ticketdesk/.tally.toml
  internal/integration/fixtures/fix/real-world-ticketdesk/Dockerfile
  internal/integration/fixtures/fix/real-world-ticketdesk/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/real-world-ticketdesk/report_1.snap.md
  internal/semantic/base_image_os_test.go
Due: format-go, lint-go, taplo, typos

test: move complex benchmark fixtures into fix harness
  internal/integration/benchmark_test.go
  internal/integration/fixture_harness_test.go
  internal/integration/fixtures/fix/real-world-aria/.tally.toml
  internal/integration/fixtures/fix/real-world-aria/Dockerfile
  internal/integration/fixtures/fix/real-world-aria/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/real-world-aria/report_1.snap.md
  internal/integration/fixtures/fix/real-world-nolus/.tally.toml
  internal/integration/fixtures/fix/real-world-nolus/Containerfile
  internal/integration/fixtures/fix/real-world-nolus/fixed_1.snap.Containerfile
  internal/integration/fixtures/fix/real-world-nolus/report_1.snap.md
Due: format-go, lint-go, taplo, typos
