Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

format-go:
  run: gofmt -w -s {staged_files}
  stage_fixed: true

lint-go:
  run: GOEXPERIMENT=jsonv2 make lint-fix
  stage_fixed: true

ts-typecheck:
  run: bunx @typescript/native-preview --noEmit

ts-lint:
  run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
  stage_fixed: true

ts-format:
  run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
  stage_fixed: true

taplo:
  run: bunx -y -q @taplo/cli format {staged_files}
  stage_fixed: true

yamllint:
  run: uvx yamllint {staged_files}

format-yml:
  run: yamlfmt {staged_files}
  stage_fixed: true

typos:
  run: uv tool run typos==1.43.4 --force-exclude {staged_files}

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

actionlint:
  run: actionlint {staged_files}

commitlint-config:
  run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml

fix: assert on edit payloads separately from fix description
  internal/rules/tally/prefer_copy_chmod_test.go
Due: format-go, lint-go

fix: document merged --chmod contract and cross-rule interactions
  docs/rules/tally/prefer-copy-chmod.md
Due: typos

fix: move COPY heredoc test to positive cases section
  internal/rules/tally/prefer_copy_chmod_test.go
Due: format-go, lint-go

fix: use explicit ok flag in parseChmod instead of mode != 0
  internal/shell/file_creation.go
  internal/shell/file_creation_test.go
Due: format-go, lint-go

feat: add tally/prefer-copy-chmod rule (#345)
  .claude/skills/create-tally-rule/SKILL.md
  README.md
  RULES.md
  _integrations/vscode-tally/test/e2e/smoke.test.ts
  docs/rules/tally/index.md
  docs/rules/tally/prefer-copy-chmod.md
  internal/integration/__snapshots__/TestFixCrossRuleCopyChmodHeredoc_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixHeredocCombined_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-copy-chmod-basic_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-copy-chmod-dir-dest_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-copy-chmod-with-chown_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-copy-heredoc-with-chmod_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_heredoc-combined_1.snap.json
  internal/integration/__snapshots__/TestLint_prefer-copy-chmod_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/fix_scenarios_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/prefer-copy-chmod/Dockerfile
  internal/lsptest/__snapshots__/TestLSP_FormattingRealWorld_1.snap.Dockerfile
  internal/rules/tally/__snapshots__/TestBuildCopyHeredoc_with_octal_chmod_1.snap.Dockerfile
  internal/rules/tally/__snapshots__/TestBuildCopyHeredoc_with_symbolic_chmod_1.snap.Dockerfile
  internal/rules/tally/__snapshots__/TestPreferCopyChmodRule_Metadata_1.snap.json
  internal/rules/tally/prefer_copy_chmod.go
  internal/rules/tally/prefer_copy_chmod_test.go
  internal/rules/tally/prefer_copy_heredoc.go
  internal/rules/tally/prefer_copy_heredoc_test.go
  internal/shell/file_creation.go
  internal/shell/file_creation_test.go
Due: format-go, lint-go, typos

chore: disable nonamedreturns linter, enable bare-return check
  .golangci.yaml
Due: yamllint, format-yml, typos

feat: add tally/windows/no-run-mounts rule
  README.md
  RULES.md
  docs/rules/tally/index.md
  docs/rules/tally/windows/no-run-mounts.md
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/__snapshots__/TestLint_windows-no-run-mounts_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/windows-no-run-mounts/Dockerfile
  internal/rules/all/all.go
  internal/rules/tally/windows/__snapshots__/TestNoRunMountsRule_Metadata_1.snap.json
  internal/rules/tally/windows/gate.go
  internal/rules/tally/windows/no_run_mounts.go
  internal/rules/tally/windows/no_run_mounts_test.go
Due: format-go, lint-go, typos

fix: add pwsh Linux-stage regression test for Windows gate
  internal/rules/tally/windows/no_run_mounts_test.go
Due: format-go, lint-go

feat: add tally/windows/no-run-mounts rule (#348)
  README.md
  RULES.md
  docs/rules/tally/index.md
  docs/rules/tally/windows/no-run-mounts.md
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/__snapshots__/TestLint_windows-no-run-mounts_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/windows-no-run-mounts/Dockerfile
  internal/rules/all/all.go
  internal/rules/tally/windows/__snapshots__/TestNoRunMountsRule_Metadata_1.snap.json
  internal/rules/tally/windows/gate.go
  internal/rules/tally/windows/no_run_mounts.go
  internal/rules/tally/windows/no_run_mounts_test.go
Due: format-go, lint-go, typos

zed: set extension version to 0.29.0
  _integrations/zed-tally/Cargo.toml
  _integrations/zed-tally/extension.toml
Due: taplo, typos

feat: add tally/eol-last rule
  README.md
  RULES.md
  docs/rules/tally/eol-last.md
  docs/rules/tally/index.md
  go.sum
  internal/integration/__snapshots__/TestFix_eol-last-already-ok_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_eol-last-always_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_eol-last-cross-no-multiple-empty-lines_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_eol-last-never_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_eol-last_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/eol-last/Dockerfile
  internal/rules/tally/__snapshots__/TestEolLastMetadata_1.snap.json
  internal/rules/tally/eol_last.go
  internal/rules/tally/eol_last.schema.json
  internal/rules/tally/eol_last_test.go
  internal/rules/tally/index.schema.json
  internal/schemas/generated/config/tally_config.gen.go
  internal/schemas/generated/rules/tally/eol_last.gen.go
  internal/schemas/manifest.json
  internal/schemas/registry_gen.go
  schema.json
Due: format-go, lint-go, typos

fix: correct contradictory comment in cross-rule test case
  internal/integration/fix_cases_test.go
Due: format-go, lint-go

fix: emit per-line edits in eol-last "never" mode for multiple trailing newlines
  internal/integration/__snapshots__/TestFix_eol-last-never-multiple-trailing_1.snap.Dockerfile
  internal/integration/fix_cases_test.go
  internal/rules/tally/eol_last.go
  internal/rules/tally/eol_last_test.go
Due: format-go, lint-go

test: add CRLF line ending coverage for eol-last rule
  internal/rules/tally/eol_last_test.go
Due: format-go, lint-go

chore: tidy go.sum to fix CI install issues
  go.sum
Due: none

fix: restore go.sum from main to fix CI checksum mismatch
  go.mod
  go.sum
Due: none

fix: use *string sentinel for wantText to assert empty-string edits
  internal/rules/tally/eol_last_test.go
Due: format-go, lint-go

feat: add tally/eol-last rule (#356)
  README.md
  RULES.md
  docs/rules/tally/eol-last.md
  docs/rules/tally/index.md
  internal/integration/__snapshots__/TestFix_eol-last-already-ok_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_eol-last-always_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_eol-last-cross-no-multiple-empty-lines_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_eol-last-never-multiple-trailing_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_eol-last-never_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_eol-last_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/eol-last/Dockerfile
  internal/rules/tally/__snapshots__/TestEolLastMetadata_1.snap.json
  internal/rules/tally/eol_last.go
  internal/rules/tally/eol_last.schema.json
  internal/rules/tally/eol_last_test.go
  internal/rules/tally/index.schema.json
  internal/schemas/generated/config/tally_config.gen.go
  internal/schemas/generated/rules/tally/eol_last.gen.go
  internal/schemas/manifest.json
  internal/schemas/registry_gen.go
  schema.json
Due: format-go, lint-go, typos

feat: add tally/gpu/no-container-runtime-in-image rule
  README.md
  RULES.md
  docs/index.md
  docs/rules/tally/gpu/no-container-runtime-in-image.md
  docs/rules/tally/index.md
  internal/integration/__snapshots__/TestLint_gpu-no-container-runtime-in-image_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/gpu-no-container-runtime-in-image/Dockerfile
  internal/rules/all/all.go
  internal/rules/tally/gpu/__snapshots__/TestNoContainerRuntimeInImageRule_Metadata_1.snap.json
  internal/rules/tally/gpu/gate.go
  internal/rules/tally/gpu/gate_test.go
  internal/rules/tally/gpu/no_container_runtime_in_image.go
  internal/rules/tally/gpu/no_container_runtime_in_image_test.go
  internal/shell/install_packages.go
  internal/shell/install_packages_test.go
Due: format-go, lint-go, typos

chore: sync RULES.md summary after gpu rule addition
  RULES.md
Due: typos

feat: add tally/gpu/no-container-runtime-in-image rule (#362)
  README.md
  RULES.md
  docs/index.md
  docs/rules/tally/gpu/no-container-runtime-in-image.md
  docs/rules/tally/index.md
  internal/integration/__snapshots__/TestLint_gpu-no-container-runtime-in-image_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/gpu-no-container-runtime-in-image/Dockerfile
  internal/rules/all/all.go
  internal/rules/tally/gpu/__snapshots__/TestNoContainerRuntimeInImageRule_Metadata_1.snap.json
  internal/rules/tally/gpu/gate.go
  internal/rules/tally/gpu/gate_test.go
  internal/rules/tally/gpu/no_container_runtime_in_image.go
  internal/rules/tally/gpu/no_container_runtime_in_image_test.go
  internal/shell/install_packages.go
  internal/shell/install_packages_test.go
Due: format-go, lint-go, typos

feat: add tally/gpu/no-redundant-cuda-install rule
  README.md
  RULES.md
  docs/rules/tally/gpu/no-redundant-cuda-install.md
  docs/rules/tally/index.md
  internal/integration/__snapshots__/TestLint_gpu-no-redundant-cuda-install_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/gpu-no-redundant-cuda-install/Dockerfile
  internal/rules/tally/gpu/__snapshots__/TestNoRedundantCUDAInstallRule_Metadata_1.snap.json
  internal/rules/tally/gpu/no_redundant_cuda_install.go
  internal/rules/tally/gpu/no_redundant_cuda_install_test.go
Due: format-go, lint-go, typos

fix: preserve original package casing in violation messages
  internal/rules/tally/gpu/no_redundant_cuda_install.go
Due: format-go, lint-go

fix: make no-redundant-cuda-install flavor-aware
  docs/rules/tally/gpu/no-redundant-cuda-install.md
  internal/integration/__snapshots__/TestLint_gpu-no-redundant-cuda-install_1.snap.json
  internal/integration/testdata/gpu-no-redundant-cuda-install/Dockerfile
  internal/rules/tally/gpu/gate.go
  internal/rules/tally/gpu/gate_test.go
  internal/rules/tally/gpu/no_redundant_cuda_install.go
  internal/rules/tally/gpu/no_redundant_cuda_install_test.go
Due: format-go, lint-go, typos

fix: clarify cudaFlavorBase zero-value comment
  internal/rules/tally/gpu/gate.go
Due: format-go, lint-go

feat: add tally/gpu/no-redundant-cuda-install rule (#363)
  README.md
  RULES.md
  docs/rules/tally/gpu/no-redundant-cuda-install.md
  docs/rules/tally/index.md
  internal/integration/__snapshots__/TestLint_gpu-no-redundant-cuda-install_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/gpu-no-redundant-cuda-install/Dockerfile
  internal/rules/tally/gpu/__snapshots__/TestNoRedundantCUDAInstallRule_Metadata_1.snap.json
  internal/rules/tally/gpu/gate.go
  internal/rules/tally/gpu/gate_test.go
  internal/rules/tally/gpu/no_redundant_cuda_install.go
  internal/rules/tally/gpu/no_redundant_cuda_install_test.go
Due: format-go, lint-go, typos

feat: add tally/gpu/no-buildtime-gpu-queries rule
  RULES.md
  docs/rules/tally/gpu/no-buildtime-gpu-queries.md
  internal/integration/__snapshots__/TestLint_gpu-no-buildtime-gpu-queries_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/gpu-no-buildtime-gpu-queries/Dockerfile
  internal/rules/tally/gpu/__snapshots__/TestNoBuildtimeGPUQueriesRule_Metadata_1.snap.json
  internal/rules/tally/gpu/no_buildtime_gpu_queries.go
  internal/rules/tally/gpu/no_buildtime_gpu_queries_test.go
Due: format-go, lint-go, typos

docs: update README tally rule count to 35
  README.md
Due: typos

docs: update RULES.md summary counts
  RULES.md
Due: typos

fix: address PR review comment
  internal/rules/tally/gpu/no_buildtime_gpu_queries.go
Due: format-go, lint-go

fix: address PR review comment
  internal/rules/tally/gpu/no_buildtime_gpu_queries.go
  internal/rules/tally/gpu/no_buildtime_gpu_queries_test.go
Due: format-go, lint-go

feat: add tally/gpu/no-buildtime-gpu-queries rule (#364)
  README.md
  RULES.md
  docs/rules/tally/gpu/no-buildtime-gpu-queries.md
  internal/integration/__snapshots__/TestLint_gpu-no-buildtime-gpu-queries_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/gpu-no-buildtime-gpu-queries/Dockerfile
  internal/rules/tally/gpu/__snapshots__/TestNoBuildtimeGPUQueriesRule_Metadata_1.snap.json
  internal/rules/tally/gpu/no_buildtime_gpu_queries.go
  internal/rules/tally/gpu/no_buildtime_gpu_queries_test.go
Due: format-go, lint-go, typos

feat: add tally/gpu/no-hardcoded-visible-devices rule (#365)
  README.md
  RULES.md
  docs/rules/tally/gpu/no-hardcoded-visible-devices.md
  docs/rules/tally/index.md
  internal/integration/__snapshots__/TestFix_gpu-visible-devices-all-non-cuda-no-fire_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_gpu-visible-devices-hardcoded-index_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_gpu-visible-devices-multi-key-partial_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_gpu-visible-devices-redundant-all_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_gpu-no-hardcoded-visible-devices_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/gpu-no-hardcoded-visible-devices/Dockerfile
  internal/rules/env_edit.go
  internal/rules/tally/gpu/__snapshots__/TestNoHardcodedVisibleDevicesRule_Metadata_1.snap.json
  internal/rules/tally/gpu/no_hardcoded_visible_devices.go
  internal/rules/tally/gpu/no_hardcoded_visible_devices_test.go
  internal/rules/tally/prefer_package_cache_mounts.go
Due: format-go, lint-go, typos

feat: add tally/gpu/no-hardcoded-visible-devices rule (#368)
  README.md
  RULES.md
  docs/rules/tally/gpu/no-hardcoded-visible-devices.md
  docs/rules/tally/index.md
  internal/integration/__snapshots__/TestFix_gpu-visible-devices-all-non-cuda-no-fire_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_gpu-visible-devices-hardcoded-index_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_gpu-visible-devices-multi-key-partial_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_gpu-visible-devices-redundant-all_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_gpu-no-hardcoded-visible-devices_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/gpu-no-hardcoded-visible-devices/Dockerfile
  internal/rules/env_edit.go
  internal/rules/tally/gpu/__snapshots__/TestNoHardcodedVisibleDevicesRule_Metadata_1.snap.json
  internal/rules/tally/gpu/no_hardcoded_visible_devices.go
  internal/rules/tally/gpu/no_hardcoded_visible_devices_test.go
  internal/rules/tally/prefer_package_cache_mounts.go
Due: format-go, lint-go, typos

feat: add printf escape sequence support to tally/prefer-copy-heredoc
  RULES.md
  docs/rules/tally/prefer-copy-heredoc.md
  internal/integration/__snapshots__/TestFix_prefer-copy-heredoc-printf-chmod_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-copy-heredoc-printf-escapes_1.snap.Dockerfile
  internal/integration/fix_cases_test.go
  internal/rules/tally/__snapshots__/TestPreferCopyHeredocRule_Metadata_1.snap.json
  internal/rules/tally/prefer_copy_heredoc.go
  internal/rules/tally/prefer_copy_heredoc_test.go
  internal/shell/file_creation.go
  internal/shell/file_creation_test.go
Due: format-go, lint-go, typos

fix: add literal percent and cross-rule interaction tests
  internal/rules/tally/prefer_copy_heredoc_test.go
Due: format-go, lint-go

feat: add printf escape sequence support to prefer-copy-heredoc (#370)
  RULES.md
  docs/rules/tally/prefer-copy-heredoc.md
  internal/integration/__snapshots__/TestFix_prefer-copy-heredoc-printf-chmod_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-copy-heredoc-printf-escapes_1.snap.Dockerfile
  internal/integration/fix_cases_test.go
  internal/rules/tally/__snapshots__/TestPreferCopyHeredocRule_Metadata_1.snap.json
  internal/rules/tally/prefer_copy_heredoc.go
  internal/rules/tally/prefer_copy_heredoc_test.go
  internal/shell/file_creation.go
  internal/shell/file_creation_test.go
Due: format-go, lint-go, typos

feat: add tally/gpu/prefer-minimal-driver-capabilities rule
  README.md
  RULES.md
  docs/rules/tally/gpu/prefer-minimal-driver-capabilities.md
  docs/rules/tally/index.md
  internal/integration/__snapshots__/TestFix_gpu-driver-caps-all-no-unsafe_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_gpu-driver-caps-all-suggestion_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_gpu-driver-caps-multi-key-replace_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_gpu-driver-caps-variable-no-fire_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_gpu-prefer-minimal-driver-capabilities_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/gpu-prefer-minimal-driver-capabilities/Dockerfile
  internal/rules/env_edit.go
  internal/rules/tally/gpu/__snapshots__/TestPreferMinimalDriverCapabilitiesRule_Metadata_1.snap.json
  internal/rules/tally/gpu/prefer_minimal_driver_capabilities.go
  internal/rules/tally/gpu/prefer_minimal_driver_capabilities_test.go
Due: format-go, lint-go, typos

fix: make fallback path use effective (last) ENV binding per stage
  internal/rules/tally/gpu/prefer_minimal_driver_capabilities.go
  internal/rules/tally/gpu/prefer_minimal_driver_capabilities_test.go
Due: format-go, lint-go

Path conditions:
  format-go: any of: **/*.go
  lint-go: any of: **/*.go
  ts-typecheck: any of: extensions/vscode-tally/**/*.ts and ^extensions/vscode\-tally/
  ts-lint: any of: extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts} and ^extensions/vscode\-tally/
  ts-format: any of: *.{js,ts,cjs,mjs,mts,cts,jsx,tsx} and ^extensions/vscode\-tally/
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  format-yml: any of: {.yamlfmt,*.yml,*.yaml}
  typos: any of: *.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}
  codecov: any of: .codecov.yml
  actionlint: any of: .github/workflows/*.{yaml,yml}
  commitlint-config: any of: .commitlintrc.yaml
