Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

format-go:
  run: gofmt -w -s {staged_files}
  stage_fixed: true

lint-go:
  run: GOEXPERIMENT=jsonv2 make lint-fix
  stage_fixed: true

ts-typecheck:
  run: bunx @typescript/native-preview --noEmit

ts-lint:
  run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
  stage_fixed: true

ts-format:
  run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
  stage_fixed: true

taplo:
  run: bunx -y -q @taplo/cli format {staged_files}
  stage_fixed: true

yamllint:
  run: uvx yamllint {staged_files}

format-yml:
  run: yamlfmt {staged_files}
  stage_fixed: true

typos:
  run: uv tool run typos==1.43.4 --force-exclude {staged_files}

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

actionlint:
  run: actionlint {staged_files}

commitlint-config:
  run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml

fix: address PR review comment
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyLspServerDescriptor.kt
Due: none

fix: misspeling
  .claude/skills/pr-comment/SKILL.md
Due: typos

fix: address PR review comment
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyBinaryResolver.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyLspServerSupportProvider.kt
Due: none

fix: address PR review comment
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyFileMatcher.kt
Due: none

fix: align IntelliJ binary resolution with Python envs
  extensions/intellij-tally/README.md
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyBinaryResolver.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyLspServerSupportProvider.kt
Due: typos

fix: address PR review comment
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallySettings.kt
Due: none

fix: address PR review comment
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyBinaryResolver.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallySettings.kt
Due: none

fix: address PR review comment
  extensions/intellij-tally/build/build.sh
Due: none

fix: address PR review comment
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

fix: address PR review comment
  extensions/intellij-tally/build/lib.sh
Due: none

fix: address PR review comment
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyBinaryResolver.kt
Due: none

feat: add lean IntelliJ plugin build pipeline (#134)
  .claude/skills/add-buildkit-fix/SKILL.md
  .claude/skills/pr-comment/SKILL.md
  .github/lsp.json
  .github/workflows/intellij-plugin.yml
  .github/workflows/release.yml
  .gitignore
  .lefthook.yml
  Makefile
  README.md
  design-docs/17-intellij-plugin-lean-build.md
  design-docs/README.md
  extensions/intellij-tally/README.md
  extensions/intellij-tally/build/build.sh
  extensions/intellij-tally/build/ktlint.sh
  extensions/intellij-tally/build/lib.sh
  extensions/intellij-tally/build/smoke.sh
  extensions/intellij-tally/build/versions.toml
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyBinaryResolver.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyFileMatcher.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyLspServerDescriptor.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyLspServerSupportProvider.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallySettings.kt
  extensions/intellij-tally/src/main/resources/META-INF/lsp.xml
  extensions/intellij-tally/src/main/resources/META-INF/plugin.xml
Due: taplo, yamllint, format-yml, typos, actionlint

feat: add package cache mount guidance
  README.md
  RULES.md
  docs/index.md
  docs/rules/tally/index.md
  docs/rules/tally/prefer-package-cache-mounts.md
  internal/integration/__snapshots__/TestFix_prefer-package-cache-mounts-no-cache-flags_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-package-cache-mounts-with-prefer-run-heredoc_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-package-cache-mounts_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_prefer-package-cache-mounts_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/prefer-package-cache-mounts/.tally.toml
  internal/integration/testdata/prefer-package-cache-mounts/Dockerfile
  internal/rules/hadolint-status.json
  internal/rules/tally/__snapshots__/TestPreferPackageCacheMountsRule_Metadata_1.snap.json
  internal/rules/tally/prefer_package_cache_mounts.go
  internal/rules/tally/prefer_package_cache_mounts_test.go
  scripts/generate-hadolint-table.sh
Due: format-go, lint-go, taplo, typos

fix: address PR review comment
  docs/rules/tally/prefer-package-cache-mounts.md
  internal/integration/__snapshots__/TestLint_prefer-package-cache-mounts_1.snap.json
  internal/integration/testdata/prefer-package-cache-mounts/Dockerfile
  internal/rules/tally/prefer_package_cache_mounts.go
  internal/rules/tally/prefer_package_cache_mounts_test.go
Due: format-go, lint-go, typos

fix: address PR review comment
  docs/rules/tally/prefer-package-cache-mounts.md
  internal/integration/__snapshots__/TestLint_prefer-package-cache-mounts_1.snap.json
  internal/rules/tally/prefer_package_cache_mounts.go
  internal/rules/tally/prefer_package_cache_mounts_test.go
Due: format-go, lint-go, typos

fix: address PR review comment
  internal/rules/tally/prefer_package_cache_mounts.go
  internal/rules/tally/prefer_package_cache_mounts_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/rules/tally/prefer_package_cache_mounts_test.go
Due: format-go, lint-go

fix: address PR review comment
  RULES.md
  internal/rules/hadolint-status.json
  scripts/generate-hadolint-table.sh
Due: typos

fix: address PR review comment
  docs/rules/tally/prefer-package-cache-mounts.md
  internal/integration/__snapshots__/TestLint_prefer-package-cache-mounts_1.snap.json
  internal/integration/testdata/prefer-package-cache-mounts/Dockerfile
  internal/rules/tally/prefer_multi_stage_build.go
  internal/rules/tally/prefer_package_cache_mounts.go
  internal/rules/tally/prefer_package_cache_mounts_test.go
Due: format-go, lint-go, typos

fix: address PR review comment
  internal/rules/tally/prefer_package_cache_mounts.go
  internal/rules/tally/prefer_package_cache_mounts_test.go
  internal/shell/count.go
  internal/shell/count_test.go
Due: format-go, lint-go

fix: address PR review comment
  RULES.md
  docs/rules/tally/index.md
Due: typos

feat: add package cache mount rule and cache-policy docs (#135)
  README.md
  RULES.md
  docs/index.md
  docs/rules/tally/index.md
  docs/rules/tally/prefer-package-cache-mounts.md
  internal/integration/__snapshots__/TestFix_prefer-package-cache-mounts-no-cache-flags_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-package-cache-mounts-with-prefer-run-heredoc_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-package-cache-mounts_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_prefer-package-cache-mounts_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/prefer-package-cache-mounts/.tally.toml
  internal/integration/testdata/prefer-package-cache-mounts/Dockerfile
  internal/rules/hadolint-status.json
  internal/rules/tally/__snapshots__/TestPreferPackageCacheMountsRule_Metadata_1.snap.json
  internal/rules/tally/prefer_multi_stage_build.go
  internal/rules/tally/prefer_package_cache_mounts.go
  internal/rules/tally/prefer_package_cache_mounts_test.go
  internal/shell/count.go
  internal/shell/count_test.go
  scripts/generate-hadolint-table.sh
Due: format-go, lint-go, taplo, typos

fix: replace internal/deprecated PluginManagerCore API in IntelliJ plugin
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyBinaryResolver.kt
Due: none

chore: enable plugin verifier with updated URL
  extensions/intellij-tally/build/versions.toml
Due: taplo, typos

ci: run plugin verifier in IntelliJ CI workflow
  .github/workflows/intellij-plugin.yml
Due: yamllint, format-yml, typos, actionlint

fix: use PluginManager.getPluginByClass to avoid hard-coded plugin ID
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyBinaryResolver.kt
Due: none

fix: replace internal/deprecated PluginManagerCore API in IntelliJ plugin (#136)
  .github/workflows/intellij-plugin.yml
  extensions/intellij-tally/build/versions.toml
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyBinaryResolver.kt
Due: taplo, yamllint, format-yml, typos, actionlint

feat: add plugin icon and config file icons for IntelliJ
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyIconProvider.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyIcons.kt
  extensions/intellij-tally/src/main/resources/META-INF/plugin.xml
  extensions/intellij-tally/src/main/resources/META-INF/pluginIcon.svg
  extensions/intellij-tally/src/main/resources/icons/tally.svg
Due: none

feat: add settings UI, notifications, and fix-on-save to IntelliJ plugin
  extensions/intellij-tally/build/smoke.sh
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyConfigurable.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyFixAllOnSaveAction.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyLspServerSupportProvider.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyOnSaveFixAllActionInfo.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyOnSaveInfoProvider.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyServerService.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallySettings.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallySettingsService.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallySettingsState.kt
  extensions/intellij-tally/src/main/resources/META-INF/lsp.xml
  extensions/intellij-tally/src/main/resources/META-INF/plugin.xml
Due: none

feat: add LSP widget, diagnostics tooltips, formatting, and rule links to IntelliJ plugin
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyConfigurable.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyDiagnosticsSupport.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyFormattingSupport.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyLspServerDescriptor.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyLspServerSupportProvider.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyRuleTooltipLinkHandler.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyServerService.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallySettingsService.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallySettingsState.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyWidgetItem.kt
  extensions/intellij-tally/src/main/resources/META-INF/lsp.xml
Due: none

chore: ignore plugin verifier output directories
  .gitignore
Due: none

fix: propagate enabled setting through LSP configuration envelope
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallySettings.kt
Due: none

fix: address PR review comment
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyServerService.kt
Due: none

Path conditions:
  format-go: any of: **/*.go
  lint-go: any of: **/*.go
  ts-typecheck: any of: extensions/vscode-tally/**/*.ts and ^extensions/vscode\-tally/
  ts-lint: any of: extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts} and ^extensions/vscode\-tally/
  ts-format: any of: *.{js,ts,cjs,mjs,mts,cts,jsx,tsx} and ^extensions/vscode\-tally/
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  format-yml: any of: {.yamlfmt,*.yml,*.yaml}
  typos: any of: *.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}
  codecov: any of: .codecov.yml
  actionlint: any of: .github/workflows/*.{yaml,yml}
  commitlint-config: any of: .commitlintrc.yaml
