Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

.lefthook.yml:

# yaml-language-server: =https://json.schemastore.org/lefthook.json
---
output:
  # - summary # Print summary block (successful and failed steps)
  # - empty_summary # Print summary heading when there are no steps to run
  - failure # Print failed steps printing
# - skips # Print "skip" (i.e. no files matched)
assert_lefthook_installed: true
pre-commit:
  commands:
    format-go:
      glob: "**/*.go"
      run: gofmt -w -s {staged_files}
      stage_fixed: true
    lint-go:
      glob: "**/*.go"
      run: GOEXPERIMENT=jsonv2 make lint-fix
      stage_fixed: true
    ts-typecheck:
      glob: "extensions/vscode-tally/**/*.ts"
      run: bunx @typescript/native-preview --noEmit
      root: extensions/vscode-tally
    ts-lint:
      glob: "extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts}"
      run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
      stage_fixed: true
      root: extensions/vscode-tally
    ts-format:
      glob: "*.{js,ts,cjs,mjs,mts,cts,jsx,tsx}"
      run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
      stage_fixed: true
      root: extensions/vscode-tally
    taplo:
      glob: "**/*.toml"
      run: bunx -y -q @taplo/cli format {staged_files}
      stage_fixed: true
    rumdl:
      glob: "**/*.md"
      exclude: "**/__snapshots__/**"
      run: uv tool run rumdl==0.1.17 check --fix --config .rumdl.toml --output-format concise {staged_files}
      stage_fixed: true
    yamllint:
      glob: "*.{yml,yaml}"
      run: uvx yamllint {staged_files}
    format-yml:
      glob: "{.yamlfmt,*.yml,*.yaml}"
      run: yamlfmt {staged_files}
      stage_fixed: true
    typos:
      glob: "*.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}"
      run: uv tool run typos==1.43.4 --force-exclude {staged_files}
    codecov:
      glob: ".codecov.yml"
      run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate
    # renovate:
    #   glob: "renovate.json"
    #   run: npx -y -q -y --package renovate renovate-config-validator renovate.json
    actionlint:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}
    commitlint-config:
      glob: ".commitlintrc.yaml"
      run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml
commit-msg:
  commands:
    "lint commit message":
      run: npx -y -q commitlint --edit {1}
    "check spelling":
      run: uv tool run typos==1.43.4 {1}
post-merge:
  files: "git diff-tree -r --name-only --no-commit-id ORIG_HEAD HEAD"
  commands:
    delete-merged-branches:
      run: git branch --merged | grep -Ev '\*|master|main|dev|develop|development|stag|staging|prod|production' | xargs git branch -d; git fetch --prune;
pre-push:
  parallel: true
  jobs:
    - name: build
      run: GOEXPERIMENT=jsonv2 make build
    - name: deadcode
      run: GOEXPERIMENT=jsonv2 make deadcode
    - name: test
      run: GOEXPERIMENT=jsonv2 make test
    - name: validate-hadolint-status
      run: ./scripts/validate-hadolint-status.sh
    - name: validate-buildkit-rules
      run: GOEXPERIMENT=jsonv2 ./scripts/validate-buildkit-rules.sh

chore: enforce LF line endings for source files
  .gitattributes
Due: none

fix: detect bare powershell shell wrappers
  internal/integration/__snapshots__/TestFixWindowsContainer_1.snap.md
  internal/rules/tally/powershell/prefer_shell_instruction.go
  internal/rules/tally/powershell/prefer_shell_instruction_test.go
  internal/shell/powershell_parser.go
  internal/shell/powershell_parser_nocgo.go
Due: format-go, lint-go, typos

fix: relax powershell shell rewrite gate
  internal/rules/tally/powershell/prefer_shell_instruction.go
  internal/rules/tally/powershell/prefer_shell_instruction_test.go
Due: format-go, lint-go

fix: normalize bare powershell cmd chains
  internal/rules/tally/powershell/prefer_shell_instruction.go
  internal/rules/tally/powershell/prefer_shell_instruction_test.go
Due: format-go, lint-go

fix: scope powershell shell rewrites
  internal/integration/__snapshots__/TestFixWindowsContainer_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixWindowsContainer_1.snap.md
  internal/integration/fix_scenarios_test.go
  internal/rules/tally/powershell/prefer_shell_instruction.go
  internal/rules/tally/powershell/prefer_shell_instruction_test.go
Due: format-go, lint-go, typos

fix: keep external commands in powershell scope
  internal/integration/__snapshots__/TestFixWindowsContainer_1.snap.Dockerfile
  internal/rules/tally/powershell/prefer_shell_instruction.go
  internal/rules/tally/powershell/prefer_shell_instruction_test.go
Due: format-go, lint-go

fix: unwrap runtime powershell wrappers
  internal/rules/tally/powershell/prefer_shell_instruction.go
  internal/rules/tally/powershell/prefer_shell_instruction_test.go
Due: format-go, lint-go

fix: resolve powershell lint regressions
  internal/rules/tally/powershell/prefer_shell_instruction.go
  internal/rules/tally/powershell/prefer_shell_instruction_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/rules/tally/powershell/prefer_shell_instruction.go
Due: format-go, lint-go

test: cover powershell indentation collaboration
  internal/rules/tally/powershell/prefer_shell_instruction.go
  internal/rules/tally/powershell/prefer_shell_instruction_test.go
Due: format-go, lint-go

fix: stabilize windows powershell heredoc fixes
  docs/rules/tally/powershell/prefer-shell-instruction.md
  docs/rules/tally/prefer-run-heredoc.md
  internal/fix/heredoc_resolver.go
  internal/fix/heredoc_resolver_test.go
  internal/integration/__snapshots__/TestFixRealWorldJaracoWindows_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixWindowsContainer_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixWindowsContainer_1.snap.md
  internal/rules/heredoc_data.go
  internal/rules/tally/powershell/prefer_shell_instruction.go
  internal/rules/tally/powershell/prefer_shell_instruction_test.go
  internal/rules/tally/prefer_heredoc.go
Due: format-go, lint-go, typos

fix: linguist ignore recursively
  .gitattributes
Due: none

fix: address PR review comment
  internal/fix/heredoc_resolver.go
  internal/fix/heredoc_resolver_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/integration/fix_scenarios_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/fix/heredoc_resolver.go
  internal/fix/heredoc_resolver_test.go
  internal/rules/heredoc_data.go
  internal/rules/tally/prefer_heredoc.go
Due: format-go, lint-go

fix: address PR review comment
  docs/rules/tally/powershell/prefer-shell-instruction.md
  internal/integration/__snapshots__/TestFixPowerShellPreferShellInstruction_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorldJaracoWindows_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixTelemetryOptOutCombined_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixWindowsContainer_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_prefer-shell-instruction-cross-rules_1.snap.json
  internal/integration/__snapshots__/TestLint_prefer-shell-instruction_1.snap.json
  internal/rules/tally/powershell/prefer_shell_instruction.go
  internal/rules/tally/powershell/prefer_shell_instruction_test.go
Due: format-go, lint-go, typos

test: normalize raw JSON snapshots
  internal/integration/__snapshots__/TestLint_prefer-shell-instruction-cross-rules_1.snap.json
  internal/integration/__snapshots__/TestLint_prefer-shell-instruction_1.snap.json
Due: typos

fix: resolve tally rule lint findings
  internal/rules/tally/powershell/prefer_shell_instruction.go
  internal/rules/tally/powershell/prefer_shell_instruction_test.go
  internal/rules/tally/prefer_heredoc.go
Due: format-go, lint-go

feat: add tally/named-identity-in-passwdless-stage rule
  README.md
  RULES.md
  docs/index.md
  docs/rules/tally/index.md
  docs/rules/tally/named-identity-in-passwdless-stage.md
  internal/integration/__snapshots__/TestFix_named-identity-chown-fix_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_named-identity-numeric-no-fix_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_named-identity-passwd-copied-no-fix_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_named-identity-user-fix_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_named-identity-in-passwdless-stage_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/named-identity-in-passwdless-stage/Dockerfile
  internal/rules/tally/__snapshots__/TestNamedIdentityInPasswdlessStageMetadata_1.snap.json
  internal/rules/tally/named_identity_in_passwdless_stage.go
  internal/rules/tally/named_identity_in_passwdless_stage_test.go
Due: format-go, lint-go, typos

fix: track identity-DB state per instruction, not as stage snapshot
  internal/rules/tally/named_identity_in_passwdless_stage.go
  internal/rules/tally/named_identity_in_passwdless_stage_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/integration/__snapshots__/TestLint_named-identity-in-passwdless-stage_1.snap.json
  internal/rules/tally/named_identity_in_passwdless_stage.go
  internal/rules/tally/named_identity_in_passwdless_stage_test.go
Due: format-go, lint-go, typos

fix: address PR review comment
  internal/rules/tally/named_identity_in_passwdless_stage.go
  internal/rules/tally/named_identity_in_passwdless_stage_test.go
Due: format-go, lint-go

feat: add tally/named-identity-in-passwdless-stage rule (#436)
  README.md
  RULES.md
  docs/index.md
  docs/rules/tally/index.md
  docs/rules/tally/named-identity-in-passwdless-stage.md
  internal/integration/__snapshots__/TestFix_named-identity-chown-fix_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_named-identity-numeric-no-fix_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_named-identity-passwd-copied-no-fix_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_named-identity-user-fix_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_named-identity-in-passwdless-stage_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/named-identity-in-passwdless-stage/Dockerfile
  internal/rules/tally/__snapshots__/TestNamedIdentityInPasswdlessStageMetadata_1.snap.json
  internal/rules/tally/named_identity_in_passwdless_stage.go
  internal/rules/tally/named_identity_in_passwdless_stage_test.go
Due: format-go, lint-go, typos

feat: use query-backed batch highlighting
  go.mod
  go.sum
  internal/highlight/batch/tokenize.go
  internal/highlight/batch/tokenize_test.go
  internal/highlight/core/token.go
  internal/highlight/lspencode/encode.go
  internal/highlight/tsutil/tsutil.go
  internal/lsptest/__snapshots__/TestLSP_Initialize_1.snap.json
Due: format-go, lint-go, typos

[codex] use query-backed batch highlighting (#439)
  go.mod
  go.sum
  internal/highlight/batch/tokenize.go
  internal/highlight/batch/tokenize_test.go
  internal/highlight/core/token.go
  internal/highlight/lspencode/encode.go
  internal/highlight/tsutil/tsutil.go
  internal/lsptest/__snapshots__/TestLSP_Initialize_1.snap.json
Due: format-go, lint-go, typos

docs: sync hadolint rules from upstream
  RULES.md
  internal/rules/hadolint-rules.json
Due: typos

chore: disable Renovate for all deps in integration testdata
  renovate.json
Due: typos

chore: remove unused tsutil.Tokenize and tsutil.Walk
  internal/highlight/tsutil/tsutil.go
Due: format-go, lint-go

fix: cache rune slices per line in filterPathFunctions
  internal/highlight/powershell/tokenize.go
Due: format-go, lint-go

fix: add regression tests for pipeline_chain AST node shape
  internal/shell/count_test.go
Due: format-go, lint-go

refactor: use typed node constants from grammar packages
  go.mod
  go.sum
  internal/shell/powershell_parser.go
Due: format-go, lint-go

fix: restore correct gitleaks checksum in go.sum
  go.sum
Due: none

refactor: use typed node constants for batch grammar in cmd_parser
  internal/shell/cmd_parser.go
Due: format-go, lint-go

fix: simplify hasPowerShellPipelineOperator nesting
  internal/shell/powershell_parser.go
Due: format-go, lint-go

fix: lint config
  _integrations/vscode-tally/.oxlintrc.json
Due: typos

chore: lint
  _integrations/vscode-tally/.oxlintrc.json
  _integrations/vscode-tally/src/config/vscodeConfig.ts
  _integrations/vscode-tally/src/lsp/client.ts
Due: typos
