Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

format-go:
  run: gofmt -w -s {staged_files}
  stage_fixed: true

lint-go:
  run: GOEXPERIMENT=jsonv2 make lint-fix
  stage_fixed: true

ts-typecheck:
  run: bunx @typescript/native-preview --noEmit

ts-lint:
  run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
  stage_fixed: true

ts-format:
  run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
  stage_fixed: true

taplo:
  run: bunx -y -q @taplo/cli format {staged_files}
  stage_fixed: true

yamllint:
  run: uvx yamllint {staged_files}

format-yml:
  run: yamlfmt {staged_files}
  stage_fixed: true

typos:
  run: uv tool run typos==1.43.4 --force-exclude {staged_files}

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

actionlint:
  run: actionlint {staged_files}

commitlint-config:
  run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml

fix: add nil guard to BuildEnvValueReplacementEdit and BuildEnvKeyRemovalEdit
  internal/rules/env_edit.go
Due: format-go, lint-go

feat: add tally/gpu/prefer-minimal-driver-capabilities rule (#371)
  README.md
  RULES.md
  docs/rules/tally/gpu/prefer-minimal-driver-capabilities.md
  docs/rules/tally/index.md
  internal/integration/__snapshots__/TestFix_gpu-driver-caps-all-no-unsafe_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_gpu-driver-caps-all-suggestion_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_gpu-driver-caps-multi-key-replace_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_gpu-driver-caps-variable-no-fire_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_gpu-prefer-minimal-driver-capabilities_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/gpu-prefer-minimal-driver-capabilities/Dockerfile
  internal/rules/env_edit.go
  internal/rules/tally/gpu/__snapshots__/TestPreferMinimalDriverCapabilitiesRule_Metadata_1.snap.json
  internal/rules/tally/gpu/prefer_minimal_driver_capabilities.go
  internal/rules/tally/gpu/prefer_minimal_driver_capabilities_test.go
Due: format-go, lint-go, typos

zed: set extension version to 0.30.0
  _integrations/zed-tally/Cargo.toml
  _integrations/zed-tally/extension.toml
Due: taplo, typos

feat: add tally/gpu/prefer-runtime-final-stage rule
  README.md
  RULES.md
  docs/rules/tally/gpu/prefer-runtime-final-stage.md
  docs/rules/tally/index.md
  internal/integration/__snapshots__/TestLint_gpu-prefer-runtime-final-stage_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/gpu-prefer-runtime-final-stage/Dockerfile
  internal/rules/tally/gpu/__snapshots__/TestPreferRuntimeFinalStageRule_Metadata_1.snap.json
  internal/rules/tally/gpu/prefer_runtime_final_stage.go
  internal/rules/tally/gpu/prefer_runtime_final_stage_test.go
Due: format-go, lint-go, typos

fix: fall back to AST when stage facts are nil
  internal/rules/tally/gpu/prefer_runtime_final_stage.go
Due: format-go, lint-go

fix: rename shadowed loop variable cmd → cmdName
  internal/rules/tally/gpu/prefer_runtime_final_stage.go
Due: format-go, lint-go

feat: add tally/gpu/prefer-runtime-final-stage rule (#372)
  README.md
  RULES.md
  docs/rules/tally/gpu/prefer-runtime-final-stage.md
  docs/rules/tally/index.md
  internal/integration/__snapshots__/TestLint_gpu-prefer-runtime-final-stage_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/gpu-prefer-runtime-final-stage/Dockerfile
  internal/rules/tally/gpu/__snapshots__/TestPreferRuntimeFinalStageRule_Metadata_1.snap.json
  internal/rules/tally/gpu/prefer_runtime_final_stage.go
  internal/rules/tally/gpu/prefer_runtime_final_stage_test.go
Due: format-go, lint-go, typos

docs: publish STOPSIGNAL rules proposal
  design-docs/33-stopsignal-rules.md
  design-docs/README.md
Due: typos

docs: keep STOPSIGNAL rules in tally namespace
  design-docs/33-stopsignal-rules.md
  design-docs/README.md
Due: typos

docs: publish STOPSIGNAL rules proposal (#373)
  design-docs/33-stopsignal-rules.md
  design-docs/README.md
Due: typos

feat: add tally/no-ungraceful-stopsignal rule (#374)
  README.md
  RULES.md
  docs/index.md
  docs/rules/tally/index.md
  docs/rules/tally/no-ungraceful-stopsignal.md
  internal/integration/__snapshots__/TestFix_no-ungraceful-stopsignal-numeric-9_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_no-ungraceful-stopsignal-sigkill_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_no-ungraceful-stopsignal-sigstop_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_no-ungraceful-stopsignal-sigterm-no-fix_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_no-ungraceful-stopsignal_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/no-ungraceful-stopsignal/Dockerfile
  internal/rules/tally/no_ungraceful_stopsignal.go
  internal/rules/tally/no_ungraceful_stopsignal_test.go
Due: format-go, lint-go, typos

fix: expand numericSignals map for consistent normalization
  internal/rules/tally/no_ungraceful_stopsignal.go
  internal/rules/tally/no_ungraceful_stopsignal_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/rules/tally/no_ungraceful_stopsignal.go
Due: format-go, lint-go

fix: skip Windows stages in no-ungraceful-stopsignal
  docs/rules/tally/no-ungraceful-stopsignal.md
  internal/rules/tally/no_ungraceful_stopsignal.go
  internal/rules/tally/no_ungraceful_stopsignal_test.go
Due: format-go, lint-go, typos

feat: add tally/no-ungraceful-stopsignal rule (#376)
  README.md
  RULES.md
  docs/index.md
  docs/rules/tally/index.md
  docs/rules/tally/no-ungraceful-stopsignal.md
  internal/integration/__snapshots__/TestFix_no-ungraceful-stopsignal-numeric-9_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_no-ungraceful-stopsignal-sigkill_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_no-ungraceful-stopsignal-sigstop_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_no-ungraceful-stopsignal-sigterm-no-fix_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_no-ungraceful-stopsignal_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/no-ungraceful-stopsignal/Dockerfile
  internal/rules/tally/no_ungraceful_stopsignal.go
  internal/rules/tally/no_ungraceful_stopsignal_test.go
Due: format-go, lint-go, typos

feat: add tally/windows/no-stopsignal rule
  README.md
  RULES.md
  docs/index.md
  docs/rules/tally/index.md
  docs/rules/tally/windows/no-stopsignal.md
  internal/integration/__snapshots__/TestFix_windows-no-stopsignal-linux-no-fix_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_windows-no-stopsignal_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/__snapshots__/TestLint_windows-no-stopsignal_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/windows-no-stopsignal/Dockerfile
  internal/rules/tally/windows/__snapshots__/TestNoStopsignalRule_Metadata_1.snap.json
  internal/rules/tally/windows/no_stopsignal.go
  internal/rules/tally/windows/no_stopsignal_test.go
Due: format-go, lint-go, typos

fix: add cross-rule fix test for windows/no-stopsignal
  internal/integration/__snapshots__/TestFix_windows-no-stopsignal-cross-no-ungraceful_1.snap.Dockerfile
  internal/integration/fix_cases_test.go
Due: format-go, lint-go

feat: add tally/windows/no-stopsignal rule (#380)
  README.md
  RULES.md
  docs/index.md
  docs/rules/tally/index.md
  docs/rules/tally/windows/no-stopsignal.md
  internal/integration/__snapshots__/TestFix_windows-no-stopsignal-cross-no-ungraceful_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_windows-no-stopsignal-linux-no-fix_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_windows-no-stopsignal_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/__snapshots__/TestLint_windows-no-stopsignal_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/windows-no-stopsignal/Dockerfile
  internal/rules/tally/windows/__snapshots__/TestNoStopsignalRule_Metadata_1.snap.json
  internal/rules/tally/windows/no_stopsignal.go
  internal/rules/tally/windows/no_stopsignal_test.go
Due: format-go, lint-go, typos

docs: add USER design document
  design-docs/34-user-instructions.md
  design-docs/README.md
Due: typos

docs: add USER design document (#381)
  design-docs/34-user-instructions.md
  design-docs/README.md
Due: typos

feat: add tally/stateful-root-runtime rule (#382)
  README.md
  RULES.md
  docs/index.md
  docs/rules/tally/index.md
  docs/rules/tally/stateful-root-runtime.md
  internal/facts/facts.go
  internal/facts/facts_test.go
  internal/integration/__snapshots__/TestLint_stateful-root-runtime_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/stateful-root-runtime/Dockerfile
  internal/rules/hadolint/dl3002.go
  internal/rules/hadolint/dl3002_test.go
  internal/rules/tally/__snapshots__/TestStatefulRootRuntimeMetadata_1.snap.json
  internal/rules/tally/stateful_root_runtime.go
  internal/rules/tally/stateful_root_runtime_test.go
Due: format-go, lint-go, typos

fix: use StageFacts.EffectiveUser for parent stage lookup
  internal/rules/tally/stateful_root_runtime.go
Due: format-go, lint-go

fix: walk stage-ref chain for non-root base detection
  internal/rules/tally/stateful_root_runtime.go
  internal/rules/tally/stateful_root_runtime_test.go
Due: format-go, lint-go

fix: respect ENTRYPOINT/CMD semantics for privilege-drop suppression
  internal/facts/facts.go
  internal/facts/facts_test.go
  internal/rules/tally/stateful_root_runtime.go
  internal/rules/tally/stateful_root_runtime_test.go
Due: format-go, lint-go

fix: resolve relative WORKDIR and COPY/ADD destinations before state-path check
  internal/rules/tally/stateful_root_runtime.go
  internal/rules/tally/stateful_root_runtime_test.go
Due: format-go, lint-go

fix: use word-boundary regex for privilege-drop tool matching
  internal/facts/facts.go
Due: format-go, lint-go

fix: skip option tokens more robustly in findMkdirStatePaths
  internal/rules/tally/stateful_root_runtime.go
  internal/rules/tally/stateful_root_runtime_test.go
Due: format-go, lint-go

fix: detect inherited VOLUME/WORKDIR from parent stages
  internal/rules/tally/stateful_root_runtime.go
  internal/rules/tally/stateful_root_runtime_test.go
Due: format-go, lint-go

fix: document cross-rule interaction with DL3002
  docs/rules/tally/stateful-root-runtime.md
  internal/rules/tally/stateful_root_runtime.go
Due: format-go, lint-go, typos

fix: handle ENTRYPOINT/CMD override and inheritance semantics
  internal/facts/facts.go
  internal/facts/facts_test.go
  internal/rules/tally/stateful_root_runtime_test.go
Due: format-go, lint-go

fix: update VSCode smoke test expected diagnostics count 234 → 235
  _integrations/vscode-tally/test/e2e/smoke.test.ts
Due: typos

fix: restrict non-root image heuristic to external base refs
  internal/rules/tally/stateful_root_runtime.go
  internal/rules/tally/stateful_root_runtime_test.go
Due: format-go, lint-go

fix: resolve inherited WORKDIR across full stage-ref chain
  internal/rules/tally/stateful_root_runtime.go
  internal/rules/tally/stateful_root_runtime_test.go
Due: format-go, lint-go

feat: add tally/stateful-root-runtime rule (#383)
  README.md
  RULES.md
  _integrations/vscode-tally/test/e2e/smoke.test.ts
  docs/index.md
  docs/rules/tally/index.md
  docs/rules/tally/stateful-root-runtime.md
  internal/facts/facts.go
  internal/facts/facts_test.go
  internal/integration/__snapshots__/TestLint_stateful-root-runtime_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/stateful-root-runtime/Dockerfile
  internal/rules/hadolint/dl3002.go
  internal/rules/hadolint/dl3002_test.go
  internal/rules/tally/__snapshots__/TestStatefulRootRuntimeMetadata_1.snap.json
  internal/rules/tally/stateful_root_runtime.go
  internal/rules/tally/stateful_root_runtime_test.go
Due: format-go, lint-go, typos

docs: move php container rules into design docs
  design-docs/35-php-container-rules.md
  design-docs/README.md
Due: typos

docs: add composer packaging appendix
  design-docs/35-php-container-rules.md
  design-docs/README.md
Due: typos

docs: move PHP container rules proposal into design-docs (#385)
  design-docs/35-php-container-rules.md
  design-docs/README.md
Due: typos

feat: add tally/prefer-canonical-stopsignal rule (#386)
  README.md
  RULES.md
  docs/index.md
  docs/rules/tally/index.md
  docs/rules/tally/prefer-canonical-stopsignal.md
  internal/integration/__snapshots__/TestFix_prefer-canonical-stopsignal-cross-no-ungraceful_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-canonical-stopsignal-lowercase_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-canonical-stopsignal-no-fix_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-canonical-stopsignal-numeric_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-canonical-stopsignal-prefix_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-canonical-stopsignal-quoted_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-canonical-stopsignal-rtmin_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_prefer-canonical-stopsignal_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/prefer-canonical-stopsignal/Dockerfile
  internal/rules/tally/no_ungraceful_stopsignal.go
  internal/rules/tally/no_ungraceful_stopsignal_test.go
  internal/rules/tally/prefer_canonical_stopsignal.go
  internal/rules/tally/prefer_canonical_stopsignal_test.go
  internal/rules/tally/stopsignal.go
  internal/rules/tally/stopsignal_test.go
Due: format-go, lint-go, typos

fix: use signal name constants instead of string literals
  internal/rules/tally/no_ungraceful_stopsignal.go
  internal/rules/tally/stopsignal.go
Due: format-go, lint-go

fix: harden signalEditLocation for CRLF and multi-line spans
  internal/rules/tally/stopsignal.go
  internal/rules/tally/stopsignal_test.go
Due: format-go, lint-go

Path conditions:
  format-go: any of: **/*.go
  lint-go: any of: **/*.go
  ts-typecheck: any of: extensions/vscode-tally/**/*.ts and ^extensions/vscode\-tally/
  ts-lint: any of: extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts} and ^extensions/vscode\-tally/
  ts-format: any of: *.{js,ts,cjs,mjs,mts,cts,jsx,tsx} and ^extensions/vscode\-tally/
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  format-yml: any of: {.yamlfmt,*.yml,*.yaml}
  typos: any of: *.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}
  codecov: any of: .codecov.yml
  actionlint: any of: .github/workflows/*.{yaml,yml}
  commitlint-config: any of: .commitlintrc.yaml
