Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

format-go:
  run: gofmt -w -s {staged_files}
  stage_fixed: true

lint-go:
  run: GOEXPERIMENT=jsonv2 make lint-fix
  stage_fixed: true

ts-typecheck:
  run: bunx @typescript/native-preview --noEmit

ts-lint:
  run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
  stage_fixed: true

ts-format:
  run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
  stage_fixed: true

taplo:
  run: bunx -y -q @taplo/cli format {staged_files}
  stage_fixed: true

yamllint:
  run: uvx yamllint {staged_files}

format-yml:
  run: yamlfmt {staged_files}
  stage_fixed: true

typos:
  run: uv tool run typos==1.43.4 --force-exclude {staged_files}

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

actionlint:
  run: actionlint {staged_files}

commitlint-config:
  run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml

test(vscode): address review feedback on UI tests
  .github/workflows/vscode-extension.yml
  _integrations/vscode-tally/tests-ui/status-bar.spec.ts
  _integrations/vscode-tally/tests-ui/utils_code_server.ts
Due: yamllint, format-yml, typos, actionlint

test(vscode): honor TALLY_BIN override in UI test setup
  _integrations/vscode-tally/tests-ui/extension.setup.ts
Due: typos

ci(vscode): install code-server native build deps
  .github/workflows/vscode-extension.yml
Due: yamllint, format-yml, typos, actionlint

test(vscode): address CodeRabbit + Greptile review feedback
  .github/workflows/vscode-extension.yml
  _integrations/vscode-tally/tests-ui/code-actions.spec.ts
  _integrations/vscode-tally/tests-ui/diagnostics.spec.ts
  _integrations/vscode-tally/tests-ui/extension.setup.ts
  _integrations/vscode-tally/tests-ui/fix-all.spec.ts
  _integrations/vscode-tally/tests-ui/fixtures.ts
  _integrations/vscode-tally/tests-ui/format.spec.ts
  _integrations/vscode-tally/tests-ui/utils.ts
  _integrations/vscode-tally/tests-ui/utils_code_server.ts
Due: yamllint, format-yml, typos, actionlint

test(vscode): fix SIGKILL exit-listener race in stopCodeServer
  _integrations/vscode-tally/src/vendor/pythonEnvsApi.d.ts
  _integrations/vscode-tally/tests-ui/utils_code_server.ts
Due: typos

test(vscode): add Playwright + code-server UI tests (#835)
  .github/workflows/vscode-extension.yml
  _integrations/vscode-tally/.gitignore
  _integrations/vscode-tally/.vscodeignore
  _integrations/vscode-tally/DEVELOPMENT.md
  _integrations/vscode-tally/bun.lock
  _integrations/vscode-tally/package.json
  _integrations/vscode-tally/playwright.config.ts
  _integrations/vscode-tally/src/vendor/pythonEnvsApi.d.ts
  _integrations/vscode-tally/tests-ui/code-actions.spec.ts
  _integrations/vscode-tally/tests-ui/diagnostics.spec.ts
  _integrations/vscode-tally/tests-ui/extension.setup.ts
  _integrations/vscode-tally/tests-ui/extension.teardown.ts
  _integrations/vscode-tally/tests-ui/fix-all.spec.ts
  _integrations/vscode-tally/tests-ui/fixtures.ts
  _integrations/vscode-tally/tests-ui/fixtures/Dockerfile
  _integrations/vscode-tally/tests-ui/format.spec.ts
  _integrations/vscode-tally/tests-ui/run-playwright.mjs
  _integrations/vscode-tally/tests-ui/status-bar.spec.ts
  _integrations/vscode-tally/tests-ui/tsconfig.json
  _integrations/vscode-tally/tests-ui/utils.ts
  _integrations/vscode-tally/tests-ui/utils_code_server.ts
Due: yamllint, format-yml, typos, actionlint

chore(deps): complete backoff v5 -> v6 migration
  .typos.toml
  go.mod
  go.sum
  internal/registry/async_resolver.go
Due: format-go, lint-go, typos

chore: go mod tidy
  go.mod
  go.sum
Due: none

docs: sync hadolint rules from upstream
  internal/rules/hadolint-rules.json
Due: typos

chore: lint
  design-docs/13-ai-autofix-acp.md
Due: typos

chore: bun --bun
  .github/workflows/release.yml
  .github/workflows/vscode-extension.yml
Due: yamllint, format-yml, typos, actionlint

chore: lint
  _integrations/vscode-tally/src/lsp/client.ts
Due: typos

chore: refresh dependency maintenance
  .github/workflows/release.yml
  .github/workflows/vscode-extension.yml
  .golangci.yaml
  _integrations/vscode-tally/bun.lock
  _integrations/vscode-tally/package.json
  _integrations/vscode-tally/src/lsp/client.ts
  _integrations/vscode-tally/tests-ui/utils.ts
  _tools/go.mod
  _tools/go.sum
  go.mod
  go.sum
  internal/registry/async_resolver.go
  internal/rules/hadolint-rules.json
Due: format-go, lint-go, yamllint, format-yml, typos, actionlint

fix: stabilize VS Code UI file opening
  _integrations/vscode-tally/tests-ui/utils.ts
Due: typos

fix: run VS Code extension in workspace host
  _integrations/vscode-tally/package.json
Due: typos

fix: activate VS Code UI test extension
  _integrations/vscode-tally/package.json
  _integrations/vscode-tally/tests-ui/utils.ts
Due: typos

fix: run VS Code UI tests on Node 22
  .github/workflows/vscode-extension.yml
Due: yamllint, format-yml, typos, actionlint

chore: replace tsgo preview with released TypeScript 7
  .github/lsp.json
  .kiro/settings/lsp.json
  _integrations/vscode-tally/bun.lock
  _integrations/vscode-tally/package.json
  hk.pkl
Due: typos

Path conditions:
  format-go: any of: **/*.go
  lint-go: any of: **/*.go
  ts-typecheck: any of: extensions/vscode-tally/**/*.ts and ^extensions/vscode\-tally/
  ts-lint: any of: extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts} and ^extensions/vscode\-tally/
  ts-format: any of: *.{js,ts,cjs,mjs,mts,cts,jsx,tsx} and ^extensions/vscode\-tally/
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  format-yml: any of: {.yamlfmt,*.yml,*.yaml}
  typos: any of: *.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}
  codecov: any of: .codecov.yml
  actionlint: any of: .github/workflows/*.{yaml,yml}
  commitlint-config: any of: .commitlintrc.yaml
