Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

.lefthook.yml:

# yaml-language-server: =https://json.schemastore.org/lefthook.json
---
output:
  # - summary # Print summary block (successful and failed steps)
  # - empty_summary # Print summary heading when there are no steps to run
  - failure # Print failed steps printing
# - skips # Print "skip" (i.e. no files matched)
assert_lefthook_installed: true
pre-commit:
  commands:
    format-go:
      glob: "**/*.go"
      run: gofmt -w -s {staged_files}
      stage_fixed: true
    lint-go:
      glob: "**/*.go"
      run: GOEXPERIMENT=jsonv2 make lint-fix
      stage_fixed: true
    ts-typecheck:
      glob: "extensions/vscode-tally/**/*.ts"
      run: bunx @typescript/native-preview --noEmit
      root: extensions/vscode-tally
    ts-lint:
      glob: "extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts}"
      run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
      stage_fixed: true
      root: extensions/vscode-tally
    ts-format:
      glob: "*.{js,ts,cjs,mjs,mts,cts,jsx,tsx}"
      run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
      stage_fixed: true
      root: extensions/vscode-tally
    taplo:
      glob: "**/*.toml"
      run: bunx -y -q @taplo/cli format {staged_files}
      stage_fixed: true
    rumdl:
      glob: "**/*.md"
      exclude: "**/__snapshots__/**"
      run: uv tool run rumdl==0.1.17 check --fix --config .rumdl.toml --output-format concise {staged_files}
      stage_fixed: true
    yamllint:
      glob: "*.{yml,yaml}"
      run: uvx yamllint {staged_files}
    format-yml:
      glob: "{.yamlfmt,*.yml,*.yaml}"
      run: yamlfmt {staged_files}
      stage_fixed: true
    typos:
      glob: "*.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}"
      run: uv tool run typos==1.43.4 --force-exclude {staged_files}
    codecov:
      glob: ".codecov.yml"
      run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate
    # renovate:
    #   glob: "renovate.json"
    #   run: npx -y -q -y --package renovate renovate-config-validator renovate.json
    actionlint:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}
    commitlint-config:
      glob: ".commitlintrc.yaml"
      run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml
commit-msg:
  commands:
    "lint commit message":
      run: npx -y -q commitlint --edit {1}
    "check spelling":
      run: uv tool run typos==1.43.4 {1}
post-merge:
  files: "git diff-tree -r --name-only --no-commit-id ORIG_HEAD HEAD"
  commands:
    delete-merged-branches:
      run: git branch --merged | grep -Ev '\*|master|main|dev|develop|development|stag|staging|prod|production' | xargs git branch -d; git fetch --prune;
pre-push:
  parallel: true
  jobs:
    - name: build
      run: GOEXPERIMENT=jsonv2 make build
    - name: deadcode
      run: GOEXPERIMENT=jsonv2 make deadcode
    - name: test
      run: GOEXPERIMENT=jsonv2 make test
    - name: validate-hadolint-status
      run: ./scripts/validate-hadolint-status.sh
    - name: validate-buildkit-rules
      run: GOEXPERIMENT=jsonv2 ./scripts/validate-buildkit-rules.sh

fix: use stable basename for target file across all prompt rounds
  internal/rules/tally/prefer_multi_stage_build_fix.go
Due: format-go, lint-go

fix: include want/got details in ENV, LABEL, HEALTHCHECK validators
  internal/rules/tally/prefer_multi_stage_build_fix.go
Due: format-go, lint-go

refactor(ai): generalize AutoFix objective model beyond MultiStageResolveData (#329)
  cmd/tally/cmd/lint.go
  internal/ai/autofix/__snapshots__/TestBuildRound1Prompt_FileContext_Snapshot_1.snap.md
  internal/ai/autofix/blocking.go
  internal/ai/autofix/parse.go
  internal/ai/autofix/parse_test.go
  internal/ai/autofix/prompt.go
  internal/ai/autofix/prompt_test.go
  internal/ai/autofix/resolver.go
  internal/ai/autofix/resolver_test.go
  internal/ai/autofix/validate.go
  internal/ai/autofix/validate_runtime_test.go
  internal/ai/autofixdata/autofixdata.go
  internal/ai/autofixdata/objective.go
  internal/ai/autofixdata/prompt.go
  internal/rules/tally/prefer_multi_stage_build.go
  internal/rules/tally/prefer_multi_stage_build_fix.go
  internal/rules/tally/prefer_multi_stage_build_fix_runtime_test.go
  internal/rules/tally/prefer_multi_stage_build_fix_test.go
  internal/rules/tally/prefer_multi_stage_build_test.go
Due: format-go, lint-go, typos

chore(vscode): downgrade minimum VSCode version to 1.106
  _integrations/vscode-tally/bun.lock
  _integrations/vscode-tally/package.json
  renovate.json
Due: typos

chore(vscode): downgrade minimum VSCode version to 1.106 (#333)
  _integrations/vscode-tally/bun.lock
  _integrations/vscode-tally/package.json
  renovate.json
Due: typos

zed: set extension version to 0.28.0
  _integrations/zed-tally/Cargo.toml
  _integrations/zed-tally/extension.toml
Due: taplo, typos

Add Claude Code GitHub Actions workflow
  .github/workflows/claude.yml
Due: yamllint, format-yml, typos, actionlint

fix: address PR review comment
  internal/facts/directive.go
  internal/facts/facts_test.go
  internal/linter/linter.go
  internal/testutil/testutil.go
Due: format-go, lint-go

docs: fix formatting
  AGENTS.md
  design-docs/32-gpu-container-rules.md
Due: typos

feat: add reusable facts framework for rules
  AGENTS.md
  CLAUDE.md
  internal/facts/doc.go
  internal/facts/facts.go
  internal/facts/facts_test.go
  internal/linter/linter.go
  internal/rules/rule.go
  internal/rules/tally/prefer_multi_stage_build.go
  internal/rules/tally/prefer_package_cache_mounts.go
  internal/rules/tally/require_secret_mounts.go
  internal/rules/tally/sort_packages.go
  internal/shell/command.go
  internal/shell/command_test.go
  internal/testutil/testutil.go
Due: format-go, lint-go, typos

fix: dedupe Dockerfile run source helpers
  internal/facts/facts.go
  internal/rules/tally/newline_per_chained_call.go
  internal/rules/tally/sort_packages.go
  internal/shell/dockerfile_source.go
  internal/shell/dockerfile_source_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/rules/tally/require_secret_mounts.go
Due: format-go, lint-go

fix: address PR review comment
  internal/rules/tally/prefer_multi_stage_build.go
  internal/rules/tally/prefer_multi_stage_build_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/facts/facts.go
  internal/facts/facts_test.go
  internal/rules/tally/prefer_package_cache_mounts.go
Due: format-go, lint-go

fix: address PR review comment
  internal/rules/tally/prefer_package_cache_mounts.go
  internal/rules/tally/prefer_package_cache_mounts_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/facts/facts.go
  internal/rules/tally/prefer_package_cache_mounts.go
Due: format-go, lint-go

test: remove duplicate shell directive helper
  internal/facts/facts_test.go
Due: format-go, lint-go

test: honor shell directives in MakeLintInput
  internal/testutil/testutil.go
  internal/testutil/testutil_test.go
Due: format-go, lint-go

fix: track all cache-disabling env bindings
  internal/facts/facts.go
  internal/facts/facts_test.go
  internal/rules/tally/prefer_package_cache_mounts.go
  internal/rules/tally/prefer_package_cache_mounts_test.go
Due: format-go, lint-go

style: rename shadowing loop variable
  internal/facts/directive.go
Due: format-go, lint-go

docs: clarify heuristic platform detection
  internal/facts/facts.go
  internal/semantic/stage_info.go
Due: format-go, lint-go

feat: add reusable facts framework for rules (#336)
  AGENTS.md
  CLAUDE.md
  design-docs/32-gpu-container-rules.md
  internal/facts/directive.go
  internal/facts/doc.go
  internal/facts/facts.go
  internal/facts/facts_test.go
  internal/linter/linter.go
  internal/rules/rule.go
  internal/rules/tally/newline_per_chained_call.go
  internal/rules/tally/prefer_multi_stage_build.go
  internal/rules/tally/prefer_multi_stage_build_test.go
  internal/rules/tally/prefer_package_cache_mounts.go
  internal/rules/tally/prefer_package_cache_mounts_test.go
  internal/rules/tally/require_secret_mounts.go
  internal/rules/tally/sort_packages.go
  internal/semantic/stage_info.go
  internal/shell/command.go
  internal/shell/command_test.go
  internal/shell/dockerfile_source.go
  internal/shell/dockerfile_source_test.go
  internal/testutil/testutil.go
  internal/testutil/testutil_test.go
Due: format-go, lint-go, typos

fix: default shell variant to Bash instead of POSIX
  internal/facts/facts.go
  internal/integration/__snapshots__/TestLint_invalid-json-form-shell-test_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/invalid-json-form-shell-test/Dockerfile
  internal/semantic/builder.go
  internal/semantic/builder_test.go
  internal/semantic/stage_info.go
Due: format-go, lint-go, typos

fix: default shell variant to Bash instead of POSIX (#338)
  internal/facts/facts.go
  internal/integration/__snapshots__/TestLint_invalid-json-form-shell-test_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/invalid-json-form-shell-test/Dockerfile
  internal/semantic/builder.go
  internal/semantic/builder_test.go
  internal/semantic/stage_info.go
Due: format-go, lint-go, typos

ci: add Windows smoke test and ShellCheck version assertion to release
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

ci: add Windows smoke test and ShellCheck version assertion to release (#340)
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

zed: set extension version to 0.28.1
  _integrations/zed-tally/Cargo.toml
  _integrations/zed-tally/extension.toml
Due: taplo, typos

fix: skip WorkdirRelativePath for variable/ARG paths
  internal/rules/buildkit/workdir_relative_path.go
  internal/rules/buildkit/workdir_relative_path_test.go
Due: format-go, lint-go

fix: skip WorkdirRelativePath for variable/ARG paths (#341)
  internal/rules/buildkit/workdir_relative_path.go
  internal/rules/buildkit/workdir_relative_path_test.go
Due: format-go, lint-go

fix: suppress DL3057 when final stage has no CMD/ENTRYPOINT
  docs/rules/hadolint/DL3057.md
  internal/integration/__snapshots__/TestFixPowerShellAlpine_1.snap.md
  internal/integration/__snapshots__/TestLint_dl3057-suppress-no-cmd-entrypoint_1.snap.json
  internal/integration/__snapshots__/TestLint_slow-checks-healthcheck-missing-confirmed_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/dl3057-suppress-no-cmd-entrypoint/Dockerfile
  internal/lsptest/__snapshots__/TestLSP_DiagnosticsOnDidOpen_1.snap.json
  internal/rules/hadolint/dl3057.go
  internal/rules/hadolint/dl3057_test.go
Due: format-go, lint-go, typos

fix: restrict no-CMD/ENTRYPOINT suppression to external base images
  docs/rules/hadolint/DL3057.md
  internal/rules/hadolint/dl3057.go
  internal/rules/hadolint/dl3057_test.go
Due: format-go, lint-go, typos

fix: suppress DL3057 when final stage has no CMD/ENTRYPOINT (#342)
  docs/rules/hadolint/DL3057.md
  internal/integration/__snapshots__/TestFixPowerShellAlpine_1.snap.md
  internal/integration/__snapshots__/TestLint_dl3057-suppress-no-cmd-entrypoint_1.snap.json
  internal/integration/__snapshots__/TestLint_slow-checks-healthcheck-missing-confirmed_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/dl3057-suppress-no-cmd-entrypoint/Dockerfile
  internal/lsptest/__snapshots__/TestLSP_DiagnosticsOnDidOpen_1.snap.json
  internal/rules/hadolint/dl3057.go
  internal/rules/hadolint/dl3057_test.go
Due: format-go, lint-go, typos

docs: sync hadolint rules from upstream
  RULES.md
  internal/rules/hadolint-rules.json
Due: typos

feat: add tally/prefer-copy-chmod rule and simplify chmod mode handling
  .claude/skills/create-tally-rule/SKILL.md
  README.md
  RULES.md
  docs/rules/tally/index.md
  docs/rules/tally/prefer-copy-chmod.md
  internal/integration/__snapshots__/TestFixCrossRuleCopyChmodHeredoc_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixHeredocCombined_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-copy-chmod-basic_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-copy-chmod-dir-dest_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-copy-chmod-with-chown_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-copy-heredoc-with-chmod_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_heredoc-combined_1.snap.json
  internal/integration/__snapshots__/TestLint_prefer-copy-chmod_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/fix_scenarios_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/prefer-copy-chmod/Dockerfile
  internal/lsptest/__snapshots__/TestLSP_FormattingRealWorld_1.snap.Dockerfile
  internal/rules/tally/__snapshots__/TestBuildCopyHeredoc_with_octal_chmod_1.snap.Dockerfile
  internal/rules/tally/__snapshots__/TestBuildCopyHeredoc_with_symbolic_chmod_1.snap.Dockerfile
  internal/rules/tally/__snapshots__/TestPreferCopyChmodRule_Metadata_1.snap.json
  internal/rules/tally/prefer_copy_chmod.go
  internal/rules/tally/prefer_copy_chmod_test.go
  internal/rules/tally/prefer_copy_heredoc.go
  internal/rules/tally/prefer_copy_heredoc_test.go
  internal/shell/file_creation.go
  internal/shell/file_creation_test.go
Due: format-go, lint-go, typos

fix: update VSCode smoke test expected diagnostics for prefer-copy-chmod
  _integrations/vscode-tally/test/e2e/smoke.test.ts
Due: typos

fix: resolve relative COPY destinations against WORKDIR
  internal/rules/tally/prefer_copy_chmod.go
  internal/rules/tally/prefer_copy_chmod_test.go
Due: format-go, lint-go

fix: allow COPY heredoc + RUN chmod detection
  internal/rules/tally/prefer_copy_chmod.go
  internal/rules/tally/prefer_copy_chmod_test.go
Due: format-go, lint-go

fix: detect exec-form RUN chmod (e.g. RUN ["chmod", "+x", "/f"])
  internal/rules/tally/prefer_copy_chmod.go
  internal/rules/tally/prefer_copy_chmod_test.go
Due: format-go, lint-go

fix: parse symbolic modes before rejecting dash-prefixed flags
  internal/rules/tally/prefer_copy_chmod.go
  internal/rules/tally/prefer_copy_chmod_test.go
Due: format-go, lint-go

fix: don't skip non-POSIX stages entirely for exec-form chmod
  internal/rules/tally/prefer_copy_chmod.go
  internal/rules/tally/prefer_copy_chmod_test.go
Due: format-go, lint-go
