Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

format-go:
  run: gofmt -w -s {staged_files}
  stage_fixed: true

lint-go:
  run: GOEXPERIMENT=jsonv2 make lint-fix
  stage_fixed: true

ts-typecheck:
  run: bunx @typescript/native-preview --noEmit

ts-lint:
  run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
  stage_fixed: true

ts-format:
  run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
  stage_fixed: true

taplo:
  run: bunx -y -q @taplo/cli format {staged_files}
  stage_fixed: true

yamllint:
  run: uvx yamllint {staged_files}

format-yml:
  run: yamlfmt {staged_files}
  stage_fixed: true

typos:
  run: uv tool run typos==1.43.4 --force-exclude {staged_files}

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

actionlint:
  run: actionlint {staged_files}

commitlint-config:
  run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml

docs: drop buildcontext from buildinvocation
  design-docs/38-buildinvocation-bake.md
Due: typos

docs: clarify bake discovery and parse flow
  design-docs/38-buildinvocation-bake.md
Due: typos

docs: enumerate invocation and context kinds
  design-docs/38-buildinvocation-bake.md
Due: typos

docs: capture compose runtime invocation metadata
  design-docs/38-buildinvocation-bake.md
Due: typos

docs: address invocation design review feedback
  design-docs/38-buildinvocation-bake.md
Due: typos

[codex] Tighten BuildInvocation design proposal (#553)
  design-docs/38-buildinvocation-bake.md
Due: typos

fix: address PR review feedback
  internal/integration/__snapshots__/TestFixPowerShellAlpine_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixPowerShellAlpine_1.snap.md
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_prefer-package-cache-mounts_1.snap.json
  internal/rules/cache_mounts_data.go
  internal/rules/tally/php/enable_opcache_in_production.go
  internal/rules/tally/php/enable_opcache_in_production_test.go
  internal/rules/tally/php/helpers.go
  internal/rules/tally/php/no_xdebug_in_final_image.go
  internal/rules/tally/php/no_xdebug_in_final_image_test.go
  internal/rules/tally/prefer_package_cache_mounts.go
  internal/rules/tally/prefer_package_cache_mounts_resolver.go
  internal/rules/tally/prefer_package_cache_mounts_test.go
Due: format-go, lint-go, typos

refactor(php): canonical package-manager helpers + fix cache-mounts conflict eviction (#552)
  internal/fix/fixer_precedence_test.go
  internal/integration/__snapshots__/TestFixPowerShellAlpine_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixPowerShellAlpine_1.snap.md
  internal/integration/__snapshots__/TestFixRealWorldPHPFPM56_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorldPHPFPM56_1.snap.md
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_php-no-xdebug-in-final-image-apt-get-comment-out_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_prefer-package-cache-mounts_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/fix_scenarios_test.go
  internal/integration/testdata/real-world-fix-php-fpm-56/Dockerfile
  internal/rules/cache_mounts_data.go
  internal/rules/tally/php/enable_opcache_in_production.go
  internal/rules/tally/php/enable_opcache_in_production_test.go
  internal/rules/tally/php/helpers.go
  internal/rules/tally/php/helpers_test.go
  internal/rules/tally/php/no_xdebug_in_final_image.go
  internal/rules/tally/php/no_xdebug_in_final_image_test.go
  internal/rules/tally/prefer_package_cache_mounts.go
  internal/rules/tally/prefer_package_cache_mounts_resolver.go
  internal/rules/tally/prefer_package_cache_mounts_test.go
  internal/shell/count.go
  internal/shell/count_test.go
Due: format-go, lint-go, typos

fix: address PR review comment
  cmd/tally/cmd/lint.go
  cmd/tally/cmd/lint_test.go
Due: format-go, lint-go

fix: scope LSP code actions by requested range
  internal/lspserver/codeactions.go
  internal/lspserver/codeactions_test.go
  internal/lspserver/opendoc.go
  internal/lspserver/suppress.go
Due: format-go, lint-go

fix: address PR review comment
  cmd/tally/cmd/lint.go
  cmd/tally/cmd/lint_test.go
  internal/async/types.go
  internal/linter/linter.go
  internal/linter/linter_test.go
Due: format-go, lint-go

fix: avoid context availability probes for globs
  internal/facts/facts.go
  internal/rules/buildkit/copy_ignored_file_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/invocation/bake.go
  internal/invocation/bake_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/lspserver/settings.go
  internal/lspserver/settings_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/invocation/bake.go
Due: format-go, lint-go

fix: address unresolved PR review comments
  cmd/tally/cmd/lint.go
  cmd/tally/cmd/lint_test.go
  internal/facts/facts.go
  internal/integration/orchestrator_test.go
  internal/invocation/bake.go
  internal/invocation/bake_test.go
  internal/invocation/compose.go
  internal/invocation/compose_test.go
  internal/invocation/context.go
  internal/invocation/context_test.go
  internal/invocation/helpers.go
  internal/invocation/helpers_test.go
  internal/invocation/model.go
  internal/linter/linter.go
  internal/linter/linter_test.go
  internal/lspserver/codeactions.go
  internal/lspserver/diagnostics.go
  internal/lspserver/server.go
  internal/lspserver/settings.go
  internal/reporter/text.go
  internal/reporter/text_test.go
  internal/rules/buildkit/copy_ignored_file_test.go
  internal/semantic/builder.go
  internal/semantic/builder_test.go
Due: format-go, lint-go

fix: make invocation path test Windows-safe
  internal/invocation/helpers_test.go
Due: format-go, lint-go

fix: address invocation review feedback
  cmd/tally/cmd/lint.go
  cmd/tally/cmd/lint_test.go
  internal/invocation/bake.go
  internal/invocation/bake_test.go
  internal/invocation/compose.go
  internal/invocation/compose_test.go
  internal/invocation/context.go
  internal/invocation/context_test.go
  internal/invocation/helpers.go
  internal/invocation/helpers_test.go
  internal/invocation/model.go
  internal/linter/linter.go
  internal/linter/linter_test.go
  internal/lspserver/diagnostics.go
  internal/lspserver/settings.go
  internal/reporter/text.go
  internal/reporter/text_test.go
  internal/rules/buildkit/copy_ignored_file_test.go
  internal/semantic/builder.go
  internal/semantic/builder_from_arg_eval_test.go
  internal/semantic/builder_test.go
Due: format-go, lint-go

fix: reject multi-file bake setups
  internal/invocation/bake.go
  internal/invocation/bake_test.go
Due: format-go, lint-go

docs: clarify context source file probe
  internal/facts/facts.go
Due: format-go, lint-go

refactor: derive observable context files from facts
  internal/facts/facts.go
  internal/facts/facts_test.go
  internal/facts/observable_files.go
Due: format-go, lint-go

ci: add mehen metrics report
  .github/workflows/ci.yml
Due: yamllint, format-yml, typos, actionlint

docs: document build invocations
  _docs/docs.json
  _docs/guides/auto-fix.mdx
  _docs/guides/build-invocations.mdx
  _docs/guides/ci-cd.mdx
  _docs/guides/configuration.mdx
  _docs/guides/exit-codes.mdx
  _docs/guides/ide-integration.mdx
  _docs/guides/output-formats.mdx
  _docs/index.mdx
  _docs/introduction.mdx
  _docs/quickstart.mdx
  _docs/rules/buildkit/CopyIgnoredFile.mdx
Due: typos

docs: sync hadolint rules from upstream
  internal/rules/hadolint-rules.json
Due: typos

docs: add dockerfilelint rule gap analysis for tally
  design-docs/36-dockerfilelint-gap-analysis.md
Due: typos

docs: add dockerfilelint vs Tally gap analysis (#567)
  design-docs/36-dockerfilelint-gap-analysis.md
Due: typos

docs: dockadvisor parity analysis (#566)
  design-docs/39-dockadvisor-parity-analysis.md
Due: typos

ci: add mehen metrics report (#562)
  .github/workflows/ci.yml
Due: yamllint, format-yml, typos, actionlint

fix: linting setup
  .github/workflows/ci.yml
  design-docs/36-dockerfilelint-gap-analysis.md
  design-docs/39-dockadvisor-parity-analysis.md
Due: yamllint, format-yml, typos, actionlint

chore: update snapshot
  internal/integration/__snapshots__/TestFixRealWorldMetalama_1.snap.Dockerfile
Due: none

chore: update AI settings
  .agents/skills/add-buildkit-fix/SKILL.md
  .agents/skills/create-tally-customlint/SKILL.md
  .agents/skills/create-tally-customlint/references/analyzer-patterns.md
  .agents/skills/port-hadolint-rule/SKILL.md
  .agents/skills/port-shellcheck-rule/SKILL.md
  .codex/config.toml
Due: taplo, typos

feat: add label metadata lint rules
  _docs/docs.json
  _docs/rules/overview.mdx
  _docs/rules/tally/gpu/cuda-version-mismatch.mdx
  _docs/rules/tally/gpu/no-buildtime-gpu-queries.mdx
  _docs/rules/tally/gpu/no-container-runtime-in-image.mdx
  _docs/rules/tally/gpu/no-hardcoded-visible-devices.mdx
  _docs/rules/tally/gpu/no-redundant-cuda-install.mdx
  _docs/rules/tally/gpu/prefer-minimal-driver-capabilities.mdx
  _docs/rules/tally/gpu/prefer-runtime-final-stage.mdx
  _docs/rules/tally/gpu/prefer-uv-over-conda.mdx
  _docs/rules/tally/labels/no-duplicate-keys.mdx
  _docs/rules/tally/labels/valid-key.mdx
  _docs/rules/tally/powershell/error-action-preference.mdx
  _docs/rules/tally/powershell/prefer-shell-instruction.mdx
  _docs/rules/tally/windows/no-chown-flag.mdx
  _docs/rules/tally/windows/no-run-mounts.mdx
  _docs/rules/tally/windows/no-stopsignal.mdx
  design-docs/40-label-rules-research.md
  internal/config/config_test.go
  internal/config/validation.go
  internal/facts/facts.go
  internal/facts/facts_test.go
  internal/integration/__snapshots__/TestLint_labels-no-duplicate-keys_1.snap.json
  internal/integration/__snapshots__/TestLint_labels-valid-key_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/labels-no-duplicate-keys/Dockerfile
  internal/integration/testdata/labels-valid-key/Dockerfile
  internal/rules/all/all.go
  internal/rules/tally/labels/no_duplicate_keys.go
  internal/rules/tally/labels/no_duplicate_keys_test.go
  internal/rules/tally/labels/valid_key.go
  internal/rules/tally/labels/valid_key_test.go
Due: format-go, lint-go, typos

fix: address PR review comment
  internal/facts/facts.go
  internal/facts/facts_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/rules/tally/labels/no_duplicate_keys.go
  internal/rules/tally/labels/no_duplicate_keys_test.go
Due: format-go, lint-go

feat: add fixes for duplicate label keys
  _docs/rules/tally/labels/no-duplicate-keys.mdx
  design-docs/40-label-rules-research.md
  internal/integration/__snapshots__/TestLint_labels-no-duplicate-keys_1.snap.json
  internal/rules/tally/labels/no_duplicate_keys.go
  internal/rules/tally/labels/no_duplicate_keys_test.go
Due: format-go, lint-go, typos

fix: address lint-fix failures
  internal/config/ci.go
  internal/facts/facts.go
  internal/facts/facts_test.go
  internal/rules/tally/labels/no_duplicate_keys_test.go
Due: format-go, lint-go

Add label metadata lint rules (#575)
  _docs/docs.json
  _docs/rules/overview.mdx
  _docs/rules/tally/gpu/cuda-version-mismatch.mdx
  _docs/rules/tally/gpu/no-buildtime-gpu-queries.mdx
  _docs/rules/tally/gpu/no-container-runtime-in-image.mdx
  _docs/rules/tally/gpu/no-hardcoded-visible-devices.mdx
  _docs/rules/tally/gpu/no-redundant-cuda-install.mdx
  _docs/rules/tally/gpu/prefer-minimal-driver-capabilities.mdx
  _docs/rules/tally/gpu/prefer-runtime-final-stage.mdx
  _docs/rules/tally/gpu/prefer-uv-over-conda.mdx
  _docs/rules/tally/labels/no-duplicate-keys.mdx
  _docs/rules/tally/labels/valid-key.mdx
  _docs/rules/tally/powershell/error-action-preference.mdx
  _docs/rules/tally/powershell/prefer-shell-instruction.mdx
  _docs/rules/tally/windows/no-chown-flag.mdx
  _docs/rules/tally/windows/no-run-mounts.mdx
  _docs/rules/tally/windows/no-stopsignal.mdx
  design-docs/40-label-rules-research.md
  internal/config/ci.go
  internal/config/config_test.go
  internal/config/validation.go
  internal/facts/facts.go
  internal/facts/facts_test.go
  internal/integration/__snapshots__/TestLint_labels-no-duplicate-keys_1.snap.json
  internal/integration/__snapshots__/TestLint_labels-valid-key_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/labels-no-duplicate-keys/Dockerfile
  internal/integration/testdata/labels-valid-key/Dockerfile
  internal/rules/all/all.go
  internal/rules/tally/labels/no_duplicate_keys.go
  internal/rules/tally/labels/no_duplicate_keys_test.go
  internal/rules/tally/labels/valid_key.go
  internal/rules/tally/labels/valid_key_test.go
Due: format-go, lint-go, typos

test(acp): add CloseSession/ResumeSession to test agent
  internal/ai/acp/testdata/testagent/main.go
Due: format-go, lint-go

Path conditions:
  format-go: any of: **/*.go
  lint-go: any of: **/*.go
  ts-typecheck: any of: extensions/vscode-tally/**/*.ts and ^extensions/vscode\-tally/
  ts-lint: any of: extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts} and ^extensions/vscode\-tally/
  ts-format: any of: *.{js,ts,cjs,mjs,mts,cts,jsx,tsx} and ^extensions/vscode\-tally/
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  format-yml: any of: {.yamlfmt,*.yml,*.yaml}
  typos: any of: *.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}
  codecov: any of: .codecov.yml
  actionlint: any of: .github/workflows/*.{yaml,yml}
  commitlint-config: any of: .commitlintrc.yaml
