Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

.lefthook.yml:

# yaml-language-server: =https://json.schemastore.org/lefthook.json
---
output:
  # - summary # Print summary block (successful and failed steps)
  # - empty_summary # Print summary heading when there are no steps to run
  - failure # Print failed steps printing
# - skips # Print "skip" (i.e. no files matched)
assert_lefthook_installed: true
pre-commit:
  commands:
    format-go:
      glob: "**/*.go"
      run: gofmt -w -s {staged_files}
      stage_fixed: true
    lint-go:
      glob: "**/*.go"
      run: GOEXPERIMENT=jsonv2 make lint-fix
      stage_fixed: true
    ts-typecheck:
      glob: "extensions/vscode-tally/**/*.ts"
      run: bunx @typescript/native-preview --noEmit
      root: extensions/vscode-tally
    ts-lint:
      glob: "extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts}"
      run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
      stage_fixed: true
      root: extensions/vscode-tally
    ts-format:
      glob: "*.{js,ts,cjs,mjs,mts,cts,jsx,tsx}"
      run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
      stage_fixed: true
      root: extensions/vscode-tally
    taplo:
      glob: "**/*.toml"
      run: bunx -y -q @taplo/cli format {staged_files}
      stage_fixed: true
    rumdl:
      glob: "**/*.md"
      exclude: "**/__snapshots__/**"
      run: uv tool run rumdl==0.1.17 check --fix --config .rumdl.toml --output-format concise {staged_files}
      stage_fixed: true
    yamllint:
      glob: "*.{yml,yaml}"
      run: uvx yamllint {staged_files}
    format-yml:
      glob: "{.yamlfmt,*.yml,*.yaml}"
      run: yamlfmt {staged_files}
      stage_fixed: true
    typos:
      glob: "*.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}"
      run: uv tool run typos==1.43.4 --force-exclude {staged_files}
    codecov:
      glob: ".codecov.yml"
      run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate
    # renovate:
    #   glob: "renovate.json"
    #   run: npx -y -q -y --package renovate renovate-config-validator renovate.json
    actionlint:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}
    commitlint-config:
      glob: ".commitlintrc.yaml"
      run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml
commit-msg:
  commands:
    "lint commit message":
      run: npx -y -q commitlint --edit {1}
    "check spelling":
      run: uv tool run typos==1.43.4 {1}
post-merge:
  files: "git diff-tree -r --name-only --no-commit-id ORIG_HEAD HEAD"
  commands:
    delete-merged-branches:
      run: git branch --merged | grep -Ev '\*|master|main|dev|develop|development|stag|staging|prod|production' | xargs git branch -d; git fetch --prune;
pre-push:
  parallel: true
  jobs:
    - name: build
      run: GOEXPERIMENT=jsonv2 make build
    - name: deadcode
      run: GOEXPERIMENT=jsonv2 make deadcode
    - name: test
      run: GOEXPERIMENT=jsonv2 make test
    - name: validate-hadolint-status
      run: ./scripts/validate-hadolint-status.sh
    - name: validate-buildkit-rules
      run: GOEXPERIMENT=jsonv2 ./scripts/validate-buildkit-rules.sh

feat: better use powershell
  .github/actionlint.yaml
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

feat: multi-arch tags
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

feat: cosign
  .github/workflows/release.yml
  README.md
Due: yamllint, format-yml, typos, actionlint

fix: cosign tag
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

fix: digest parsing
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

feat: sbom via consign
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

feat: attest smbom
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

chore: remove _integrations trigger
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

chore: add cleanup workflow
  .github/workflows/post-pr-cleanup.yml
Due: yamllint, format-yml, typos, actionlint

chore: fixing sbom signing
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

feat: publish official GHCR container images (#296)
  .github/actionlint.yaml
  .github/workflows/post-pr-cleanup.yml
  .github/workflows/release.yml
  README.md
  packaging/docker/linux.Dockerfile
  packaging/docker/windows.Dockerfile
Due: yamllint, format-yml, typos, actionlint

fix: treat HEALTHCHECK NONE as explicit opt-out in DL3057
  internal/integration/__snapshots__/TestLint_slow-checks-healthcheck-none-useless_1.snap.json
  internal/integration/lint_cases_test.go
  internal/rules/hadolint/dl3057.go
  internal/rules/hadolint/dl3057_test.go
Due: format-go, lint-go, typos

fix: remove dead "useless HEALTHCHECK NONE" async path
  internal/rules/hadolint/dl3057.go
  internal/rules/hadolint/dl3057_test.go
Due: format-go, lint-go

test: add cross-rule overlap test for HEALTHCHECK DL3057 + MultipleInstructionsDisallowed
  internal/integration/__snapshots__/TestLint_multiple-healthcheck-dl3057-overlap_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/multiple-healthcheck-dl3057-overlap/Dockerfile
Due: format-go, lint-go, typos

docs: update DL3057 comments and docs to reflect HEALTHCHECK NONE opt-out
  docs/rules/hadolint/DL3057.md
  internal/rules/hadolint/dl3057.go
Due: format-go, lint-go, typos

fix: treat HEALTHCHECK NONE as explicit opt-out in DL3057 (#304)
  docs/rules/hadolint/DL3057.md
  internal/integration/__snapshots__/TestLint_multiple-healthcheck-dl3057-overlap_1.snap.json
  internal/integration/__snapshots__/TestLint_slow-checks-healthcheck-none-useless_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/multiple-healthcheck-dl3057-overlap/Dockerfile
  internal/rules/hadolint/dl3057.go
  internal/rules/hadolint/dl3057_test.go
Due: format-go, lint-go, typos

fix: improve Dockerfile semantic token highlighting
  _integrations/vscode-tally/package.json
  design-docs/31-semantic-token-alignment-with-better-dockerfile-syntax.md
  internal/highlight/dockerfile/tokenize.go
  internal/highlight/dockerfile/tokenize_test.go
Due: format-go, lint-go, typos

fix: address PR review comment
  internal/directive/lex.go
  internal/directive/lex_test.go
  internal/highlight/dockerfile/tokenize.go
Due: format-go, lint-go

fix: address PR review comment
  internal/directive/lex_test.go
  internal/highlight/dockerfile/tokenize_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/directive/lex.go
  internal/directive/lex_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/highlight/dockerfile/tokenize.go
Due: format-go, lint-go

fix: improve Dockerfile semantic token highlighting (#307)
  _integrations/vscode-tally/package.json
  design-docs/31-semantic-token-alignment-with-better-dockerfile-syntax.md
  internal/directive/lex.go
  internal/directive/lex_test.go
  internal/highlight/dockerfile/tokenize.go
  internal/highlight/dockerfile/tokenize_test.go
Due: format-go, lint-go, typos

zed: set extension version to 0.27.1
  _integrations/zed-tally/Cargo.toml
  _integrations/zed-tally/extension.toml
Due: taplo, typos

fix: handle blank lines within comment blocks in newline-between-instructions
  internal/fix/newline_resolver.go
  internal/integration/__snapshots__/TestLint_newline-between-instructions-comment-gap_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/newline-between-instructions-comment-gap/Dockerfile
  internal/rules/tally/newline_between_instructions.go
Due: format-go, lint-go, typos

refactor: extract HasBlankLineBetween helper into sourcemap
  internal/fix/newline_resolver.go
  internal/rules/tally/newline_between_instructions.go
  internal/sourcemap/sourcemap.go
Due: format-go, lint-go

fix: clamp bounds in HasBlankLineBetween to avoid false positives
  internal/sourcemap/effective_test.go
  internal/sourcemap/sourcemap.go
Due: format-go, lint-go

refactor: deduplicate newline gap logic via ComputeNewlineGap
  internal/fix/newline_resolver.go
  internal/rules/tally/newline_between_instructions.go
  internal/sourcemap/sourcemap.go
Due: format-go, lint-go

fix: newline-between-instructions false positive with comment blank lines (#308)
  internal/fix/newline_resolver.go
  internal/integration/__snapshots__/TestLint_newline-between-instructions-comment-gap_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/newline-between-instructions-comment-gap/Dockerfile
  internal/rules/tally/newline_between_instructions.go
  internal/sourcemap/effective_test.go
  internal/sourcemap/sourcemap.go
Due: format-go, lint-go, typos

feat: improve windows powershell shell analysis
  README.md
  RULES.md
  docs/index.md
  docs/rules/tally/index.md
  docs/rules/tally/powershell/prefer-shell-instruction.md
  go.mod
  go.sum
  internal/integration/__snapshots__/TestFixPowerShellPreferShellInstruction_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorldBoostMSVCWindowsContainer_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorldBoostMSVCWindowsContainer_1.snap.md
  internal/integration/__snapshots__/TestFixRealWorldJaracoWindows_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorldTeamCityNanoServerReport_1.snap.md
  internal/integration/__snapshots__/TestFixRealWorldTeamCityNanoServer_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_prefer-shell-instruction_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_scenarios_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/prefer-shell-instruction/Dockerfile
  internal/integration/testdata/real-world-fix-boost-msvc/Dockerfile
  internal/integration/testdata/real-world-fix-jaraco-windows/.tally.toml
  internal/integration/testdata/real-world-fix-jaraco-windows/Dockerfile
  internal/integration/testdata/real-world-fix-teamcity-nanoserver/.tally.toml
  internal/integration/testdata/real-world-fix-teamcity-nanoserver/Dockerfile
  internal/rules/all/all.go
  internal/rules/shellcheck/shellcheck.go
  internal/rules/shellcheck/shellcheck_test.go
  internal/rules/tally/powershell/__snapshots__/TestPreferShellInstructionRule_Metadata_1.snap.json
  internal/rules/tally/powershell/gate.go
  internal/rules/tally/powershell/prefer_shell_instruction.go
  internal/rules/tally/powershell/prefer_shell_instruction_test.go
  internal/semantic/base_image_os_test.go
  internal/semantic/builder.go
  internal/semantic/stage_info.go
  internal/shell/cmd_parser.go
  internal/shell/cmd_parser_nocgo.go
  internal/shell/command.go
  internal/shell/command_test.go
  internal/shell/explicit_shell.go
  internal/shell/explicit_shell_test.go
  internal/shell/shell.go
Due: format-go, lint-go, taplo, typos

test: align teamcity windows fix snapshots with stdin flow
  internal/integration/__snapshots__/TestFixRealWorldTeamCityNanoServer_1.snap.md
  internal/integration/fix_scenarios_test.go
Due: format-go, lint-go, typos

fix: address PR review comment
  internal/shell/explicit_shell.go
  internal/shell/explicit_shell_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/shell/explicit_shell_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/semantic/base_image_os_test.go
  internal/semantic/stage_info.go
Due: format-go, lint-go

fix: address PR review comment
  internal/semantic/builder.go
  internal/semantic/builder_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/integration/__snapshots__/TestLint_prefer-shell-instruction-cross-rules_1.snap.json
  internal/integration/lint_cases_test.go
Due: format-go, lint-go, typos

fix: address PR review comment
  internal/semantic/builder.go
  internal/semantic/stage_info.go
  internal/shell/explicit_shell.go
  internal/shell/explicit_shell_test.go
Due: format-go, lint-go

refactor: share flag-aware RUN source resolution
  internal/dockerfile/parser.go
  internal/dockerfile/parser_helpers_test.go
  internal/rules/tally/powershell/prefer_shell_instruction.go
  internal/rules/tally/powershell/prefer_shell_instruction_test.go
  internal/rules/tally/prefer_package_cache_mounts.go
Due: format-go, lint-go

fix: address PR review comment
  internal/semantic/builder.go
  internal/semantic/stage_info.go
Due: format-go, lint-go

fix: address PR review comment
  internal/semantic/base_image_os_test.go
Due: format-go, lint-go
