Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

.lefthook.yml:

# yaml-language-server: =https://json.schemastore.org/lefthook.json
---
output:
  # - summary # Print summary block (successful and failed steps)
  # - empty_summary # Print summary heading when there are no steps to run
  - failure # Print failed steps printing
# - skips # Print "skip" (i.e. no files matched)
assert_lefthook_installed: true
pre-commit:
  commands:
    format-go:
      glob: "**/*.go"
      run: gofmt -w -s {staged_files}
      stage_fixed: true
    lint-go:
      glob: "**/*.go"
      run: GOEXPERIMENT=jsonv2 make lint-fix
      stage_fixed: true
    ts-typecheck:
      glob: "extensions/vscode-tally/**/*.ts"
      run: bunx @typescript/native-preview --noEmit
      root: extensions/vscode-tally
    ts-lint:
      glob: "extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts}"
      run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
      stage_fixed: true
      root: extensions/vscode-tally
    ts-format:
      glob: "*.{js,ts,cjs,mjs,mts,cts,jsx,tsx}"
      run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
      stage_fixed: true
      root: extensions/vscode-tally
    taplo:
      glob: "**/*.toml"
      run: bunx -y -q @taplo/cli format {staged_files}
      stage_fixed: true
    rumdl:
      glob: "**/*.md"
      exclude: "**/__snapshots__/**"
      run: uv tool run rumdl==0.1.17 check --fix --config .rumdl.toml --output-format concise {staged_files}
      stage_fixed: true
    yamllint:
      glob: "*.{yml,yaml}"
      run: uvx yamllint {staged_files}
    format-yml:
      glob: "{.yamlfmt,*.yml,*.yaml}"
      run: yamlfmt {staged_files}
      stage_fixed: true
    typos:
      glob: "*.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}"
      run: uv tool run typos==1.43.4 --force-exclude {staged_files}
    codecov:
      glob: ".codecov.yml"
      run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate
    # renovate:
    #   glob: "renovate.json"
    #   run: npx -y -q -y --package renovate renovate-config-validator renovate.json
    actionlint:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}
    commitlint-config:
      glob: ".commitlintrc.yaml"
      run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml
commit-msg:
  commands:
    "lint commit message":
      run: npx -y -q commitlint --edit {1}
    "check spelling":
      run: uv tool run typos==1.43.4 {1}
post-merge:
  files: "git diff-tree -r --name-only --no-commit-id ORIG_HEAD HEAD"
  commands:
    delete-merged-branches:
      run: git branch --merged | grep -Ev '\*|master|main|dev|develop|development|stag|staging|prod|production' | xargs git branch -d; git fetch --prune;
pre-push:
  parallel: true
  jobs:
    - name: build
      run: GOEXPERIMENT=jsonv2 make build
    - name: deadcode
      run: GOEXPERIMENT=jsonv2 make deadcode
    - name: test
      run: GOEXPERIMENT=jsonv2 make test
    - name: validate-hadolint-status
      run: ./scripts/validate-hadolint-status.sh
    - name: validate-buildkit-rules
      run: GOEXPERIMENT=jsonv2 ./scripts/validate-buildkit-rules.sh

chore: mark schema-generated files in .gitattributes
  .gitattributes
Due: none

fix(ci): exclude *.gen.go and *_gen.go from CPD analysis
  .github/workflows/ci.yml
  Makefile
Due: yamllint, format-yml, typos, actionlint

chore: add CodeRabbit plugin
  .claude/settings.json
Due: typos

chore: replace schemas.tally.dev with tally.wharflab.com in JSON schema $id URLs
  _tools/schema-gen/main.go
  internal/rules/buildkit/index.schema.json
  internal/rules/hadolint/dl3001.schema.json
  internal/rules/hadolint/dl3026.schema.json
  internal/rules/hadolint/index.schema.json
  internal/rules/rule-config.schema.json
  internal/rules/tally/consistent_indentation.schema.json
  internal/rules/tally/index.schema.json
  internal/rules/tally/max_lines.schema.json
  internal/rules/tally/newline_between_instructions.schema.json
  internal/rules/tally/newline_per_chained_call.schema.json
  internal/rules/tally/no_trailing_spaces.schema.json
  internal/rules/tally/prefer_add_unpack.schema.json
  internal/rules/tally/prefer_copy_heredoc.schema.json
  internal/rules/tally/prefer_multi_stage_build.schema.json
  internal/rules/tally/prefer_run_heredoc.schema.json
  internal/schemas/registry_gen.go
  internal/schemas/root/tally-config.schema.json
  schema.json
Due: format-go, lint-go, typos

fix: strip $id/$schema from bundled schema $defs for correct 2020-12 $ref resolution
  _tools/schema-gen/main.go
  schema.json
Due: format-go, lint-go, typos

fix: deduplicate RuleNamespaces output with slices.Compact
  internal/schemas/schemas.go
Due: format-go, lint-go

fix: use slices.Sorted(maps.Keys()) in validation.go
  internal/config/validation.go
Due: format-go, lint-go

fix: glob
  .vscode/settings.json
Due: typos

fix: add compile-time drift guard for configFromSchema field coverage
  internal/config/config_test.go
Due: format-go, lint-go

fix: require ai.command when ai.enabled is true in config schema
  internal/schemas/registry_gen.go
  internal/schemas/root/tally-config.schema.json
  schema.json
Due: format-go, lint-go, typos

fix: add descriptions to all top-level config schema properties
  internal/schemas/registry_gen.go
  internal/schemas/root/tally-config.schema.json
  schema.json
Due: format-go, lint-go, typos

fix: add pattern constraint for Go duration timeout fields in schema
  internal/schemas/registry_gen.go
  internal/schemas/root/tally-config.schema.json
  schema.json
Due: format-go, lint-go, typos

fix: reject empty strings in ai.command items via minLength constraint
  internal/schemas/registry_gen.go
  internal/schemas/root/tally-config.schema.json
  schema.json
Due: format-go, lint-go, typos

chore: use real ACP agent commands in ai.command schema examples
  internal/schemas/registry_gen.go
  internal/schemas/root/tally-config.schema.json
  schema.json
Due: format-go, lint-go, typos

fix: simplify configFromSchema drift test with single field set
  internal/config/config_test.go
Due: format-go, lint-go

fix: replace sort.Strings with slices.Sort in schema-gen
  _tools/schema-gen/main.go
Due: format-go, lint-go

refactor: load rule schemas eagerly in constructors instead of lazily in Schema()
  internal/rules/hadolint/dl3001.go
  internal/rules/hadolint/dl3026.go
  internal/rules/tally/consistent_indentation.go
  internal/rules/tally/max_lines.go
  internal/rules/tally/newline_between_instructions.go
  internal/rules/tally/newline_per_chained_call.go
  internal/rules/tally/no_trailing_spaces.go
  internal/rules/tally/prefer_add_unpack.go
  internal/rules/tally/prefer_copy_heredoc.go
  internal/rules/tally/prefer_heredoc.go
  internal/rules/tally/prefer_multi_stage_build.go
Due: format-go, lint-go

fix: use compact []byte(string) literals in generated registry
  _tools/schema-gen/main.go
  internal/schemas/registry_gen.go
Due: format-go, lint-go

fix: handle float64/float32 whole numbers in isIntegerLike
  internal/ruleconfig/shorthand.go
  internal/ruleconfig/shorthand_test.go
Due: format-go, lint-go

fix: use non-default values in prefer-multi-stage-build schema examples
  internal/rules/tally/prefer_multi_stage_build.schema.json
  internal/schemas/registry_gen.go
  schema.json
Due: format-go, lint-go, typos

refactor: simplify path dedup with slices.Sort + slices.Compact
  _tools/schema-gen/main.go
Due: format-go, lint-go

refactor: use slices.Sorted(maps.Keys(...)) in renderRegistryGo
  _tools/schema-gen/main.go
Due: format-go, lint-go

fix: document fix enum value semantics in rule-config schema
  internal/rules/rule-config.schema.json
  internal/schemas/registry_gen.go
  schema.json
Due: format-go, lint-go, typos

chore: initial draft of patch based ai autofix
  design-docs/19-ai-autofix-diff-contract.md
Due: typos

docs: refine ai autofix diff contract
  design-docs/19-ai-autofix-diff-contract.md
Due: typos

feat: improve uv support in prefer-package-cache-mounts rule
  docs/rules/tally/prefer-package-cache-mounts.md
  internal/integration/__snapshots__/TestFix_prefer-package-cache-mounts-uv-no-cache-env_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-package-cache-mounts-uv-python-install_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_prefer-package-cache-mounts_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/testdata/prefer-package-cache-mounts/Dockerfile
  internal/rules/tally/prefer_package_cache_mounts.go
  internal/rules/tally/prefer_package_cache_mounts_test.go
Due: format-go, lint-go, typos

fix: quote ENV values properly when reconstructing multi-variable ENV
  internal/rules/tally/prefer_package_cache_mounts.go
  internal/rules/tally/prefer_package_cache_mounts_test.go
Due: format-go, lint-go

docs: sync hadolint rules from upstream
  README.md
  RULES.md
Due: typos

feat: generalize cache-disabling ENV removal and add PIP_NO_CACHE_DIR
  docs/rules/tally/prefer-package-cache-mounts.md
  internal/integration/__snapshots__/TestFix_prefer-package-cache-mounts-pip-no-cache-dir-env_1.snap.Dockerfile
  internal/integration/fix_cases_test.go
  internal/rules/tally/prefer_package_cache_mounts.go
  internal/rules/tally/prefer_package_cache_mounts_test.go
Due: format-go, lint-go, typos

feat: generalize cache path overrides and add npm_config_cache, BUN_INSTALL_CACHE_DIR
  docs/rules/tally/prefer-package-cache-mounts.md
  internal/integration/__snapshots__/TestFix_prefer-package-cache-mounts-bun-install-cache-dir-env_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-package-cache-mounts-npm-config-cache-env_1.snap.Dockerfile
  internal/integration/fix_cases_test.go
  internal/rules/tally/prefer_package_cache_mounts.go
  internal/rules/tally/prefer_package_cache_mounts_test.go
Due: format-go, lint-go, typos

fix: use full location range when removing sole-variable multiline ENV
  internal/integration/__snapshots__/TestFix_prefer-package-cache-mounts-multiline-env-removal_1.snap.Dockerfile
  internal/integration/fix_cases_test.go
  internal/rules/tally/prefer_package_cache_mounts.go
  internal/rules/tally/prefer_package_cache_mounts_test.go
Due: format-go, lint-go

fix: use kv.String() for ENV reconstruction to preserve original syntax
  internal/rules/tally/prefer_package_cache_mounts.go
  internal/rules/tally/prefer_package_cache_mounts_test.go
Due: format-go, lint-go

fix: separate fix description for script cleanup vs ENV removal
  internal/rules/tally/prefer_package_cache_mounts.go
Due: format-go, lint-go

fix: set LegacyKeyValueFormat fix priority to 91 for correct cross-rule ordering
  internal/integration/__snapshots__/TestLint_legacy-key-value-format_1.snap.json
  internal/integration/fix_cases_test.go
  internal/rules/buildkit/fixes/legacy_key_value_format.go
  internal/rules/buildkit/legacy_key_value_format.go
  internal/rules/tally/prefer_package_cache_mounts.go
Due: format-go, lint-go, typos

fix: add missing snapshot for cross-rule legacy-key-value integration test
  internal/integration/__snapshots__/TestFix_prefer-package-cache-mounts-uv-no-cache-legacy-with-legacy-key-value_1.snap.Dockerfile
Due: none

fix: resolve relative cache-location ENV paths against WORKDIR
  internal/rules/tally/prefer_package_cache_mounts.go
  internal/rules/tally/prefer_package_cache_mounts_test.go
Due: format-go, lint-go

fix: add test for --no-cache flag stripping on uv python install
  internal/rules/tally/prefer_package_cache_mounts_test.go
Due: format-go, lint-go

docs: sync BuildKit rules
  README.md
  RULES.md
Due: typos
