Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

.lefthook.yml:

# yaml-language-server: =https://json.schemastore.org/lefthook.json
---
output:
  # - summary # Print summary block (successful and failed steps)
  # - empty_summary # Print summary heading when there are no steps to run
  - failure # Print failed steps printing
# - skips # Print "skip" (i.e. no files matched)
assert_lefthook_installed: true
pre-commit:
  commands:
    format-go:
      glob: "**/*.go"
      run: gofmt -w -s {staged_files}
      stage_fixed: true
    lint-go:
      glob: "**/*.go"
      run: GOEXPERIMENT=jsonv2 make lint-fix
      stage_fixed: true
    ts-typecheck:
      glob: "extensions/vscode-tally/**/*.ts"
      run: bunx @typescript/native-preview --noEmit
      root: extensions/vscode-tally
    ts-lint:
      glob: "extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts}"
      run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
      stage_fixed: true
      root: extensions/vscode-tally
    ts-format:
      glob: "*.{js,ts,cjs,mjs,mts,cts,jsx,tsx}"
      run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
      stage_fixed: true
      root: extensions/vscode-tally
    taplo:
      glob: "**/*.toml"
      run: bunx -y -q @taplo/cli format {staged_files}
      stage_fixed: true
    rumdl:
      glob: "**/*.md"
      exclude: "**/__snapshots__/**"
      run: uv tool run rumdl==0.1.17 check --fix --config .rumdl.toml --output-format concise {staged_files}
      stage_fixed: true
    yamllint:
      glob: "*.{yml,yaml}"
      run: uvx yamllint {staged_files}
    format-yml:
      glob: "{.yamlfmt,*.yml,*.yaml}"
      run: yamlfmt {staged_files}
      stage_fixed: true
    typos:
      glob: "*.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}"
      run: uv tool run typos==1.43.4 --force-exclude {staged_files}
    codecov:
      glob: ".codecov.yml"
      run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate
    # renovate:
    #   glob: "renovate.json"
    #   run: npx -y -q -y --package renovate renovate-config-validator renovate.json
    actionlint:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}
    commitlint-config:
      glob: ".commitlintrc.yaml"
      run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml
commit-msg:
  commands:
    "lint commit message":
      run: npx -y -q commitlint --edit {1}
    "check spelling":
      run: uv tool run typos==1.43.4 {1}
post-merge:
  files: "git diff-tree -r --name-only --no-commit-id ORIG_HEAD HEAD"
  commands:
    delete-merged-branches:
      run: git branch --merged | grep -Ev '\*|master|main|dev|develop|development|stag|staging|prod|production' | xargs git branch -d; git fetch --prune;
pre-push:
  parallel: true
  jobs:
    - name: build
      run: GOEXPERIMENT=jsonv2 make build
    - name: deadcode
      run: GOEXPERIMENT=jsonv2 make deadcode
    - name: test
      run: GOEXPERIMENT=jsonv2 make test
    - name: validate-hadolint-status
      run: ./scripts/validate-hadolint-status.sh
    - name: validate-buildkit-rules
      run: GOEXPERIMENT=jsonv2 ./scripts/validate-buildkit-rules.sh

fix: narrow CLA data retention to minimal required fields
  CLA.md
Due: typos

fix: align NOTICE with GPL-3.0-only (remove "or later" clause)
  NOTICE
  packaging/pypi/NOTICE
  packaging/rubygems/NOTICE
Due: none

fix: store CLA signatures on dedicated unprotected branch
  .github/workflows/cla.yml
Due: yamllint, format-yml, typos, actionlint

chore: wasm gitattributes
  .gitattributes
Due: none

chore: add lefthook install
  .claude/settings.json
Due: typos

docs: improve CLAUDE.md with build tags, schema pipeline, and subsystem pointers
  CLAUDE.md
Due: typos

chore: more wasm settings
  .gitattributes
  .vscode/tasks.json
Due: typos

chore: ast-grep rewrites
  Makefile
  _tools/shellcheck-wasm/Dockerfile
  _tools/shellcheck-wasm/patches/0001-json1-only.patch
  _tools/shellcheck-wasm/patches/0002-stdin-only.patch
  _tools/shellcheck-wasm/patches/0003-drop-sc2148.patch
  _tools/shellcheck-wasm/rewrites/0001-json1-only.yml
  _tools/shellcheck-wasm/rewrites/0002-stdin-only.yml
  _tools/shellcheck-wasm/rewrites/0003-drop-sc2148.yml
  _tools/shellcheck-wasm/rewrites/0004-drop-sc2187.yml
  _tools/shellcheck-wasm/rewrites/0005-drop-sc1090.yml
  _tools/shellcheck-wasm/rewrites/0006-drop-sc1091.yml
  design-docs/23-shellcheck-integration.md
  internal/shellcheck/wasm/shellcheck.wasm
Due: yamllint, format-yml, typos

feat: integrate ShellCheck via embedded WASM
  _tools/schema-gen/main.go
  design-docs/23-shellcheck-integration.md
  internal/config/rules.go
  internal/directive/directive_test.go
  internal/directive/parser.go
  internal/directive/span.go
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_shellcheck-sc2086-quote_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_shellcheck-basic_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/harness_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/benchmark-real-world-fix/.tally.toml
  internal/integration/testdata/shellcheck-basic/Dockerfile
  internal/linter/linter.go
  internal/processor/directive.go
  internal/rules/all/all.go
  internal/rules/shellcheck/blank.go
  internal/rules/shellcheck/index.schema.json
  internal/rules/shellcheck/script.go
  internal/rules/shellcheck/shellcheck.go
  internal/rules/violation.go
  internal/schemas/generated/config/tally_config.gen.go
  internal/schemas/manifest.json
  internal/schemas/registry_gen.go
  internal/schemas/root/tally-config.schema.json
  internal/shell/count.go
  internal/shell/count_test.go
  internal/shellcheck/json1.go
  internal/shellcheck/runner.go
  internal/shellcheck/wasm/wasm.go
  internal/sourcemap/sourcemap.go
  schema.json
Due: format-go, lint-go, taplo, typos

docs: mention embedded ShellCheck in README
  README.md
Due: typos

test: avoid shellcheck in lspserver no-edits
  internal/lspserver/execute_command_test.go
Due: format-go, lint-go

ci: checkout LFS assets
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/docs.yml
  .github/workflows/intellij-plugin.yml
  .github/workflows/release.yml
  .github/workflows/sync-buildkit-rules.yml
  .github/workflows/sync-hadolint-rules.yml
  .github/workflows/vscode-smoke.yml
Due: yamllint, format-yml, typos, actionlint

perf: cache ShellCheck compilation
  internal/lsptest/setup_test.go
  internal/shellcheck/runner.go
Due: format-go, lint-go

perf(lsp): disable ShellCheck by default
  internal/lspserver/diagnostics.go
Due: format-go, lint-go

perf(lsp): publish fast diagnostics before ShellCheck
  internal/linter/linter.go
  internal/linter/skip.go
  internal/lspserver/codeactions.go
  internal/lspserver/diagnostics.go
  internal/lspserver/documents.go
  internal/lspserver/formatting.go
Due: format-go, lint-go

fix: address PR review comment
  internal/rules/shellcheck/script.go
Due: format-go, lint-go

fix: address PR review comment
  internal/config/config_test.go
  internal/config/rules.go
Due: format-go, lint-go

fix: address PR review comment
  internal/lspserver/diagnostics.go
  internal/lspserver/diagnostics_test.go
  internal/lspserver/server.go
  internal/lspserver/settings.go
Due: format-go, lint-go

fix: address PR review comment
  internal/rules/shellcheck/shellcheck.go
  internal/rules/shellcheck/shellcheck_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/shellcheck/runner.go
  internal/shellcheck/runner_test.go
Due: format-go, lint-go

fix: resolve outstanding lint issues
  internal/lspserver/server.go
  internal/rules/shellcheck/shellcheck.go
  internal/shellcheck/runner_test.go
Due: format-go, lint-go

fix: avoid shellcheck timeout flake on windows
  internal/rules/shellcheck/shellcheck.go
Due: format-go, lint-go

test: update vscode smoke diagnostics baseline
  _integrations/vscode-tally/test/e2e/smoke.test.ts
Due: typos

chore: clarify async planning checks
  internal/linter/linter.go
Due: format-go, lint-go

fix: address PR review comment
  internal/lspserver/documents.go
  internal/lspserver/documents_test.go
Due: format-go, lint-go

chore: add macos signing entitlements
  .github/macos-entitlements.plist
  .github/workflows/release.yml
  design-docs/MACOS_SIGNING.md
Due: yamllint, format-yml, typos, actionlint

fix: improve shellcheck preflight parse reporting
  internal/integration/__snapshots__/TestLint_shellcheck-fallback-empty-heredoc_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/shellcheck-fallback-empty-heredoc/Dockerfile
  internal/rules/shellcheck/shellcheck.go
  internal/rules/shellcheck/shellcheck_test.go
Due: format-go, lint-go, typos

fix: stabilize Windows lsptest initialize timeout
  internal/lsptest/setup_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/rules/shellcheck/blank.go
  internal/rules/shellcheck/script.go
Due: format-go, lint-go

fix: address PR review comment
  internal/lspserver/diagnostics.go
  internal/lspserver/diagnostics_test.go
  internal/lspserver/server.go
Due: format-go, lint-go

test: add powershell backtick continuation regression fixture
  internal/integration/__snapshots__/TestLint_non-posix-shell-backtick-continuation_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/non-posix-shell-backtick-continuation/Dockerfile
  internal/rules/shellcheck/blank.go
  internal/rules/shellcheck/script.go
Due: format-go, lint-go, typos

fix(lsp): keep ShellCheck quick-fixes in pull mode
  internal/lspserver/codeactions.go
  internal/lspserver/diagnostics.go
  internal/lsptest/lsp_test.go
Due: format-go, lint-go

fix: remove lspserver debounce timer race
  internal/lspserver/diagnostics.go
  internal/lspserver/diagnostics_test.go
  internal/lspserver/server.go
Due: format-go, lint-go

fix: address PR review comment
  internal/lspserver/diagnostics.go
Due: format-go, lint-go
