Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

format-go:
  run: gofmt -w -s {staged_files}
  stage_fixed: true

lint-go:
  run: GOEXPERIMENT=jsonv2 make lint-fix
  stage_fixed: true

ts-typecheck:
  run: bunx @typescript/native-preview --noEmit

ts-lint:
  run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
  stage_fixed: true

ts-format:
  run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
  stage_fixed: true

taplo:
  run: bunx -y -q @taplo/cli format {staged_files}
  stage_fixed: true

yamllint:
  run: uvx yamllint {staged_files}

format-yml:
  run: yamlfmt {staged_files}
  stage_fixed: true

typos:
  run: uv tool run typos==1.43.4 --force-exclude {staged_files}

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

actionlint:
  run: actionlint {staged_files}

commitlint-config:
  run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml

perf: cache ShellCheck compilation
  internal/lsptest/setup_test.go
  internal/shellcheck/runner.go
Due: format-go, lint-go

fix(lsp): keep ShellCheck quick-fixes in pull mode
  internal/lspserver/codeactions.go
  internal/lspserver/diagnostics.go
  internal/lsptest/lsp_test.go
Due: format-go, lint-go

feat: integrate ShellCheck via embedded WASM
  _tools/schema-gen/main.go
  design-docs/23-shellcheck-integration.md
  internal/config/rules.go
  internal/directive/directive_test.go
  internal/directive/parser.go
  internal/directive/span.go
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_shellcheck-sc2086-quote_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_shellcheck-basic_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/harness_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/benchmark-real-world-fix/.tally.toml
  internal/integration/testdata/shellcheck-basic/Dockerfile
  internal/linter/linter.go
  internal/processor/directive.go
  internal/rules/all/all.go
  internal/rules/shellcheck/blank.go
  internal/rules/shellcheck/index.schema.json
  internal/rules/shellcheck/script.go
  internal/rules/shellcheck/shellcheck.go
  internal/rules/violation.go
  internal/schemas/generated/config/tally_config.gen.go
  internal/schemas/manifest.json
  internal/schemas/registry_gen.go
  internal/schemas/root/tally-config.schema.json
  internal/shell/count.go
  internal/shell/count_test.go
  internal/shellcheck/json1.go
  internal/shellcheck/runner.go
  internal/shellcheck/wasm/wasm.go
  internal/sourcemap/sourcemap.go
  schema.json
Due: format-go, lint-go, taplo, typos

fix: address PR review comment
  internal/lspserver/diagnostics.go
  internal/lspserver/diagnostics_test.go
  internal/lspserver/server.go
  internal/lspserver/settings.go
Due: format-go, lint-go

docs: mention embedded ShellCheck in README
  README.md
Due: typos

fix: stabilize Windows lsptest initialize timeout
  internal/lsptest/setup_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/lspserver/diagnostics.go
Due: format-go, lint-go

test: add powershell backtick continuation regression fixture
  internal/integration/__snapshots__/TestLint_non-posix-shell-backtick-continuation_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/non-posix-shell-backtick-continuation/Dockerfile
  internal/rules/shellcheck/blank.go
  internal/rules/shellcheck/script.go
Due: format-go, lint-go, typos

test: update vscode smoke diagnostics baseline
  _integrations/vscode-tally/test/e2e/smoke.test.ts
Due: typos

chore: clarify async planning checks
  internal/linter/linter.go
Due: format-go, lint-go

chore: ast-grep rewrites
  Makefile
  _tools/shellcheck-wasm/Dockerfile
  _tools/shellcheck-wasm/patches/0001-json1-only.patch
  _tools/shellcheck-wasm/patches/0002-stdin-only.patch
  _tools/shellcheck-wasm/patches/0003-drop-sc2148.patch
  _tools/shellcheck-wasm/rewrites/0001-json1-only.yml
  _tools/shellcheck-wasm/rewrites/0002-stdin-only.yml
  _tools/shellcheck-wasm/rewrites/0003-drop-sc2148.yml
  _tools/shellcheck-wasm/rewrites/0004-drop-sc2187.yml
  _tools/shellcheck-wasm/rewrites/0005-drop-sc1090.yml
  _tools/shellcheck-wasm/rewrites/0006-drop-sc1091.yml
  design-docs/23-shellcheck-integration.md
  internal/shellcheck/wasm/shellcheck.wasm
Due: yamllint, format-yml, typos

chore: add macos signing entitlements
  .github/macos-entitlements.plist
  .github/workflows/release.yml
  design-docs/MACOS_SIGNING.md
Due: yamllint, format-yml, typos, actionlint

fix: address PR review comment
  internal/lspserver/documents.go
  internal/lspserver/documents_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/config/config_test.go
  internal/config/rules.go
Due: format-go, lint-go

fix: address PR review comment
  internal/shellcheck/runner.go
  internal/shellcheck/runner_test.go
Due: format-go, lint-go

perf(lsp): disable ShellCheck by default
  internal/lspserver/diagnostics.go
Due: format-go, lint-go

fix: avoid shellcheck timeout flake on windows
  internal/rules/shellcheck/shellcheck.go
Due: format-go, lint-go

fix: improve shellcheck preflight parse reporting
  internal/integration/__snapshots__/TestLint_shellcheck-fallback-empty-heredoc_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/shellcheck-fallback-empty-heredoc/Dockerfile
  internal/rules/shellcheck/shellcheck.go
  internal/rules/shellcheck/shellcheck_test.go
Due: format-go, lint-go, typos

fix: address PR review comment
  internal/rules/shellcheck/shellcheck.go
  internal/rules/shellcheck/shellcheck_test.go
Due: format-go, lint-go

fix: remove lspserver debounce timer race
  internal/lspserver/diagnostics.go
  internal/lspserver/diagnostics_test.go
  internal/lspserver/server.go
Due: format-go, lint-go

fix: address PR review comment
  internal/lspserver/diagnostics.go
  internal/lspserver/diagnostics_test.go
  internal/lspserver/server.go
Due: format-go, lint-go

fix: address PR review comment
  internal/rules/shellcheck/script.go
Due: format-go, lint-go

build: upgrade charmbracelet/lipgloss to v2 and bubbles to v2
  cmd/tally/cmd/acp_progress.go
  go.mod
  go.sum
  internal/reporter/text.go
Due: format-go, lint-go

feat(shellcheck): enable concurrent wazero WASM compilation
  internal/shellcheck/runner.go
Due: format-go, lint-go

fix: skip concurrent wazero compilation on small machines
  internal/shellcheck/runner.go
Due: format-go, lint-go

refactor: use runtime.NumCPU() for compilation worker count
  internal/shellcheck/runner.go
Due: format-go, lint-go

refactor: use 2/3 of CPUs for wazero compilation workers
  internal/shellcheck/runner.go
Due: format-go, lint-go

fix: skip experimental wazero compilation entirely on Windows
  internal/shellcheck/runner.go
Due: format-go, lint-go

feat(shellcheck): enable concurrent wazero WASM compilation (#190)
  internal/shellcheck/runner.go
Due: format-go, lint-go

feat(zed): add Zed editor extension for tally LSP
  .github/workflows/release.yml
  .github/workflows/zed-extension.yml
  .gitignore
  .lefthook.yml
  _integrations/zed-tally/Cargo.lock
  _integrations/zed-tally/Cargo.toml
  _integrations/zed-tally/LICENSE
  _integrations/zed-tally/README.md
  _integrations/zed-tally/extension.toml
  _integrations/zed-tally/languages/dockerfile/config.toml
  _integrations/zed-tally/languages/dockerfile/highlights.scm
  _integrations/zed-tally/languages/dockerfile/injections.scm
  _integrations/zed-tally/rust-toolchain.toml
  _integrations/zed-tally/src/tally.rs
Due: taplo, yamllint, format-yml, typos, actionlint

fix: use cached_binary_path to avoid repeated binary resolution
  _integrations/zed-tally/src/tally.rs
Due: none

fix: use runtime OS detection instead of compile-time cfg for binary names
  _integrations/zed-tally/src/tally.rs
Due: none

fix: commit version edits inside submodule before publishing to Zed registry
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

fix: split image_spec highlight query to match tag or digest independently
  _integrations/zed-tally/languages/dockerfile/highlights.scm
Due: none

fix: use runtime OS detection for venv binary path on Windows
  _integrations/zed-tally/src/tally.rs
Due: none

fix: use modern injection.language predicate for shell_command injection
  _integrations/zed-tally/languages/dockerfile/injections.scm
Due: none

fix: make Zed marketplace publish idempotent for reruns
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

fix: include workflow file in CI path filters for self-testing
  .github/workflows/zed-extension.yml
Due: yamllint, format-yml, typos, actionlint

fix: add taplo verification for TOML version edits in release workflow
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

Path conditions:
  format-go: any of: **/*.go
  lint-go: any of: **/*.go
  ts-typecheck: any of: extensions/vscode-tally/**/*.ts and ^extensions/vscode\-tally/
  ts-lint: any of: extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts} and ^extensions/vscode\-tally/
  ts-format: any of: *.{js,ts,cjs,mjs,mts,cts,jsx,tsx} and ^extensions/vscode\-tally/
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  format-yml: any of: {.yamlfmt,*.yml,*.yaml}
  typos: any of: *.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}
  codecov: any of: .codecov.yml
  actionlint: any of: .github/workflows/*.{yaml,yml}
  commitlint-config: any of: .commitlintrc.yaml
