Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

.lefthook.yml:

# yaml-language-server: =https://json.schemastore.org/lefthook.json
---
output:
  # - summary # Print summary block (successful and failed steps)
  # - empty_summary # Print summary heading when there are no steps to run
  - failure # Print failed steps printing
# - skips # Print "skip" (i.e. no files matched)
assert_lefthook_installed: true
pre-commit:
  commands:
    format-go:
      glob: "**/*.go"
      run: gofmt -w -s {staged_files}
      stage_fixed: true
    lint-go:
      glob: "**/*.go"
      run: GOEXPERIMENT=jsonv2 make lint-fix
      stage_fixed: true
    ts-typecheck:
      glob: "extensions/vscode-tally/**/*.ts"
      run: bunx @typescript/native-preview --noEmit
      root: extensions/vscode-tally
    ts-lint:
      glob: "extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts}"
      run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
      stage_fixed: true
      root: extensions/vscode-tally
    ts-format:
      glob: "*.{js,ts,cjs,mjs,mts,cts,jsx,tsx}"
      run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
      stage_fixed: true
      root: extensions/vscode-tally
    taplo:
      glob: "**/*.toml"
      run: bunx -y -q @taplo/cli format {staged_files}
      stage_fixed: true
    rumdl:
      glob: "**/*.md"
      exclude: "**/__snapshots__/**"
      run: uv tool run rumdl==0.1.17 check --fix --config .rumdl.toml --output-format concise {staged_files}
      stage_fixed: true
    yamllint:
      glob: "*.{yml,yaml}"
      run: uvx yamllint {staged_files}
    format-yml:
      glob: "{.yamlfmt,*.yml,*.yaml}"
      run: yamlfmt {staged_files}
      stage_fixed: true
    typos:
      glob: "*.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}"
      run: uv tool run typos==1.43.4 --force-exclude {staged_files}
    codecov:
      glob: ".codecov.yml"
      run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate
    # renovate:
    #   glob: "renovate.json"
    #   run: npx -y -q -y --package renovate renovate-config-validator renovate.json
    actionlint:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}
    commitlint-config:
      glob: ".commitlintrc.yaml"
      run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml
commit-msg:
  commands:
    "lint commit message":
      run: npx -y -q commitlint --edit {1}
    "check spelling":
      run: uv tool run typos==1.43.4 {1}
post-merge:
  files: "git diff-tree -r --name-only --no-commit-id ORIG_HEAD HEAD"
  commands:
    delete-merged-branches:
      run: git branch --merged | grep -Ev '\*|master|main|dev|develop|development|stag|staging|prod|production' | xargs git branch -d; git fetch --prune;
pre-push:
  parallel: true
  jobs:
    - name: build
      run: GOEXPERIMENT=jsonv2 make build
    - name: deadcode
      run: GOEXPERIMENT=jsonv2 make deadcode
    - name: test
      run: GOEXPERIMENT=jsonv2 make test
    - name: validate-hadolint-status
      run: ./scripts/validate-hadolint-status.sh
    - name: validate-buildkit-rules
      run: GOEXPERIMENT=jsonv2 ./scripts/validate-buildkit-rules.sh

fix: preserve packaged binary permissions
  packaging/npm/package.json
  packaging/npm/scripts/publish-release.js
  packaging/pypi/hatch_build.py
  packaging/pypi/pyproject.toml
  packaging/rubygems/Rakefile
Due: taplo, typos

zed: set extension version to 0.26.2
  _integrations/zed-tally/Cargo.toml
  _integrations/zed-tally/extension.toml
Due: taplo, typos

feat: publish winget manifests via PR workflow
  .github/workflows/release.yml
  scripts/release/generate_winget_manifests.py
  scripts/release/test_generate_winget_manifests.py
Due: yamllint, format-yml, typos, actionlint

fix: publish winget from portable exe assets
  .github/workflows/release.yml
  scripts/release/generate_winget_manifests.py
  scripts/release/package_release_artifact.py
  scripts/release/test_generate_winget_manifests.py
  scripts/release/test_package_release_artifact.py
Due: yamllint, format-yml, typos, actionlint

ci: validate winget manifests on windows runners
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

refactor: generate winget manifests with ruby
  .github/workflows/release.yml
  scripts/release/generate_winget_manifests.py
  scripts/release/generate_winget_manifests.rb
  scripts/release/test_generate_winget_manifests.py
  scripts/release/test_generate_winget_manifests.rb
Due: yamllint, format-yml, typos, actionlint

chore: format markdown
  AGENTS.md
  CLAUDE.md
Due: typos

fix: stop winget job on manifest generation failure
  .github/workflows/release.yml
  scripts/release/generate_winget_manifests.rb
Due: yamllint, format-yml, typos, actionlint

fix: handle staged winget changes in powershell
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

ci: reuse preinstalled msys2 on windows x64
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

chore: improve winget description
  scripts/release/generate_winget_manifests.rb
Due: none

Revert "ci: reuse preinstalled msys2 on windows x64"
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

fix: address PR review comment
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

ci: validate winget manifests on windows runners (#284)
  .github/workflows/release.yml
  AGENTS.md
  CLAUDE.md
  scripts/release/generate_winget_manifests.py
  scripts/release/generate_winget_manifests.rb
  scripts/release/test_generate_winget_manifests.py
  scripts/release/test_generate_winget_manifests.rb
Due: yamllint, format-yml, typos, actionlint

zed: set extension version to 0.26.3
  _integrations/zed-tally/Cargo.toml
  _integrations/zed-tally/extension.toml
Due: taplo, typos

ci: add GitHub Artifact Attestations to releases
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

ci: add GitHub Artifact Attestations to releases (#290)
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

fix: build Linux releases in Amazon Linux 2
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

fix: resolve Linux release Go archive URL
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

fix: use correct Go Linux archive URL
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

fix: tighten Linux release packaging checks
  .github/workflows/release.yml
  packaging/pypi/hatch_build.py
  packaging/pypi/test_hatch_build.py
Due: yamllint, format-yml, typos, actionlint

fix: build Linux releases in Amazon Linux 2 (#294)
  .github/workflows/release.yml
  packaging/pypi/hatch_build.py
  packaging/pypi/test_hatch_build.py
Due: yamllint, format-yml, typos, actionlint

chore: enrich winget manifest metadata
  .github/workflows/release.yml
  scripts/release/generate_winget_manifests.rb
  scripts/release/test_generate_winget_manifests.rb
Due: yamllint, format-yml, typos, actionlint

chore: enrich winget manifest metadata (#295)
  .github/workflows/release.yml
  scripts/release/generate_winget_manifests.rb
  scripts/release/test_generate_winget_manifests.rb
Due: yamllint, format-yml, typos, actionlint

zed: set extension version to 0.27.0
  _integrations/zed-tally/Cargo.toml
  _integrations/zed-tally/extension.toml
Due: taplo, typos

feat: publish official ghcr container images
  .github/workflows/release.yml
  README.md
  packaging/docker/linux.Dockerfile
  packaging/docker/windows.Dockerfile
Due: yamllint, format-yml, typos, actionlint

fix: avoid pwsh tag interpolation error
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

docs: sync hadolint rules from upstream
  RULES.md
  internal/rules/hadolint-rules.json
Due: typos

feat: add container provenance attestation
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

feat: attest windows container images
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

chore: upgrade docker actions versions
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

chore: setup windows buildkit
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

chore: use action to setup buildkit on win
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

fix: pin lower version
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

chore: use metadata
  .github/workflows/release.yml
  packaging/docker/linux.Dockerfile
  packaging/docker/windows.Dockerfile
Due: yamllint, format-yml, typos, actionlint

chore: unify container building
  .github/workflows/release.yml
  packaging/docker/linux.Dockerfile
  packaging/docker/windows.Dockerfile
Due: yamllint, format-yml, typos, actionlint

fix: no attest/provenane on windows
  .github/workflows/release.yml
  packaging/docker/linux.Dockerfile
  packaging/docker/windows.Dockerfile
Due: yamllint, format-yml, typos, actionlint

feat: actionlint config
  .github/actionlint.yaml
Due: yamllint, format-yml, typos
