Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

format-go:
  run: gofmt -w -s {staged_files}
  stage_fixed: true

lint-go:
  run: GOEXPERIMENT=jsonv2 make lint-fix
  stage_fixed: true

ts-typecheck:
  run: bunx @typescript/native-preview --noEmit

ts-lint:
  run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
  stage_fixed: true

ts-format:
  run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
  stage_fixed: true

taplo:
  run: bunx -y -q @taplo/cli format {staged_files}
  stage_fixed: true

yamllint:
  run: uvx yamllint {staged_files}

format-yml:
  run: yamlfmt {staged_files}
  stage_fixed: true

typos:
  run: uv tool run typos==1.43.4 --force-exclude {staged_files}

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

actionlint:
  run: actionlint {staged_files}

commitlint-config:
  run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml

feat: add tally/windows/no-chown-flag rule
  RULES.md
  docs/index.md
  docs/rules/tally/index.md
  docs/rules/tally/windows/no-chown-flag.md
  internal/integration/__snapshots__/TestFixRealWorldTeamCityNanoServer_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorldTeamCityNanoServer_1.snap.md
  internal/integration/__snapshots__/TestFix_windows-no-chown-flag-linux-no-fix_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_windows-no-chown-flag_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/__snapshots__/TestLint_windows-no-chown-flag_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/windows-no-chown-flag/Dockerfile
  internal/rules/tally/windows/__snapshots__/TestNoChownFlagRule_Metadata_1.snap.json
  internal/rules/tally/windows/no_chown_flag.go
  internal/rules/tally/windows/no_chown_flag_test.go
Due: format-go, lint-go, typos

fix: correct tally rule count to 49 after rebase
  README.md
  RULES.md
  docs/index.md
Due: typos

fix: handle escaped quotes in --chown flag value parsing
  internal/rules/tally/windows/no_chown_flag.go
  internal/rules/tally/windows/no_chown_flag_test.go
Due: format-go, lint-go

fix: skip Windows stages in copy-after-user-without-chown
  internal/integration/__snapshots__/TestFixRealWorldTeamCityNanoServer_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorldTeamCityNanoServer_1.snap.md
  internal/rules/tally/copy_after_user_without_chown.go
  internal/rules/tally/copy_after_user_without_chown_test.go
Due: format-go, lint-go, typos

fix: add cross-rule regression tests for no-chown-flag + copy-after-user
  internal/integration/__snapshots__/TestFix_windows-no-chown-flag-cross-copy-after-user-existing-chown_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_windows-no-chown-flag-cross-copy-after-user_1.snap.Dockerfile
  internal/integration/fix_cases_test.go
Due: format-go, lint-go

fix: scan all continuation lines for --chown flag in fix builder
  internal/rules/tally/windows/no_chown_flag.go
  internal/rules/tally/windows/no_chown_flag_test.go
Due: format-go, lint-go

fix: add --platform=windows test for copy-after-user-without-chown
  internal/rules/tally/copy_after_user_without_chown_test.go
Due: format-go, lint-go

fix: fire copy-after-user-without-chown on Windows with rearrangement only
  docs/rules/tally/copy-after-user-without-chown.md
  internal/integration/__snapshots__/TestFixRealWorldTeamCityNanoServer_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorldTeamCityNanoServer_1.snap.md
  internal/rules/tally/copy_after_user_without_chown.go
  internal/rules/tally/copy_after_user_without_chown_test.go
Due: format-go, lint-go, typos

fix: use Windows-specific detail text in copy-after-user-without-chown
  internal/rules/tally/copy_after_user_without_chown.go
Due: format-go, lint-go

fix: update stale cross-rule test comments for Windows behavior
  internal/integration/fix_cases_test.go
Due: format-go, lint-go

feat: add tally/windows/no-chown-flag rule (#409)
  README.md
  RULES.md
  docs/index.md
  docs/rules/tally/copy-after-user-without-chown.md
  docs/rules/tally/index.md
  docs/rules/tally/windows/no-chown-flag.md
  internal/integration/__snapshots__/TestFixRealWorldTeamCityNanoServer_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorldTeamCityNanoServer_1.snap.md
  internal/integration/__snapshots__/TestFix_windows-no-chown-flag-cross-copy-after-user-existing-chown_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_windows-no-chown-flag-cross-copy-after-user_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_windows-no-chown-flag-linux-no-fix_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_windows-no-chown-flag_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/__snapshots__/TestLint_windows-no-chown-flag_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/windows-no-chown-flag/Dockerfile
  internal/rules/tally/copy_after_user_without_chown.go
  internal/rules/tally/copy_after_user_without_chown_test.go
  internal/rules/tally/windows/__snapshots__/TestNoChownFlagRule_Metadata_1.snap.json
  internal/rules/tally/windows/no_chown_flag.go
  internal/rules/tally/windows/no_chown_flag_test.go
Due: format-go, lint-go, typos

feat: add prefer-wget-config rule
  README.md
  RULES.md
  docs/index.md
  docs/rules/tally/index.md
  docs/rules/tally/prefer-curl-config.md
  docs/rules/tally/prefer-wget-config.md
  internal/integration/__snapshots__/TestFixPowerShellAlpine_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixPowerShellAlpine_1.snap.md
  internal/integration/__snapshots__/TestFixPreferAddUnpackBeatsHeredoc_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixTelemetryOptOutCombined_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_curl-should-follow-redirects_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_heredoc-both-rules-combined_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_multi-fix-line-shift_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-curl-config-cross-curl-redirects_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-curl-config-cross-prefer-add-unpack_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-curl-config_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-run-heredoc-consecutive_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-wget-config-cross-curl-config_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-wget-config-cross-prefer-add-unpack_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-wget-config_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_three-rules-same-line_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_prefer-curl-config_1.snap.json
  internal/integration/__snapshots__/TestLint_prefer-wget-config_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/prefer-wget-config/Dockerfile
  internal/rules/tally/download_config.go
  internal/rules/tally/index.schema.json
  internal/rules/tally/prefer_curl_config.go
  internal/rules/tally/prefer_curl_config_test.go
  internal/rules/tally/prefer_wget_config.go
  internal/rules/tally/prefer_wget_config.schema.json
  internal/rules/tally/prefer_wget_config_test.go
  internal/schemas/generated/config/tally_config.gen.go
  internal/schemas/generated/rules/tally/prefer_wget_config.gen.go
  internal/schemas/manifest.json
  internal/schemas/registry_gen.go
  schema.json
Due: format-go, lint-go, typos

fix: address PR review comment
  docs/rules/tally/prefer-wget-config.md
  internal/integration/__snapshots__/TestFixPowerShellAlpine_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_dl3047-cross-rules_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-wget-config-cross-curl-config_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-wget-config_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_prefer-wget-config_1.snap.json
  internal/rules/tally/prefer_wget_config.go
  internal/rules/tally/prefer_wget_config_test.go
Due: format-go, lint-go, typos

docs: cite official wgetrc reference
  docs/rules/tally/prefer-wget-config.md
Due: typos

test: sync vscode smoke diagnostics count
  _integrations/vscode-tally/test/e2e/smoke.test.ts
Due: typos

refactor: centralize observable file path matching
  internal/facts/facts.go
  internal/facts/observable_files.go
  internal/facts/observable_files_test.go
  internal/rules/tally/prefer_curl_config.go
  internal/rules/tally/prefer_curl_config_test.go
  internal/rules/tally/prefer_wget_config.go
  internal/rules/tally/prefer_wget_config_test.go
  internal/telemetry/signal.go
  internal/telemetry/signal_helpers_test.go
Due: format-go, lint-go

docs: cite official curl config reference
  docs/rules/tally/prefer-curl-config.md
Due: typos

fix: address PR review comment
  internal/rules/tally/prefer_curl_config_test.go
  internal/rules/tally/prefer_wget_config_test.go
  internal/shell/cmd_parser.go
  internal/shell/command_test.go
Due: format-go, lint-go

feat: add prefer-add-git rule
  README.md
  RULES.md
  docs/index.md
  docs/rules/tally/index.md
  docs/rules/tally/prefer-add-git.md
  go.mod
  go.sum
  internal/integration/__snapshots__/TestFixPreferAddGitCombined_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_prefer-add-git_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_scenarios_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/prefer-add-git/Dockerfile
  internal/rules/git_source_data.go
  internal/rules/hadolint/dl3003.go
  internal/rules/hadolint/dl3003_test.go
  internal/rules/tally/__snapshots__/TestPreferAddGitRule_Metadata_1.snap.json
  internal/rules/tally/newline_per_chained_call.go
  internal/rules/tally/newline_per_chained_call_test.go
  internal/rules/tally/prefer_add_git.go
  internal/rules/tally/prefer_add_git_test.go
  internal/rules/tally/prefer_heredoc.go
  internal/rules/tally/prefer_heredoc_test.go
  internal/shell/git_source.go
  internal/shell/git_source_test.go
Due: format-go, lint-go, typos

fix: preserve uppercase prefer-add-git fixes
  internal/lsptest/__snapshots__/TestLSP_FormattingRealWorld_1.snap.Dockerfile
  internal/rules/tally/prefer_add_git.go
Due: format-go, lint-go

test: update vscode smoke diagnostics count
  _integrations/vscode-tally/test/e2e/smoke.test.ts
Due: typos

fix: address PR review comment
  internal/rules/tally/prefer_add_git.go
  internal/rules/tally/prefer_add_git_test.go
Due: format-go, lint-go

fix: reflow markdown
  README.md
Due: typos

fix: address PR review comment
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/rules/tally/prefer_add_git_test.go
  internal/shell/git_source.go
  internal/shell/git_source_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/rules/git_run_context.go
  internal/rules/hadolint/dl3003.go
  internal/rules/hadolint/dl3003_test.go
  internal/rules/tally/prefer_add_git.go
  internal/shell/git_source.go
Due: format-go, lint-go

[codex] add prefer-add-git rule (#417)
  README.md
  RULES.md
  _integrations/vscode-tally/test/e2e/smoke.test.ts
  docs/index.md
  docs/rules/tally/index.md
  docs/rules/tally/prefer-add-git.md
  go.mod
  go.sum
  internal/integration/__snapshots__/TestFixPreferAddGitCombined_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_prefer-add-git_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_scenarios_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/prefer-add-git/Dockerfile
  internal/lsptest/__snapshots__/TestLSP_FormattingRealWorld_1.snap.Dockerfile
  internal/rules/git_run_context.go
  internal/rules/git_source_data.go
  internal/rules/hadolint/dl3003.go
  internal/rules/hadolint/dl3003_test.go
  internal/rules/tally/__snapshots__/TestPreferAddGitRule_Metadata_1.snap.json
  internal/rules/tally/newline_per_chained_call.go
  internal/rules/tally/newline_per_chained_call_test.go
  internal/rules/tally/prefer_add_git.go
  internal/rules/tally/prefer_add_git_test.go
  internal/rules/tally/prefer_heredoc.go
  internal/rules/tally/prefer_heredoc_test.go
  internal/shell/git_source.go
  internal/shell/git_source_test.go
Due: format-go, lint-go, typos

feat: add tally/world-writable-state-path-workaround rule
  README.md
  RULES.md
  docs/index.md
  docs/rules/tally/index.md
  docs/rules/tally/world-writable-state-path-workaround.md
  internal/integration/__snapshots__/TestFix_world-writable-state-path-workaround-666_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_world-writable-state-path-workaround_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/__snapshots__/TestLint_world-writable-state-path-workaround_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/world-writable-state-path-workaround/Dockerfile
  internal/rules/tally/__snapshots__/TestWorldWritableStatePathWorkaroundMetadata_1.snap.json
  internal/rules/tally/world_writable_state_path_workaround.go
  internal/rules/tally/world_writable_state_path_workaround_test.go
Due: format-go, lint-go, typos

refactor: use AST positions for chmod fix edits instead of string search
  internal/integration/__snapshots__/TestLint_world-writable-state-path-workaround_1.snap.json
  internal/rules/tally/world_writable_state_path_workaround.go
Due: format-go, lint-go, typos

fix: address PR review comment
  internal/rules/tally/world_writable_state_path_workaround.go
  internal/rules/tally/world_writable_state_path_workaround_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/integration/__snapshots__/TestFix_world-writable-cross-copy-after-user-without-chown_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_world-writable-cross-prefer-copy-chmod_1.snap.Dockerfile
  internal/integration/fix_cases_test.go
Due: format-go, lint-go

fix: address PR review comment
  docs/rules/tally/world-writable-state-path-workaround.md
  internal/integration/__snapshots__/TestLint_world-writable-state-path-workaround_1.snap.json
  internal/integration/testdata/world-writable-state-path-workaround/Dockerfile
  internal/rules/tally/world_writable_state_path_workaround.go
  internal/rules/tally/world_writable_state_path_workaround_test.go
Due: format-go, lint-go, typos

fix: reduce cognitive complexity in CheckWithFixes test
  internal/integration/fix_cases_test.go
  internal/rules/tally/world_writable_state_path_workaround_test.go
Due: format-go, lint-go

fix: address PR review comment
  RULES.md
  docs/rules/tally/index.md
Due: typos

feat: add tally/world-writable-state-path-workaround rule (#418)
  README.md
  RULES.md
  docs/index.md
  docs/rules/tally/index.md
  docs/rules/tally/world-writable-state-path-workaround.md
  internal/integration/__snapshots__/TestFix_world-writable-cross-copy-after-user-without-chown_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_world-writable-cross-prefer-copy-chmod_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_world-writable-state-path-workaround-666_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_world-writable-state-path-workaround_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/__snapshots__/TestLint_world-writable-state-path-workaround_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/world-writable-state-path-workaround/Dockerfile
  internal/rules/tally/__snapshots__/TestWorldWritableStatePathWorkaroundMetadata_1.snap.json
  internal/rules/tally/world_writable_state_path_workaround.go
  internal/rules/tally/world_writable_state_path_workaround_test.go
Due: format-go, lint-go, typos

Path conditions:
  format-go: any of: **/*.go
  lint-go: any of: **/*.go
  ts-typecheck: any of: extensions/vscode-tally/**/*.ts and ^extensions/vscode\-tally/
  ts-lint: any of: extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts} and ^extensions/vscode\-tally/
  ts-format: any of: *.{js,ts,cjs,mjs,mts,cts,jsx,tsx} and ^extensions/vscode\-tally/
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  format-yml: any of: {.yamlfmt,*.yml,*.yaml}
  typos: any of: *.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}
  codecov: any of: .codecov.yml
  actionlint: any of: .github/workflows/*.{yaml,yml}
  commitlint-config: any of: .commitlintrc.yaml
