Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

format-go:
  run: gofmt -w -s {staged_files}
  stage_fixed: true

lint-go:
  run: GOEXPERIMENT=jsonv2 make lint-fix
  stage_fixed: true

ts-typecheck:
  run: bunx @typescript/native-preview --noEmit

ts-lint:
  run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
  stage_fixed: true

ts-format:
  run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
  stage_fixed: true

taplo:
  run: bunx -y -q @taplo/cli format {staged_files}
  stage_fixed: true

yamllint:
  run: uvx yamllint {staged_files}

format-yml:
  run: yamlfmt {staged_files}
  stage_fixed: true

typos:
  run: uv tool run typos==1.43.4 --force-exclude {staged_files}

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

actionlint:
  run: actionlint {staged_files}

commitlint-config:
  run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml

docs: sync hadolint rules from upstream
  internal/rules/hadolint-rules.json
Due: typos

fix: suppress PowerShell sidecar host output
  internal/psanalyzer/runner.go
  internal/psanalyzer/runner_test.go
  internal/psanalyzer/sidecar/Tally.PSSA.Sidecar.ps1
Due: format-go, lint-go

fix: keep PowerShell sidecar command short
  internal/psanalyzer/runner.go
  internal/psanalyzer/runner_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/integration/__snapshots__/TestFixWindowsContainer_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixWindowsContainer_1.snap.md
  internal/rules/powershell/powershell_test.go
  internal/rules/powershell/script.go
Due: format-go, lint-go, typos

fix: simplify PowerShell sidecar protocol
  design-docs/42-psscriptanalyzer-sidecar.md
  internal/psanalyzer/runner.go
  internal/psanalyzer/runner_test.go
  internal/psanalyzer/sidecar/Tally.PSSA.Sidecar.ps1
Due: format-go, lint-go, typos

fix: address PR review comment
  internal/rules/powershell/powershell_test.go
  internal/rules/powershell/script.go
Due: format-go, lint-go

fix: address PR review comment
  internal/rules/powershell/powershell_test.go
  internal/rules/powershell/settings.go
Due: format-go, lint-go

fix: address PR review comment
  internal/rules/powershell/powershell.go
  internal/rules/powershell/powershell_test.go
Due: format-go, lint-go

fix: address PR review comment
  cmd/tally/cmd/lint.go
  cmd/tally/cmd/lint_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/rules/powershell/powershell_test.go
Due: format-go, lint-go

fix: address PR review comment
  cmd/tally/cmd/lint.go
  internal/ai/autofix/resolver.go
  internal/linter/linter.go
  internal/lspserver/diagnostics.go
  internal/lspserver/fixall.go
  internal/lspserver/formatting.go
  internal/rules/rule.go
  internal/rules/tally/prefer_formatted_heredocs.go
  internal/rules/tally/prefer_formatted_heredocs_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/psanalyzer/runner.go
  internal/psanalyzer/runner_test.go
Due: format-go, lint-go

test: seal PowerShell invocation parser
  internal/rules/powershell/script.go
  internal/rules/powershell/script_pwsh_test.go
Due: format-go, lint-go

fix: format ADD shell heredocs
  internal/heredocfmt/dockerfile.go
  internal/heredocfmt/dockerfile_test.go
  internal/heredocfmt/format.go
Due: format-go, lint-go

fix: address PR review comment
  internal/heredocfmt/dockerfile.go
  internal/heredocfmt/dockerfile_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/heredocfmt/dockerfile.go
  internal/rules/tally/prefer_formatted_heredocs.go
  internal/rules/tally/prefer_formatted_heredocs_test.go
Due: format-go, lint-go

feat: deprecate BuildKit-covered Hadolint rules
  _docs/docs.json
  _docs/rules/hadolint/DL3012.mdx
  _docs/rules/hadolint/DL3063.mdx
  _docs/rules/hadolint/overview.mdx
  cmd/tally/cmd/lint.go
  cmd/tally/cmd/lint_test.go
  internal/config/config_test.go
  internal/config/rules.go
  internal/config/validation.go
  internal/directive/directive.go
  internal/directive/directive_test.go
  internal/integration/__snapshots__/TestLint_deprecated-rule-alias-inline_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/deprecated-rule-alias-inline/Dockerfile
  internal/processor/directive.go
  internal/processor/processor.go
  internal/processor/processor_test.go
  internal/ruledeprecation/deprecation.go
  internal/ruledeprecation/deprecation_test.go
  internal/rules/hadolint-rules.json
  internal/rules/hadolint-status.json
Due: format-go, lint-go, typos

fix: address deprecation review comments
  internal/config/config_test.go
  internal/config/rules.go
  internal/ruledeprecation/deprecation.go
  internal/ruledeprecation/deprecation_test.go
Due: format-go, lint-go

[codex] docs: use tally icon as favicon (#603)
  _docs/docs.json
  _docs/favicon.svg
Due: typos

deprecate BuildKit-covered Hadolint rules (#617)
  _docs/docs.json
  _docs/rules/hadolint/DL3012.mdx
  _docs/rules/hadolint/DL3063.mdx
  _docs/rules/hadolint/overview.mdx
  cmd/tally/cmd/lint.go
  cmd/tally/cmd/lint_test.go
  internal/config/config_test.go
  internal/config/rules.go
  internal/config/validation.go
  internal/directive/directive.go
  internal/directive/directive_test.go
  internal/integration/__snapshots__/TestLint_deprecated-rule-alias-inline_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/deprecated-rule-alias-inline/Dockerfile
  internal/processor/directive.go
  internal/processor/processor.go
  internal/processor/processor_test.go
  internal/ruledeprecation/deprecation.go
  internal/ruledeprecation/deprecation_test.go
  internal/rules/hadolint-rules.json
  internal/rules/hadolint-status.json
Due: format-go, lint-go, typos

fix: handle PowerShell assignment value wrapper
  internal/shell/powershell_parser.go
Due: format-go, lint-go

fix: report tally version in docker plugin
  cmd/tally/cmd/docker_plugin.go
  internal/integration/docker_plugin_test.go
Due: format-go, lint-go

[codex] Report tally version in docker plugin (#618)
  cmd/tally/cmd/docker_plugin.go
  internal/integration/docker_plugin_test.go
Due: format-go, lint-go

docs: add mise install instructions
  README.md
  _docs/index.mdx
  _docs/installation.mdx
  _docs/introduction.mdx
  _docs/quickstart.mdx
Due: typos

docs: add mise install instructions (#621)
  README.md
  _docs/index.mdx
  _docs/installation.mdx
  _docs/introduction.mdx
  _docs/quickstart.mdx
Due: typos

feat: add label provenance rules
  _docs/docs.json
  _docs/rules/overview.mdx
  _docs/rules/tally/labels/no-buildx-git-overlap.mdx
  _docs/rules/tally/labels/no-duplicate-keys.mdx
  _docs/rules/tally/labels/no-stale-base-digest.mdx
  _docs/rules/tally/labels/valid-key.mdx
  _tools/schema-gen/main.go
  internal/config/config_test.go
  internal/integration/__snapshots__/TestFix_labels-no-buildx-git-overlap-no-fix_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_labels-no-buildx-git-overlap-revision-fix_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_labels-no-stale-base-digest-fix_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_labels-no-buildx-git-overlap_1.snap.json
  internal/integration/__snapshots__/TestLint_labels-no-stale-base-digest_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/labels-no-buildx-git-overlap/.tally.toml
  internal/integration/testdata/labels-no-buildx-git-overlap/Dockerfile
  internal/integration/testdata/labels-no-stale-base-digest/Dockerfile
  internal/rules/tally/index.schema.json
  internal/rules/tally/labels/no_buildx_git_overlap.go
  internal/rules/tally/labels/no_buildx_git_overlap.schema.json
  internal/rules/tally/labels/no_buildx_git_overlap_test.go
  internal/rules/tally/labels/no_duplicate_keys.go
  internal/rules/tally/labels/no_stale_base_digest.go
  internal/rules/tally/labels/no_stale_base_digest_test.go
  internal/schemas/generated/config/tally_config.gen.go
  internal/schemas/generated/rules/tally/labels/no_buildx_git_overlap.gen.go
  internal/schemas/manifest.json
  internal/schemas/registry_gen.go
  schema.json
Due: format-go, lint-go, taplo, typos

fix: address PR review comment
  internal/rules/tally/labels/no_buildx_git_overlap.go
  internal/rules/tally/labels/no_duplicate_keys.go
  internal/rules/tally/labels/util.go
  internal/rules/tally/labels/valid_key.go
Due: format-go, lint-go

fix: require explicit Buildx git label mode
  _docs/rules/tally/labels/no-buildx-git-overlap.mdx
  internal/rules/tally/labels/no_buildx_git_overlap.go
  internal/rules/tally/labels/no_buildx_git_overlap.schema.json
  internal/rules/tally/labels/no_buildx_git_overlap_test.go
  internal/schemas/generated/rules/tally/labels/no_buildx_git_overlap.gen.go
  internal/schemas/registry_gen.go
  schema.json
Due: format-go, lint-go, typos

fix: enable Buildx label overlap by default
  _docs/rules/tally/labels/no-buildx-git-overlap.mdx
  internal/rules/tally/labels/no_buildx_git_overlap.go
  internal/rules/tally/labels/no_buildx_git_overlap.schema.json
  internal/rules/tally/labels/no_buildx_git_overlap_test.go
  internal/schemas/registry_gen.go
  schema.json
Due: format-go, lint-go, typos

fix: address label rule review feedback
  _docs/rules/tally/labels/no-stale-base-digest.mdx
  internal/rules/tally/labels/no_buildx_git_overlap.go
  internal/rules/tally/labels/no_buildx_git_overlap_test.go
  internal/rules/tally/labels/no_duplicate_keys.go
  internal/rules/tally/labels/no_duplicate_keys_test.go
  internal/rules/tally/labels/util.go
Due: format-go, lint-go

fix: prevent Windows LSP test cleanup hang
  internal/lsptest/setup_test.go
Due: format-go, lint-go

fix: ignore shadowed exported labels
  internal/integration/__snapshots__/TestLint_labels-no-stale-base-digest_1.snap.json
  internal/rules/tally/labels/exported_labels.go
  internal/rules/tally/labels/no_buildx_git_overlap.go
  internal/rules/tally/labels/no_buildx_git_overlap_test.go
  internal/rules/tally/labels/no_stale_base_digest.go
  internal/rules/tally/labels/no_stale_base_digest_test.go
Due: format-go, lint-go, typos

fix: accept buildx bool config aliases
  _docs/rules/tally/labels/no-buildx-git-overlap.mdx
  internal/rules/tally/labels/no_buildx_git_overlap.go
  internal/rules/tally/labels/no_buildx_git_overlap.schema.json
  internal/rules/tally/labels/no_buildx_git_overlap_test.go
  internal/rules/tally/labels/no_stale_base_digest.go
  internal/schemas/generated/rules/tally/labels/no_buildx_git_overlap.gen.go
  internal/schemas/registry_gen.go
  schema.json
Due: format-go, lint-go, typos

fix: make label removal fixes convergent
  internal/rules/tally/labels/exported_labels.go
  internal/rules/tally/labels/no_buildx_git_overlap.go
  internal/rules/tally/labels/no_buildx_git_overlap_test.go
  internal/rules/tally/labels/no_stale_base_digest.go
  internal/rules/tally/labels/no_stale_base_digest_test.go
  internal/rules/tally/labels/util.go
Due: format-go, lint-go

fix: make label fixes converge across exported chain
  _docs/rules/tally/labels/no-buildx-git-overlap.mdx
  _docs/rules/tally/labels/no-stale-base-digest.mdx
  internal/integration/__snapshots__/TestLint_labels-no-stale-base-digest_1.snap.json
  internal/rules/tally/labels/no_buildx_git_overlap.go
  internal/rules/tally/labels/no_buildx_git_overlap_test.go
  internal/rules/tally/labels/no_stale_base_digest.go
  internal/rules/tally/labels/no_stale_base_digest_test.go
Due: format-go, lint-go, typos

Path conditions:
  format-go: any of: **/*.go
  lint-go: any of: **/*.go
  ts-typecheck: any of: extensions/vscode-tally/**/*.ts and ^extensions/vscode\-tally/
  ts-lint: any of: extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts} and ^extensions/vscode\-tally/
  ts-format: any of: *.{js,ts,cjs,mjs,mts,cts,jsx,tsx} and ^extensions/vscode\-tally/
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  format-yml: any of: {.yamlfmt,*.yml,*.yaml}
  typos: any of: *.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}
  codecov: any of: .codecov.yml
  actionlint: any of: .github/workflows/*.{yaml,yml}
  commitlint-config: any of: .commitlintrc.yaml
