Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

.lefthook.yml:

# yaml-language-server: =https://json.schemastore.org/lefthook.json
---
output:
  # - summary # Print summary block (successful and failed steps)
  # - empty_summary # Print summary heading when there are no steps to run
  - failure # Print failed steps printing
# - skips # Print "skip" (i.e. no files matched)
assert_lefthook_installed: true
pre-commit:
  commands:
    format-go:
      glob: "**/*.go"
      run: gofmt -w -s {staged_files}
      stage_fixed: true
    lint-go:
      glob: "**/*.go"
      run: GOEXPERIMENT=jsonv2 make lint-fix
      stage_fixed: true
    ts-typecheck:
      glob: "extensions/vscode-tally/**/*.ts"
      run: bunx @typescript/native-preview --noEmit
      root: extensions/vscode-tally
    ts-lint:
      glob: "extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts}"
      run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
      stage_fixed: true
      root: extensions/vscode-tally
    ts-format:
      glob: "*.{js,ts,cjs,mjs,mts,cts,jsx,tsx}"
      run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
      stage_fixed: true
      root: extensions/vscode-tally
    taplo:
      glob: "**/*.toml"
      run: bunx -y -q @taplo/cli format {staged_files}
      stage_fixed: true
    rumdl:
      glob: "**/*.md"
      exclude: "**/__snapshots__/**"
      run: uv tool run rumdl==0.1.17 check --fix --config .rumdl.toml --output-format concise {staged_files}
      stage_fixed: true
    yamllint:
      glob: "*.{yml,yaml}"
      run: uvx yamllint {staged_files}
    format-yml:
      glob: "{.yamlfmt,*.yml,*.yaml}"
      run: yamlfmt {staged_files}
      stage_fixed: true
    typos:
      glob: "*.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}"
      run: uv tool run typos==1.43.4 --force-exclude {staged_files}
    codecov:
      glob: ".codecov.yml"
      run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate
    # renovate:
    #   glob: "renovate.json"
    #   run: npx -y -q -y --package renovate renovate-config-validator renovate.json
    actionlint:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}
    commitlint-config:
      glob: ".commitlintrc.yaml"
      run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml
commit-msg:
  commands:
    "lint commit message":
      run: npx -y -q commitlint --edit {1}
    "check spelling":
      run: uv tool run typos==1.43.4 {1}
post-merge:
  files: "git diff-tree -r --name-only --no-commit-id ORIG_HEAD HEAD"
  commands:
    delete-merged-branches:
      run: git branch --merged | grep -Ev '\*|master|main|dev|develop|development|stag|staging|prod|production' | xargs git branch -d; git fetch --prune;
pre-push:
  parallel: true
  jobs:
    - name: build
      run: GOEXPERIMENT=jsonv2 make build
    - name: deadcode
      run: GOEXPERIMENT=jsonv2 make deadcode
    - name: test
      run: GOEXPERIMENT=jsonv2 make test
    - name: validate-hadolint-status
      run: ./scripts/validate-hadolint-status.sh
    - name: validate-buildkit-rules
      run: GOEXPERIMENT=jsonv2 ./scripts/validate-buildkit-rules.sh

docs: add Docker blog heredoc article to references
  docs/rules/tally/prefer-copy-heredoc.md
  docs/rules/tally/prefer-run-heredoc.md
Due: typos

feat: graduate prefer-copy-heredoc, add cat/tee heredoc detection (#246)
  RULES.md
  docs/guide/configuration.md
  docs/rules/tally/index.md
  docs/rules/tally/prefer-copy-heredoc.md
  docs/rules/tally/prefer-run-heredoc.md
  internal/integration/__snapshots__/TestFixHeredocCombined_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-copy-heredoc-buildkit-heredoc-cat_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-copy-heredoc-buildkit-heredoc-tee_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_heredoc-combined_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/testdata/heredoc-combined/Dockerfile
  internal/rules/tally/__snapshots__/TestPreferCopyHeredocRule_Metadata_1.snap.json
  internal/rules/tally/prefer_copy_heredoc.go
  internal/shell/file_creation.go
  internal/shell/file_creation_test.go
Due: format-go, lint-go, typos

feat: add tally/curl-missing-location rule
  README.md
  RULES.md
  docs/rules/tally/curl-missing-location.md
  internal/dockerfile/parser.go
  internal/fix/conflict.go
  internal/fix/conflict_test.go
  internal/fix/fixer.go
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_curl-missing-location-cross-prefer-add-unpack_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_curl-missing-location_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_curl-missing-location_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/curl-missing-location/Dockerfile
  internal/rules/hadolint/dl3027.go
  internal/rules/hadolint/dl3046.go
  internal/rules/hadolint/dl3047.go
  internal/rules/hadolint/helpers.go
  internal/rules/tally/curl_missing_location.go
  internal/rules/tally/curl_missing_location_test.go
Due: format-go, lint-go, typos

chore: set TALLY_TEST_REGISTRY=1
  .claude/settings.json
Due: typos

fix: address PR review comment
  internal/fix/conflict.go
  internal/fix/fixer.go
Due: format-go, lint-go

chore: remove registry test
  .claude/settings.json
Due: typos

fix: address PR review comment
  internal/fix/conflict.go
  internal/fix/conflict_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/integration/__snapshots__/TestFix_curl-missing-location-cross-newline-per-chained-call_1.snap.Dockerfile
  internal/integration/fix_cases_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/integration/__snapshots__/TestLint_curl-missing-location-exceptions_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/curl-missing-location-exceptions/Dockerfile
Due: format-go, lint-go, typos

fix: address PR review comment
  internal/integration/__snapshots__/TestLint_curl-missing-location_1.snap.json
  internal/integration/testdata/curl-missing-location/Dockerfile
  internal/rules/tally/curl_missing_location.go
Due: format-go, lint-go, typos

chore: increase number of violations
  _integrations/vscode-tally/test/e2e/smoke.test.ts
Due: typos

fix: address PR review comment
  internal/dockerfile/parser.go
  internal/dockerfile/parser_helpers_test.go
  internal/integration/__snapshots__/TestLint_curl-missing-location_1.snap.json
  internal/integration/testdata/curl-missing-location-exceptions/Dockerfile
  internal/integration/testdata/curl-missing-location/Dockerfile
Due: format-go, lint-go, typos

fix: address PR review comment
  docs/rules/tally/curl-missing-location.md
  internal/integration/testdata/curl-missing-location-exceptions/Dockerfile
  internal/rules/tally/curl_missing_location.go
  internal/rules/tally/curl_missing_location_test.go
Due: format-go, lint-go, typos

fix: address PR review comment
  internal/rules/tally/curl_missing_location_test.go
Due: format-go, lint-go

feat: suggest --follow for curl with non-standard HTTP methods
  docs/rules/tally/curl-missing-location.md
  internal/integration/__snapshots__/TestLint_curl-missing-location_1.snap.json
  internal/integration/testdata/curl-missing-location-exceptions/Dockerfile
  internal/integration/testdata/curl-missing-location/Dockerfile
  internal/rules/tally/curl_missing_location.go
  internal/rules/tally/curl_missing_location_test.go
Due: format-go, lint-go, typos

refactor: rename rule to tally/curl-should-follow-redirects
  RULES.md
  docs/rules/tally/curl-should-follow-redirects.md
  internal/integration/__snapshots__/TestFix_curl-should-follow-redirects-cross-newline-per-chained-call_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_curl-should-follow-redirects-cross-prefer-add-unpack_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_curl-should-follow-redirects_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_curl-should-follow-redirects-exceptions_1.snap.json
  internal/integration/__snapshots__/TestLint_curl-should-follow-redirects_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/curl-should-follow-redirects-exceptions/Dockerfile
  internal/integration/testdata/curl-should-follow-redirects/Dockerfile
  internal/rules/tally/curl_should_follow_redirects.go
  internal/rules/tally/curl_should_follow_redirects_test.go
Due: format-go, lint-go, typos

fix: address PR review comment
  internal/integration/testdata/curl-should-follow-redirects-exceptions/Dockerfile
  internal/rules/tally/curl_should_follow_redirects.go
  internal/rules/tally/curl_should_follow_redirects_test.go
Due: format-go, lint-go

feat: add tally/curl-should-follow-redirects rule (#251)
  README.md
  RULES.md
  _integrations/vscode-tally/test/e2e/smoke.test.ts
  docs/rules/tally/curl-should-follow-redirects.md
  internal/dockerfile/parser.go
  internal/dockerfile/parser_helpers_test.go
  internal/fix/conflict.go
  internal/fix/conflict_test.go
  internal/fix/fixer.go
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_curl-should-follow-redirects-cross-newline-per-chained-call_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_curl-should-follow-redirects-cross-prefer-add-unpack_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_curl-should-follow-redirects_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_curl-should-follow-redirects-exceptions_1.snap.json
  internal/integration/__snapshots__/TestLint_curl-should-follow-redirects_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/curl-should-follow-redirects-exceptions/Dockerfile
  internal/integration/testdata/curl-should-follow-redirects/Dockerfile
  internal/rules/hadolint/dl3027.go
  internal/rules/hadolint/dl3046.go
  internal/rules/hadolint/dl3047.go
  internal/rules/hadolint/helpers.go
  internal/rules/tally/curl_should_follow_redirects.go
  internal/rules/tally/curl_should_follow_redirects_test.go
Due: format-go, lint-go, typos

fix: set hadolint/DL3022 default severity to Off
  RULES.md
  docs/rules/hadolint/DL3022.md
  internal/integration/__snapshots__/TestLint_copy-from-own-alias_1.snap.json
  internal/integration/__snapshots__/TestLint_dl3022_1.snap.json
  internal/linter/config.go
  internal/linter/linter.go
  internal/rules/hadolint-rules.json
  internal/rules/hadolint/dl3022.go
  internal/rules/hadolint/dl3023.go
  internal/rules/hadolint/dl3043.go
  internal/rules/hadolint/dl3061.go
  internal/semantic/construction_rules.go
Due: format-go, lint-go, typos

fix: preserve explicit issue severity over registry default
  internal/linter/linter.go
Due: format-go, lint-go

fix: use diagTimeout for LSP initialize in pull-diagnostics tests
  internal/lsptest/lsp_test.go
Due: format-go, lint-go

fix: set hadolint/DL3022 default severity to Off (#260)
  RULES.md
  docs/rules/hadolint/DL3022.md
  internal/integration/__snapshots__/TestLint_copy-from-own-alias_1.snap.json
  internal/integration/__snapshots__/TestLint_dl3022_1.snap.json
  internal/linter/config.go
  internal/linter/linter.go
  internal/lsptest/lsp_test.go
  internal/rules/hadolint-rules.json
  internal/rules/hadolint/dl3022.go
  internal/rules/hadolint/dl3023.go
  internal/rules/hadolint/dl3043.go
  internal/rules/hadolint/dl3061.go
  internal/semantic/construction_rules.go
Due: format-go, lint-go, typos

fix: adapt to mvdan.cc/sh/v3.13.0 API changes
  internal/shell/file_creation.go
Due: format-go, lint-go

fix: align isComplexExpansion with upstream ParamExp.simple()
  internal/shell/file_creation.go
Due: format-go, lint-go

feat: add VariantZsh now that mvdan.cc/sh v3.13.0 supports LangZsh
  internal/highlight/shell/tokenize.go
  internal/shell/shell.go
  internal/shell/shell_test.go
Due: format-go, lint-go

refactor: make Variant a bitset, define capability sets
  internal/shell/shell.go
  internal/shell/shell_test.go
Due: format-go, lint-go

zed: set extension version to 0.22.0
  _integrations/zed-tally/Cargo.toml
  _integrations/zed-tally/extension.toml
Due: taplo, typos

fix: run slow checks by default in lsp mode
  cmd/tally/cmd/lint.go
  internal/linter/async.go
  internal/lspserver/async.go
  internal/lspserver/async_test.go
  internal/lspserver/codeactions.go
  internal/lspserver/diagnostics.go
Due: format-go, lint-go

fix: address PR review comment
  internal/linter/async.go
Due: format-go, lint-go

fix: gate lsp slow checks on workspace trust
  _integrations/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyLspServerDescriptor.kt
  _integrations/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyLspServerSupportProvider.kt
  _integrations/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyServerService.kt
  _integrations/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallySettings.kt
  _integrations/vscode-tally/src/config/configService.ts
  _integrations/vscode-tally/src/config/vscodeConfig.ts
  _integrations/vscode-tally/src/extension.ts
  _integrations/vscode-tally/src/lsp/client.ts
  internal/lspserver/async_test.go
  internal/lspserver/diagnostics.go
  internal/lspserver/server.go
  internal/lspserver/settings.go
  internal/lspserver/settings_test.go
Due: format-go, lint-go, typos

fix: gate lsp slow checks on trusted workspaces (#261)
  _integrations/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyLspServerDescriptor.kt
  _integrations/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyLspServerSupportProvider.kt
  _integrations/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyServerService.kt
  _integrations/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallySettings.kt
  _integrations/vscode-tally/src/config/configService.ts
  _integrations/vscode-tally/src/config/vscodeConfig.ts
  _integrations/vscode-tally/src/extension.ts
  _integrations/vscode-tally/src/lsp/client.ts
  cmd/tally/cmd/lint.go
  internal/linter/async.go
  internal/lspserver/async.go
  internal/lspserver/async_test.go
  internal/lspserver/codeactions.go
  internal/lspserver/diagnostics.go
  internal/lspserver/server.go
  internal/lspserver/settings.go
  internal/lspserver/settings_test.go
Due: format-go, lint-go, typos

zed: set extension version to 0.23.0
  _integrations/zed-tally/Cargo.toml
  _integrations/zed-tally/extension.toml
Due: taplo, typos

fix: tighten lsp cancellation handling
  _integrations/vscode-tally/src/lsp/client.ts
  internal/lspserver/diagnostics.go
  internal/lspserver/diagnostics_test.go
  internal/lspserver/server.go
  internal/lspserver/server_test.go
Due: format-go, lint-go, typos

fix: validate cancel request ids
  internal/lspserver/server.go
  internal/lspserver/server_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/lspserver/server.go
Due: format-go, lint-go

fix: address PR review comment
  internal/lspserver/server.go
  internal/lspserver/server_test.go
Due: format-go, lint-go

fix: tighten LSP cancellation handling (#262)
  _integrations/vscode-tally/src/lsp/client.ts
  internal/lspserver/diagnostics.go
  internal/lspserver/diagnostics_test.go
  internal/lspserver/server.go
  internal/lspserver/server_test.go
Due: format-go, lint-go, typos

zed: set extension version to 0.23.1
  _integrations/zed-tally/Cargo.toml
  _integrations/zed-tally/extension.toml
Due: taplo, typos

feat: add smart suppression to hadolint/DL3057 for non-service containers
  RULES.md
  docs/rules/hadolint/DL3057.md
  internal/integration/__snapshots__/TestLint_dl3057-suppress-serverless_1.snap.json
  internal/integration/__snapshots__/TestLint_dl3057-suppress-shell-cmd_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/dl3057-suppress-serverless/Dockerfile
  internal/integration/testdata/dl3057-suppress-shell-cmd/Dockerfile
  internal/rules/hadolint/dl3057.go
  internal/rules/hadolint/dl3057_test.go
Due: format-go, lint-go, typos

chore: reduce violations count
  _integrations/vscode-tally/test/e2e/smoke.test.ts
Due: typos
