Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

format-go:
  run: gofmt -w -s {staged_files}
  stage_fixed: true

lint-go:
  run: GOEXPERIMENT=jsonv2 make lint-fix
  stage_fixed: true

ts-typecheck:
  run: bunx @typescript/native-preview --noEmit

ts-lint:
  run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
  stage_fixed: true

ts-format:
  run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
  stage_fixed: true

taplo:
  run: bunx -y -q @taplo/cli format {staged_files}
  stage_fixed: true

yamllint:
  run: uvx yamllint {staged_files}

format-yml:
  run: yamlfmt {staged_files}
  stage_fixed: true

typos:
  run: uv tool run typos==1.43.4 --force-exclude {staged_files}

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

actionlint:
  run: actionlint {staged_files}

commitlint-config:
  run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml

feat: format structured heredocs
  _docs/docs.json
  _docs/integrations/editorconfig.mdx
  _docs/rules/tally/consistent-indentation.mdx
  _docs/rules/tally/eol-last.mdx
  _docs/rules/tally/no-trailing-spaces.mdx
  _docs/rules/tally/prefer-formatted-heredocs.mdx
  cmd/tally/cmd/lint.go
  go.mod
  go.sum
  internal/fix/finalizer.go
  internal/fix/fixer.go
  internal/fix/heredoc_format_finalizer.go
  internal/fix/heredoc_format_finalizer_test.go
  internal/heredocfmt/dockerfile.go
  internal/heredocfmt/format.go
  internal/integration/__snapshots__/TestFix_prefer-copy-heredoc-formats-generated-json_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/rules/heredoc_data.go
  internal/rules/tally/index.schema.json
  internal/rules/tally/prefer_formatted_heredocs.go
  internal/rules/tally/prefer_formatted_heredocs.schema.json
  internal/rules/tally/prefer_formatted_heredocs_test.go
  internal/schemas/generated/config/tally_config.gen.go
  internal/schemas/generated/rules/tally/prefer_formatted_heredocs.gen.go
  internal/schemas/manifest.json
  internal/schemas/registry_gen.go
  schema.json
Due: format-go, lint-go, typos

fix: address heredoc formatter review feedback
  internal/heredocfmt/format.go
  internal/heredocfmt/format_test.go
  internal/rules/tally/prefer_formatted_heredocs_test.go
Due: format-go, lint-go

feat: format ini heredocs
  _docs/integrations/editorconfig.mdx
  _docs/rules/tally/prefer-formatted-heredocs.mdx
  internal/heredocfmt/format.go
  internal/heredocfmt/format_test.go
  internal/integration/__snapshots__/TestFixRealWorldPHPFPM56_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorldPHPFPM56_1.snap.md
  internal/rules/tally/prefer_formatted_heredocs_test.go
Due: format-go, lint-go, typos

test: snapshot generated heredoc formats
  internal/integration/__snapshots__/TestFix_prefer-copy-heredoc-formats-generated-ini_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-copy-heredoc-formats-generated-toml_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-copy-heredoc-formats-generated-xml_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-copy-heredoc-formats-generated-yaml_1.snap.Dockerfile
  internal/integration/fix_cases_test.go
Due: format-go, lint-go

test: cover mixed heredoc formatting fixes
  internal/integration/__snapshots__/TestFix_prefer-formatted-heredocs-existing-and-generated_1.snap.Dockerfile
  internal/integration/fix_cases_test.go
Due: format-go, lint-go

feat: support more XML heredoc extensions
  _docs/rules/tally/prefer-formatted-heredocs.mdx
  internal/heredocfmt/format.go
  internal/heredocfmt/format_test.go
  internal/rules/tally/prefer_formatted_heredocs_test.go
Due: format-go, lint-go

fix: address heredoc formatter review comments
  internal/heredocfmt/format.go
Due: format-go, lint-go

fix: normalize ini heredoc line endings
  internal/heredocfmt/format.go
  internal/heredocfmt/format_test.go
Due: format-go, lint-go

docs: clarify editorconfig heredoc behavior
  _docs/integrations/editorconfig.mdx
  _docs/rules/tally/prefer-formatted-heredocs.mdx
Due: none

docs: clarify heredoc trailing whitespace behavior
  _docs/integrations/editorconfig.mdx
  _docs/rules/tally/prefer-formatted-heredocs.mdx
Due: none

feat: support yaml heredoc line width
  _docs/integrations/editorconfig.mdx
  _docs/rules/tally/prefer-formatted-heredocs.mdx
  internal/heredocfmt/format.go
  internal/heredocfmt/format_test.go
  internal/rules/tally/prefer_formatted_heredocs_test.go
Due: format-go, lint-go

[codex] Format structured heredocs (#579)
  _docs/docs.json
  _docs/integrations/editorconfig.mdx
  _docs/rules/tally/consistent-indentation.mdx
  _docs/rules/tally/eol-last.mdx
  _docs/rules/tally/no-trailing-spaces.mdx
  _docs/rules/tally/prefer-formatted-heredocs.mdx
  cmd/tally/cmd/lint.go
  go.mod
  go.sum
  internal/fix/finalizer.go
  internal/fix/fixer.go
  internal/fix/heredoc_format_finalizer.go
  internal/fix/heredoc_format_finalizer_test.go
  internal/heredocfmt/dockerfile.go
  internal/heredocfmt/format.go
  internal/heredocfmt/format_test.go
  internal/integration/__snapshots__/TestFixRealWorldPHPFPM56_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorldPHPFPM56_1.snap.md
  internal/integration/__snapshots__/TestFix_prefer-copy-heredoc-formats-generated-ini_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-copy-heredoc-formats-generated-json_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-copy-heredoc-formats-generated-toml_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-copy-heredoc-formats-generated-xml_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-copy-heredoc-formats-generated-yaml_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-formatted-heredocs-existing-and-generated_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/rules/heredoc_data.go
  internal/rules/tally/index.schema.json
  internal/rules/tally/prefer_formatted_heredocs.go
  internal/rules/tally/prefer_formatted_heredocs.schema.json
  internal/rules/tally/prefer_formatted_heredocs_test.go
  internal/schemas/generated/config/tally_config.gen.go
  internal/schemas/generated/rules/tally/prefer_formatted_heredocs.gen.go
  internal/schemas/manifest.json
  internal/schemas/registry_gen.go
  schema.json
Due: format-go, lint-go, typos

feat: format shell run heredocs
  _docs/integrations/editorconfig.mdx
  _docs/rules/tally/prefer-formatted-heredocs.mdx
  internal/heredoc/format.go
  internal/heredocfmt/dockerfile.go
  internal/heredocfmt/format.go
  internal/heredocfmt/format_test.go
  internal/highlight/shell/tokenize.go
  internal/rules/hadolint/dl4001.go
  internal/rules/hadolint/dl4001_fix.go
  internal/rules/shellcheck/shellcheck.go
  internal/rules/shellcheck/shellcheck_test.go
  internal/rules/tally/prefer_formatted_heredocs.go
  internal/rules/tally/prefer_formatted_heredocs_test.go
  internal/shell/explicit_shell.go
  internal/shell/shell.go
  internal/shell/shell_test.go
Due: format-go, lint-go

feat: format copy shell heredocs
  _docs/integrations/editorconfig.mdx
  _docs/rules/tally/prefer-formatted-heredocs.mdx
  internal/fix/heredoc_format_finalizer.go
  internal/heredocfmt/dockerfile.go
  internal/heredocfmt/format.go
  internal/heredocfmt/format_test.go
  internal/rules/tally/prefer_formatted_heredocs.go
  internal/rules/tally/prefer_formatted_heredocs_test.go
Due: format-go, lint-go

fix: harden shell heredoc wrapping
  internal/heredocfmt/format.go
  internal/heredocfmt/format_test.go
Due: format-go, lint-go

docs: add Docker CLI plugin plan
  design-docs/41-docker-cli-plugin.md
  design-docs/README.md
Due: typos

fix: format onbuild run heredocs
  internal/heredocfmt/dockerfile.go
  internal/rules/tally/prefer_formatted_heredocs_test.go
Due: format-go, lint-go

fix: skip overlong shell heredoc wraps
  internal/heredocfmt/format.go
  internal/heredocfmt/format_test.go
Due: format-go, lint-go

fix: allow bats shellcheck shebangs
  internal/rules/shellcheck/shellcheck.go
  internal/rules/shellcheck/shellcheck_test.go
Due: format-go, lint-go

test: cover generated shell heredoc formatting
  internal/integration/__snapshots__/TestFix_prefer-copy-heredoc-formats-generated-shell_1.snap.Dockerfile
  internal/integration/fix_cases_test.go
Due: format-go, lint-go

fix: skip run heredocs without shell metadata
  internal/rules/tally/prefer_formatted_heredocs.go
  internal/rules/tally/prefer_formatted_heredocs_test.go
Due: format-go, lint-go

fix: require column-zero heredoc shebangs
  internal/rules/tally/prefer_formatted_heredocs.go
  internal/rules/tally/prefer_formatted_heredocs_test.go
Due: format-go, lint-go

docs: address Docker CLI plugin review
  design-docs/41-docker-cli-plugin.md
  design-docs/README.md
Due: typos

fix: format run heredocs in finalizer
  internal/fix/heredoc_format_finalizer.go
  internal/fix/heredoc_format_finalizer_test.go
  internal/heredocfmt/dockerfile.go
  internal/heredocfmt/dockerfile_test.go
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/fix_cases_test.go
  internal/rules/tally/prefer_formatted_heredocs.go
  internal/rules/tally/prefer_formatted_heredocs_test.go
Due: format-go, lint-go

docs: evaluate viper config migration
  design-docs/41-docker-cli-plugin.md
Due: typos

docs: add Docker CLI plugin plan (#585)
  design-docs/41-docker-cli-plugin.md
  design-docs/README.md
Due: typos

[codex] Format shell heredocs (#582)
  _docs/integrations/editorconfig.mdx
  _docs/rules/tally/prefer-formatted-heredocs.mdx
  internal/fix/heredoc_format_finalizer.go
  internal/fix/heredoc_format_finalizer_test.go
  internal/heredoc/format.go
  internal/heredocfmt/dockerfile.go
  internal/heredocfmt/dockerfile_test.go
  internal/heredocfmt/format.go
  internal/heredocfmt/format_test.go
  internal/highlight/shell/tokenize.go
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-copy-heredoc-formats-generated-shell_1.snap.Dockerfile
  internal/integration/fix_cases_test.go
  internal/rules/hadolint/dl4001.go
  internal/rules/hadolint/dl4001_fix.go
  internal/rules/shellcheck/shellcheck.go
  internal/rules/shellcheck/shellcheck_test.go
  internal/rules/tally/prefer_formatted_heredocs.go
  internal/rules/tally/prefer_formatted_heredocs_test.go
  internal/shell/explicit_shell.go
  internal/shell/shell.go
  internal/shell/shell_test.go
Due: format-go, lint-go

chore: migrate from lefthook to hk
  .claude/settings.json
  .github/copilot-instructions.md
  .lefthook.yml
  .serena/memories/project_structure.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  .vscode/tasks.json
  AGENTS.md
  design-docs/12-json-v2-migration.md
  hk.pkl
  renovate.json
Due: yamllint, format-yml, typos

fix: markdown hook
  AGENTS.md
  hk.pkl
Due: typos

chore: migrate from lefthook to hk (#587)
  .claude/settings.json
  .github/copilot-instructions.md
  .lefthook.yml
  .serena/memories/project_structure.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  .vscode/tasks.json
  AGENTS.md
  design-docs/12-json-v2-migration.md
  hk.pkl
  renovate.json
Due: yamllint, format-yml, typos

fix: post-merge hook
  hk.pkl
Due: none

refactor: migrate CLI from urfave/cli/v3 to Cobra + koanf/posflag
  cmd/tally/cmd/lint.go
  cmd/tally/cmd/lsp.go
  cmd/tally/cmd/options.go
  cmd/tally/cmd/options_test.go
  cmd/tally/cmd/root.go
  cmd/tally/cmd/version.go
  go.mod
  go.sum
  internal/config/config.go
  internal/config/config_test.go
  internal/integration/__snapshots__/TestFixPowerShellAlpine_1.snap.md
  internal/integration/__snapshots__/TestFixRealWorldBoostMSVCWindowsContainer_1.snap.md
  internal/integration/__snapshots__/TestFixRealWorldPHPFPM56_1.snap.md
  internal/integration/__snapshots__/TestFixRealWorldTeamCityNanoServer_1.snap.md
  internal/integration/__snapshots__/TestFixWindowsContainer_1.snap.md
  main.go
Due: format-go, lint-go, typos

refactor: migrate CLI from urfave/cli/v3 to Cobra + koanf/posflag (#588)
  cmd/tally/cmd/lint.go
  cmd/tally/cmd/lsp.go
  cmd/tally/cmd/options.go
  cmd/tally/cmd/options_test.go
  cmd/tally/cmd/root.go
  cmd/tally/cmd/version.go
  go.mod
  go.sum
  hk.pkl
  internal/config/config.go
  internal/config/config_test.go
  internal/integration/__snapshots__/TestFixPowerShellAlpine_1.snap.md
  internal/integration/__snapshots__/TestFixRealWorldBoostMSVCWindowsContainer_1.snap.md
  internal/integration/__snapshots__/TestFixRealWorldPHPFPM56_1.snap.md
  internal/integration/__snapshots__/TestFixRealWorldTeamCityNanoServer_1.snap.md
  internal/integration/__snapshots__/TestFixWindowsContainer_1.snap.md
  main.go
Due: format-go, lint-go, typos

feat: add Docker CLI plugin support
  .github/workflows/release.yml
  _docs/docs.json
  _docs/installation.mdx
  _docs/integrations/docker-cli-plugin.mdx
  _docs/quickstart.mdx
  cmd/tally/cmd/docker_plugin.go
  cmd/tally/cmd/docker_plugin_test.go
  cmd/tally/cmd/lint.go
  cmd/tally/cmd/options.go
  cmd/tally/cmd/root.go
  go.mod
  internal/integration/docker_plugin_test.go
  main.go
  packaging/homebrew/tally.rb.template
  scripts/release/generate_winget_manifests.rb
  scripts/release/test_generate_winget_manifests.rb
Due: format-go, lint-go, yamllint, format-yml, typos, actionlint

fix: address PR review comment
  cmd/tally/cmd/docker_plugin.go
  internal/integration/docker_plugin_test.go
Due: format-go, lint-go

feat: add Docker plugin registration command
  README.md
  _docs/index.mdx
  _docs/installation.mdx
  _docs/integrations/docker-cli-plugin.mdx
  _docs/introduction.mdx
  _docs/quickstart.mdx
  cmd/tally/cmd/docker_plugin.go
  cmd/tally/cmd/docker_plugin_register.go
  cmd/tally/cmd/docker_plugin_register_test.go
  cmd/tally/cmd/root.go
  go.mod
  packaging/homebrew/tally.rb.template
Due: format-go, lint-go, typos

feat: support Bun Docker plugin registration
  README.md
  _docs/index.mdx
  _docs/installation.mdx
  _docs/integrations/docker-cli-plugin.mdx
  _docs/introduction.mdx
  _docs/quickstart.mdx
  cmd/tally/cmd/docker_plugin_register.go
  cmd/tally/cmd/docker_plugin_register_test.go
  packaging/npm/README.md
Due: format-go, lint-go, typos

docs: mention Docker lint registration in README
  README.md
Due: typos

fix: detect active Python virtualenv for Docker plugin registration
  _docs/installation.mdx
  _docs/integrations/docker-cli-plugin.mdx
  cmd/tally/cmd/docker_plugin_register.go
  cmd/tally/cmd/docker_plugin_register_test.go
Due: format-go, lint-go

fix: address PR review comment
  cmd/tally/cmd/docker_plugin_register.go
  cmd/tally/cmd/docker_plugin_register_test.go
Due: format-go, lint-go

Path conditions:
  format-go: any of: **/*.go
  lint-go: any of: **/*.go
  ts-typecheck: any of: extensions/vscode-tally/**/*.ts and ^extensions/vscode\-tally/
  ts-lint: any of: extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts} and ^extensions/vscode\-tally/
  ts-format: any of: *.{js,ts,cjs,mjs,mts,cts,jsx,tsx} and ^extensions/vscode\-tally/
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  format-yml: any of: {.yamlfmt,*.yml,*.yaml}
  typos: any of: *.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}
  codecov: any of: .codecov.yml
  actionlint: any of: .github/workflows/*.{yaml,yml}
  commitlint-config: any of: .commitlintrc.yaml
