Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

format-go:
  run: gofmt -w -s {staged_files}
  stage_fixed: true

lint-go:
  run: GOEXPERIMENT=jsonv2 make lint-fix
  stage_fixed: true

ts-typecheck:
  run: bunx @typescript/native-preview --noEmit

ts-lint:
  run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
  stage_fixed: true

ts-format:
  run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
  stage_fixed: true

taplo:
  run: bunx -y -q @taplo/cli format {staged_files}
  stage_fixed: true

yamllint:
  run: uvx yamllint {staged_files}

format-yml:
  run: yamlfmt {staged_files}
  stage_fixed: true

typos:
  run: uv tool run typos==1.43.4 --force-exclude {staged_files}

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

actionlint:
  run: actionlint {staged_files}

commitlint-config:
  run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml

feat(rules): add tally/labels/prefer-stable-order (#715)
  _docs/docs.json
  _docs/rules/tally/labels/prefer-stable-order.mdx
  internal/integration/fixtures/fix/labels-prefer-stable-order-with-grouped/.tally.toml
  internal/integration/fixtures/fix/labels-prefer-stable-order-with-grouped/Dockerfile
  internal/integration/fixtures/fix/labels-prefer-stable-order-with-grouped/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/labels-prefer-stable-order-with-grouped/report_1.snap.md
  internal/integration/fixtures/fix/labels-prefer-stable-order/.tally.toml
  internal/integration/fixtures/fix/labels-prefer-stable-order/Dockerfile
  internal/integration/fixtures/fix/labels-prefer-stable-order/fixed_1.snap.Dockerfile
  internal/integration/fixtures/fix/labels-prefer-stable-order/report_1.snap.md
  internal/integration/fixtures/lint/labels-prefer-stable-order/.tally.toml
  internal/integration/fixtures/lint/labels-prefer-stable-order/Dockerfile
  internal/integration/fixtures/lint/labels-prefer-stable-order/result_1.snap.json
  internal/rules/tally/index.schema.json
  internal/rules/tally/labels/prefer_stable_order.go
  internal/rules/tally/labels/prefer_stable_order.schema.json
  internal/rules/tally/labels/prefer_stable_order_test.go
  internal/schemas/generated/config/tally_config.gen.go
  internal/schemas/generated/rules/tally/labels/prefer_stable_order.gen.go
  internal/schemas/manifest.json
  internal/schemas/registry_gen.go
  schema.json
Due: format-go, lint-go, taplo, typos

refactor(registry): drop deprecated UpdateRegistriesConf call
  internal/registry/containers.go
Due: format-go, lint-go

build(intellij): point hk ktlint hooks at the new toolchain commands
  hk.pkl
Due: none

chore: set KOTLIN_CLI_NO_WELCOME_BANNER=1 in shared env configs
  .claude/settings.json
  .codex/config.toml
  hk.pkl
Due: taplo, typos

fix(intellij): address PR review feedback
  .github/workflows/release.yml
  Makefile
  _integrations/intellij-tally/intellij-plugin/module.yaml
  _integrations/intellij-tally/tally-build/plugin.yaml
  _integrations/intellij-tally/tally-build/src/Download.kt
  _integrations/intellij-tally/tally-build/src/Ktlint.kt
  _integrations/intellij-tally/tally-build/src/PackagePlugin.kt
  _integrations/intellij-tally/tally-build/src/Process.kt
  _integrations/intellij-tally/tally-build/src/Settings.kt
  _integrations/intellij-tally/tally-build/src/Verifier.kt
  tally.iml
Due: yamllint, format-yml, typos, actionlint

fix: point packagePlugin bundledDir at the release bundle root
  _integrations/intellij-tally/tally-build/plugin.yaml
Due: yamllint, format-yml, typos

fix: apply timeout to plugin verifier subprocess
  _integrations/intellij-tally/tally-build/src/Process.kt
  _integrations/intellij-tally/tally-build/src/Verifier.kt
Due: none

zed: set extension version to 0.44.0
  _integrations/zed-tally/Cargo.toml
  _integrations/zed-tally/extension.toml
Due: taplo, typos

test(acp): satisfy required Agent.Logout method
  internal/ai/acp/testdata/testagent/main.go
Due: format-go, lint-go

feat(lsp): adopt LSP 3.18 + vscode-languageclient v10
  _integrations/vscode-tally/src/extension.ts
  _integrations/vscode-tally/src/lsp/client.ts
  _tools/lspgen/fetchModel.mts
  internal/lsp/protocol/lsp_generated.go
  internal/lspserver/codeactions.go
  internal/lspserver/codeactions_test.go
  internal/lspserver/diagnostics.go
  internal/lspserver/formatting.go
  internal/lspserver/server.go
  internal/lsptest/__snapshots__/TestLSP_Initialize_1.snap.json
  internal/lsptest/lsp_test.go
  internal/lsptest/setup_test.go
Due: format-go, lint-go, typos

test(vscode): teach output-channel spy about LogOutputChannel methods
  _integrations/vscode-tally/test/suite/index.js
Due: typos

fix: upgrade codecov/codecov-action
  .github/workflows/ci.yml
  .github/workflows/vscode-extension.yml
Due: yamllint, format-yml, typos, actionlint

docs: add homebrew cask trust
  _docs/index.mdx
  _docs/installation.mdx
  _docs/integrations/docker-cli-plugin.mdx
  _docs/quickstart.mdx
Due: none

chore: update extensions settings
  .idea/rumdl.xml
  .serena/project.yml
  .vscode/extensions.json
Due: yamllint, format-yml, typos

chore: scope MCP permissions and enable auto mode
  .claude/settings.json
Due: typos

fix(intellij): write Marketplace-extractable plugin zip
  .gitignore
  _integrations/intellij-tally/intellij-plugin/module.yaml
  _integrations/intellij-tally/tally-build/src/PackagePlugin.kt
Due: yamllint, format-yml, typos

chore(intellij): bump ktlint 1.5.0 -> 1.8.0
  _integrations/intellij-tally/intellij-plugin/module.yaml
Due: yamllint, format-yml, typos

fix: address PR review comment
  _integrations/intellij-tally/tally-build/src/PackagePlugin.kt
Due: none

zed: set extension version to 0.44.1
  _integrations/zed-tally/Cargo.toml
  _integrations/zed-tally/extension.toml
Due: taplo, typos

fix(intellij): drop internal-API PluginManager.getPluginByClass
  _integrations/intellij-tally/intellij-plugin/src/io/github/wharflab/tally/intellij/lsp/TallyBinaryResolver.kt
  _integrations/intellij-tally/intellij-plugin/src/io/github/wharflab/tally/intellij/lsp/TallyLspServerSupportProvider.kt
Due: none

fix: address PR review comment
  _integrations/intellij-tally/intellij-plugin/src/io/github/wharflab/tally/intellij/lsp/TallyBinaryResolver.kt
  _integrations/intellij-tally/intellij-plugin/src/io/github/wharflab/tally/intellij/lsp/TallyLspServerSupportProvider.kt
Due: none

fix(intellij): drop internal-API PluginManager.getPluginByClass (#790)
  _integrations/intellij-tally/intellij-plugin/src/io/github/wharflab/tally/intellij/lsp/TallyBinaryResolver.kt
  _integrations/intellij-tally/intellij-plugin/src/io/github/wharflab/tally/intellij/lsp/TallyLspServerSupportProvider.kt
Due: none

zed: set extension version to 0.44.2
  _integrations/zed-tally/Cargo.toml
  _integrations/zed-tally/extension.toml
Due: taplo, typos

docs: sync hadolint rules from upstream
  internal/rules/hadolint-rules.json
Due: typos

fix(docker-plugin): recognize mise installs in register-docker-plugin
  _docs/installation.mdx
  _docs/integrations/docker-cli-plugin.mdx
  cmd/tally/cmd/docker_plugin_register.go
  cmd/tally/cmd/docker_plugin_register_test.go
Due: format-go, lint-go

fix: address PR review comment
  .golangci.yaml
  cmd/tally/cmd/docker_plugin_register.go
  cmd/tally/cmd/docker_plugin_register_test.go
Due: format-go, lint-go, yamllint, format-yml, typos

test: fix Windows drive resolution in mise root fallback test
  cmd/tally/cmd/docker_plugin_register_test.go
Due: format-go, lint-go

fix(docker-plugin): recognize mise installs in register-docker-plugin (#808)
  .golangci.yaml
  _docs/installation.mdx
  _docs/integrations/docker-cli-plugin.mdx
  cmd/tally/cmd/docker_plugin_register.go
  cmd/tally/cmd/docker_plugin_register_test.go
Due: format-go, lint-go, yamllint, format-yml, typos

test: migrate errors.As to errors.AsType for v0.46.0 modernize
  internal/fileval/fileval_test.go
  internal/integration/harness_test.go
  internal/registry/classify_error_test.go
  internal/registry/mock_resolve_test.go
  internal/registry/resolver_test.go
Due: format-go, lint-go

ci: update mehen action owner
  .github/workflows/ci.yml
Due: yamllint, format-yml, typos, actionlint

test(vscode): add Playwright + code-server UI tests
  .github/workflows/vscode-extension.yml
  _integrations/vscode-tally/.gitignore
  _integrations/vscode-tally/.vscodeignore
  _integrations/vscode-tally/DEVELOPMENT.md
  _integrations/vscode-tally/bun.lock
  _integrations/vscode-tally/package.json
  _integrations/vscode-tally/playwright.config.ts
  _integrations/vscode-tally/tests-ui/code-actions.spec.ts
  _integrations/vscode-tally/tests-ui/diagnostics.spec.ts
  _integrations/vscode-tally/tests-ui/extension.setup.ts
  _integrations/vscode-tally/tests-ui/extension.teardown.ts
  _integrations/vscode-tally/tests-ui/fix-all.spec.ts
  _integrations/vscode-tally/tests-ui/fixtures.ts
  _integrations/vscode-tally/tests-ui/fixtures/Dockerfile
  _integrations/vscode-tally/tests-ui/format.spec.ts
  _integrations/vscode-tally/tests-ui/run-playwright.mjs
  _integrations/vscode-tally/tests-ui/status-bar.spec.ts
  _integrations/vscode-tally/tests-ui/tsconfig.json
  _integrations/vscode-tally/tests-ui/utils.ts
  _integrations/vscode-tally/tests-ui/utils_code_server.ts
Due: yamllint, format-yml, typos, actionlint

Path conditions:
  format-go: any of: **/*.go
  lint-go: any of: **/*.go
  ts-typecheck: any of: extensions/vscode-tally/**/*.ts and ^extensions/vscode\-tally/
  ts-lint: any of: extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts} and ^extensions/vscode\-tally/
  ts-format: any of: *.{js,ts,cjs,mjs,mts,cts,jsx,tsx} and ^extensions/vscode\-tally/
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  format-yml: any of: {.yamlfmt,*.yml,*.yaml}
  typos: any of: *.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}
  codecov: any of: .codecov.yml
  actionlint: any of: .github/workflows/*.{yaml,yml}
  commitlint-config: any of: .commitlintrc.yaml
