Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, taplo, yamllint, typos, codecov, renovate, actionlint, commitlint-config

lint-go:
  run: make lint-fix
  stage_fixed: true

taplo:
  run: npx -y -q @taplo/cli format {staged_files}
  stage_fixed: true

yamllint:
  run: uvx yamllint {staged_files}

typos:
  run: uv tool run typos --force-exclude {staged_files}

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

renovate:
  run: npx -y -q -y --package renovate renovate-config-validator renovate.json

actionlint:
  run: actionlint {staged_files}

commitlint-config:
  run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml

feat(hadolint): add wildcard support and tests for DL3026
  internal/rules/hadolint/dl3026.go
  internal/rules/hadolint/dl3026_test.go
Due: lint-go

test(hadolint): adapt test cases from hadolint repository
  internal/rules/hadolint/dl3002_test.go
  internal/rules/hadolint/dl3006_test.go
  internal/rules/hadolint/dl3007.go
  internal/rules/hadolint/dl3007_test.go
  internal/rules/hadolint/dl3020.go
  internal/rules/hadolint/dl3020_test.go
  internal/rules/hadolint/dl4001_test.go
Due: lint-go

fix: normalize heredoc markers with stripQuotes and TrimSpace
  internal/rules/hadolint/dl3020.go
Due: lint-go

refactor: clean up semantic rule modules as documentation pointers
  internal/rules/hadolint/dl3012.go
  internal/rules/hadolint/dl3012_test.go
  internal/rules/hadolint/dl3023.go
  internal/rules/hadolint/dl3023_test.go
  internal/rules/hadolint/dl3024.go
  internal/rules/hadolint/dl3024_test.go
  internal/rules/hadolint/dl3043.go
  internal/rules/hadolint/dl3043_test.go
  internal/rules/hadolint/dl3061.go
  internal/rules/hadolint/dl3061_test.go
Due: lint-go

fix: correct script reference in generate-hadolint-table.sh
  scripts/generate-hadolint-table.sh
Due: none

fix: address PR review comment
  scripts/extract-hadolint-rules.sh
Due: none

fix: address PR review comment
  README.md
  scripts/generate-hadolint-table.sh
Due: typos

chore: use pip install
  .github/workflows/sync-hadolint-rules.yml
Due: yamllint, typos, actionlint

fix(ci): install jq 1.7.1 for alternative operator support
  .github/workflows/sync-hadolint-rules.yml
Due: yamllint, typos, actionlint

fix(ci): replace system jq instead of shadowing it
  .github/workflows/sync-hadolint-rules.yml
Due: yamllint, typos, actionlint

fix: replace jq // operator with if-then-else
  scripts/extract-hadolint-rules.sh
Due: none

docs: sync hadolint rules from upstream
  README.md
  RULES.md
Due: typos

feat(shell): detect commands through wrappers and shell -c patterns
  internal/rules/hadolint/dl3004_test.go
  internal/shell/shell.go
  internal/shell/shell_test.go
Due: lint-go

feat(shell): detect commands through wrappers and shell -c patterns (#21)
  internal/rules/hadolint/dl3004_test.go
  internal/shell/shell.go
  internal/shell/shell_test.go
Due: lint-go

fix: address PR review comment
  .claude/skills/port-hadolint-rule/SKILL.md
Due: typos

fix: address PR review comment
  internal/rules/hadolint/dl3004.go
  internal/rules/hadolint/dl3027.go
  internal/rules/hadolint/helpers.go
  internal/rules/hadolint/helpers_test.go
Due: lint-go

fix: address PR review comment
  internal/fix/fixer.go
Due: lint-go

fix: handle CRLF line endings for Windows compatibility
  internal/fix/fixer.go
  internal/rules/buildkit/fixes/position.go
Due: lint-go

fix: prevent config discovery in TestFix integration tests
  internal/integration/integration_test.go
Due: lint-go

fix: normalize file paths in fixer for Windows compatibility
  internal/fix/fixer.go
Due: lint-go

fix: address PR review comment
  internal/shell/cd.go
  internal/shell/cd_test.go
Due: lint-go

fix: address PR review comment
  internal/rules/hadolint/dl3003_test.go
Due: lint-go

fix: address PR review comment
  RULES.md
  internal/rules/hadolint-status.json
Due: typos

fix: address PR review comment
  internal/integration/integration_test.go
Due: lint-go

fix: address PR review comment
  cmd/tally/cmd/check.go
Due: lint-go

fix: use consistent 1-based line numbers for violation and fix locations
  internal/fix/fixer.go
  internal/fix/fixer_test.go
  internal/integration/__snapshots__/TestCheck_buildkit-warnings_1.snap.json
  internal/integration/__snapshots__/TestCheck_dl3003_1.snap.json
  internal/integration/__snapshots__/TestCheck_dl3027_1.snap.json
  internal/integration/__snapshots__/TestCheck_fail-level-error_1.snap.json
  internal/integration/__snapshots__/TestCheck_fail-level-none_1.snap.json
  internal/integration/__snapshots__/TestCheck_fail-level-warning_1.snap.json
  internal/integration/__snapshots__/TestCheck_inline-directives-disabled_1.snap.json
  internal/rules/buildkit/fixes/position.go
  internal/rules/hadolint/dl3003.go
  internal/rules/hadolint/dl3027.go
Due: lint-go, typos

test: add regression tests for fix location line number consistency
  internal/integration/__snapshots__/TestCheck_dl3003_1.snap.json
  internal/integration/integration_test.go
  internal/rules/hadolint/dl3003.go
  internal/rules/hadolint/dl3003_test.go
  internal/rules/hadolint/dl3027_test.go
Due: lint-go, typos

fix: skip auto-fix for multi-line RUN commands in DL3027
  internal/rules/hadolint/dl3027.go
  internal/rules/hadolint/dl3027_test.go
Due: lint-go

fix: use filepath.ToSlash for cross-platform path matching
  cmd/tally/cmd/check.go
Due: lint-go

test(fix): increase fixer.go test coverage from 77% to 97%
  internal/fix/fixer_test.go
Due: lint-go

fix: document unknown file handling in fixer test
  internal/fix/fixer_test.go
Due: lint-go

fix: validate edit range points to "apt" before adding fix
  internal/rules/hadolint/dl3027.go
  internal/rules/hadolint/dl3027_test.go
Due: lint-go

test(integration): add multi-fix line shift test case
  internal/integration/integration_test.go
Due: lint-go

fix: correct off-by-one bounds check for --platform detection
  internal/rules/buildkit/fixes/position.go
Due: lint-go

test: add real-world benchmark for --fix --fix-unsafe
  internal/integration/integration_test.go
  internal/integration/testdata/benchmark-real-world-fix/.tally.toml
  internal/integration/testdata/benchmark-real-world-fix/Dockerfile
  internal/integration/testdata/benchmark-real-world-fix/Dockerfile.expected
Due: lint-go, taplo, typos

fix: warn when --fix-unsafe is passed without --fix
  cmd/tally/cmd/check.go
Due: lint-go

fix: skip wrapper option values when extracting wrapped commands
  internal/shell/position.go
  internal/shell/position_test.go
Due: lint-go

Path conditions:
  lint-go: any of: **/*.go
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  typos: any of: *.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}
  codecov: any of: .codecov.yml
  renovate: any of: renovate.json
  actionlint: any of: .github/workflows/*.{yaml,yml}
  commitlint-config: any of: .commitlintrc.yaml
