Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

format-go:
  run: gofmt -w -s {staged_files}
  stage_fixed: true

lint-go:
  run: GOEXPERIMENT=jsonv2 make lint-fix
  stage_fixed: true

ts-typecheck:
  run: bunx @typescript/native-preview --noEmit

ts-lint:
  run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
  stage_fixed: true

ts-format:
  run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
  stage_fixed: true

taplo:
  run: bunx -y -q @taplo/cli format {staged_files}
  stage_fixed: true

yamllint:
  run: uvx yamllint {staged_files}

format-yml:
  run: yamlfmt {staged_files}
  stage_fixed: true

typos:
  run: uv tool run typos==1.43.4 --force-exclude {staged_files}

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

actionlint:
  run: actionlint {staged_files}

commitlint-config:
  run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml

fix: address PR review comment
  internal/rules/buildkit/invalid_base_image_platform_test.go
  internal/rules/buildkit/invalid_default_arg_in_from_test.go
  internal/rules/buildkit/undefined_arg_in_from_test.go
  internal/rules/buildkit/undefined_var_test.go
  internal/rules/hadolint/dl3001_test.go
  internal/rules/hadolint/dl3006_test.go
  internal/rules/hadolint/dl3007_test.go
  internal/rules/hadolint/dl3014_test.go
  internal/rules/hadolint/dl3026_test.go
  internal/rules/hadolint/dl3027_test.go
  internal/rules/hadolint/dl3030_test.go
  internal/rules/hadolint/dl3034_test.go
  internal/rules/hadolint/dl3038_test.go
  internal/rules/hadolint/dl3045_test.go
  internal/rules/hadolint/dl3046_test.go
  internal/rules/hadolint/dl3057_test.go
  internal/rules/hadolint/dl4001_test.go
  internal/rules/hadolint/dl4006_test.go
  internal/rules/tally/circular_stage_deps_test.go
  internal/rules/tally/copy_from_empty_scratch_stage_test.go
  internal/rules/tally/epilogue_order_test.go
  internal/rules/tally/shell_run_in_scratch_test.go
  internal/rules/tally/unreachable_stages_test.go
  internal/semantic/stage_info.go
  internal/testutil/testutil.go
Due: format-go, lint-go

feat: port ShellCheck SC1040 to native Go rule
  _tools/shellcheck-wasm/rewrites/0007-drop-sc1040.yml
  design-docs/28-shellcheck-go-reimplementation-bridge-sc1040.md
  design-docs/README.md
  internal/integration/__snapshots__/TestFix_shellcheck-sc1040-tabs-only-terminator_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_shellcheck-sc1040_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/shellcheck-sc1040/Dockerfile
  internal/rules/shellcheck/sc1040.go
  internal/rules/shellcheck/sc1040_test.go
  internal/rules/shellcheck/shellcheck.go
  internal/rules/shellcheck/shellcheck_test.go
  internal/shellcheck/wasm/shellcheck.wasm
Due: format-go, lint-go, yamllint, format-yml, typos

feat: finalize native SC1040 migration workflow
  .claude/skills/port-shellcheck-rule/SKILL.md
  docs/rules/index.md
  docs/rules/shellcheck/SC1040.md
  docs/rules/shellcheck/index.md
  internal/integration/__snapshots__/TestFixShellcheckSC1040MixedIndentationSnapshot_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_shellcheck-sc1040_1.snap.json
  internal/integration/shellcheck_sc1040_fix_test.go
  internal/rules/shellcheck/sc1040.go
  internal/rules/shellcheck/sc1040_test.go
  internal/rules/shellcheck/shellcheck.go
  internal/rules/shellcheck/shellcheck_test.go
Due: format-go, lint-go, typos

refactor: dedupe shellcheck bridge logic for cpd
  internal/rules/shellcheck/shellcheck.go
Due: format-go, lint-go

feat: port ShellCheck SC1040 to native Go rule (#198)
  .claude/skills/port-shellcheck-rule/SKILL.md
  _tools/shellcheck-wasm/rewrites/0007-drop-sc1040.yml
  design-docs/28-shellcheck-go-reimplementation-bridge-sc1040.md
  design-docs/README.md
  docs/rules/index.md
  docs/rules/shellcheck/SC1040.md
  docs/rules/shellcheck/index.md
  internal/integration/__snapshots__/TestFixShellcheckSC1040MixedIndentationSnapshot_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_shellcheck-sc1040-tabs-only-terminator_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_shellcheck-sc1040_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/shellcheck_sc1040_fix_test.go
  internal/integration/testdata/shellcheck-sc1040/Dockerfile
  internal/rules/shellcheck/sc1040.go
  internal/rules/shellcheck/sc1040_test.go
  internal/rules/shellcheck/shellcheck.go
  internal/rules/shellcheck/shellcheck_test.go
  internal/shellcheck/wasm/shellcheck.wasm
Due: format-go, lint-go, yamllint, format-yml, typos

refactor: replace custom MatchDockerfileSnapshot with go-snaps Raw()
  go.mod
  go.sum
  internal/integration/fix_scenarios_test.go
  internal/integration/harness_test.go
  internal/lsptest/lsp_test.go
  internal/rules/tally/prefer_copy_heredoc_test.go
  internal/rules/tally/prefer_heredoc_test.go
  internal/testutil/snapshot.go
Due: format-go, lint-go

refactor: replace custom MatchDockerfileSnapshot with go-snaps Raw() (#199)
  go.mod
  go.sum
  internal/integration/fix_scenarios_test.go
  internal/integration/harness_test.go
  internal/lsptest/lsp_test.go
  internal/rules/tally/prefer_copy_heredoc_test.go
  internal/rules/tally/prefer_heredoc_test.go
  internal/testutil/snapshot.go
Due: format-go, lint-go

fix: respect heredoc shebang for ShellCheck dialect detection
  internal/integration/__snapshots__/TestLint_shellcheck-heredoc-shebang_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/shellcheck-heredoc-shebang/Dockerfile
  internal/rules/shellcheck/script.go
  internal/rules/shellcheck/shellcheck.go
  internal/semantic/builder.go
  internal/semantic/builder_test.go
  internal/semantic/stage_info.go
  internal/shell/shell.go
  internal/shell/shell_test.go
Due: format-go, lint-go, typos

fix: address PR review comment
  internal/rules/shellcheck/shellcheck.go
Due: format-go, lint-go

fix: respect heredoc shebang for ShellCheck dialect detection (#200)
  internal/integration/__snapshots__/TestLint_shellcheck-heredoc-shebang_1.snap.json
  internal/integration/lint_cases_test.go
  internal/integration/testdata/shellcheck-heredoc-shebang/Dockerfile
  internal/rules/shellcheck/script.go
  internal/rules/shellcheck/shellcheck.go
  internal/semantic/builder.go
  internal/semantic/builder_test.go
  internal/semantic/stage_info.go
  internal/shell/shell.go
  internal/shell/shell_test.go
Due: format-go, lint-go, typos

feat: replace ShellCheck command module with WASM reactor
  Makefile
  _tools/shellcheck-wasm/Dockerfile
  _tools/shellcheck-wasm/Reactor.hs
  internal/shellcheck/runner.go
  internal/shellcheck/runner_test.go
  internal/shellcheck/wasm/shellcheck.wasm
Due: format-go, lint-go

perf(shellcheck): reuse single WASM reactor instance
  .claude/settings.json
  .serena/project.yml
  _tools/shellcheck-wasm/Reactor.hs
  design-drafts/shellcheck-reactor-single-instance.md
  internal/shellcheck/runner.go
  internal/shellcheck/runner_test.go
Due: format-go, lint-go, yamllint, format-yml, typos

refactor(lsp): remove two-pass diagnostics workaround
  internal/linter/linter.go
  internal/linter/skip.go
  internal/lspserver/codeactions.go
  internal/lspserver/diagnostics.go
  internal/lspserver/diagnostics_test.go
  internal/lspserver/formatting.go
  internal/lspserver/server.go
  internal/lspserver/settings.go
Due: format-go, lint-go

docs: update design doc to reflect single-instance reuse
  design-drafts/shellcheck-reactor-single-instance.md
Due: typos

fix(shellcheck): drop fake worker pool and increase LSP test timeout
  internal/lsptest/setup_test.go
  internal/rules/shellcheck/shellcheck.go
Due: format-go, lint-go

perf(shellcheck): emit single-line export prelude for known env vars
  internal/integration/__snapshots__/TestLint_shellcheck-fallback-empty-heredoc_1.snap.json
  internal/rules/shellcheck/shellcheck.go
Due: format-go, lint-go, typos

perf(shellcheck): filter env prelude to only script-referenced vars
  internal/rules/shellcheck/shellcheck.go
Due: format-go, lint-go

fix(shellcheck): retry WASM compilation without cache on Windows
  internal/shellcheck/runner.go
Due: format-go, lint-go

fix: use dialect-aware parsing in referencedVars
  internal/rules/shellcheck/shellcheck.go
Due: format-go, lint-go

fix: use non-cancelable context for WASM memory cleanup
  internal/shellcheck/runner.go
Due: format-go, lint-go

fix(lsp): skip lint when no supported code action kinds requested
  internal/lspserver/codeactions.go
Due: format-go, lint-go

chore: read golangci-lint version from .golangci-lint-version file
  .golangci-lint-version
  Makefile
  renovate.json
Due: typos

fix: drop v prefix from .golangci-lint-version, cover .custom-gcl.yml
  .golangci-lint-version
  Makefile
  renovate.json
Due: typos

chore: use golangci-lint-action
  .github/workflows/ci.yml
Due: yamllint, format-yml, typos, actionlint

feat: replace ShellCheck command module with WASM reactor (#203)
  .claude/settings.json
  .github/workflows/ci.yml
  .golangci-lint-version
  .serena/project.yml
  Makefile
  _tools/shellcheck-wasm/Dockerfile
  _tools/shellcheck-wasm/Reactor.hs
  design-drafts/shellcheck-reactor-single-instance.md
  internal/integration/__snapshots__/TestLint_shellcheck-fallback-empty-heredoc_1.snap.json
  internal/linter/linter.go
  internal/linter/skip.go
  internal/lspserver/codeactions.go
  internal/lspserver/diagnostics.go
  internal/lspserver/diagnostics_test.go
  internal/lspserver/formatting.go
  internal/lspserver/server.go
  internal/lspserver/settings.go
  internal/lsptest/setup_test.go
  internal/rules/shellcheck/shellcheck.go
  internal/shellcheck/runner.go
  internal/shellcheck/runner_test.go
  internal/shellcheck/wasm/shellcheck.wasm
  renovate.json
Due: format-go, lint-go, yamllint, format-yml, typos, actionlint

docs: sync BuildKit rules
  README.md
  RULES.md
Due: typos

feat: add tally/require-secret-mounts rule
  README.md
  RULES.md
  docs/index.md
  docs/rules/tally/index.md
  docs/rules/tally/require-secret-mounts.md
  internal/integration/__snapshots__/TestFix_require-secret-mounts-with-cache-mount_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_require-secret-mounts-with-cache-mounts-combined_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_require-secret-mounts_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_require-secret-mounts_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/require-secret-mounts/.tally.toml
  internal/integration/testdata/require-secret-mounts/Dockerfile
  internal/rules/tally/__snapshots__/TestRequireSecretMountsMetadata_1.snap.json
  internal/rules/tally/index.schema.json
  internal/rules/tally/require_secret_mounts.go
  internal/rules/tally/require_secret_mounts.schema.json
  internal/rules/tally/require_secret_mounts_test.go
  internal/schemas/generated/config/tally_config.gen.go
  internal/schemas/generated/rules/tally/require_secret_mounts.gen.go
  internal/schemas/manifest.json
  internal/schemas/registry_gen.go
  schema.json
Due: format-go, lint-go, taplo, typos

refactor: use zero-length insertions for mount flag additions
  internal/integration/__snapshots__/TestFix_prefer-package-cache-mounts_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_require-secret-mounts-multi-command_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_require-secret-mounts-with-cache-mount_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_prefer-package-cache-mounts_1.snap.json
  internal/integration/__snapshots__/TestLint_require-secret-mounts_1.snap.json
  internal/integration/fix_cases_test.go
  internal/rules/tally/prefer_package_cache_mounts.go
  internal/rules/tally/prefer_package_cache_mounts_test.go
  internal/rules/tally/require_secret_mounts.go
  internal/rules/tally/require_secret_mounts_test.go
Due: format-go, lint-go, typos

fix: address PR review comment
  internal/rules/tally/require_secret_mounts.go
  internal/rules/tally/require_secret_mounts_test.go
Due: format-go, lint-go

feat: add env target support and broaden rule documentation
  docs/rules/tally/require-secret-mounts.md
  internal/rules/tally/require_secret_mounts.go
  internal/rules/tally/require_secret_mounts.schema.json
  internal/rules/tally/require_secret_mounts_test.go
  internal/runmount/runmount.go
  internal/schemas/generated/rules/tally/require_secret_mounts.gen.go
  internal/schemas/registry_gen.go
  schema.json
Due: format-go, lint-go, typos

test: add schema validation tests for target/env mutual exclusivity
  internal/rules/tally/require_secret_mounts_test.go
Due: format-go, lint-go

fix: address CI lint failures
  internal/rules/tally/prefer_package_cache_mounts.go
  internal/rules/tally/require_secret_mounts.go
  internal/rules/tally/require_secret_mounts_test.go
Due: format-go, lint-go

fix: update snapshot and golines formatting
  internal/integration/__snapshots__/TestLint_require-secret-mounts_1.snap.json
  internal/rules/tally/prefer_package_cache_mounts.go
Due: format-go, lint-go, typos

fix: include target and env in secret/ssh mount key
  internal/runmount/runmount.go
Due: format-go, lint-go

fix: address PR review comment
  internal/rules/tally/prefer_package_cache_mounts.go
Due: format-go, lint-go

fix: address PR review comment
  internal/rules/tally/require_secret_mounts.schema.json
  internal/schemas/registry_gen.go
  schema.json
Due: format-go, lint-go, typos

fix: allow both target and env on the same secret mount
  internal/integration/__snapshots__/TestFix_prefer-package-cache-mounts-no-cache-flags_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-package-cache-mounts-with-prefer-run-heredoc_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-package-cache-mounts_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_require-secret-mounts-multi-command_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_prefer-package-cache-mounts_1.snap.json
  internal/rules/tally/require_secret_mounts.go
  internal/rules/tally/require_secret_mounts.schema.json
  internal/rules/tally/require_secret_mounts_test.go
  internal/schemas/registry_gen.go
  schema.json
Due: format-go, lint-go, typos

feat: add required field to secret mount spec
  docs/rules/tally/require-secret-mounts.md
  internal/rules/tally/require_secret_mounts.go
  internal/rules/tally/require_secret_mounts.schema.json
  internal/rules/tally/require_secret_mounts_test.go
  internal/schemas/registry_gen.go
  schema.json
Due: format-go, lint-go, typos

fix: align struct tags (tagalign/golines)
  internal/rules/tally/require_secret_mounts.go
Due: format-go, lint-go

Path conditions:
  format-go: any of: **/*.go
  lint-go: any of: **/*.go
  ts-typecheck: any of: extensions/vscode-tally/**/*.ts and ^extensions/vscode\-tally/
  ts-lint: any of: extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts} and ^extensions/vscode\-tally/
  ts-format: any of: *.{js,ts,cjs,mjs,mts,cts,jsx,tsx} and ^extensions/vscode\-tally/
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  format-yml: any of: {.yamlfmt,*.yml,*.yaml}
  typos: any of: *.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}
  codecov: any of: .codecov.yml
  actionlint: any of: .github/workflows/*.{yaml,yml}
  commitlint-config: any of: .commitlintrc.yaml
