Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

.lefthook.yml:

# yaml-language-server: =https://json.schemastore.org/lefthook.json
---
output:
  # - summary # Print summary block (successful and failed steps)
  # - empty_summary # Print summary heading when there are no steps to run
  - failure # Print failed steps printing
# - skips # Print "skip" (i.e. no files matched)
assert_lefthook_installed: true
pre-commit:
  commands:
    format-go:
      glob: "**/*.go"
      run: gofmt -w -s {staged_files}
      stage_fixed: true
    lint-go:
      glob: "**/*.go"
      run: GOEXPERIMENT=jsonv2 make lint-fix
      stage_fixed: true
    ts-typecheck:
      glob: "extensions/vscode-tally/**/*.ts"
      run: bunx @typescript/native-preview --noEmit
      root: extensions/vscode-tally
    ts-lint:
      glob: "extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts}"
      run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
      stage_fixed: true
      root: extensions/vscode-tally
    ts-format:
      glob: "*.{js,ts,cjs,mjs,mts,cts,jsx,tsx}"
      run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
      stage_fixed: true
      root: extensions/vscode-tally
    taplo:
      glob: "**/*.toml"
      run: bunx -y -q @taplo/cli format {staged_files}
      stage_fixed: true
    rumdl:
      glob: "**/*.md"
      exclude: "**/__snapshots__/**"
      run: uv tool run rumdl==0.1.17 check --fix --config .rumdl.toml --output-format concise {staged_files}
      stage_fixed: true
    yamllint:
      glob: "*.{yml,yaml}"
      run: uvx yamllint {staged_files}
    format-yml:
      glob: "{.yamlfmt,*.yml,*.yaml}"
      run: yamlfmt {staged_files}
      stage_fixed: true
    typos:
      glob: "*.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}"
      run: uv tool run typos==1.43.4 --force-exclude {staged_files}
    codecov:
      glob: ".codecov.yml"
      run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate
    # renovate:
    #   glob: "renovate.json"
    #   run: npx -y -q -y --package renovate renovate-config-validator renovate.json
    actionlint:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}
    commitlint-config:
      glob: ".commitlintrc.yaml"
      run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml
commit-msg:
  commands:
    "lint commit message":
      run: npx -y -q commitlint --edit {1}
    "check spelling":
      run: uv tool run typos==1.43.4 {1}
post-merge:
  files: "git diff-tree -r --name-only --no-commit-id ORIG_HEAD HEAD"
  commands:
    delete-merged-branches:
      run: git branch --merged | grep -Ev '\*|master|main|dev|develop|development|stag|staging|prod|production' | xargs git branch -d; git fetch --prune;
pre-push:
  parallel: true
  jobs:
    - name: build
      run: GOEXPERIMENT=jsonv2 make build
    - name: deadcode
      run: GOEXPERIMENT=jsonv2 make deadcode
    - name: test
      run: GOEXPERIMENT=jsonv2 make test
    - name: validate-hadolint-status
      run: ./scripts/validate-hadolint-status.sh
    - name: validate-buildkit-rules
      run: GOEXPERIMENT=jsonv2 ./scripts/validate-buildkit-rules.sh

fix: address PR review comment
  packaging/homebrew/tally.rb.template
Due: none

fix: md format
  _docs/integrations/docker-cli-plugin.mdx
  hk.pkl
Due: none

fix: make Docker plugin tests portable
  cmd/tally/cmd/docker_plugin_register.go
  cmd/tally/cmd/docker_plugin_register_test.go
Due: format-go, lint-go

fix: repair release dry-run packaging
  .github/workflows/release.yml
  _docs/integrations/docker-cli-plugin.mdx
  design-docs/41-docker-cli-plugin.md
  scripts/release/generate_winget_manifests.rb
  scripts/release/test_generate_winget_manifests.rb
Due: yamllint, format-yml, typos, actionlint

feat: add Docker CLI plugin support (#589)
  .github/workflows/release.yml
  README.md
  _docs/docs.json
  _docs/index.mdx
  _docs/installation.mdx
  _docs/integrations/docker-cli-plugin.mdx
  _docs/introduction.mdx
  _docs/quickstart.mdx
  cmd/tally/cmd/docker_plugin.go
  cmd/tally/cmd/docker_plugin_register.go
  cmd/tally/cmd/docker_plugin_register_test.go
  cmd/tally/cmd/docker_plugin_test.go
  cmd/tally/cmd/lint.go
  cmd/tally/cmd/options.go
  cmd/tally/cmd/root.go
  design-docs/41-docker-cli-plugin.md
  go.mod
  hk.pkl
  internal/integration/docker_plugin_test.go
  main.go
  packaging/homebrew/tally.rb.template
  packaging/npm/README.md
  scripts/release/generate_winget_manifests.rb
  scripts/release/test_generate_winget_manifests.rb
Due: format-go, lint-go, yamllint, format-yml, typos, actionlint

zed: set extension version to 0.39.0
  _integrations/zed-tally/Cargo.toml
  _integrations/zed-tally/extension.toml
Due: taplo, typos

chore: switch license to AGPL
  LICENSE
  NOTICE
  README.md
  _integrations/vscode-tally/package.json
  _integrations/zed-tally/Cargo.toml
  _integrations/zed-tally/LICENSE
  design-docs/23-shellcheck-integration.md
  design-docs/README.md
  packaging/homebrew/tally.rb.template
  packaging/npm/package.json
  packaging/npm/scripts/publish-release.js
  packaging/pypi/pyproject.toml
  packaging/rubygems/tally-cli.gemspec
  scripts/release/generate_winget_manifests.rb
Due: taplo, typos

chore: switch license to AGPL (#596)
  LICENSE
  NOTICE
  README.md
  _integrations/vscode-tally/package.json
  _integrations/zed-tally/Cargo.toml
  _integrations/zed-tally/LICENSE
  design-docs/23-shellcheck-integration.md
  design-docs/README.md
  packaging/homebrew/tally.rb.template
  packaging/npm/package.json
  packaging/npm/scripts/publish-release.js
  packaging/pypi/pyproject.toml
  packaging/rubygems/tally-cli.gemspec
  scripts/release/generate_winget_manifests.rb
Due: taplo, typos

zed: set extension version to 0.40.0
  _integrations/zed-tally/Cargo.toml
  _integrations/zed-tally/extension.toml
Due: taplo, typos

chore: update hk config
  hk.pkl
Due: none

docs: add draft PSScriptAnalyzer
  design-drafts/psscriptanalyzer-sidecar.md
Due: typos

docs: add PSScriptAnalyzer sidecar design
  design-docs/42-psscriptanalyzer-sidecar.md
  design-docs/README.md
Due: typos

fix: address PR review comment
  design-docs/42-psscriptanalyzer-sidecar.md
  design-docs/README.md
Due: typos

Update design-docs/42-psscriptanalyzer-sidecar.md
  design-docs/42-psscriptanalyzer-sidecar.md
Due: typos

[codex] add PSScriptAnalyzer sidecar design (#598)
  design-docs/42-psscriptanalyzer-sidecar.md
  design-docs/README.md
Due: typos

feat: add PowerShell analyzer sidecar
  .github/workflows/ci.yml
  _docs/docs.json
  _docs/rules/powershell/PowerShell.mdx
  internal/config/config_test.go
  internal/config/rules.go
  internal/linter/config.go
  internal/linter/config_test.go
  internal/processor/directive.go
  internal/psanalyzer/protocol.go
  internal/psanalyzer/runner.go
  internal/psanalyzer/runner_test.go
  internal/psanalyzer/sidecar/Tally.PSSA.Sidecar.ps1
  internal/rules/all/all.go
  internal/rules/dynamic.go
  internal/rules/powershell/index.schema.json
  internal/rules/powershell/powershell.go
  internal/rules/powershell/powershell_test.go
  internal/rules/powershell/script.go
  internal/rules/violation.go
  internal/schemas/generated/config/tally_config.gen.go
  internal/schemas/manifest.json
  internal/schemas/registry_gen.go
  internal/schemas/root/tally-config.schema.json
  schema.json
Due: format-go, lint-go, yamllint, format-yml, typos, actionlint

fix: share Dockerfile node indexing helper
  internal/highlight/extract/script.go
  internal/highlight/highlight.go
  internal/rules/powershell/powershell.go
  internal/rules/shellcheck/shellcheck.go
Due: format-go, lint-go

docs: keep PowerShell rules under one group
  _docs/docs.json
  _docs/index.mdx
Due: typos

fix: address PR review comment
  internal/psanalyzer/runner.go
  internal/psanalyzer/runner_test.go
Due: format-go, lint-go

fix: satisfy PSScriptAnalyzer for sidecar
  internal/psanalyzer/sidecar/Tally.PSSA.Sidecar.ps1
Due: none

fix: address PowerShell analyzer review feedback
  .github/workflows/ci.yml
  _docs/rules/powershell/PSAvoidAssignmentToAutomaticVariable.mdx
  _docs/rules/powershell/PSAvoidDefaultValueForMandatoryParameter.mdx
  _docs/rules/powershell/PSAvoidDefaultValueSwitchParameter.mdx
  _docs/rules/powershell/PSAvoidExclaimOperator.mdx
  _docs/rules/powershell/PSAvoidGlobalAliases.mdx
  _docs/rules/powershell/PSAvoidGlobalFunctions.mdx
  _docs/rules/powershell/PSAvoidInvokingEmptyMembers.mdx
  _docs/rules/powershell/PSAvoidOverwritingBuiltInCmdlets.mdx
  _docs/rules/powershell/PSAvoidUsingCmdletAliases.mdx
  _docs/rules/powershell/PSAvoidUsingPositionalParameters.mdx
  _docs/rules/powershell/PSAvoidUsingWMICmdlet.mdx
  _docs/rules/powershell/PSDSCDscTestsPresent.mdx
  _docs/rules/powershell/PSDSCStandardDSCFunctionsInResource.mdx
  _docs/rules/powershell/PSDSCUseIdenticalMandatoryParametersForDSC.mdx
  _docs/rules/powershell/PSPossibleIncorrectComparisonWithNull.mdx
  _docs/rules/powershell/PSReviewUnusedParameter.mdx
  _docs/rules/powershell/PSShouldProcess.mdx
  _docs/rules/powershell/PSUseApprovedVerbs.mdx
  _docs/rules/powershell/PSUseBOMForUnicodeEncodedFile.mdx
  _docs/rules/powershell/PSUseCompatibleCmdlets.mdx
  _docs/rules/powershell/PSUseCompatibleCommands.mdx
  _docs/rules/powershell/PSUseCompatibleTypes.mdx
  _docs/rules/powershell/PSUseConstrainedLanguageMode.mdx
  _docs/rules/powershell/PSUseToExportFieldsInManifest.mdx
  _docs/rules/powershell/PowerShell.mdx
  _tools/schema-gen/main.go
  internal/config/rules.go
  internal/linter/config_test.go
  internal/rules/dynamic.go
  internal/rules/dynamic_test.go
  internal/rules/powershell/index.schema.json
  internal/rules/powershell/powershell.go
  internal/rules/powershell/powershell_test.go
  internal/rules/powershell/script.go
  internal/schemas/registry_gen.go
  schema.json
Due: format-go, lint-go, yamllint, format-yml, typos, actionlint

feat: format PowerShell heredocs with PSScriptAnalyzer
  _docs/integrations/editorconfig.mdx
  _docs/rules/tally/prefer-formatted-heredocs.mdx
  design-docs/42-psscriptanalyzer-sidecar.md
  internal/fix/heredoc_format_finalizer.go
  internal/fix/heredoc_format_finalizer_test.go
  internal/heredocfmt/dockerfile.go
  internal/heredocfmt/dockerfile_test.go
  internal/heredocfmt/format.go
  internal/integration/__snapshots__/TestFixRealWorldBoostMSVCWindowsContainer_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorldBoostMSVCWindowsContainer_1.snap.md
  internal/integration/__snapshots__/TestFixWindowsContainer_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixWindowsContainer_1.snap.md
  internal/psanalyzer/protocol.go
  internal/psanalyzer/runner.go
  internal/psanalyzer/runner_test.go
  internal/psanalyzer/sidecar/Tally.PSSA.Sidecar.ps1
  internal/rules/tally/prefer_formatted_heredocs.go
  internal/rules/tally/prefer_formatted_heredocs_test.go
  internal/shell/shell.go
  internal/shell/shell_test.go
Due: format-go, lint-go, typos

docs: use tally icon as favicon
  _docs/docs.json
  _docs/favicon.svg
Due: typos

fix: keep PowerShell formatting stable across OSes
  _docs/rules/tally/prefer-formatted-heredocs.mdx
  design-docs/42-psscriptanalyzer-sidecar.md
  internal/integration/__snapshots__/TestFixRealWorldBoostMSVCWindowsContainer_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixWindowsContainer_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixWindowsContainer_1.snap.md
  internal/psanalyzer/runner_test.go
  internal/psanalyzer/sidecar/Tally.PSSA.Sidecar.ps1
Due: format-go, lint-go, typos

fix: address PowerShell analyzer review feedback
  .github/workflows/ci.yml
  _docs/rules/powershell/PSAvoidUsingPositionalParameters.mdx
  _docs/rules/powershell/PSDSCDscTestsPresent.mdx
  _docs/rules/powershell/PSDSCStandardDSCFunctionsInResource.mdx
  _docs/rules/powershell/PSDSCUseIdenticalMandatoryParametersForDSC.mdx
  _docs/rules/powershell/PSUseApprovedVerbs.mdx
  _docs/rules/powershell/PSUseCompatibleCmdlets.mdx
  _docs/rules/powershell/PSUseCompatibleCommands.mdx
  _docs/rules/powershell/PSUseConstrainedLanguageMode.mdx
  _docs/rules/powershell/PowerShell.mdx
  design-docs/42-psscriptanalyzer-sidecar.md
  internal/config/config_test.go
  internal/config/rules.go
  internal/fix/heredoc_format_finalizer_test.go
  internal/heredocfmt/dockerfile.go
  internal/heredocfmt/dockerfile_test.go
  internal/highlight/extract/script.go
  internal/linter/config_test.go
  internal/psanalyzer/runner_test.go
  internal/psanalyzer/sidecar/Tally.PSSA.Sidecar.ps1
  internal/rules/powershell/powershell_test.go
  internal/rules/powershell/script.go
  internal/shell/shell_test.go
Due: format-go, lint-go, yamllint, format-yml, typos, actionlint

fix: gate default PowerShell analyzer with slow checks
  _docs/rules/powershell/PowerShell.mdx
  _docs/rules/tally/prefer-formatted-heredocs.mdx
  cmd/tally/cmd/lint.go
  cmd/tally/cmd/lint_test.go
  design-docs/42-psscriptanalyzer-sidecar.md
  internal/integration/__snapshots__/TestFixRealWorldBoostMSVCWindowsContainer_1.snap.md
  internal/integration/__snapshots__/TestFixRealWorldTeamCityNanoServer_1.snap.md
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/linter/config_test.go
  internal/linter/linter.go
  internal/rules/powershell/powershell.go
  internal/rules/powershell/powershell_test.go
  internal/rules/rule.go
  internal/rules/tally/prefer_formatted_heredocs.go
  internal/rules/tally/prefer_formatted_heredocs_test.go
  internal/testutil/testutil.go
Due: format-go, lint-go, typos

fix: address PR review comment
  _docs/rules/tally/prefer-formatted-heredocs.mdx
  cmd/tally/cmd/lint.go
  internal/fix/finalizer.go
  internal/fix/fixer.go
  internal/fix/heredoc_format_finalizer.go
  internal/fix/heredoc_format_finalizer_test.go
  internal/heredocfmt/format.go
  internal/rules/tally/prefer_formatted_heredocs.go
  internal/rules/tally/prefer_formatted_heredocs_test.go
Due: format-go, lint-go

fix: address PR review comment
  _docs/rules/powershell/PSAvoidExclaimOperator.mdx
  _docs/rules/powershell/PSAvoidOverwritingBuiltInCmdlets.mdx
  _docs/rules/powershell/PSUseCompatibleCmdlets.mdx
  _docs/rules/powershell/PowerShell.mdx
  internal/linter/config_test.go
  internal/linter/linter.go
  internal/psanalyzer/protocol.go
  internal/psanalyzer/runner.go
  internal/psanalyzer/runner_test.go
  internal/psanalyzer/sidecar/Tally.PSSA.Sidecar.ps1
  internal/rules/powershell/powershell.go
  internal/rules/powershell/powershell_test.go
  internal/rules/powershell/settings.go
Due: format-go, lint-go

feat: expose PowerShell analyzer fixes
  _docs/rules/powershell/PowerShell.mdx
  internal/integration/__snapshots__/TestFixRealWorldBoostMSVCWindowsContainer_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorldBoostMSVCWindowsContainer_1.snap.md
  internal/integration/__snapshots__/TestFixRealWorldTeamCityNanoServer_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorldTeamCityNanoServer_1.snap.md
  internal/psanalyzer/protocol.go
  internal/psanalyzer/runner_test.go
  internal/psanalyzer/sidecar/Tally.PSSA.Sidecar.ps1
  internal/rules/powershell/powershell.go
  internal/rules/powershell/powershell_test.go
  internal/rules/powershell/script.go
Due: format-go, lint-go, typos

fix: treat duplicate fixer edits as applied
  internal/fix/conflict.go
  internal/fix/fixer.go
  internal/fix/fixer_test.go
  internal/integration/__snapshots__/TestFixRealWorldBoostMSVCWindowsContainer_1.snap.md
  internal/integration/__snapshots__/TestFixRealWorldTeamCityNanoServer_1.snap.md
Due: format-go, lint-go, typos

docs: clarify PowerShell trailing whitespace rule
  _docs/rules/powershell/PSAvoidTrailingWhitespace.mdx
Due: none

test: isolate fake PSScriptAnalyzer module
  internal/psanalyzer/runner_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/fix/heredoc_format_finalizer.go
  internal/fix/heredoc_format_finalizer_test.go
  internal/psanalyzer/runner.go
  internal/rules/tally/prefer_formatted_heredocs.go
  internal/rules/tally/prefer_formatted_heredocs_test.go
Due: format-go, lint-go

fix: skip unavailable PowerShell analyzer
  internal/fix/heredoc_format_finalizer_test.go
  internal/heredocfmt/dockerfile.go
  internal/psanalyzer/runner.go
  internal/psanalyzer/runner_test.go
  internal/psanalyzer/unavailable.go
  internal/rules/powershell/powershell.go
  internal/rules/powershell/powershell_test.go
Due: format-go, lint-go

fix: note skipped PowerShell sidecar
  cmd/tally/cmd/lint.go
  cmd/tally/cmd/lint_test.go
  internal/psanalyzer/runner.go
  internal/psanalyzer/unavailable.go
Due: format-go, lint-go

chore: centralize PSScriptAnalyzer version
  .github/workflows/ci.yml
  _docs/rules/powershell/PowerShell.mdx
  design-docs/42-psscriptanalyzer-sidecar.md
  internal/psanalyzer/psscriptanalyzer.version
  internal/psanalyzer/runner.go
  internal/psanalyzer/runner_test.go
  internal/psanalyzer/sidecar/Tally.PSSA.Sidecar.ps1
  internal/psanalyzer/version.go
  renovate.json
Due: format-go, lint-go, yamllint, format-yml, typos, actionlint

fix: stream PowerShell analyzer sidecar
  internal/psanalyzer/runner.go
  internal/psanalyzer/runner_test.go
Due: format-go, lint-go
