Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

.lefthook.yml:

# yaml-language-server: =https://json.schemastore.org/lefthook.json
---
output:
  # - summary # Print summary block (successful and failed steps)
  # - empty_summary # Print summary heading when there are no steps to run
  - failure # Print failed steps printing
# - skips # Print "skip" (i.e. no files matched)
assert_lefthook_installed: true
pre-commit:
  commands:
    format-go:
      glob: "**/*.go"
      run: gofmt -w -s {staged_files}
      stage_fixed: true
    lint-go:
      glob: "**/*.go"
      run: GOEXPERIMENT=jsonv2 make lint-fix
      stage_fixed: true
    ts-typecheck:
      glob: "extensions/vscode-tally/**/*.ts"
      run: bunx @typescript/native-preview --noEmit
      root: extensions/vscode-tally
    ts-lint:
      glob: "extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts}"
      run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
      stage_fixed: true
      root: extensions/vscode-tally
    ts-format:
      glob: "*.{js,ts,cjs,mjs,mts,cts,jsx,tsx}"
      run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
      stage_fixed: true
      root: extensions/vscode-tally
    taplo:
      glob: "**/*.toml"
      run: bunx -y -q @taplo/cli format {staged_files}
      stage_fixed: true
    rumdl:
      glob: "**/*.md"
      exclude: "**/__snapshots__/**"
      run: uv tool run rumdl==0.1.17 check --fix --config .rumdl.toml --output-format concise {staged_files}
      stage_fixed: true
    yamllint:
      glob: "*.{yml,yaml}"
      run: uvx yamllint {staged_files}
    format-yml:
      glob: "{.yamlfmt,*.yml,*.yaml}"
      run: yamlfmt {staged_files}
      stage_fixed: true
    typos:
      glob: "*.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}"
      run: uv tool run typos==1.43.4 --force-exclude {staged_files}
    codecov:
      glob: ".codecov.yml"
      run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate
    # renovate:
    #   glob: "renovate.json"
    #   run: npx -y -q -y --package renovate renovate-config-validator renovate.json
    actionlint:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}
    commitlint-config:
      glob: ".commitlintrc.yaml"
      run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml
commit-msg:
  commands:
    "lint commit message":
      run: npx -y -q commitlint --edit {1}
    "check spelling":
      run: uv tool run typos==1.43.4 {1}
post-merge:
  files: "git diff-tree -r --name-only --no-commit-id ORIG_HEAD HEAD"
  commands:
    delete-merged-branches:
      run: git branch --merged | grep -Ev '\*|master|main|dev|develop|development|stag|staging|prod|production' | xargs git branch -d; git fetch --prune;
pre-push:
  parallel: true
  jobs:
    - name: build
      run: GOEXPERIMENT=jsonv2 make build
    - name: deadcode
      run: GOEXPERIMENT=jsonv2 make deadcode
    - name: test
      run: GOEXPERIMENT=jsonv2 make test
    - name: validate-hadolint-status
      run: ./scripts/validate-hadolint-status.sh
    - name: validate-buildkit-rules
      run: GOEXPERIMENT=jsonv2 ./scripts/validate-buildkit-rules.sh

fix: improve prefer-copy-heredoc tilde path resolution, shell context, and lint compliance
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-copy-heredoc-tilde-home-root_1.snap.Dockerfile
  internal/integration/fix_cases_test.go
  internal/rules/tally/prefer_copy_heredoc.go
  internal/rules/tally/prefer_copy_heredoc_test.go
  internal/semantic/base_image_os_test.go
  internal/semantic/builder.go
  internal/shell/file_creation.go
  internal/shell/file_creation_test.go
Due: format-go, lint-go

chore: remove unused DetectFileCreationWithPathResolver
  internal/shell/file_creation.go
Due: format-go, lint-go

fix: prevent incorrect echo escape interpretation on ash/Alpine
  internal/rules/tally/prefer_copy_heredoc.go
  internal/rules/tally/prefer_copy_heredoc_test.go
  internal/semantic/builder.go
  internal/semantic/stage_info.go
Due: format-go, lint-go

fix: increase number of violations
  _integrations/vscode-tally/test/e2e/smoke.test.ts
Due: typos

fix: emit --chown in COPY heredoc fix when USER is non-root
  internal/rules/tally/__snapshots__/TestBuildCopyHeredoc_with_chown_and_chmod_1.snap.Dockerfile
  internal/rules/tally/__snapshots__/TestBuildCopyHeredoc_with_chown_for_non-root_user_1.snap.Dockerfile
  internal/rules/tally/prefer_copy_heredoc.go
  internal/rules/tally/prefer_copy_heredoc_test.go
Due: format-go, lint-go

fix: reduce argument count in sequence fix functions
  internal/rules/tally/prefer_copy_heredoc.go
Due: format-go, lint-go

fix: improve prefer-copy-heredoc tilde path resolution and shell context (#419)
  _integrations/vscode-tally/test/e2e/smoke.test.ts
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-copy-heredoc-tilde-home-root_1.snap.Dockerfile
  internal/integration/fix_cases_test.go
  internal/rules/tally/__snapshots__/TestBuildCopyHeredoc_with_chown_and_chmod_1.snap.Dockerfile
  internal/rules/tally/__snapshots__/TestBuildCopyHeredoc_with_chown_for_non-root_user_1.snap.Dockerfile
  internal/rules/tally/prefer_copy_heredoc.go
  internal/rules/tally/prefer_copy_heredoc_test.go
  internal/semantic/base_image_os_test.go
  internal/semantic/builder.go
  internal/semantic/stage_info.go
  internal/shell/file_creation.go
  internal/shell/file_creation_test.go
Due: format-go, lint-go, typos

zed: set extension version to 0.31.0
  _integrations/zed-tally/Cargo.toml
  _integrations/zed-tally/extension.toml
Due: taplo, typos

feat: enable tally/prefer-package-cache-mounts by default
  RULES.md
  _integrations/vscode-tally/test/e2e/smoke.test.ts
  docs/rules/tally/index.md
  docs/rules/tally/prefer-package-cache-mounts.md
  internal/integration/__snapshots__/TestFixPowerShellAlpine_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixPowerShellAlpine_1.snap.md
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_heredoc-both-rules-combined_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-run-heredoc-consecutive_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/testdata/prefer-package-cache-mounts/.tally.toml
  internal/rules/tally/__snapshots__/TestPreferPackageCacheMountsRule_Metadata_1.snap.json
  internal/rules/tally/prefer_package_cache_mounts.go
Due: format-go, lint-go, taplo, typos

fix: address PR review comment
  internal/integration/__snapshots__/TestFix_heredoc-both-rules-combined_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-run-heredoc-consecutive_1.snap.Dockerfile
  internal/integration/fix_cases_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/integration/fix_cases_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_dl3027-apt-to-apt-get_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_newline-per-chained-call-cross-dl3027_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_dl3027_1.snap.json
  internal/rules/hadolint/dl3014_test.go
  internal/rules/hadolint/dl3027.go
  internal/rules/hadolint/dl3027_test.go
  internal/rules/tally/prefer_package_cache_mounts.go
Due: format-go, lint-go, typos

fix: extract -get string literal to aptGetSuffix constant
  internal/rules/hadolint/dl3027.go
Due: format-go, lint-go

fix: update vscode smoke test expected diagnostics to 267
  _integrations/vscode-tally/test/e2e/smoke.test.ts
Due: typos

fix: address PR review comment
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/rules/tally/prefer_package_cache_mounts.go
  internal/rules/tally/prefer_package_cache_mounts_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/integration/__snapshots__/TestFix_dl3027-apt-to-apt-get_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_newline-per-chained-call-cross-dl3027_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_curl-should-follow-redirects_1.snap.json
  internal/integration/fix_cases_test.go
  internal/processor/dedup.go
Due: format-go, lint-go, typos

fix: address PR review comment
  internal/rules/hadolint/dl3027_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/rules/hadolint/dl3027.go
Due: format-go, lint-go

chore: improve VSCode integ test
  .github/workflows/vscode-extension.yml
  .serena/project.yml
  .vscode/settings.json
  _integrations/vscode-tally/bun.lock
  _integrations/vscode-tally/package.json
  _integrations/vscode-tally/src/vendor/pythonEnvsApi.d.ts
  _integrations/vscode-tally/test/e2e/smoke.test.ts
Due: yamllint, format-yml, typos, actionlint

feat: enable tally/prefer-package-cache-mounts by default (#424)
  .github/workflows/vscode-extension.yml
  .serena/project.yml
  .vscode/settings.json
  RULES.md
  _integrations/vscode-tally/bun.lock
  _integrations/vscode-tally/package.json
  _integrations/vscode-tally/src/vendor/pythonEnvsApi.d.ts
  _integrations/vscode-tally/test/e2e/smoke.test.ts
  docs/rules/tally/index.md
  docs/rules/tally/prefer-package-cache-mounts.md
  internal/integration/__snapshots__/TestFixPowerShellAlpine_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixPowerShellAlpine_1.snap.md
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_heredoc-both-rules-combined_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-run-heredoc-consecutive_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_curl-should-follow-redirects_1.snap.json
  internal/integration/__snapshots__/TestLint_dl3027_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/testdata/prefer-package-cache-mounts/.tally.toml
  internal/processor/dedup.go
  internal/rules/hadolint/dl3014_test.go
  internal/rules/hadolint/dl3027.go
  internal/rules/hadolint/dl3027_test.go
  internal/rules/tally/__snapshots__/TestPreferPackageCacheMountsRule_Metadata_1.snap.json
  internal/rules/tally/prefer_package_cache_mounts.go
  internal/rules/tally/prefer_package_cache_mounts_test.go
Due: format-go, lint-go, taplo, yamllint, format-yml, typos, actionlint

fix: support Windows RUN heredoc fixes
  design-docs/26-windows-container-support.md
  design-docs/27-windows-container-rules.md
  docs/guide/index.md
  docs/guide/installing-buildkit-windows-containers.md
  docs/index.md
  docs/rules/tally/prefer-run-heredoc.md
  go.mod
  go.sum
  internal/fix/heredoc_resolver_test.go
  internal/heredoc/format.go
  internal/integration/__snapshots__/TestFixPowerShellAlpine_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixPowerShellAlpine_1.snap.md
  internal/integration/__snapshots__/TestFixRealWorldBoostMSVCWindowsContainer_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorldBoostMSVCWindowsContainer_1.snap.md
  internal/integration/__snapshots__/TestFixRealWorldMetalama_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixTelemetryOptOutCombined_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixWindowsContainer_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixWindowsContainer_1.snap.md
  internal/rules/tally/__snapshots__/TestFormatHeredocWithMounts_cmd_1.snap.Dockerfile
  internal/rules/tally/__snapshots__/TestFormatHeredocWithMounts_powershell_1.snap.Dockerfile
  internal/rules/tally/prefer_heredoc_test.go
  internal/shell/chain_format.go
  internal/shell/chain_format_test.go
  internal/shell/command_test.go
  internal/shell/count.go
  internal/shell/count_test.go
  internal/shell/powershell_parser.go
  internal/shell/powershell_parser_nocgo.go
  internal/shell/shell.go
  internal/shell/shell_test.go
  internal/shell/windows_heredoc.go
Due: format-go, lint-go, typos

fix: simplify PowerShell heredoc prelude
  docs/rules/tally/prefer-run-heredoc.md
  internal/fix/heredoc_resolver_test.go
  internal/heredoc/format.go
  internal/integration/__snapshots__/TestFixPowerShellAlpine_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorldBoostMSVCWindowsContainer_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorldMetalama_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixTelemetryOptOutCombined_1.snap.Dockerfile
  internal/rules/tally/__snapshots__/TestFormatHeredocWithMounts_powershell_1.snap.Dockerfile
Due: format-go, lint-go, typos

fix: address PR review comment
  internal/shell/cmd_parser.go
  internal/shell/cmd_parser_nocgo.go
  internal/shell/command_test.go
  internal/shell/count_test.go
  internal/shell/windows_heredoc.go
Due: format-go, lint-go

fix: address PR review comment
  internal/shell/count_test.go
  internal/shell/powershell_parser.go
Due: format-go, lint-go

fix: use parser spans for cmd chain separators
  internal/shell/cmd_parser.go
  internal/shell/cmd_parser_nocgo.go
  internal/shell/count_test.go
  internal/shell/windows_heredoc.go
Due: format-go, lint-go

fix: address PR review comment
  internal/shell/count_test.go
  internal/shell/windows_heredoc.go
Due: format-go, lint-go

fix: address PR review comment
  internal/shell/powershell_parser.go
Due: format-go, lint-go

fix: address PR review comment
  internal/rules/tally/prefer_heredoc_test.go
Due: format-go, lint-go

fix: use parser for powershell heredoc prelude detection
  internal/heredoc/format.go
  internal/heredoc/format_test.go
  internal/rules/tally/prefer_heredoc_test.go
  internal/shell/command_test.go
  internal/shell/powershell_parser.go
  internal/shell/powershell_parser_nocgo.go
Due: format-go, lint-go

fix: address PR review comment
  internal/heredoc/format.go
Due: format-go, lint-go

fix: address PR review comment
  internal/heredoc/format_test.go
Due: format-go, lint-go

fix: address PR review comment
  docs/rules/tally/prefer-run-heredoc.md
Due: typos

fix: markdown reflow
  docs/guide/index.md
Due: typos

fix: address PR review comment
  design-docs/27-windows-container-rules.md
Due: typos

fix: address PR review comment
  internal/shell/cmd_parser.go
  internal/shell/cmd_parser_nocgo.go
  internal/shell/count_test.go
  internal/shell/windows_heredoc.go
Due: format-go, lint-go

fix: address PR review comment
  internal/shell/count_test.go
  internal/shell/powershell_parser.go
  internal/shell/windows_heredoc.go
Due: format-go, lint-go

fix: satisfy golangci-lint goconst
  internal/shell/powershell_parser.go
Due: format-go, lint-go

fix: satisfy remaining golangci-lint goconst
  internal/shell/powershell_parser.go
Due: format-go, lint-go

fix: address PR review comment
  go.mod
  go.sum
  internal/shell/command_test.go
  internal/shell/count_test.go
Due: format-go, lint-go

fix: stabilize heredoc resolver shell variants
  internal/fix/heredoc_resolver.go
  internal/fix/heredoc_resolver_test.go
  internal/integration/__snapshots__/TestFixRealWorldJaracoWindows_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixWindowsContainer_1.snap.Dockerfile
Due: format-go, lint-go
