Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

format-go:
  run: gofmt -w -s {staged_files}
  stage_fixed: true

lint-go:
  run: GOEXPERIMENT=jsonv2 make lint-fix
  stage_fixed: true

ts-typecheck:
  run: bunx @typescript/native-preview --noEmit

ts-lint:
  run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
  stage_fixed: true

ts-format:
  run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
  stage_fixed: true

taplo:
  run: bunx -y -q @taplo/cli format {staged_files}
  stage_fixed: true

yamllint:
  run: uvx yamllint {staged_files}

format-yml:
  run: yamlfmt {staged_files}
  stage_fixed: true

typos:
  run: uv tool run typos==1.43.4 --force-exclude {staged_files}

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

actionlint:
  run: actionlint {staged_files}

commitlint-config:
  run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml

fix: plumb request context into handleFormatting
  internal/lspserver/formatting.go
  internal/lspserver/server.go
Due: format-go, lint-go

fix: thread context through handleDiagnostic → pullDiagnosticsFromDisk
  internal/lspserver/diagnostics.go
  internal/lspserver/server.go
Due: format-go, lint-go

chore: add GitHub Copilot instruction
  .github/copilot-instructions.md
Due: typos

fix: resolve async fixes for LSP code actions + VSCode improvements (#132)
  .github/copilot-instructions.md
  extensions/vscode-tally/package.json
  internal/lspserver/codeactions.go
  internal/lspserver/diagnostics.go
  internal/lspserver/execute_command.go
  internal/lspserver/execute_command_test.go
  internal/lspserver/fixall.go
  internal/lspserver/formatting.go
  internal/lspserver/server.go
  internal/lsptest/lsp_test.go
Due: format-go, lint-go, typos

fix: handle $/cancelRequest and prevent diagnostic refresh deadlock
  internal/lspserver/server.go
  internal/lspserver/server_test.go
  internal/lspserver/settings.go
  internal/lsptest/lsp_test.go
Due: format-go, lint-go

fix: use named constant
  internal/lspserver/server.go
Due: format-go, lint-go

fix: use named constants
  internal/lspserver/server.go
Due: format-go, lint-go

fix: use jsonv2.Unmarshal in cancelPreempter
  internal/lspserver/server.go
Due: format-go, lint-go

fix: add happy-path unit test for cancelPreempter with valid IDs
  internal/lspserver/server_test.go
Due: format-go, lint-go

fix: assert no error patterns in VSCode output channel during smoke test
  extensions/vscode-tally/test/suite/index.js
Due: ts-lint, ts-format, typos

fix: handle $/cancelRequest and prevent diagnostic refresh deadlock (#133)
  extensions/vscode-tally/test/suite/index.js
  internal/lspserver/server.go
  internal/lspserver/server_test.go
  internal/lspserver/settings.go
  internal/lsptest/lsp_test.go
Due: format-go, lint-go, ts-lint, ts-format, typos

feat: add lean IntelliJ plugin build pipeline
  .github/workflows/intellij-plugin.yml
  .gitignore
  Makefile
  design-docs/17-intellij-plugin-lean-build.md
  design-docs/README.md
  extensions/intellij-tally/README.md
  extensions/intellij-tally/build/build.sh
  extensions/intellij-tally/build/versions.toml
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyBinaryResolver.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyFileMatcher.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyLspServerDescriptor.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyLspServerSupportProvider.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallySettings.kt
  extensions/intellij-tally/src/main/resources/META-INF/plugin.xml
Due: taplo, yamllint, format-yml, typos, actionlint

test: add IntelliJ CE smoke verification
  .github/workflows/intellij-plugin.yml
  Makefile
  extensions/intellij-tally/README.md
  extensions/intellij-tally/build/build.sh
  extensions/intellij-tally/build/smoke.sh
  extensions/intellij-tally/build/versions.toml
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyBinaryResolver.kt
  extensions/intellij-tally/src/main/resources/META-INF/plugin.xml
Due: taplo, yamllint, format-yml, typos, actionlint

fix: make IntelliJ LSP dependency optional
  extensions/intellij-tally/README.md
  extensions/intellij-tally/build/smoke.sh
  extensions/intellij-tally/src/main/resources/META-INF/lsp.xml
  extensions/intellij-tally/src/main/resources/META-INF/plugin.xml
Due: typos

ci: add IntelliJ Marketplace publish job
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

docs: improve IntelliJ marketplace description
  extensions/intellij-tally/src/main/resources/META-INF/plugin.xml
Due: none

chore: convert command to skill
  .claude/skills/add-buildkit-fix/SKILL.md
  .claude/skills/pr-comment/SKILL.md
Due: typos

fix: address PR review comment
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyBinaryResolver.kt
Due: none

fix: address PR review comment
  .github/workflows/intellij-plugin.yml
Due: yamllint, format-yml, typos, actionlint

fix: address PR review comment
  extensions/intellij-tally/build/build.sh
  extensions/intellij-tally/build/versions.toml
Due: taplo, typos

fix: address PR review comment
  extensions/intellij-tally/build/versions.toml
Due: taplo, typos

fix: address PR review comment
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyBinaryResolver.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyLspServerSupportProvider.kt
Due: none

fix: address PR review comment
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyFileMatcher.kt
Due: none

fix: address PR review comment
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyLspServerDescriptor.kt
Due: none

fix: address PR review comment
  .github/workflows/release.yml
Due: yamllint, format-yml, typos, actionlint

fix: stabilize intellij smoke script
  extensions/intellij-tally/build/smoke.sh
Due: none

fix: address PR review comment
  extensions/intellij-tally/build/smoke.sh
Due: none

fix: use idiomatic IFS
  extensions/intellij-tally/build/build.sh
Due: none

fix: address PR review comment
  extensions/intellij-tally/build/build.sh
  extensions/intellij-tally/build/lib.sh
  extensions/intellij-tally/build/smoke.sh
Due: none

chore: add LSP config
  .github/lsp.json
Due: typos

docs: add InteliJ link
  README.md
Due: typos

fix: address PR review comment
  extensions/intellij-tally/build/build.sh
Due: none

fix: address PR review comment
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallySettings.kt
Due: none

fix: address PR review comment
  .gitignore
Due: none

fix: robust sed
  extensions/intellij-tally/build/build.sh
Due: none

chore: add ktlint for intellij plugin
  .lefthook.yml
  extensions/intellij-tally/build/build.sh
  extensions/intellij-tally/build/ktlint.sh
  extensions/intellij-tally/build/versions.toml
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyBinaryResolver.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallyLspServerDescriptor.kt
  extensions/intellij-tally/src/main/kotlin/io/github/wharflab/tally/intellij/lsp/TallySettings.kt
Due: taplo, yamllint, format-yml, typos

Path conditions:
  format-go: any of: **/*.go
  lint-go: any of: **/*.go
  ts-typecheck: any of: extensions/vscode-tally/**/*.ts and ^extensions/vscode\-tally/
  ts-lint: any of: extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts} and ^extensions/vscode\-tally/
  ts-format: any of: *.{js,ts,cjs,mjs,mts,cts,jsx,tsx} and ^extensions/vscode\-tally/
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  format-yml: any of: {.yamlfmt,*.yml,*.yaml}
  typos: any of: *.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}
  codecov: any of: .codecov.yml
  actionlint: any of: .github/workflows/*.{yaml,yml}
  commitlint-config: any of: .commitlintrc.yaml
