Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

.lefthook.yml:

# yaml-language-server: =https://json.schemastore.org/lefthook.json
---
output:
  # - summary # Print summary block (successful and failed steps)
  # - empty_summary # Print summary heading when there are no steps to run
  - failure # Print failed steps printing
# - skips # Print "skip" (i.e. no files matched)
assert_lefthook_installed: true
pre-commit:
  commands:
    format-go:
      glob: "**/*.go"
      run: gofmt -w -s {staged_files}
      stage_fixed: true
    lint-go:
      glob: "**/*.go"
      run: GOEXPERIMENT=jsonv2 make lint-fix
      stage_fixed: true
    ts-typecheck:
      glob: "extensions/vscode-tally/**/*.ts"
      run: bunx @typescript/native-preview --noEmit
      root: extensions/vscode-tally
    ts-lint:
      glob: "extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts}"
      run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
      stage_fixed: true
      root: extensions/vscode-tally
    ts-format:
      glob: "*.{js,ts,cjs,mjs,mts,cts,jsx,tsx}"
      run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
      stage_fixed: true
      root: extensions/vscode-tally
    taplo:
      glob: "**/*.toml"
      run: bunx -y -q @taplo/cli format {staged_files}
      stage_fixed: true
    rumdl:
      glob: "**/*.md"
      exclude: "**/__snapshots__/**"
      run: uv tool run rumdl==0.1.17 check --fix --config .rumdl.toml --output-format concise {staged_files}
      stage_fixed: true
    yamllint:
      glob: "*.{yml,yaml}"
      run: uvx yamllint {staged_files}
    format-yml:
      glob: "{.yamlfmt,*.yml,*.yaml}"
      run: yamlfmt {staged_files}
      stage_fixed: true
    typos:
      glob: "*.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}"
      run: uv tool run typos==1.43.4 --force-exclude {staged_files}
    codecov:
      glob: ".codecov.yml"
      run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate
    # renovate:
    #   glob: "renovate.json"
    #   run: npx -y -q -y --package renovate renovate-config-validator renovate.json
    actionlint:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}
    commitlint-config:
      glob: ".commitlintrc.yaml"
      run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml
commit-msg:
  commands:
    "lint commit message":
      run: npx -y -q commitlint --edit {1}
    "check spelling":
      run: uv tool run typos==1.43.4 {1}
post-merge:
  files: "git diff-tree -r --name-only --no-commit-id ORIG_HEAD HEAD"
  commands:
    delete-merged-branches:
      run: git branch --merged | grep -Ev '\*|master|main|dev|develop|development|stag|staging|prod|production' | xargs git branch -d; git fetch --prune;
pre-push:
  parallel: true
  jobs:
    - name: build
      run: GOEXPERIMENT=jsonv2 make build
    - name: deadcode
      run: GOEXPERIMENT=jsonv2 make deadcode
    - name: test
      run: GOEXPERIMENT=jsonv2 make test
    - name: validate-hadolint-status
      run: ./scripts/validate-hadolint-status.sh
    - name: validate-buildkit-rules
      run: GOEXPERIMENT=jsonv2 ./scripts/validate-buildkit-rules.sh

fix: follow stage refs in base digest fallback
  internal/rules/tally/labels/no_stale_base_digest.go
  internal/rules/tally/labels/no_stale_base_digest_test.go
Due: format-go, lint-go

fix: follow exported label chains without semantics
  internal/rules/tally/labels/exported_labels.go
  internal/rules/tally/labels/no_buildx_git_overlap_test.go
  internal/rules/tally/labels/no_stale_base_digest_test.go
Due: format-go, lint-go

[codex] add label provenance rules (#622)
  _docs/docs.json
  _docs/rules/overview.mdx
  _docs/rules/tally/labels/no-buildx-git-overlap.mdx
  _docs/rules/tally/labels/no-duplicate-keys.mdx
  _docs/rules/tally/labels/no-stale-base-digest.mdx
  _docs/rules/tally/labels/valid-key.mdx
  _tools/schema-gen/main.go
  internal/config/config_test.go
  internal/integration/__snapshots__/TestFix_labels-no-buildx-git-overlap-no-fix_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_labels-no-buildx-git-overlap-revision-fix_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_labels-no-stale-base-digest-fix_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_labels-no-buildx-git-overlap_1.snap.json
  internal/integration/__snapshots__/TestLint_labels-no-stale-base-digest_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/labels-no-buildx-git-overlap/.tally.toml
  internal/integration/testdata/labels-no-buildx-git-overlap/Dockerfile
  internal/integration/testdata/labels-no-stale-base-digest/Dockerfile
  internal/lsptest/setup_test.go
  internal/rules/tally/index.schema.json
  internal/rules/tally/labels/exported_labels.go
  internal/rules/tally/labels/no_buildx_git_overlap.go
  internal/rules/tally/labels/no_buildx_git_overlap.schema.json
  internal/rules/tally/labels/no_buildx_git_overlap_test.go
  internal/rules/tally/labels/no_duplicate_keys.go
  internal/rules/tally/labels/no_duplicate_keys_test.go
  internal/rules/tally/labels/no_stale_base_digest.go
  internal/rules/tally/labels/no_stale_base_digest_test.go
  internal/rules/tally/labels/util.go
  internal/rules/tally/labels/valid_key.go
  internal/schemas/generated/config/tally_config.gen.go
  internal/schemas/generated/rules/tally/labels/no_buildx_git_overlap.gen.go
  internal/schemas/manifest.json
  internal/schemas/registry_gen.go
  schema.json
Due: format-go, lint-go, taplo, typos

zed: set extension version to 0.41.0
  _integrations/zed-tally/Cargo.toml
  _integrations/zed-tally/extension.toml
Due: taplo, typos

docs: propose javascript docker rules
  design-docs/44-javascript-on-docker.md
Due: typos

docs: correct node-gyp config guidance
  design-docs/44-javascript-on-docker.md
Due: typos

[codex] Propose JavaScript Docker rules (#630)
  design-docs/44-javascript-on-docker.md
Due: typos

docs: propose Ruby Docker rules (tally/ruby/*)
  design-docs/43-ruby-on-docker.md
  design-docs/PROPOSED-RULES-TRACKER.md
Due: typos

docs: propose Ruby Docker rules (tally/ruby/*) (#631)
  design-docs/43-ruby-on-docker.md
  design-docs/PROPOSED-RULES-TRACKER.md
Due: typos

chore: remove stale tracker document
  design-docs/PROPOSED-RULES-TRACKER.md
Due: typos

chore: cleanup docs
  design-docs/MACOS_SIGNING.md
  design-docs/README.md
  design-docs/buildkit-getmounts-behavior.md
  design-docs/buildkit-phase2-rules-research.md
Due: typos

chore: add tenets to CLAUDE.md
  CLAUDE.md
Due: typos

feat(rules): add tally/ruby/jemalloc-installed-but-not-preloaded
  _docs/docs.json
  _docs/rules/tally/ruby/jemalloc-installed-but-not-preloaded.mdx
  internal/integration/__snapshots__/TestFix_ruby-jemalloc-installed-but-not-preloaded-apt-fix_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_ruby-jemalloc-with-sort-packages_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_ruby-jemalloc-installed-but-not-preloaded_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/ruby-jemalloc-installed-but-not-preloaded/Dockerfile
  internal/rules/all/all.go
  internal/rules/tally/php/helpers.go
  internal/rules/tally/ruby/doc.go
  internal/rules/tally/ruby/jemalloc_installed_but_not_preloaded.go
  internal/rules/tally/ruby/jemalloc_installed_but_not_preloaded_test.go
  internal/stagename/stagename.go
  internal/stagename/stagename_test.go
Due: format-go, lint-go, typos

fix: address PR review comment
  internal/rules/tally/ruby/jemalloc_installed_but_not_preloaded.go
  internal/rules/tally/ruby/jemalloc_installed_but_not_preloaded_test.go
Due: format-go, lint-go

feat: add node-gyp cache mount rule
  _docs/docs.json
  _docs/rules/overview.mdx
  _docs/rules/tally/js/node-gyp-cache-mounts.mdx
  internal/integration/__snapshots__/TestFix_js-node-gyp-cache-mounts-with-package-cache-mounts_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_js-node-gyp-cache-mounts_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/js-node-gyp-cache-mounts/Dockerfile
  internal/rules/all/all.go
  internal/rules/tally/js/node_gyp_cache_mounts.go
  internal/rules/tally/js/node_gyp_cache_mounts_test.go
  internal/rules/tally/prefer_package_cache_mounts.go
  internal/rules/tally/require_secret_mounts.go
  internal/runmount/edit.go
Due: format-go, lint-go, typos

fix: address PR review comment
  _docs/rules/tally/ruby/jemalloc-installed-but-not-preloaded.mdx
  internal/integration/__snapshots__/TestFix_ruby-jemalloc-installed-but-not-preloaded-apt-fix_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_ruby-jemalloc-with-sort-packages_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_ruby-jemalloc-installed-but-not-preloaded_1.snap.json
  internal/rules/tally/ruby/jemalloc_installed_but_not_preloaded.go
  internal/rules/tally/ruby/jemalloc_installed_but_not_preloaded_test.go
Due: format-go, lint-go, typos

fix: address PR review comment
  internal/integration/__snapshots__/TestLint_ruby-jemalloc-installed-but-not-preloaded_1.snap.json
  internal/rules/tally/ruby/jemalloc_installed_but_not_preloaded.go
  internal/rules/tally/ruby/jemalloc_installed_but_not_preloaded_test.go
Due: format-go, lint-go, typos

fix: address PR review comment
  internal/rules/tally/js/node_gyp_cache_mounts.go
  internal/rules/tally/js/node_gyp_cache_mounts_test.go
Due: format-go, lint-go

fix: address PR review comments
  _docs/rules/tally/js/node-gyp-cache-mounts.mdx
  internal/integration/__snapshots__/TestFix_js-node-gyp-cache-mounts-with-package-cache-mounts_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_js-node-gyp-cache-mounts_1.snap.json
  internal/rules/tally/js/node_gyp_cache_mounts.go
  internal/rules/tally/js/node_gyp_cache_mounts_test.go
Due: format-go, lint-go, typos

fix: address PR review comments
  _docs/rules/tally/js/node-gyp-cache-mounts.mdx
  internal/rules/tally/js/node_gyp_cache_mounts.go
  internal/rules/tally/js/node_gyp_cache_mounts_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/runmount/edit.go
  internal/runmount/runmount_test.go
Due: format-go, lint-go

Add node-gyp cache mount rule (#633)
  _docs/docs.json
  _docs/rules/overview.mdx
  _docs/rules/tally/js/node-gyp-cache-mounts.mdx
  internal/integration/__snapshots__/TestFix_js-node-gyp-cache-mounts-with-package-cache-mounts_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_js-node-gyp-cache-mounts_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/js-node-gyp-cache-mounts/Dockerfile
  internal/rules/all/all.go
  internal/rules/tally/js/node_gyp_cache_mounts.go
  internal/rules/tally/js/node_gyp_cache_mounts_test.go
  internal/rules/tally/prefer_package_cache_mounts.go
  internal/rules/tally/require_secret_mounts.go
  internal/runmount/edit.go
  internal/runmount/runmount_test.go
Due: format-go, lint-go, typos

fix: address PR review comment
  _docs/rules/tally/ruby/jemalloc-installed-but-not-preloaded.mdx
  internal/rules/tally/ruby/jemalloc_installed_but_not_preloaded.go
  internal/rules/tally/ruby/jemalloc_installed_but_not_preloaded_test.go
Due: format-go, lint-go

fix: address PR review comment
  _docs/rules/tally/ruby/jemalloc-installed-but-not-preloaded.mdx
Due: none

feat(rules): add tally/ruby/jemalloc-installed-but-not-preloaded
  _docs/docs.json
  _docs/rules/tally/ruby/jemalloc-installed-but-not-preloaded.mdx
  internal/integration/__snapshots__/TestFix_ruby-jemalloc-installed-but-not-preloaded-apt-fix_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_ruby-jemalloc-with-sort-packages_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_ruby-jemalloc-installed-but-not-preloaded_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/ruby-jemalloc-installed-but-not-preloaded/Dockerfile
  internal/rules/all/all.go
  internal/rules/tally/php/helpers.go
  internal/rules/tally/ruby/doc.go
  internal/rules/tally/ruby/jemalloc_installed_but_not_preloaded.go
  internal/rules/tally/ruby/jemalloc_installed_but_not_preloaded_test.go
  internal/stagename/stagename.go
  internal/stagename/stagename_test.go
Due: format-go, lint-go, typos
