Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

.lefthook.yml:

# yaml-language-server: =https://json.schemastore.org/lefthook.json
---
output:
  # - summary # Print summary block (successful and failed steps)
  # - empty_summary # Print summary heading when there are no steps to run
  - failure # Print failed steps printing
# - skips # Print "skip" (i.e. no files matched)
assert_lefthook_installed: true
pre-commit:
  commands:
    format-go:
      glob: "**/*.go"
      run: gofmt -w -s {staged_files}
      stage_fixed: true
    lint-go:
      glob: "**/*.go"
      run: GOEXPERIMENT=jsonv2 make lint-fix
      stage_fixed: true
    ts-typecheck:
      glob: "extensions/vscode-tally/**/*.ts"
      run: bunx @typescript/native-preview --noEmit
      root: extensions/vscode-tally
    ts-lint:
      glob: "extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts}"
      run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
      stage_fixed: true
      root: extensions/vscode-tally
    ts-format:
      glob: "*.{js,ts,cjs,mjs,mts,cts,jsx,tsx}"
      run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
      stage_fixed: true
      root: extensions/vscode-tally
    taplo:
      glob: "**/*.toml"
      run: bunx -y -q @taplo/cli format {staged_files}
      stage_fixed: true
    rumdl:
      glob: "**/*.md"
      exclude: "**/__snapshots__/**"
      run: uv tool run rumdl==0.1.17 check --fix --config .rumdl.toml --output-format concise {staged_files}
      stage_fixed: true
    yamllint:
      glob: "*.{yml,yaml}"
      run: uvx yamllint {staged_files}
    format-yml:
      glob: "{.yamlfmt,*.yml,*.yaml}"
      run: yamlfmt {staged_files}
      stage_fixed: true
    typos:
      glob: "*.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}"
      run: uv tool run typos==1.43.4 --force-exclude {staged_files}
    codecov:
      glob: ".codecov.yml"
      run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate
    # renovate:
    #   glob: "renovate.json"
    #   run: npx -y -q -y --package renovate renovate-config-validator renovate.json
    actionlint:
      glob: ".github/workflows/*.{yaml,yml}"
      run: actionlint {staged_files}
    commitlint-config:
      glob: ".commitlintrc.yaml"
      run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml
commit-msg:
  commands:
    "lint commit message":
      run: npx -y -q commitlint --edit {1}
    "check spelling":
      run: uv tool run typos==1.43.4 {1}
post-merge:
  files: "git diff-tree -r --name-only --no-commit-id ORIG_HEAD HEAD"
  commands:
    delete-merged-branches:
      run: git branch --merged | grep -Ev '\*|master|main|dev|develop|development|stag|staging|prod|production' | xargs git branch -d; git fetch --prune;
pre-push:
  parallel: true
  jobs:
    - name: build
      run: GOEXPERIMENT=jsonv2 make build
    - name: deadcode
      run: GOEXPERIMENT=jsonv2 make deadcode
    - name: test
      run: GOEXPERIMENT=jsonv2 make test
    - name: validate-hadolint-status
      run: ./scripts/validate-hadolint-status.sh
    - name: validate-buildkit-rules
      run: GOEXPERIMENT=jsonv2 ./scripts/validate-buildkit-rules.sh

fix: address PR review comment
  internal/shell/file_creation.go
  internal/shell/file_creation_test.go
Due: format-go, lint-go

docs(prefer-copy-heredoc): rewrite motivation, add brace-pipe-tee example
  _docs/rules/tally/prefer-copy-heredoc.mdx
Due: none

feat(prefer-copy-heredoc): drop shell-state-only leftover RUNs
  _docs/rules/tally/prefer-copy-heredoc.mdx
  internal/rules/tally/prefer_copy_heredoc.go
  internal/rules/tally/prefer_copy_heredoc_test.go
  internal/shell/file_creation.go
Due: format-go, lint-go

refactor(prefer-copy-heredoc): drop string-splitting; filter in shell layer
  internal/rules/tally/prefer_copy_heredoc.go
  internal/shell/file_creation.go
Due: format-go, lint-go

feat(prefer-copy-heredoc): pad COPY heredocs with blank lines
  _docs/rules/tally/prefer-copy-heredoc.mdx
  internal/integration/__snapshots__/TestFixCrossRuleCopyChmodHeredoc_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixHeredocCombined_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_heredoc-both-rules-combined_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-copy-heredoc-buildkit-heredoc-cat_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-copy-heredoc-buildkit-heredoc-tee_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-copy-heredoc-consecutive-writes_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-copy-heredoc-printf-chmod_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-copy-heredoc-printf-escapes_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-copy-heredoc-single-echo_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-copy-heredoc-tilde-home-root_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-copy-heredoc-with-chmod_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_heredoc-combined_1.snap.json
  internal/rules/tally/prefer_copy_heredoc.go
  internal/rules/tally/prefer_copy_heredoc_test.go
Due: format-go, lint-go, typos

fix: address PR review comment
  internal/rules/tally/prefer_copy_heredoc_test.go
  internal/shell/file_creation.go
Due: format-go, lint-go

fix: address PR review comment
  internal/rules/tally/prefer_copy_heredoc.go
Due: format-go, lint-go

docs: design BuildInvocation model and Bake/Compose integration (#327)
  design-docs/38-buildinvocation-bake.md
  design-docs/README.md
Due: typos

feat(rules): add tally/prefer-nginx-sigquit
  _docs/docs.json
  _docs/rules/tally/prefer-nginx-sigquit.mdx
  internal/integration/__snapshots__/TestFix_prefer-nginx-sigquit-cross-canonical_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-nginx-sigquit-cross-no-ungraceful_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-nginx-sigquit-missing_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-nginx-sigquit-no-fix_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-nginx-sigquit-non-nginx-no-fix_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-nginx-sigquit-wrong-signal-safe-no-fix_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-nginx-sigquit-wrong-signal_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_prefer-nginx-sigquit_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/prefer-nginx-sigquit/Dockerfile
  internal/rules/tally/prefer_nginx_sigquit.go
  internal/rules/tally/prefer_nginx_sigquit_test.go
  internal/rules/tally/prefer_systemd_sigrtmin_plus_3.go
  internal/rules/tally/stopsignal.go
  internal/rules/tally/stopsignal_test.go
Due: format-go, lint-go, typos

fix: address PR review comment
  internal/integration/__snapshots__/TestFix_prefer-nginx-sigquit-missing_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_prefer-nginx-sigquit_1.snap.json
  internal/rules/tally/prefer_nginx_sigquit.go
  internal/rules/tally/prefer_nginx_sigquit_test.go
Due: format-go, lint-go, typos

fix(tests): bump total-rules-enabled snapshot to 101
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
Due: typos

docs(prefer-copy-heredoc): correct chmod preservation claim
  _docs/rules/tally/prefer-copy-heredoc.mdx
Due: none

feat(rules): add tally/prefer-nginx-sigquit (#546)
  _docs/docs.json
  _docs/rules/tally/prefer-nginx-sigquit.mdx
  internal/integration/__snapshots__/TestFix_prefer-nginx-sigquit-cross-canonical_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-nginx-sigquit-cross-no-ungraceful_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-nginx-sigquit-missing_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-nginx-sigquit-no-fix_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-nginx-sigquit-non-nginx-no-fix_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-nginx-sigquit-wrong-signal-safe-no-fix_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-nginx-sigquit-wrong-signal_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_prefer-nginx-sigquit_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/prefer-nginx-sigquit/Dockerfile
  internal/rules/tally/prefer_nginx_sigquit.go
  internal/rules/tally/prefer_nginx_sigquit_test.go
  internal/rules/tally/prefer_systemd_sigrtmin_plus_3.go
  internal/rules/tally/stopsignal.go
  internal/rules/tally/stopsignal_test.go
Due: format-go, lint-go, typos

chore: satisfy make lint (errcheck/exhaustive/funlen/goconst/gocritic/gocyclo/gosec)
  internal/rules/tally/prefer_copy_heredoc.go
  internal/shell/file_creation.go
Due: format-go, lint-go

docs: use map[string]*string for BuildArgs and Environment
  design-docs/38-buildinvocation-bake.md
Due: typos

fix: address PR review comment
  internal/shell/file_creation.go
Due: format-go, lint-go

docs: make Port range-aware (ContainerStart/End + HostStart/End)
  design-docs/38-buildinvocation-bake.md
Due: typos

fix: address PR review comment
  internal/shell/file_creation_test.go
Due: format-go, lint-go

chore(docs): satisfy markdown linter (MD013 line length)
  _docs/rules/tally/prefer-copy-heredoc.mdx
Due: none

docs: add Target to SecretRef for container mount-path awareness
  design-docs/38-buildinvocation-bake.md
Due: typos

docs: make path normalization canonical (absolute internally, relative for rendering)
  design-docs/38-buildinvocation-bake.md
Due: typos

docs: correct Bake iteration order (alphabetical, not source-declaration)
  design-docs/38-buildinvocation-bake.md
Due: typos

feat(prefer-copy-heredoc): detect grouped echo|tee and split multi-target RUNs (#545)
  _docs/rules/tally/prefer-copy-heredoc.mdx
  internal/integration/__snapshots__/TestFixCrossRuleCopyChmodHeredoc_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixHeredocCombined_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_heredoc-both-rules-combined_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-copy-heredoc-buildkit-heredoc-cat_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-copy-heredoc-buildkit-heredoc-tee_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-copy-heredoc-consecutive-writes_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-copy-heredoc-printf-chmod_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-copy-heredoc-printf-escapes_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-copy-heredoc-single-echo_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-copy-heredoc-tilde-home-root_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_prefer-copy-heredoc-with-chmod_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_heredoc-combined_1.snap.json
  internal/rules/tally/prefer_copy_heredoc.go
  internal/rules/tally/prefer_copy_heredoc_test.go
  internal/shell/file_creation.go
  internal/shell/file_creation_test.go
Due: format-go, lint-go, typos

docs: design BuildInvocation model and Bake/Compose integration (#327) (#550)
  design-docs/38-buildinvocation-bake.md
  design-docs/README.md
Due: typos

chore: update tally links
  _integrations/intellij-tally/src/main/resources/META-INF/plugin.xml
  _integrations/vscode-tally/README.md
  _integrations/vscode-tally/package.json
  _integrations/zed-tally/README.md
  _integrations/zed-tally/extension.toml
  packaging/homebrew/tally.rb.template
  packaging/npm/package.json
  packaging/npm/scripts/publish-release.js
  packaging/pypi/pyproject.toml
  packaging/rubygems/tally-cli.gemspec
Due: taplo, typos

feat(rules): add tally/user-explicit-group-drops-supplementary-groups
  _docs/docs.json
  _docs/rules/tally/user-explicit-group-drops-supplementary-groups.mdx
  internal/integration/__snapshots__/TestFix_user-explicit-group-drops-supplementary-groups-linux_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_user-explicit-group-drops-supplementary-groups-no-group-no-fix_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_user-explicit-group-drops-supplementary-groups-windows_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/__snapshots__/TestLint_user-explicit-group-drops-supplementary-groups_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/user-explicit-group-drops-supplementary-groups/Dockerfile
  internal/rules/tally/__snapshots__/TestUserExplicitGroupDropsSupplementaryGroupsMetadata_1.snap.json
  internal/rules/tally/user_created_but_never_used.go
  internal/rules/tally/user_explicit_group_drops_supplementary_groups.go
  internal/rules/tally/user_explicit_group_drops_supplementary_groups_test.go
  internal/rules/tally/user_management_scan.go
  internal/rules/tally/user_management_scan_test.go
Due: format-go, lint-go, typos

fix: address PR review comment
  internal/rules/tally/user_management_scan.go
  internal/rules/tally/user_management_scan_test.go
  internal/shell/command.go
  internal/shell/powershell_parser.go
Due: format-go, lint-go

fix: address PR review comment
  internal/rules/tally/user_management_scan.go
  internal/rules/tally/user_management_scan_test.go
Due: format-go, lint-go

refactor(php): consume canonical package-manager helpers + COPY --from opcache inheritance
  internal/integration/__snapshots__/TestFix_php-no-xdebug-in-final-image-apt-get-comment-out_1.snap.Dockerfile
  internal/integration/fix_cases_test.go
  internal/rules/tally/php/enable_opcache_in_production.go
  internal/rules/tally/php/enable_opcache_in_production_test.go
  internal/rules/tally/php/helpers.go
  internal/rules/tally/php/helpers_test.go
  internal/rules/tally/php/no_xdebug_in_final_image.go
Due: format-go, lint-go

fix(prefer-package-cache-mounts): produce targeted cleanup edits for ;-chained RUNs
  internal/integration/__snapshots__/TestFixRealWorldPHPFPM56_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixRealWorldPHPFPM56_1.snap.md
  internal/integration/fix_scenarios_test.go
  internal/integration/testdata/real-world-fix-php-fpm-56/Dockerfile
  internal/rules/tally/prefer_package_cache_mounts.go
  internal/shell/count.go
  internal/shell/count_test.go
Due: format-go, lint-go, typos

fix(prefer-package-cache-mounts): defer whole-RUN tail rewrite to async resolver
  internal/fix/fixer_precedence_test.go
  internal/integration/__snapshots__/TestLint_prefer-package-cache-mounts_1.snap.json
  internal/rules/cache_mounts_data.go
  internal/rules/tally/prefer_package_cache_mounts.go
  internal/rules/tally/prefer_package_cache_mounts_resolver.go
  internal/rules/tally/prefer_package_cache_mounts_test.go
Due: format-go, lint-go, typos

fix: address PR review comment
  internal/shell/count.go
  internal/shell/count_test.go
Due: format-go, lint-go

feat(rules): add tally/user-explicit-group-drops-supplementary-groups (#551)
  _docs/docs.json
  _docs/rules/tally/user-explicit-group-drops-supplementary-groups.mdx
  internal/integration/__snapshots__/TestFix_user-explicit-group-drops-supplementary-groups-linux_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_user-explicit-group-drops-supplementary-groups-no-group-no-fix_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_user-explicit-group-drops-supplementary-groups-windows_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/__snapshots__/TestLint_user-explicit-group-drops-supplementary-groups_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/user-explicit-group-drops-supplementary-groups/Dockerfile
  internal/rules/tally/__snapshots__/TestUserExplicitGroupDropsSupplementaryGroupsMetadata_1.snap.json
  internal/rules/tally/user_created_but_never_used.go
  internal/rules/tally/user_explicit_group_drops_supplementary_groups.go
  internal/rules/tally/user_explicit_group_drops_supplementary_groups_test.go
  internal/rules/tally/user_management_scan.go
  internal/rules/tally/user_management_scan_test.go
  internal/shell/command.go
  internal/shell/powershell_parser.go
Due: format-go, lint-go, typos

docs: tighten buildinvocation proposal
  design-docs/38-buildinvocation-bake.md
Due: typos
