Repository wharflab/tally: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, lint-go, ts-typecheck, ts-lint, ts-format, taplo, yamllint, format-yml, typos, codecov, actionlint, commitlint-config

format-go:
  run: gofmt -w -s {staged_files}
  stage_fixed: true

lint-go:
  run: GOEXPERIMENT=jsonv2 make lint-fix
  stage_fixed: true

ts-typecheck:
  run: bunx @typescript/native-preview --noEmit

ts-lint:
  run: bunx -y -q oxlint --type-aware --fix --fix-suggestions {staged_files}
  stage_fixed: true

ts-format:
  run: bunx -y -q oxfmt --no-error-on-unmatched-pattern --write {staged_files}
  stage_fixed: true

taplo:
  run: bunx -y -q @taplo/cli format {staged_files}
  stage_fixed: true

yamllint:
  run: uvx yamllint {staged_files}

format-yml:
  run: yamlfmt {staged_files}
  stage_fixed: true

typos:
  run: uv tool run typos==1.43.4 --force-exclude {staged_files}

codecov:
  run: curl --fail --data-binary @.codecov.yml https://codecov.io/validate

actionlint:
  run: actionlint {staged_files}

commitlint-config:
  run: uvx check-jsonschema --schemafile https://json.schemastore.org/commitlintrc.json .commitlintrc.yaml

zed: set extension version to 0.20.0
  _integrations/zed-tally/Cargo.toml
  _integrations/zed-tally/extension.toml
Due: taplo, typos

feat: add WorkingDir to ImageConfig, fix suggestions for DL3045 and WorkdirRelativePath
  RULES.md
  docs/rules/buildkit/WorkdirRelativePath.md
  docs/rules/hadolint/DL3045.md
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_dl3045-cross-rules_1.snap.json
  internal/integration/__snapshots__/TestLint_dl3045_1.snap.json
  internal/registry/containers.go
  internal/registry/resolver.go
  internal/registry/testutil/mockregistry.go
  internal/rules/buildkit/fixes/enricher.go
  internal/rules/buildkit/workdir_relative_path.go
  internal/rules/buildkit/workdir_relative_path_test.go
  internal/rules/hadolint-status.json
  internal/rules/hadolint/dl3045.go
  internal/rules/hadolint/dl3045_test.go
Due: format-go, lint-go, typos

fix: reject registry WorkingDir with newlines to prevent Dockerfile injection
  internal/rules/buildkit/workdir_relative_path.go
  internal/rules/buildkit/workdir_relative_path_test.go
  internal/rules/hadolint/dl3045.go
  internal/rules/hadolint/dl3045_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/rules/buildkit/workdir_relative_path.go
  internal/rules/buildkit/workdir_relative_path_test.go
  internal/rules/hadolint/dl3045.go
  internal/rules/hadolint/dl3045_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/rules/buildkit/workdir_relative_path.go
  internal/rules/buildkit/workdir_relative_path_test.go
Due: format-go, lint-go

refactor: replace custom path helpers with buildkit util/system
  internal/rules/buildkit/workdir_relative_path.go
  internal/rules/buildkit/workdir_relative_path_test.go
  internal/rules/hadolint/dl3045.go
Due: format-go, lint-go

feat: fix suggestions for DL3045 and WorkdirRelativePath via registry WorkingDir (#231)
  RULES.md
  docs/rules/buildkit/WorkdirRelativePath.md
  docs/rules/hadolint/DL3045.md
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_dl3045-cross-rules_1.snap.json
  internal/integration/__snapshots__/TestLint_dl3045_1.snap.json
  internal/registry/containers.go
  internal/registry/resolver.go
  internal/registry/testutil/mockregistry.go
  internal/rules/buildkit/fixes/enricher.go
  internal/rules/buildkit/workdir_relative_path.go
  internal/rules/buildkit/workdir_relative_path_test.go
  internal/rules/hadolint-status.json
  internal/rules/hadolint/dl3045.go
  internal/rules/hadolint/dl3045_test.go
Due: format-go, lint-go, typos

feat: add tally/no-multiple-empty-lines rule with safe auto-fix
  README.md
  RULES.md
  cmd/tally/cmd/lint.go
  docs/index.md
  docs/rules/tally/index.md
  docs/rules/tally/no-multiple-empty-lines.md
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_no-multiple-empty-lines-bof_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_no-multiple-empty-lines-eof_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_no-multiple-empty-lines_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_no-multiple-empty-lines_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/no-multiple-empty-lines/Dockerfile
  internal/lsptest/__snapshots__/TestLSP_FormattingRealWorld_1.snap.Dockerfile
  internal/rules/rule.go
  internal/rules/tally/__snapshots__/TestNoMultipleEmptyLinesMetadata_1.snap.json
  internal/rules/tally/index.schema.json
  internal/rules/tally/max_lines.go
  internal/rules/tally/no_multiple_empty_lines.go
  internal/rules/tally/no_multiple_empty_lines.schema.json
  internal/rules/tally/no_multiple_empty_lines_test.go
  internal/schemas/generated/config/tally_config.gen.go
  internal/schemas/generated/rules/tally/no_multiple_empty_lines.gen.go
  internal/schemas/manifest.json
  internal/schemas/registry_gen.go
  schema.json
Due: format-go, lint-go, typos

fix: address PR review comment
  internal/integration/__snapshots__/TestFixRealWorld_1.snap.Dockerfile
  internal/lsptest/__snapshots__/TestLSP_FormattingRealWorld_1.snap.Dockerfile
  internal/rules/tally/__snapshots__/TestNoMultipleEmptyLinesMetadata_1.snap.json
  internal/rules/tally/no_multiple_empty_lines.go
Due: format-go, lint-go, typos

fix: address PR review comment
  cmd/tally/cmd/lint.go
Due: format-go, lint-go

fix: address PR review comment
  internal/integration/__snapshots__/TestFix_no-multiple-empty-lines-revalidate-max-lines_1.snap.Dockerfile
  internal/integration/fix_cases_test.go
Due: format-go, lint-go

fix: address PR review comment
  cmd/tally/cmd/lint.go
  internal/fix/revalidate.go
Due: format-go, lint-go

chore: forgotten snapshot
  internal/integration/__snapshots__/TestLint_no-multiple-empty-lines_1.snap.json
Due: typos

fix: increase number of violations
  _integrations/vscode-tally/test/e2e/smoke.test.ts
Due: typos

feat: add tally/no-multiple-empty-lines rule (#233)
  README.md
  RULES.md
  _integrations/vscode-tally/test/e2e/smoke.test.ts
  cmd/tally/cmd/lint.go
  docs/index.md
  docs/rules/tally/index.md
  docs/rules/tally/no-multiple-empty-lines.md
  internal/fix/revalidate.go
  internal/integration/__snapshots__/TestFix_no-multiple-empty-lines-bof_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_no-multiple-empty-lines-eof_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_no-multiple-empty-lines-revalidate-max-lines_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFix_no-multiple-empty-lines_1.snap.Dockerfile
  internal/integration/__snapshots__/TestLint_no-multiple-empty-lines_1.snap.json
  internal/integration/__snapshots__/TestLint_total-rules-enabled_1.snap.json
  internal/integration/fix_cases_test.go
  internal/integration/lint_cases_test.go
  internal/integration/testdata/no-multiple-empty-lines/Dockerfile
  internal/rules/rule.go
  internal/rules/tally/__snapshots__/TestNoMultipleEmptyLinesMetadata_1.snap.json
  internal/rules/tally/index.schema.json
  internal/rules/tally/max_lines.go
  internal/rules/tally/no_multiple_empty_lines.go
  internal/rules/tally/no_multiple_empty_lines.schema.json
  internal/rules/tally/no_multiple_empty_lines_test.go
  internal/schemas/generated/config/tally_config.gen.go
  internal/schemas/generated/rules/tally/no_multiple_empty_lines.gen.go
  internal/schemas/manifest.json
  internal/schemas/registry_gen.go
  schema.json
Due: format-go, lint-go, typos

feat: add semantic highlighting for cli and lsp
  design-docs/30-ast-semantic-highlighting-cli-lsp.md
  go.mod
  go.sum
  internal/highlight/core/token.go
  internal/highlight/dockerfile/tokenize.go
  internal/highlight/extract/blank.go
  internal/highlight/extract/script.go
  internal/highlight/highlight.go
  internal/highlight/lspencode/encode.go
  internal/highlight/renderansi/render.go
  internal/highlight/renderansi/render_test.go
  internal/highlight/shell/tokenize.go
  internal/highlight/theme/theme.go
  internal/lspserver/semantic_tokens.go
  internal/lspserver/server.go
  internal/lsptest/__snapshots__/TestLSP_Initialize_1.snap.json
  internal/lsptest/__snapshots__/TestLSP_SemanticTokensFull_1.snap.json
  internal/lsptest/lsp_test.go
  internal/reporter/text.go
  internal/reporter/text_test.go
  internal/rules/shellcheck/script.go
Due: format-go, lint-go, typos

fix: refresh semantic highlighting snapshots
  internal/highlight/renderansi/render.go
  internal/integration/__snapshots__/TestStdin_lint-text_1.snap.txt
  internal/lsptest/__snapshots__/TestLSP_SemanticTokensFull_1.snap.json
Due: format-go, lint-go, typos

fix: stop linting heredoc file payloads as shell
  internal/highlight/extract/script.go
  internal/highlight/extract/script_test.go
  internal/highlight/highlight.go
  internal/integration/__snapshots__/TestLint_shellcheck-fallback-empty-heredoc_1.snap.json
  internal/rules/shellcheck/shellcheck.go
  internal/rules/shellcheck/shellcheck_test.go
Due: format-go, lint-go, typos

fix: use rune columns in dockerfile tokens
  internal/highlight/dockerfile/tokenize.go
  internal/highlight/dockerfile/tokenize_test.go
Due: format-go, lint-go

fix: use rune columns in shell tokens
  internal/highlight/shell/tokenize.go
  internal/highlight/shell/tokenize_test.go
Due: format-go, lint-go

fix: validate lsp disk reads before loading
  internal/lspserver/diagnostics.go
  internal/lspserver/document_content.go
  internal/lspserver/document_content_test.go
  internal/lspserver/semantic_tokens.go
Due: format-go, lint-go

fix: reset reporter highlight cache per print
  internal/reporter/text.go
  internal/reporter/text_test.go
Due: format-go, lint-go

fix: reject multiline shell token spans
  internal/highlight/shell/tokenize.go
  internal/highlight/shell/tokenize_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/highlight/dockerfile/tokenize.go
  internal/highlight/dockerfile/tokenize_test.go
Due: format-go, lint-go

fix: address PR review comment
  internal/fileval/fileval.go
  internal/fileval/fileval_test.go
  internal/lspserver/document_content.go
Due: format-go, lint-go

fix: address PR review comment
  internal/fileval/fileval_test.go
Due: format-go, lint-go

chore: add pr-comment skill to .agents
  .agents/skills/pr-comment/SKILL.md
Due: typos

fix: address PR review comment
  internal/lspserver/semantic_tokens.go
  internal/lspserver/semantic_tokens_cache.go
  internal/lspserver/semantic_tokens_test.go
  internal/lspserver/server.go
Due: format-go, lint-go

fix: address PR review comment
  internal/lsptest/lsp_test.go
Due: format-go, lint-go

fix: avoid re-analyzing plain reporter output
  internal/reporter/text.go
  internal/reporter/text_test.go
Due: format-go, lint-go

docs: tighten PowerShell heredoc follow-up guidance
  design-docs/30-ast-semantic-highlighting-cli-lsp.md
Due: typos

fix: improve Windows path highlighting
  internal/highlight/dockerfile/tokenize.go
  internal/highlight/dockerfile/tokenize_test.go
  internal/highlight/highlight_test.go
Due: format-go, lint-go

feat: add semantic highlighting for cli and lsp (#234)
  .agents/skills/pr-comment/SKILL.md
  design-docs/30-ast-semantic-highlighting-cli-lsp.md
  go.mod
  go.sum
  internal/fileval/fileval.go
  internal/fileval/fileval_test.go
  internal/highlight/core/token.go
  internal/highlight/dockerfile/tokenize.go
  internal/highlight/dockerfile/tokenize_test.go
  internal/highlight/extract/blank.go
  internal/highlight/extract/script.go
  internal/highlight/extract/script_test.go
  internal/highlight/highlight.go
  internal/highlight/highlight_test.go
  internal/highlight/lspencode/encode.go
  internal/highlight/renderansi/render.go
  internal/highlight/renderansi/render_test.go
  internal/highlight/shell/tokenize.go
  internal/highlight/shell/tokenize_test.go
  internal/highlight/theme/theme.go
  internal/integration/__snapshots__/TestLint_shellcheck-fallback-empty-heredoc_1.snap.json
  internal/integration/__snapshots__/TestStdin_lint-text_1.snap.txt
  internal/lspserver/diagnostics.go
  internal/lspserver/document_content.go
  internal/lspserver/document_content_test.go
  internal/lspserver/semantic_tokens.go
  internal/lspserver/semantic_tokens_cache.go
  internal/lspserver/semantic_tokens_test.go
  internal/lspserver/server.go
  internal/lsptest/__snapshots__/TestLSP_Initialize_1.snap.json
  internal/lsptest/__snapshots__/TestLSP_SemanticTokensFull_1.snap.json
  internal/lsptest/lsp_test.go
  internal/reporter/text.go
  internal/reporter/text_test.go
  internal/rules/shellcheck/script.go
  internal/rules/shellcheck/shellcheck.go
  internal/rules/shellcheck/shellcheck_test.go
Due: format-go, lint-go, typos

zed: set extension version to 0.21.0
  _integrations/zed-tally/Cargo.toml
  _integrations/zed-tally/extension.toml
Due: taplo, typos

fix(newline-between-instructions): accept comments as separators between same-type instructions
  internal/fix/newline_resolver.go
  internal/integration/__snapshots__/TestFixRealWorldMetalama_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixWindowsContainer_1.snap.Dockerfile
  internal/integration/__snapshots__/TestFixWindowsContainer_1.snap.md
  internal/rules/tally/newline_between_instructions.go
  internal/rules/tally/newline_between_instructions_test.go
Due: format-go, lint-go, typos

fix: add fix-path regression test for comment-separated same-type instructions
  internal/integration/fix_cases_test.go
Due: format-go, lint-go

fix: add missing snapshot for comment-separator fix test
  internal/integration/__snapshots__/TestFix_newline-between-instructions-grouped-comment-separator_1.snap.Dockerfile
Due: none

Path conditions:
  format-go: any of: **/*.go
  lint-go: any of: **/*.go
  ts-typecheck: any of: extensions/vscode-tally/**/*.ts and ^extensions/vscode\-tally/
  ts-lint: any of: extensions/vscode-tally/**/*.{js,ts,cjs,mjs,d.cts,d.mts} and ^extensions/vscode\-tally/
  ts-format: any of: *.{js,ts,cjs,mjs,mts,cts,jsx,tsx} and ^extensions/vscode\-tally/
  taplo: any of: **/*.toml
  yamllint: any of: *.{yml,yaml}
  format-yml: any of: {.yamlfmt,*.yml,*.yaml}
  typos: any of: *.{py,js,ts,tsx,toml,yaml,yml,json,html,css,md,txt,rst,tex}
  codecov: any of: .codecov.yml
  actionlint: any of: .github/workflows/*.{yaml,yml}
  commitlint-config: any of: .commitlintrc.yaml
